<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment"/>
<body >
<section id="header" class="clearfix" th:include="fragment/common :: topFragment"/>


<!--<![endif]-->
<section id="content" class="clearfix">
    <div class="container longSection">
        <div class="row">
            <div class="col-md-4">
                <img th:src="@{/images/map-arrow-orange.png}" alt="icon" class="icon-small-bg"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h2 class="page-title heading-icon">Your Account Is Verified!</h2>

            <p>If you are eligible to receive e-gift cards, you will receive these after you complete each of the four
                assessments (the initial assessment, the assessments after Training Sessions 3 and 5, and the follow-up assessment).
                If you need to change your phone number, you will need to verify your new phone number to remain eligible for e-gift cards.  </p>
            </div>
        </div>
        <div class="row">
        <div class="col-md-2">
            <span class="pull-left"><a th:href="@{/account/theme}"><button>Continue</button> </a></span>
        </div>
        </div>
        <br/>
        <br/>

    </div>
</section>


<script th:inline="javascript">
console.log([[${participant.verified}]]);

</script>




<footer id="footer" class="clearfix" th:include="fragment/common :: footer"/>
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright"/>
<div th:include="fragment/common :: scripts"/>
</body>
</html>