<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment"/>
<body >
<section id="header" class="clearfix" th:include="fragment/common :: topFragment"/>

<!--<![endif]-->
<section id="content" class="clearfix">
    <div class="container longSection">
        <div class="row">
            <div class="col-md-4">
                <img th:src="@{/images/map-arrow-orange.png}" alt="icon" class="icon-small-bg"/>
            </div>

                <div class="col-md-8">
                    <h2 class="page-title heading-icon clearfix"><br/>Enter your verification code</h2>


                    <p>In order to receive gift cards, we need to verify your phone number. We just sent you a text message with a <b>6-digit</b> code. Please enter the code below:</p>
                <form action="#" th:action="@{/account/verification}" method="post">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                            <div class="col-md-10"><br/><p>Verification Code:&nbsp;&nbsp;   <input id="verifycode" type="text" name="verifycode"/></p></div>
                            <div class="col-md-2"><span class="pull-left"><button id="subCode" type="submit" disabled="disabled">Verify</button></span></div>
                            </div>

                        </div>
                    </div>


                </form>
                    <br/>
                    <br/>
                    <br/>


                    <div class="row">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-10">
                            <p><em>if you choose to skip this step, you can verify your phone later under
                            </em></p>
                                </div>
                                <div class="col-md-2">
                                <span class="pull-left"><a th:href="@{/account/theme}"><button>Skip</button> </a></span>
                                </div>
                        </div>

                    </div>
                    </div>
            </div>
        </div>
    </div>
</section>


<script th:inline="javascript">

    $("#verifycode").keyup(function() {
            //console.log(document.getElementById("verifycode").value.length);
            //console.log($("#verifycode").size);
            if (document.getElementById("verifycode").value.length == 6) {
                $('#subCode').removeAttr('disabled');
            }
            else {
                $('#subCode').attr('disabled', 'disabled');

            }
        }
    )

</script>


<footer id="footer" class="clearfix" th:include="fragment/common :: footer"/>
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright"/>
<div th:include="fragment/common :: scripts"/>
</body>
</html>