<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment"/>
<body>
<section id="header" class="clearfix" th:include="fragment/common :: topFragment"/>

<!--<![endif]-->

<section id="content" class="clearfix">
    <div class="container longSection">
        <div class="row">
            <div class="col-md-4">
                <img th:src="@{/images/map-arrow-orange.png}" alt="icon" class="icon-small-bg"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h2 class="page-title heading-icon">Your Account Is Verified!</h2>

            <p>If you are eligible to receive e-gift cards, you will receive these after you complete each of the four
                assessments (the initial assessment, the assessments after Training Sessions 3 and 5, and the follow-up assessment).
                If you need to change your phone number, you will need to verify your new phone number to remain eligible for e-gift cards.  </p>
            </div>
        </div>
        <br></br>
        <div class="row">
            <div class="col-md-8">
                <h2><font color="#00ACE4"><b>Tango Card: Select Country</b></font></h2>
                <align-center><img th:src="@{/images/tango_card.png}"/></align-center>
                <br></br>
                <br></br>
                <p>The Calm Thinking Study uses <a target ="new" href="https://www.tangocard.com/">Tango Card</a>, an awards delivery program, for distribution of e-gift cards to participants.
                    With a Tango e-gift card, you can choose to use your awards among a range of retailers and
                    services (such as Amazon,
                    Apple App Store &amp; iTunes, Nike, Uber, and more) or donate the value to a range of non-profits (including the
                    American Cancer Society, Clean Water Fund, and Habitat for Humanity).</p>

                <p>Tango Card offers 14 country-facing options, which you can select from below. Values are awarded in
                    USD – options in other currencies will be converted from USD based on current exchange rates.
                    Please view <a target ="new" href="https://www.tangocard.com/reward-link/">this link</a> for more information on
                    different Reward Link options offered for the United States, and
                    <a target ="new" href="https://www.tangocard.com/reward-link-international/">this link</a> for Reward Link options offered for
                    other countries. Note that by navigating to "Verify My Phone" in the Account menu, you will be able
                    to change your chosen country-facing option for future awards.</p>

                    <select style="width: 300px">
                        <option value="USA">United States (default)</option>
                        <option value="ARG">Argentina</option>
                        <option value="AUS">Australia</option>
                        <option value="BRA">Brazil</option>
                        <option value="CAN">Canada</option>
                        <option value="DEU">Germany</option>
                        <option value="IND">India</option>
                        <option value="IRL">Ireland</option>
                        <option value="ITA">Italy</option>
                        <option value="NLD">Netherlands</option>
                        <option value="SGP">Singapore</option>
                        <option value="ESP">Spain</option>
                        <option value="UAE">United Arab Emirates</option>
                        <option value="GBR">United Kingdom</option>
                    </select>
            </div>
        </div>

        <div class="row">
        <div class="col-md-2">
            <br></br>
            <span class="pull-left"><a th:href="@{/account/theme}"><button>Submit</button> </a></span>
        </div>
        </div>
        <br/>
        <br/>

    </div>
</section>


<script th:inline="javascript">
console.log([[${participant.verified}]]);

</script>




<footer id="footer" class="clearfix" th:include="fragment/common :: footer"/>
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright"/>
<div th:include="fragment/common :: scripts"/>
</body>
</html>