html{font-size:25px;}
@media(min-width:60em){html{font-size: 300%}}
@media(min-width:60em){.jspsych-btn{font-size: 100%;}}

body#mindtrails {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    background-color: #f6f5ea;
}

/**  PIPlayer styling **/

div.piPlayerHeader {
    width:100%;
    background: #21336B;
}

div#canvas {
    position: relative;
    color:black;
    background: white;
    box-sizing:border-box;
    border-radius: 25px;
    margin: 40px auto;
    border: 1px solid #bbb;
}

div#canvas div {
    padding: 0px 20px;
}

div#canvas div.sentence {
}

div#canvas div.sentence p {
    margin: 0px;
}

div.thanks {
    position: absolute;
    font-size: 1.2em;
    top: 300px;
}

div.stimulus {
    text-align: center;
    padding-bottom: 20px;
}

div#canvas div.piIntro {
    text-align:left;
    font-size: .7em;
    padding: 20px;
}

div.piIntro img {
    float:left;
    margin:15px;
    margin-bottom: 10px;
    padding-right: 20px;
}

div.piIntro p, div.piIntro h3, div.piIntro ul {
    margin-left: 20px;
}

.alert-error {
    color: darkred;
}