@charset "UTF-8";

body {font-family: 'Source Sans Pro', sans-serif; font-size:20px; box-sizing:border-box; background-color: #f6f5ea}
.clear-both {clear:both;}

#header {
    background: #192b6c url(/images/bg-header.png) top left repeat-x;
}

.logo {
    background:url(/images/header-logo.png) top left no-repeat;
    width:365px; height:135px; float:left;
    margin-left:-35px; margin-right: 150px;}

#nav {font-size:0.6em; list-style:none; padding:15px 0 15px 20px; text-align: right; }
#nav li {float:left; padding:0px 10px;}
#nav a {color:#5ECCDE; text-decoration:none; font-weight: 700}

.account-bar {
    background: #21336B;
    color:#ffffff;
    font-weight: bold;
    clear:both;
    width:100%;
    font-size:.66em;
    text-align:right;
    padding:0px 20px;
    line-height: 25px;
}

div.section {
    position: relative;
    margin: 50px auto;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #bbb;
    background: #FFF;
    font-weight: 400;
}

.statement{
    font-weight: 600;
    font-size: 1.2em;
}

.question {
    font-weight: 600;
    font-size: 1.0em;
}

.standard {
    display: inline-block;
    font-weight: 100;
    font-size: 1.0em;
    margin-bottom: 3px;

}