<div>
	In this task, you will see a series of paragraphs and questions. Please read each paragraph carefully, and <b>imagine yourself in the situations described</b>. When you have finished, click &#8220;Next&#8221; twice. After reading the situation, you will be asked to answer a question about the situation in which you imagined yourself. Please use only the information from the situation to answer the question. Once you have the correct answer, you will move onto the next situation. If you are unsure about an item, please make your best guess.
	<br/>
	<p align="center">Press the <b>space bar</b> to begin.</p>
</div>