<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment"/>
<body>
<section id="header" class="clearfix" th:include="fragment/common :: topFragment"/>

<!-- header-btm starts
================================================== -->
<section id="header-btm" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h4 class="heading-icon clearfix"><img src="img/icons/heading-icon-user.png" width="40" height="40"
                                                       alt="icon" class="icon-small-bg"/>Administration</h4>
            </div>
        </div>
    </div>
</section>
<!-- header-btm ends
================================================== -->

<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">


        <!--spacer here-->
        <div class="spacer-30px"></div>


        <h1>Participants</h1>

        <div class="row">
            <div class="main-content span8">
                <form action="#" th:action="@{/admin}" method="get">
                    <input type="text" name="search" th:value="${search}"/>
                    <input type="submit" value="search"/>
                </form>
            </div>

            <div class="sidebar span4">
                <p>Found <span th:text="${paging.totalElements}"> 100</span> participants. Showing page <span
                        th:text="${paging.number + 1}">1</span> of <span
                        th:text="${paging.totalPages}">10</span><br/>
                    <a th:href="@{/admin/new_participant}">New Participant</a>
                </p>
            </div>
        </div>

        <div class="row">

            <div class="main-content span12">
                <form th:action="@{/admin/updateParticipants}" th:object="${participantForm}" method="post">

                <table class="table table-striped table-bordered participantList">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Session</th>
                        <th>send reminders?</th>
                        <th>Active?</th>
                        <th>Admin?</th>
                        <th>Prime</th>
                        <th>CBM Condition</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="p,status : *{participants}">
                        <input type="hidden" th:field="*{participants[__${status.index}__].id}"/>
                        <input type="hidden" th:field="*{participants[__${status.index}__].fullName}"/>
                        <input type="hidden" th:field="*{participants[__${status.index}__].email}"/>
                        <td th:text="*{participants[__${status.index}__].id}">0</td>
                        <td th:text="*{participants[__${status.index}__].fullName}">Dan Funk</td>
                        <td th:text="*{participants[__${status.index}__].email}">daniel.h.funk@gmail.com</td>
                        <td>
                            <select th:field="*{sessionNames[__${status.index}__]}">
                                <option th:each="elem: ${T(edu.virginia.psyc.pi.domain.Session.NAME).values()}" th:value="${elem.name()}" th:text="${elem.name()}" value="BAZ" width="20">BAZ</option>
                            </select>
                        </td>
                        <td><input type="checkbox"  th:field="*{participants[__${status.index}__].emailOptout}" /></td>
                        <td><input type="checkbox"  th:field="*{participants[__${status.index}__].active}" /></td>
                        <td><input type="checkbox"  th:field="*{participants[__${status.index}__].admin}" /></td>
                        <td>
                            <select th:field="*{participants[__${status.index}__].prime}" >
                                <option th:each="elem: ${T(edu.virginia.psyc.pi.domain.Participant.PRIME).values()}" th:value="${elem.name()}" th:text="${elem.name()}" value="BAZ">BAZ</option>
                            </select>
                        </td>
                        <td>
                            <select th:field="*{participants[__${status.index}__].cbmCondition}" >
                                <option th:each="elem: ${T(edu.virginia.psyc.pi.domain.Participant.CBM_CONDITION).values()}" th:value="${elem.name()}" th:text="${elem.name()}" value="BAZ">BAZ</option>
                            </select>
                        </td>
                        <td>
                            <a th:href="@{'/admin/participant/'+${p.id}}">Edit</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <button type="submit">Update All</button>

                <span th:if="${!paging.first}">
                    <a class="mybtn-small"
                    th:href="@{/admin(page=${paging.number - 1}, search=${search})}">Previous</a>
                </span>
                <span th:if="${!paging.last}" style="float:right">
                    <a class="mybtn-small" th:href="@{/admin(page=${paging.number + 1}, search=${search})}">Next</a>
                </span>
            </form>
            </div>

        </div>

        <!--spacer here-->
        <div class="spacer-30px"></div>

    </div>
</section>


<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer"/>

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright"/>

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts"/>

</body>
</html>
