<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment"/>
<body>
<section id="header" class="clearfix" th:include="fragment/common :: topFragment"/>

<!-- header-btm starts
================================================== -->
<section id="header-btm" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="span12">
                            <h2 class="page-title heading-icon clearfix"> <img th:src="@{/images/map-arrow-orange.png}" alt="icon" class="icon-small-bg" /><br/></h2>
                                                       alt="icon" class="icon-small-bg"/>Administration</h4>
            </div>
        </div>
    </div>
</section>
<!-- header-btm ends
================================================== -->


<!-- content starts
================================================== -->


<section id="content" class="clearfix">
    <div class="container">


        <!--spacer here-->
        <div class="spacer-30px"></div>



                <h1>Tango Account Information</h1>
                <table style="width:100%">
                    <tr>
                        <td>Tango Identifier:</td>
                        <td th:text="${tango.identifier}"> blablabla </td>
                    </tr>
                    <tr>
                        <td>Tango Account:</td>
                        <td th:text="${tango.customer}"> whatever </td>
                    </tr>
                    <tr>
                        <td>Tango Email:</td>
                        <td th:text="${tango.email}"> soandso </td>
                    </tr>
                    <tr>
                        <td>Tango Account Balance:</td>
                        <td th:text="${tango.available_balance}"> 0 </td>
                    </tr>
                </table>



        <!--divider here-->
        <div class="spacer-40px"></div>

        <!--spacer here-->
        <div class="spacer-30px"></div>

    </div>

    </section>

<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer"/>

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright"/>

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts"/>

</body>
</html>