<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment"/>
<body>
<section id="header" class="clearfix" th:include="fragment/common :: topFragment"/>

<!-- header-btm starts
================================================== -->
<section id="header-btm" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h4 class="heading-icon clearfix"><img src="img/icons/heading-icon-user.png" width="40" height="40"
                                                       alt="icon" class="icon-small-bg"/>Administration</h4>
            </div>
        </div>
    </div>
</section>
<!-- header-btm ends
================================================== -->

<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">

        <!--spacer here-->
        <div class="spacer-30px"></div>

        <h1>Emails</h1>
        <p>Here are the major reminder emails sent by the system.  Clicking on any of these
        will cause the reminder email to be sent to your email address: <span th:text="${participant.email}"> dan@sartography.com</span></p>
        <ul>
            <li><a href="admin/sendEmail/day2">2 Day - reminder</a></li>
            <li><a href="admin/sendEmail/day4">4 Day - reminder</a></li>
            <li><a href="admin/sendEmail/day7">7 Day - reminder</a></li>
            <li><a href="admin/sendEmail/day11">11 Day - reminder</a></li>
            <li><a href="admin/sendEmail/day15">15 Day - reminder</a></li>
            <li><a href="admin/sendEmail/day18">18 Day - reminder</a></li>
            <li><a href="admin/sendEmail/followup">Followup Email (60 days after session 8 was completed)</a></li>
            <li><a href="admin/sendEmail/followup2">Followup Email (63, 67, 70 days after session 8, if not completed)</a></li>
            <li><a href="admin/sendEmail/followup3">Followup Email (75 days after session 8)</a></li>
        </ul>
        <!--divider here-->
        <div class="spacer-40px"></div>

        <!--spacer here-->
        <div class="spacer-30px"></div>

    </div>
</section>


<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer"/>

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright"/>

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts"/>

</body>
</html>
