<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment"/>
<body>
<section id="header" class="clearfix" th:include="fragment/common :: topFragment"/>

<!-- header-btm starts
================================================== -->
<section id="header-btm" class="clearfix">
    <div class="container">
        <div class="row">
            <h2 class="page-title heading-icon clearfix"> <img th:src="@{/images/map-arrow-orange.png}" alt="icon" class="icon-small-bg" /><br/>List Downloads</h2>
        </div>
    </div>
</section>
<!-- header-btm ends
================================================== -->

<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">

        <!--spacer here-->
        <div class="spacer-30px"></div>

        <h1>Questionnaire Downloads</h1>
        <p>Here is a list of all questionnaires, click a link to download a spreadsheet of all data from a questionnaire: </p>
        <ul>
            <li><a th:href="@{'/questions/DASS21_AS/export'}">Status Questionnaire</a></li>
            <li><a th:href="@{'/questions/credibility/export'}">Credibility Assessment</a></li>
            <li><a th:href="@{'/questions/MH/export'}">Mental Health History</a></li>
            <li><a th:href="@{'/questions/SA/export'}">State Anxiety</a></li>
            <li><a th:href="@{'/questions/SAPo/export'}">State Anxiety (Post)</a></li>
            <li><a th:href="@{'/questions/QOL/export'}">Quality of Life Scale</a></li>
            <li><a th:href="@{'/questions/DASS21_DS/export'}">Symptom Measures</a></li>
            <li><a th:href="@{'/questions/AIP/export'}">Imagery Prime</a></li>
            <li><a th:href="@{'/questions/impact/export'}">Impact Anxious Imagery Prime</a></li>
            <li><a th:href="@{'/questions/NIP/export'}">Neutral Imagery Prime</a></li>
            <li><a th:href="@{'/questions/MUE/export'}">User Experience</a></li>
            <li><a th:href="@{'/questions/audit/export'}">Audit</a></li>
            <li><a th:href="@{'/questions/FU/export'}">Followup</a></li>
            <li><a th:href="@{'/questions/PUE/export'}">Pilot User Experience</a></li>
            <li><a th:href="@{'/questions/demographics/export'}">Demographics</a></li>
        </ul>
        <!--divider here-->
        <div class="spacer-40px"></div>
        <h1>PIPlayer Download</h1>
        <p>All PIPlayer data is stored in one large table. <a th:href="@{'/admin/playerData'}">Download PIPlayer Data.</a> </p>


        <!--spacer here-->
        <div class="spacer-30px"></div>

    </div>
</section>


<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer"/>

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright"/>

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts"/>

</body>
</html>
