<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment"/>
<body>
<section id="header" class="clearfix" th:include="fragment/common :: topFragment"/>


<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">


        <!--spacer here-->
        <div class="spacer-30px"></div>
        <div class="row">

            <div class="main-content span8">


                <h1>Edit Participant</h1>

                <form action="#" th:action="@{'/admin/participant/'+${participant.id}}" th:object="${participant}"
                      method="post">

                    <table>
                        <tr>
                            <td>Full Name:</td>
                            <td width="70%"><input type="text" th:field="*{fullName}" /></td>
                            <td th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Name Error</td>
                        </tr>
                        <tr>
                            <td>Email Address:</td>
                            <td><input type="text" th:field="*{email}"/></td>
                            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
                        </tr>
                        <tr>
                            <td>Opt out of emails?:</td>
                            <td><input type="checkbox" th:field="*{emailOptout}"/></td>
                            <td th:if="${#fields.hasErrors('emailOptout')}" th:errors="*{emailOptout}">Optout Error</td>
                        </tr>
                        <tr>
                            <td>Is Active:</td>
                            <td><input type="checkbox" th:field="*{active}"/></td>
                            <td th:if="${#fields.hasErrors('active')}" th:errors="*{active}">Admin Error</td>
                        </tr>
                        <tr>
                            <td>Is Admin:</td>
                            <td><input type="checkbox" th:field="*{admin}"/></td>
                            <td th:if="${#fields.hasErrors('admin')}" th:errors="*{admin}">Admin Error</td>
                        </tr>
                        <tr>
                            <td>Prime:</td>
                            <td>
                                <select name="prime" th:field="*{prime}">
                                    <option th:each="elem: ${T(edu.virginia.psyc.pi.domain.Participant.PRIME).values()}" th:value="${elem.name()}" th:text="${elem.name()}" value="BAZ">BAZ</option>
                                </select>
                            </td>
                            <td th:if="${#fields.hasErrors('prime')}" th:errors="*{admin}">Admin Error</td>
                        </tr>
                        <tr>
                            <td>CDM Condition:</td>
                            <td>
                                <select name="cbmCondition" th:field="*{cbmCondition}">
                                <option th:each="elem: ${T(edu.virginia.psyc.pi.domain.Participant.CBM_CONDITION).values()}" th:value="${elem.name()}" th:text="${elem.name()}" value="BAZ">BAZ</option>
                            </select>
                            </td>
                            <td th:if="${#fields.hasErrors('cbmCondition')}" th:errors="*{admin}">Admin Error</td>
                        </tr>

                    </table>
                    <button type="submit">Submit</button>
                    <button type="button" onclick="location.href='/admin/participant/giftCard'">Send Gift Card</button>
                </form>

            </div>

            <div class="sidebar span4">
            <h4>Emails sent:</h4>
                <table width="400px" cellpadding="2px">
                <tr>
                    <th width="120px">Type</th>
                    <th>Date</th>
                </tr>
                <tr th:each="log : ${participant.emailLogs}">
                    <td style="width:50px;" th:text="${log.type}"/>
                    <td th:text="${log.date}"/>
                </tr>
            </table>
            <br/><br/>
                <h4>Gift Cards Awarded:</h4>
                <table width="400px" cellpadding="2px">
                    <tr>
                        <th>Order ID</th>
                        <th>Date</th>
                    </tr>
                    <tr th:each="log : ${participant.giftLogs}">
                        <td style="width:100px;"> <a th:href="@{'/admin/rewardInfo/'+${log.orderId}}" th:text="${log.orderId}" /> </td>
                        <td th:text="${log.date}"/>
                    </tr>
                </table>
            </div>


        </div>

                <!--divider here-->
                <div class="spacer-40px"></div>

                <!--spacer here-->
                <div class="spacer-30px"></div>

            </div>
</section>


<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer"/>

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright"/>

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts"/>

</body>
</html>
