<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org"><!--<![endif]-->

<head th:replace="fragment/common :: headerFragment"/>
<body>
<section th:replace="fragment/common :: topFragment"/>
<section th:replace="fragment/common :: titleBar (title='COVID-19 Questionnaire')"/>
<textArea th:replace="fragment/common :: questionTemplate"/>
<textArea th:replace="fragment/common :: questionTemplate5"/>

<section id="content" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p>The following questions ask about the current coronavirus (COVID-19) pandemic.
                    For each set of questions, select the answer that best describes your experience.</p>
            </div>
        </div>
    </div>
</section>

<section id="content1" class="clearfix">
    <form th:action="@{/questions/Covid19}" method="POST" th:object="${model}">
        <!-- Don't add timer, it's added in one of the form fragments.-->
        <div class="container section compactQuestion">
            <h3><b>COVID-19 is affecting people in many different ways. <i>Thinking about the past 2 weeks</i>,
                please indicate in what ways the following areas of your life have been affected as a result of
                COVID-19:</b></h3><br/>
            <div class="row">
                <div class="col-md-6">
                    <p><label class="question">Work (employment or school)<br/>
                        <select required="true" th:field="*{work}">
                            <option value="" hidden="hidden"></option>
                            <option value="1">Extreme positive change</option>
                            <option value="2">Moderate positive change</option>
                            <option value="3">Minimal positive change</option>
                            <option value="4">No change</option>
                            <option value="5">Minimal negative change</option>
                            <option value="6">Moderate negative change</option>
                            <option value="7">Extreme negative change</option>
                            <option value="0">Not applicable</option>
                            <option value="555">Prefer not to answer</option>
                        </select> </label></p>
                    <p><label class="question">Income/finances<br/>
                        <select required="true" th:field="*{finances}">
                            <option value="" hidden="hidden"></option>
                            <option value="1">Extreme positive change</option>
                            <option value="2">Moderate positive change</option>
                            <option value="3">Minimal positive change</option>
                            <option value="4">No change</option>
                            <option value="5">Minimal negative change</option>
                            <option value="6">Moderate negative change</option>
                            <option value="7">Extreme negative change</option>
                            <option value="0">Not applicable</option>
                            <option value="555">Prefer not to answer</option>
                        </select> </label></p>
                    <p><label class="question">Having enough food to eat<br/>
                        <select required="true" th:field="*{food}">
                            <option value="" hidden="hidden"></option>
                            <option value="1">Extreme positive change</option>
                            <option value="2">Moderate positive change</option>
                            <option value="3">Minimal positive change</option>
                            <option value="4">No change</option>
                            <option value="5">Minimal negative change</option>
                            <option value="6">Moderate negative change</option>
                            <option value="7">Extreme negative change</option>
                            <option value="0">Not applicable</option>
                            <option value="555">Prefer not to answer</option>
                        </select> </label></p>
                    <p><label class="question">Childcare<br/>
                        <select required="true" th:field="*{childcare}">
                            <option value="" hidden="hidden"></option>
                            <option value="1">Extreme positive change</option>
                            <option value="2">Moderate positive change</option>
                            <option value="3">Minimal positive change</option>
                            <option value="4">No change</option>
                            <option value="5">Minimal negative change</option>
                            <option value="6">Moderate negative change</option>
                            <option value="7">Extreme negative change</option>
                            <option value="0">Not applicable</option>
                            <option value="555">Prefer not to answer</option>
                        </select> </label></p>
                    <p><label class="question">Emotional well-being (e.g., anxiety, sadness, stress, worry)<br/>
                        <select required="true" th:field="*{wellbeing}">
                            <option value="" hidden="hidden"></option>
                            <option value="1">Extreme positive change</option>
                            <option value="2">Moderate positive change</option>
                            <option value="3">Minimal positive change</option>
                            <option value="4">No change</option>
                            <option value="5">Minimal negative change</option>
                            <option value="6">Moderate negative change</option>
                            <option value="7">Extreme negative change</option>
                            <option value="0">Not applicable</option>
                            <option value="555">Prefer not to answer</option>
                        </select> </label></p>
                    <p><label class="question">Physical health<br/>
                        <select required="true" th:field="*{physical}">
                            <option value="" hidden="hidden"></option>
                            <option value="1">Extreme positive change</option>
                            <option value="2">Moderate positive change</option>
                            <option value="3">Minimal positive change</option>
                            <option value="4">No change</option>
                            <option value="5">Minimal negative change</option>
                            <option value="6">Moderate negative change</option>
                            <option value="7">Extreme negative change</option>
                            <option value="0">Not applicable</option>
                            <option value="555">Prefer not to answer</option>
                        </select> </label></p>
                    <p><label class="question">Getting the medication and other healthcare you need<br/>
                        <select required="true" th:field="*{healthcare}">
                            <option value="" hidden="hidden"></option>
                            <option value="1">Extreme positive change</option>
                            <option value="2">Moderate positive change</option>
                            <option value="3">Minimal positive change</option>
                            <option value="4">No change</option>
                            <option value="5">Minimal negative change</option>
                            <option value="6">Moderate negative change</option>
                            <option value="7">Extreme negative change</option>
                            <option value="0">Not applicable</option>
                            <option value="555">Prefer not to answer</option>
                        </select> </label></p>
                    <p><label class="question">Productivity<br/>
                        <select required="true" th:field="*{productivity}">
                            <option value="" hidden="hidden"></option>
                            <option value="1">Extreme positive change</option>
                            <option value="2">Moderate positive change</option>
                            <option value="3">Minimal positive change</option>
                            <option value="4">No change</option>
                            <option value="5">Minimal negative change</option>
                            <option value="6">Moderate negative change</option>
                            <option value="7">Extreme negative change</option>
                            <option value="0">Not applicable</option>
                            <option value="555">Prefer not to answer</option>
                        </select> </label></p>
                </div>
                <div class="col-md-6">
                    <p><label class="question">Ability to focus<br/>
                        <select required="true" th:field="*{focus}">
                            <option value="" hidden="hidden"></option>
                            <option value="1">Extreme positive change</option>
                            <option value="2">Moderate positive change</option>
                            <option value="3">Minimal positive change</option>
                            <option value="4">No change</option>
                            <option value="5">Minimal negative change</option>
                            <option value="6">Moderate negative change</option>
                            <option value="7">Extreme negative change</option>
                            <option value="0">Not applicable</option>
                            <option value="555">Prefer not to answer</option>
                        </select> </label></p>
                    <p><label class="question">Exercise<br/>
                        <select required="true" th:field="*{exercise}">
                            <option value="" hidden="hidden"></option>
                            <option value="1">Extreme positive change</option>
                            <option value="2">Moderate positive change</option>
                            <option value="3">Minimal positive change</option>
                            <option value="4">No change</option>
                            <option value="5">Minimal negative change</option>
                            <option value="6">Moderate negative change</option>
                            <option value="7">Extreme negative change</option>
                            <option value="0">Not applicable</option>
                            <option value="555">Prefer not to answer</option>
                        </select> </label></p>
                    <p><label class="question">Relationships with family<br/>
                        <select required="true" th:field="*{family}">
                            <option value="" hidden="hidden"></option>
                            <option value="1">Extreme positive change</option>
                            <option value="2">Moderate positive change</option>
                            <option value="3">Minimal positive change</option>
                            <option value="4">No change</option>
                            <option value="5">Minimal negative change</option>
                            <option value="6">Moderate negative change</option>
                            <option value="7">Extreme negative change</option>
                            <option value="0">Not applicable</option>
                            <option value="555">Prefer not to answer</option>
                        </select> </label></p>
                    <p><label class="question">Relationships with romantic partners<br/>
                        <select required="true" th:field="*{partners}">
                            <option value="" hidden="hidden"></option>
                            <option value="1">Extreme positive change</option>
                            <option value="2">Moderate positive change</option>
                            <option value="3">Minimal positive change</option>
                            <option value="4">No change</option>
                            <option value="5">Minimal negative change</option>
                            <option value="6">Moderate negative change</option>
                            <option value="7">Extreme negative change</option>
                            <option value="0">Not applicable</option>
                            <option value="555">Prefer not to answer</option>
                        </select> </label></p>
                    <p><label class="question">Relationships with friends<br/>
                        <select required="true" th:field="*{friends}">
                            <option value="" hidden="hidden"></option>
                            <option value="1">Extreme positive change</option>
                            <option value="2">Moderate positive change</option>
                            <option value="3">Minimal positive change</option>
                            <option value="4">No change</option>
                            <option value="5">Minimal negative change</option>
                            <option value="6">Moderate negative change</option>
                            <option value="7">Extreme negative change</option>
                            <option value="0">Not applicable</option>
                            <option value="555">Prefer not to answer</option>
                        </select> </label></p>
                    <p><label class="question">Sleep<br/>
                        <select required="true" th:field="*{sleep}">
                            <option value="" hidden="hidden"></option>
                            <option value="1">Extreme positive change</option>
                            <option value="2">Moderate positive change</option>
                            <option value="3">Minimal positive change</option>
                            <option value="4">No change</option>
                            <option value="5">Minimal negative change</option>
                            <option value="6">Moderate negative change</option>
                            <option value="7">Extreme negative change</option>
                            <option value="0">Not applicable</option>
                            <option value="555">Prefer not to answer</option>
                        </select> </label></p>
                    <p><label class="question">Loss of planned events (e.g., graduation, parties, travel)<br/>
                        <select required="true" th:field="*{events}">
                            <option value="" hidden="hidden"></option>
                            <option value="1">Extreme positive change</option>
                            <option value="2">Moderate positive change</option>
                            <option value="3">Minimal positive change</option>
                            <option value="4">No change</option>
                            <option value="5">Minimal negative change</option>
                            <option value="6">Moderate negative change</option>
                            <option value="7">Extreme negative change</option>
                            <option value="0">Not applicable</option>
                            <option value="555">Prefer not to answer</option>
                        </select> </label></p>
                </div>
            </div>
        </div>

        <section th:replace="fragment/forms :: radioOptions(${model})"/>

        <!-- Add timer -->
        <div class="container section">
            <div class="row header">
                <div class="col-md-12 statement">
                    <h3><b>Based on criteria from the Center for Disease Control, are you at high risk for serious
                        illness following infection of COVID-19?</b></h3>
                    <p>The Center for Disease Control suggests that people over 65, those struggling with heart
                        and lung disease, those who are immunocompromised (suppressed immune system), those who are
                        obese, and those with diabetes are at
                        high risk for serious illness.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 side-border">
                    <div class="radio">
                        <label class="question"><input type="radio" name="highRisk" value="1"
                                                       required="true"/>Yes</label>
                    </div>
                    <div class="radio">
                        <label class="question"><input type="radio" name="highRisk" value="0"
                                                       required="true"/>No</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="radio"><br/>
                        <label class="question"><input type="radio" name="highRisk" value="555"/> Prefer not to
                            answer</label>
                    </div>
                </div>
            </div>
        </div>

        <!-- Note: The following set of items were added in August 2020. -->
        <!-- Question 8 -->

        <div class="container section">
            <div class="row header">
                <div class="col-md-12 statement">
                    <p><b>Have you been diagnosed with COVID-19?</b></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 side-border">
                    <div class="radio">
                        <label class="question"><input type="radio" name="diagnosis" value="1"
                                                       required="true"/>Yes</label>
                    </div>
                    <div class="radio">
                        <label class="question"><input type="radio" name="diagnosis" value="0"
                                                       required="true"/>No</label>
                    </div>
                    <div class="radio">
                        <label class="question"><input type="radio" name="diagnosis" value="2"
                                                       required="true"/>Unsure</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="radio"><br/>
                        <label class="question"><input type="radio" name="diagnosis" value="555"/> Prefer not to answer</label>
                    </div>
                </div>
            </div>
        </div>

        <!-- Question 9 -->

        <div class="container section">
            <div class="row header">
                <div class="col-md-12 statement">
                    <p><b>Have you gotten a test for COVID-19?</b></p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 side-border">
                    <div class="radio">
                        <label class="question"> <input type="radio" name="testCovid" value="1" required="true"
                                                        id="testCovidYes"
                                                        onchange="testCovidCheck('testCovidYes')"/>Yes</label>
                    </div>
                    <div class="radio">
                        <label class="question"> <input type="radio" name="testCovid" value="0" required="true"
                                                        onchange="testCovidCheck('testCovidYes')"/>No</label>
                    </div>
                    <div class="radio">
                        <label class="question"> <input type="radio" name="testCovid" value="2" required="true"
                                                        onchange="testCovidCheck('testCovidYes')"/>Unsure</label>
                    </div>
                </div>

                <div class="col-md-4"><br/>
                    <div class="radio">
                        <label class="question"><input type="radio" name="testCovid" value="555"
                                                       onchange="testCovidCheck('testCovidYes')"/> Prefer not to answer</label>
                    </div>
                </div>

                <div class="col-md-12 statement" id="testCovidPositive" style="display: none">
                    <p><b>Did you ever have a positive result?</b></p>

                    <div class="row">
                        <div class="col-md-8 side-border">
                            <div class="radio">
                                <label class="question"><input type="radio" name="testCovidResult" value="1"
                                                               required="true" id="testCovidResultYes"
                                                               onchange="testCovidResultCheck('testCovidResultYes')"/>Yes</label>
                            </div>
                            <div class="radio">
                                <label class="question"><input type="radio" name="testCovidResult" value="0"
                                                               required="true" id="testCovidResultNo"
                                                               onchange="testCovidResultCheck('testCovidResultNo')"/>No</label>
                            </div>
                            <div class="radio">
                                <label class="question"><input type="radio" name="testCovidResult" value="2"
                                                               required="true"
                                                               onchange="testCovidResultCheck('testCovidResultYes')"/>Unsure</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="radio"><br/>
                                <label class="question"><input type="radio" name="testCovidResult" value="555"
                                                               onchange="testCovidResultCheck('testCovidResultYes')"/>Prefer
                                    not to answer</label>
                            </div>
                        </div>
                    </div>

                    <div id="testCovidDateDiv" style="display: none">
                        <div class="row">
                            <div class="col-md-12 statement">
                                <p><b>Please give the approximate date when you received your result.</b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 side-border">
                                <div class="input-group date">
                                    <input id='datepicker' type="text" name="testCovidDate" data-date-end-date="0d" class="form-control"
                                           required="required"/>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="radio">
                                    <label class="question"><input type="checkbox" name="testCovidDateNoAnswer"
                                                                   value="555" id="resultDateNoAnswer"
                                                                   onclick="toggle('resultDateNoAnswer', 'datepicker')"/>Prefer
                                        not to answer</label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Question 10 -->

        <div class="container section">
            <div class="row header">
                <div class="col-md-12 statement">
                    <p><b>Have you gotten an antibody test for COVID-19?</b></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 side-border">
                    <div class="radio">
                        <label class="question"><input type="radio" name="testAntibody" value="1" required="true"
                                                       id="testAntibodyYes"
                                                       onchange="testAntibodyCheck('testAntibodyYes')"/>Yes</label>
                    </div>
                    <div class="radio">
                        <label class="question"><input type="radio" name="testAntibody" value="0" required="true"
                                                       onchange="testAntibodyCheck('testAntibodyYes')"/>No</label>
                    </div>
                    <div class="radio">
                        <label class="question"><input type="radio" name="testAntibody" value="2" required="true"
                                                       onchange="testAntibodyCheck('testAntibodyYes')"/>Unsure</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="radio"><br/>
                        <label class="question"><input type="radio" name="testAntibody" value="555"
                                                       onchange="testAntibodyCheck('testAntibodyYes')"/> Prefer not to
                            answer</label>
                    </div>
                </div>
                <div class="col-md-12 statement" id="testAntibodyPositiveDiv" style="display: none">
                    <p><b>Did you ever have a positive result?</b></p>
                    <div class="row">
                        <div class="col-md-8 side-border">
                            <div class="radio">
                                <label class="question"><input type="radio" name="testAntibodyResult" value="1"
                                                               required="true" id="testAntibodyResultYes"
                                                               onchange="testAntibodyResultCheck('testAntibodyResultYes')"/>Yes</label>
                            </div>
                            <div class="radio">
                                <label class="question"><input type="radio" name="testAntibodyResult" value="0"
                                                               required="true" id="testAntibodyResultNo"
                                                               onchange="testAntibodyResultCheck('testAntibodyResultNo')"/>No</label>
                            </div>
                            <div class="radio">
                                <label class="question"><input type="radio" name="testAntibodyResult" value="2"
                                                               required="true"
                                                               onchange="testAntibodyResultCheck('testAntibodyResultYes')"/>Unsure</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="radio"><br/>
                                <label class="question"><input type="radio" name="testAntibodyResult" value="555"
                                                               onchange="testAntibodyResultCheck('testAntibodyResultYes')"/>
                                    Prefer not to answer</label>
                            </div>
                        </div>
                    </div>
                    <div id="testAntibodyDateDiv" style="display: none">
                        <div class="row">
                            <div class="col-md-12 statement">
                                <p><b>Please give the approximate date when you received your result.</b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 side-border">
                                <div class="input-group date">
                                    <input id='datepickerAntibody' type="text" name="testAntibodyDate"
                                           class="form-control" data-date-end-date="0d" required="required"/>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="question"><input type="checkbox" name="testAntibodyDateNoAnswer"
                                                               value="555" id="pnaTestAntibodyDate"
                                                               onclick="toggle('pnaTestAntibodyDate', 'datepickerAntibody')"/>
                                    Prefer not to answer</label>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Question 11 -->

        <div class="container section">
            <div class="row header">
                <div class="col-md-12 statement">
                    <p><b>Do you know of a family member or close friend who has or had COVID-19?</b></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 side-border">
                    <div class="radio">
                        <label class="question"><input type="radio" name="covidKnow" value="1"
                                                       required="true"/>Yes</label>
                    </div>
                    <div class="radio">
                        <label class="question"><input type="radio" name="covidKnow" value="0"
                                                       required="true"/>No</label>
                    </div>
                    <div class="radio">
                        <label class="question"><input type="radio" name="covidKnow" value="2"
                                                       required="true"/>Unsure</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="radio">
                        <label class="question"><input type="radio" name="covidKnow" value="555"/> Prefer not to answer</label>
                    </div>
                </div>
            </div>
        </div>

        <!-- Question 12 -->

        <div class="container section">
            <div class="row header">
                <div class="col-md-12 statement">
                    <p><b>Have you had symptoms consistent with COVID-19?</b></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 side-border">
                    <div class="radio">
                        <label class="question"><input type="radio" name="symptoms" value="1" id="symptomsYes"
                                                       required="true"
                                                       onchange="symptomsCheck('symptomsYes')"/>Yes</label>
                    </div>
                    <div class="radio">
                        <label class="question"><input type="radio" name="symptoms" value="0" required="true"
                                                       onchange="symptomsCheck('symptomsYes')"/>No</label>
                    </div>
                    <div class="radio">
                        <label class="question"><input type="radio" name="symptoms" value="2" required="true"
                                                       onchange="symptomsCheck('symptomsYes')"/>Unsure</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="radio"><br/>
                        <label class="question"><input type="radio" name="symptoms" value="555" required="true"
                                                       onchange="symptomsCheck('symptomsYes')"/>Prefer not to
                            answer</label>
                    </div>
                </div>
            </div>
            <div id="symptomsDateDiv" style="display: none">
                <div class="row">
                    <div class="col-md-12 statement">
                        <p><b>Please give the approximate date when you last had symptoms.</b></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 side-border">
                        <div class="input-group date">
                            <input id='datepickerSymptoms' type="text" name="symptomsDate" data-date-end-date="0d" class="form-control"
                                   required="required"/>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="radio">
                            <label class="question"><input type="checkbox" name="symptomsDateNoAnswer" value="555"
                                                           id="symptomsDateNoAnswer"
                                                           onclick="toggle('symptomsDateNoAnswer', 'datepickerSymptoms')"/>
                                Prefer not to answer</label>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-12" style="text-align:center">
            <!-- Add timer -->
            <button type="submit">Next</button>
        </div>

    </form>
</section>

<footer th:replace="fragment/common :: footer"/>
<div th:include="fragment/common :: scripts"/>

<link rel="stylesheet" media="screen"
      th:href="@{/bower/bootstrap-datepicker/dist/css/bootstrap-datepicker.standalone.css}"/>
<script type="text/javascript" th:src="@{/bower/bootstrap-datepicker/dist/js/bootstrap-datepicker.js}"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $('.input-group.date').datepicker({ minDate: "01/01/2020", maxDate: "+0D" });
        console.log("Set up datepicker.")

        /* $('#form').on('submit', function(e) {
             if($('#datepicker').val()) {
                var date = new Date($("#datepicker").val() + ' ' + $("#timepicker").val());
                console.log(date.toISOString());
                $('#returnDate').val(date.toISOString());
            }
        }) */
    });

    function testCovidCheck(id) {
        if (document.getElementById(id).checked) {
            $("#testCovidPositive").show();
        } else {
            $("#testCovidPositive").hide();
        }
    }

    function testCovidResultCheck(id) {
        if (document.getElementById(id).checked) {
            $("#testCovidDateDiv").show();
        } else {
            $("#testCovidDateDiv").hide();
        }
    }

    function testAntibodyCheck(id) {
        if (document.getElementById(id).checked) {
            $("#testAntibodyPositiveDiv").show();
        } else {
            $("#testAntibodyPositiveDiv").hide();
        }
    }

    function testAntibodyResultCheck(id) {
        if (document.getElementById(id).checked) {
            $("#testAntibodyDateDiv").show();
        } else {
            $("#testAntibodyDateDiv").hide();
        }
    }

    function symptomsCheck(id) {
        if (document.getElementById(id).checked) {
            $("#symptomsDateDiv").show();
        } else {
            $("#symptomsDateDiv").hide();
        }
    }

    function toggle(toggle, subject) {
        t = document.getElementById(toggle);
        s = document.getElementById(subject);

        if (t.checked) {
            console.log("Is Checked");
            s.required = false;
            s.disabled = true;
            s.value = null;
        } else {
            console.log("Not Checked");
            s.required = true;
            s.disabled = false;
        }
    }

</script>

</body>
</html>