*application*.properties
.idea
target
pi-server.iml
PIPlayer
.classpath
.gradle/
.project
.settings/
PIServer.iml
build/
**/bower
**/.DS_Store
src/.DS_Store
_site
app/src/main/resources/public_key.dir
dz8t@ws02-s.psyc.virginia.edu
out
docs/
**/application.properties
**/angular
*.war
spanish/src/main/resources/application.properties.example
spanish/src/main/resources/application.properties.exampl
