<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org"><!--<![endif]-->

<head th:replace="fragment/common :: headerFragment"/>
<body>
<section th:replace="fragment/common :: topFragment"/>
<section th:replace="fragment/common :: titleBar (title='Reasons for Ending Questionnaire')"/>
<textArea th:replace="fragment/common :: questionTemplate"/>
<textArea th:replace="fragment/common :: questionTemplate2"/>
<section id="content1" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <p> We are interested in improving Calm Thinking and would like to learn about why you decided to
                    stop the program. We appreciate your feedback!</p>


            </div>
        </div>
    </div>
</section>

<section id="content" class="clearfix">

    <form th:action="@{/questions/ReasonsForEnding}" method="POST">
        <!-- Add timer -->
        <input id="timeOnPage" name="timeOnPage" type="hidden"/>
        <div class="container">

            <div class="section">
                <div class="row">
                    <div class="col-md-10">

                        <p><b>What device(s) did you use to complete the program? Please check all that apply.</b></p>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 side-border">
                        <div class="radio">
                            <label class="question"> <input type="checkbox" name="deviceUse" value="computer"/>
                               Computer </label>
                        </div>
                        <div class="radio">
                            <label class="question"> <input type="checkbox" name="deviceUse" value="smartphone"/>
                                Smartphone </label>
                        </div>
                        <div class="radio">
                            <label class="question"> <input type="checkbox" name="deviceUse" value="tablet"/>
                                Tablet </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="radio">
                            <label class="question"><input type="checkbox" name="changeMed" value="555"
                                                           onchange="disableSection(this)"/> Prefer not to answer
                            </label>
                        </div>
                        <br/>
                        <br/>
                    </div>
            </div>
            </div>

            <div class="section">
                <div class="row">
                    <div class="col-md-10">

                        <p><b>Why did you decide to end the program? Please check all that apply.</b></p>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 side-border">
                        <div class="radio">
                            <label class="question"> <input type="checkbox" name="reasons" value="not enough time"/>
                                I did not have enough time to complete the program </label>
                        </div>

                        <div class="radio">
                            <label class="question"> <input type="checkbox" name="reasons" value="not helpful"/>
                                I did not find the program helpful for reducing my anxiety </label>
                        </div>

                        <div class="radio">
                            <label class="question"> <input type="checkbox" name="reasons" value="not interesting"/>
                                I did not find the program interesting </label>
                        </div>

                        <div class="radio">
                            <label class="question"> <input type="checkbox" name="reasons" value="not believe"/>
                                I did not believe a program like this could work  </label>
                        </div>

                        <div class="radio">
                            <label class="question"> <input type="checkbox" name="reasons" value="frustrating"/>
                                I found the program frustrating to use </label>
                        </div>

                        <div class="radio">
                            <label class="question"> <input type="checkbox" name="reasons" value="not needed"/>
                                I no longer needed the program (i.e., I no longer felt anxious)  </label>
                        </div>

                        <div class="radio">
                            <label class="question"> <input type="checkbox" name="reasons" value="in control"/>
                                I believe I was assigned to the control condition (vs. the program we think will be most effective)) </label>
                        </div>

                        <div class="radio">
                            <label class="question"> <input type="checkbox" name="reasons" value="Other" id="Q1_7"
                                                    onchange="spec('Q1_7')"/> Other (Please specify)  </label>
                            <input id="Q1_7_spec" type="text" name="End_Other_Desc" value="N/A"/>

                        </div>

                    </div>

                <div class="col-md-4">
                    <br/>
                    <br/>
                    <div class="radio">
                        <label class="question"><input type="checkbox" name="reasons" value="555"
                                                       onchange="disableSection(this)"/> Prefer not to answer
                        </label>
                    </div>
                    <br/>
                    <br/>
                </div>

             </div>
            </div>

            <div class="section">
                <div class="row">
                    <div class="col-md-10">

                        <p><b>Even if it was not your reason for ending the program, do you believe that you were assigned to the control condition?</b></p>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 side-border" >
                        <div class="radio">
                            <label class="question"> <input type="radio"  name="thoughtInControl" value="true" required="true"/>Yes</label>
                        </div>
                        <div class="radio">
                            <label class="question"><input type="radio"  name="thoughtInControl" value="false"/>No</label>
                        </div>
                    </div>
                        <div class="col-md-4">
                            <div class="radio">
                                <label class="question"><input type="checkbox" name="thoughtInControl" value="555"
                                                               onchange="disableSection(this)"/> Prefer not to answer
                                </label>
                            </div>
                            <br/>
                            <br/>
                        </div>


                    </div>
            </div>

            <div class="section" id="thoughtInControlDetail1">
                <div class="row">
                    <div class="col-md-10">

                        <p><b>At what point did you think you were in the control condition?</b></p>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 side-border">

                        <div class="radio">
                            <label class="question"> <input type="radio" name="pointInControl" value="early" required="true"/> Early in the training program (within the first 2 sessions)</label>
                        </div>
                        <div class="radio">
                            <label class="question"><input type="radio" name="pointInControl" value="mid-way" /> Mid-way through the training program (the 3<sup>rd</sup> session)</label>
                        </div>
                        <div class="radio">
                            <label class="question"><input type="radio" name="pointInControl" value="later" /> Later in the training program (within the last 2 sessions)</label>
                        </div>
                </div>
                        <div class="col-md-4">
                <div class="radio">
                    <label class="question"><input type="checkbox" name="pointInControl" value="555"
                                                   onchange="disableSection(this)"/> Prefer not to answer
                    </label>
                </div>
                <br/>
                <br/>
            </div>
            </div>
            </div>

            <div class="section" id="thoughtInControlDetail2">

                <div class="row">
                    <div class="col-md-10">

                        <p><b>What made you think you were in the control condition? Check all that apply.</b></p>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 side-border">

                    <div class="radio">
                        <label class="question"><input type="checkbox" name="whyInControl" value="not relieved" /> My anxiety wasn’t being relieved.</label>
                    </div>
                    <div class="radio">
                        <label class="question"><input type="checkbox" name="whyInControl" value="not helpful" /> I didn’t think that the program that I was completing could help my anxiety.</label>
                    </div>
                    <div class="radio">
                        <label class="question"><input type="checkbox" name="whyInControl" value="other" id="Q2_2" onchange="spec('Q2_2')"/> Other (Please specify)  </label>
                        <input id="Q2_2_spec" type="text" name="control_Desc" value="N/A"/>
                    </div>
                    </div>
                    <div class="col-md-4">
                        <div class="radio">
                            <label class="question"><input type="checkbox" name="whyInControl" value="555"
                                                           onchange="disableSection(this)"/> Prefer not to answer
                            </label>
                        </div>
                        <br/>
                        <br/>
                    </div>
            </div>
            </div>
        </div>

        <div class="container section compactQuestion">
            <div class="row title">
                <div class="col-md-12">
                    <h4><b>To the extent you completed the program...</b></h4>
                </div>
            </div>
            <div id="section1"></div>
            <script>
                var data = {
                    "options": [
                        {"value": 0, "title": "Not at all"},
                        {"value": 1, "title": "Slightly"},
                        {"value": 2, "title": "Somewhat"},
                        {"value": 3, "title": "Mostly"},
                        {"value": 4, "title": "Very"}

                    ],
                    "questions": [
                        {
                            "name": "helpful",
                            "desc": "How helpful was it for reducing your anxiety?"
                        },
                        {
                            "name": "work",
                            "desc": "How well did the web program work for you?"
                        },
                        {
                            "name": "easy",
                            "desc": "How easy was the web program to use?"
                        },
                        {
                            "name": "interest",
                            "desc": "How much did the web program keep your interest and attention?"
                        },
                        {
                            "name": "inGeneral",
                            "desc": "How much did you like the web program in general?"
                        }
                    ]
                }
                $('#section1').html(Mustache.render($('#template').val(), data));
            </script>
        </div>

        <div class="container section compactQuestion">
            <div class="col-md-12">
            </div>
            <div id="section2"></div>
            <script>
                var data = {
                    "options": [
                        {"value": 0, "title": "Not at all"},
                        {"value": 1, "title": "Slightly"},
                        {"value": 2, "title": "Somewhat"},
                        {"value": 3, "title": "Mostly"},
                        {"value": 4, "title": "Very"}

                    ],
                    "questions": [
                        {
                            "name": "looked",
                            "desc": "How much did you like the way the web program looked?"
                        },
                        {
                            "name": "privacy",
                            "desc": "How easy was the web program to use?"
                        },
                        {
                            "name": "understandAssessments",
                            "desc": "How easy were the assessments to understand?"
                        },
                        {
                            "name": "understandTraining",
                            "desc": "How easy was the training program to understand? Keep the instructions and material in mind when answering."
                        },
                        {
                            "name": "trust",
                            "desc": "How much did you feel you could trust the information?"
                        }
                    ]
                }
                $('#section2').html(Mustache.render($('#template').val(), data));
            </script>
        </div>


    <div class="container">

        <div class="section">
            <div class="row">
                <div class="col-md-10">

                    <p><b>Of the sessions you did complete, where did you primarily complete the program? Please check all that apply.</b></p>

                </div>
            </div>

            <div class="row">
                <div class="col-md-8 side-border">
                    <div class="radio">
                        <label class="question"> <input type="checkbox" name="location" value="home"/> At home </label>
                    </div>

                    <div class="radio">
                        <label class="question"> <input type="checkbox" name="location" value="work" /> At work</label>
                    </div>

                    <div class="radio">
                        <label class="question"> <input type="checkbox" name="location" value="library" /> At the library, coffee shop, restaurant or other public spaces</label>
                    </div>

                    <div class="radio">
                        <label class="question"> <input type="checkbox" name="location" value="commuting" /> While commuting/travelling (e.g., on the train to work)</label>
                    </div>

                    <div class="radio">
                        <label class="question"> <input type="checkbox" name="location" value="vacation" /> On vacation</label>
                    </div>

                    <div class="radio">
                        <label class="question"> <input type="checkbox" name="location" value="Other" id="Q4"
                                                        onchange="spec('Q4')"/> Other (Please specify) <input
                                id="Q4_spec" type="text" name="location_Desc" value="N/A"/> </label>
                    </div>

                </div>

                <div class="col-md-4">
                    <br/>
                    <br/>
                    <div class="radio">
                        <label class="question"><input type="checkbox" name="location" value="555"
                                                       onchange="disableSection(this)"/> Prefer not to answer
                        </label>
                    </div>
                    <br/>
                    <br/>
                </div>

            </div>

        </div>

        <div class="container section"><label class="question"><b>While you were completing the Training Sessions, how distracted or focused were you?</b>
                <select required="true">
                    <option value="" hidden="hidden">Please select one</option>
                    <option value="1">1 (Extremely distracted)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7 (Extremely focused)</option>
                    <option value="555">Prefer not to answer</option>
                </select> </label>
            </div>
    </div>

        <div class="container section compactQuestion">
            <div class="col-md-14">

                <h4><b>Some people have problems when trying to use a web program. Please read the next items and tell
                    us how much of a problem you had when trying to use the web program.</b></h4>

            </div>
            <div id="section3"></div>
            <script>
                var data = {
                    "options": [
                        {"value": 0, "title": "Not a problem"},
                        {"value": 1, "title": "A little problem"},
                        {"value": 2, "title": "A major problem"},
                        {"value": 3, "title": "Not Applicable"},

                    ],
                    "questions": [
                        {
                            "name": "internet",
                            "desc": "My Internet connection did not work (i.e., I could not connect to the Internet)."
                        },
                        {
                            "name": "connected",
                            "desc": "My internet connection worked, but I could not get connected to the web program."
                        },
                        {
                            "name": "forgot",
                            "desc": "I just forgot to go to the web program."
                        },
                        {
                            "name": "personalIssues",
                            "desc": "Personal issues stopped me from using the web program."
                        },
                        {
                            "name": "navigationHard",
                            "desc": "The web program was too hard to navigate."
                        }
                    ]
                }
                $('#section3').html(Mustache.render($('#template').val(), data));
            </script>
        </div>
        <div class="container section compactQuestion">
            <div id="section4"></div>
            <script>
                var data = {
                    "options": [
                        {"value": 0, "title": "Not a problem"},
                        {"value": 1, "title": "A little problem"},
                        {"value": 2, "title": "A major problem"},
                        {"value": 3, "title": "Not Applicable"},

                    ],
                    "questions": [
                        {
                            "name": "hardToUnderstand",
                            "desc": "The web program was too hard to understand."
                        },
                        {
                            "name": "notUseful",
                            "desc": "The web program did not seem very useful."
                        },
                        {
                            "name": "takeTooLong",
                            "desc": "I thought the program was going to take too long."
                        },
                        {
                            "name": "tooManyWords",
                            "desc": "The web program had too many words."
                        },
                        {
                            "name": "hardToRead",
                            "desc": "The screen was hard to read (e.g., words were too small)."
                        }
                    ]
                }
                $('#section4').html(Mustache.render($('#template').val(), data));
            </script>
        </div>
        <div class="container">

            <div class="section">
                <div class="row">
                    <div class="col-md-10">

                        <p><b>During this program, did you change any medicine, therapy, or other intervention to help your anxiety? Please check all that apply.</b></p>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 side-border">
                        <div class="radio">
                            <label class="question"> <input type="checkbox" name="changeMed" value="therapyMore" /> I seek in-person therapy more now</label>
                        </div>

                        <div class="radio">
                            <label class="question"> <input type="checkbox" name="changeMed" value="therapyLess" /> I seek in-person therapy less now</label>
                        </div>

                        <div class="radio">
                            <label class="question"> <input type="checkbox" name="changeMed" value="medsMore" /> I use prescription medicine more now</label>
                        </div>

                        <div class="radio">
                            <label class="question"> <input type="checkbox" name="changeMed" value="medsLess" /> I use prescription medicine less now</label>
                        </div>

                        <div class="radio">
                            <label class="question"> <input type="checkbox" name="changeMed" value="onlineMore" /> I use online computer programs (other than MindTrails) or mobile apps more now</label>
                        </div>
                        <div class="radio">
                            <label class="question"> <input type="checkbox" name="changeMed" value="onlineLess" /> I use online computer programs (other than MindTrails) or mobile apps less now</label>
                        </div>
                        <div class="radio">
                            <label class="question"> <input type="checkbox" name="changeMed" value="noChange" /> I did not change my intervention habits</label>
                        </div>
                        <div class="radio">
                            <label class="question"> <input type="checkbox" name="changeMed" value="Other" id="Q7"
                                                            onchange="spec('Q7')"/> Other (Please specify) <input
                                    id="Q7_spec" type="text" name="changeMed_Desc" value="N/A"/> </label>

                        </div>

                    </div>

                    <div class="col-md-4">
                        <br/>
                        <br/>
                        <div class="radio">
                            <label class="question"><input type="checkbox" name="changeMed" value="555"
                                                           onchange="disableSection(this)"/> Prefer not to answer
                            </label>
                        </div>
                        <br/>
                        <br/>
                    </div>

                </div>

            </div>
        </div>



        <div class="col-md-12" style="text-align:center">
            <button type="submit">Next</button>
        </div>

    </form>


</section>


<script type="text/javascript">
    function spec(id) {
        if (document.getElementById(id).checked) {
            document.getElementById(id + "_spec").required = true;
            if(document.getElementById(id + "_spec").value == "N/A"){
                document.getElementById(id + "_spec").value = "";
            }


        }
        else {
            document.getElementById(id + "_spec").value = "N/A";
            //document.getElementById(id + "_spec").required = false;
        }
    }
    function disableSection(input) {
        if (input.checked) {
            $(input).closest('.section').find("input").attr("disabled", true);
            $(input).removeAttr("disabled");
        } else {
            $(input).closest('.section').find("input").removeAttr("disabled");
        }
    }

    $(document).ready(function () {
        $('form').validate({
            errorElement: "span",
            errorPlacement: function (error, element) {
                var template_statement = element.parents(".row").first().children(".statement")
                var after_slider = element.parents(".after_slider").first()
                if(template_statement.length > 0) {
                    error.appendTo(template_statement);
                } else if (after_slider.length > 0) {
                    error.addClass("label-error");
                    error.appendTo(after_slider);
                } else {
                    error.addClass("label-error");
                    var label = element.parent("label");
                    error.appendTo(label);
                }

            },
            rules: {
                'reasons': {required: true, minlength: 1},
                'location': {required: true, minlength: 1},
                'whyInControl':{required: true, minlength: 1}

            }
        });


        $("input[name$='thoughtInControl']").click(function () {
            if ($(this).val() == "true") {
                $('#thoughtInControlDetail1').fadeIn('slow');
                $('#thoughtInControlDetail2').fadeIn('slow');

            } else {
                $('#thoughtInControlDetail1').fadeOut('slow');
                $('#thoughtInControlDetail2').fadeOut('slow');
            }
        });
    });



</script>






<footer th:replace="fragment/common :: footer"/>
<div th:include="fragment/common :: scripts"/>

</body>
</html>


<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts"/>
