<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en">
<!--<![endif]-->

<body>

<!-- Specialized Scripts for Action logging. Should ONLY be included on NON-DEMOGRAPHIC Questionaires.
    DO NOT put on pages with sensitive info!!! -->
<div id="scripts-action-log" th:fragment="scripts-action-log">
    <script type="text/javascript">
        $(document).ready(function () {
            
            // Create two loggers - one for sending the action sequence (i.e. "trace" log), 
            // and one for sending notice of any failed action sequence logging (i.e. "error" log).

            // ---------- trace loggger setup --------------------------------------
            var log_trace = log4javascript.getDefaultLogger();
            var jsonLayout_trace = new log4javascript.JsonLayout();

            // The logger will make an AJAX call to the action endpoint
            var ajaxAppender_trace = new log4javascript.AjaxAppender('/action');

            // Format as JSON
            ajaxAppender_trace.addHeader("Content-Type", "application/json");
            ajaxAppender_trace.setLayout(jsonLayout_trace);

            // Delay between AJAX calls
            ajaxAppender_trace.setTimerInterval(1000)

            log_trace.addAppender(ajaxAppender_trace);

            // ---------- Error loggger setup --------------------------------------
            var log_error = log4javascript.getDefaultLogger();
            var jsonLayout_error = new log4javascript.JsonLayout();
            var ajaxAppender_error = new log4javascript.AjaxAppender('/action/error');
            ajaxAppender_error.addHeader("Content-Type", "application/json");
            ajaxAppender_error.setLayout(jsonLayout_error);
            ajaxAppender_error.setTimerInterval(1000)
            log_error.addAppender(ajaxAppender_error);

            // In the event that action sequence logging fails, call the error logger.
            ajaxAppender_trace.setFailCallback(function(err_msg) {
                log_error.error('Unable to record (trace) action log.', err_msg)
            });

            // / ---------- End error loggger setup --------------------------------------

            // / ---------- End trace loggger setup --------------------------------------
            
            // Post every time the user performs an action within the task (questionnaire)
            var startTime = Date.now();
            var latency = -1;

            function logActionSequence($element) {
                latency = Date.now() - startTime;

                // Include name, value, and latency variables in the log
                jsonLayout_trace.setCustomField('name', $element.attr('name'));
                jsonLayout_trace.setCustomField('latency', latency);

                // Make AJAX request
                log_trace.trace('Recording new action sequence...');
            }

            // Exclude positive/negative affect slider
            $("input:not('#clearSlider')").on('change', logActionSequence($(this)));


            // No longer need this code chunk, as I've removed any functionality for capturing input vals. - Anna
            // // Safeguards against collecting some sensitive data.
            // // Should not be an issue as we have separated out this fragment from the main scripts
            // // fragment; i.e. this is a double / triple safeguard.
            // $("input:not([type='password'][name='password'][id='password'][name='username'][id='username'])").on('change', logActionSequence($(this)));

            $("select").on('change', logActionSequence($(this)));

        });
    </script>
</div>

</body>
</html>