<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org"><!--<![endif]-->

<head th:replace="fragment/common :: headerFragment"/>
<body>
<section th:replace="fragment/common :: topFragment"/>
<section th:replace="fragment/common :: titleBar (title=#{acculturation.title})"/>
<textArea th:replace="fragment/common :: questionTemplate"/>
<section id="content" class="clearfix">

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <p th:text="#{acculturation.instructions}">The following questions ask about your mood.
                For each question, select the number for the answer that best describes your experience.
            </p>
        </div>
    </div>
</div>

<form th:action="@{/questions/Acculturation}" method="POST" style="padding-left:30px" th:object="${model}">
    <!-- Add timer -->
    <section th:replace="fragment/forms :: radioOptions(${model})" />
    <div class="col-md-12" style="text-align:center">
        <button type="submit" th:text="#{next}">Next</button>
    </div>
</form>

</section>
<footer th:replace="fragment/common :: footer"/>
<div th:include="fragment/common :: scripts"/>
<div th:include="fragment/action_log :: scripts-action-log"/>

</body>
</html>