<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org"><!--<![endif]-->

<head th:replace="fragment/common :: headerFragment"/>
<body>
<section>
<section th:replace="fragment/common :: topFragment"/>
<section th:replace="fragment/common :: titleBar (title='Preferencias de idioma')"/>

    <!-- Add timer -->
    <div class="container">
        <div class="row">
            <div class="col-md-10">

                <p> Placeholder for description </p>
            </div>
        </div>

        <div class="container section">
            <div class="row">
                <div class="col-md-10">
                    <p><b>Por lo general, qué idioma(s) leé y habla usted?</b></p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="radio">
                        <label class="question"> <input
                                type="checkbox"
                                name="languageGeneral" value="1"/> &nbsp;&nbsp;Solo Español </label>
                    </div>
                    <div class="radio">
                        <label class="question"> <input
                                type="checkbox"
                                name="languageGeneral" value="2"/> &nbsp;&nbsp;Español major que Inglés </label>
                    </div>
                    <div class="radio">
                        <label class="question"> <input
                                type="checkbox"
                                name="languageGeneral" value="3"/> &nbsp;&nbsp;Ambos por igual </label>
                    </div>
                    <div class="radio">
                        <label class="question"> <input
                                type="checkbox"
                                name="languageGeneral" value="4"/> &nbsp;&nbsp;Inglés mejor que Español</label>
                    </div>
                    <div class="radio">
                        <label class="question"> <input
                                type="checkbox"
                                name="languageGeneral" value="5"/> &nbsp;&nbsp;Solo Inglés</label>
                    </div>
                </div>
            </div>
        </div>



    <div class="col-md-12" style="text-align:center">
        <button type="submit" th:text="#{next}">Next</button>
    </div>
    </div>

</section>
<footer th:replace="fragment/common :: footer"/>
<div th:include="fragment/common :: scripts"/>
<div th:include="fragment/action_log :: scripts-action-log"/>

</body>
</html>