<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org"><!--<![endif]-->

<head th:replace="fragment/common :: headerFragment"/>
<link rel="stylesheet" media="screen" th:href="@{/css/Affect.css}"/>

<body>
<section th:replace="fragment/common :: topFragment"/>
<section th:replace="fragment/common :: titleBar (title='Current Feelings')"/>

<section id="content" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-10">

                <form id="affectForm" th:action="@{/questions/Affect}" method="POST">

                    <!-- Add timer -->
                    <input id="timeOnPage" name="timeOnPage" type="hidden"/>

                    <div class="section">
                        <br></br>
                        <div class="question"> How anxious do you feel right now, that is, at the present moment?</div>
                        <br></br>
                        <div class="row">
                            <div class="col-12">
                                <input id="current_anxiety_slider" type="range" min="0" max="100"></input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 left">Not anxious at all</div>
                            <div class="col-6 right">Extremely Anxious</div>
                        </div>
                        <div class="after_slider"><label class="standard">
                            <br></br>
                            <input id="posSlider-enabled" type="checkbox" name="PosFeelings" value="555"/>
                            Prefer not to answer
                        </label></div>

                        <script>
                            $(document).ready(function () {
                                $('#current_anxiety_slider').one('click', function () {
                                    var x = event.pageX - this.offsetLeft;
                                    $('#current_anxiety_slider').val(Math.round(x / this.offsetWidth * 100));
                                    $('#current_anxiety_slider').addClass('clicked');
                                });

                                $('#current_anxiety_slider').click(function () {
                                    console.log($(this).val())
                                });

                            });

                        </script>
                    </div>

                    <div style="text-align:center">
                        <button type="submit" onclick="getTime()"> Continue</button>
                    </div>

                </form>


            </div>
        </div>
        <!--features ends-->

        <!--divider here-->
        <div class="spacer-40px"></div>

    </div>
</section>
<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer"/>

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright"/>

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts"/>
</body>
</html>
