<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org"><!--<![endif]-->

<head th:replace="fragment/common :: headerFragment"/>
<body>
<section th:replace="fragment/common :: topFragment"/>
<section th:replace="fragment/common :: titleBar (title='Current Feelings')"/>

<section id="content" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-10">

                <form  th:action="@{/questions/AnxietyIdentity}" method="POST">

                    <!-- Add timer -->
                    <input id="timeOnPage" name="timeOnPage" type="hidden"/>
                    <h1> To what extent is your anxiety a central part of who you are currently?</h1>
                    <p>Hint: Use the slider to move the circles.</p>
                    <input id="posSlider"  type="text" name="anxietyIdentity" required ="true"/>
                    <div class="after_slider"><label class="standard">
                        <input id="posSlider-enabled" type="checkbox" name="PosFeelings" value="555"/>
                        Prefer not to answer
                    </label></div>
                    <script>

                        moveSVG = function() {
                            var me = document.getElementById("me");
                            var anxiety = document.getElementById("anxiety");
                            var setting = mySlider.getValue();
                            var me_shift = 130 - 15 * (4 - setting);
                            var anxiety_shift = 10 + 15 * (4 - setting);
                            me.setAttribute('transform', 'translate(' + me_shift + ',10)');
                            anxiety.setAttribute('transform',  'translate(' + anxiety_shift + ',10)');
                        };

                        var mySlider = $("#posSlider").slider({
                            ticks: [0,1,2,3,4],
                            ticks_snap_bounds: 1,
                            tooltip: "hide",
                            value: 2,
                            formatter: function(value) {
                                $('#posSlider-enabled')[0].required=false;
                            }
                        }).on('slide', moveSVG).data('slider');

                        $("#posSlider-enabled").click(function() {
                            if(this.checked) {
                                $("#posSlider").slider("disable");
                                $('#posSlider-enabled')[0].required=false;
                            }
                            else {
                                $("#posSlider").slider("enable");
                            }
                        });
                        $('#posSlider-enabled')[0].required=true;
                    </script>

                    <svg width="400px" height="200px">
                        <g id="anxiety" transform="translate(40,10)">
                            <circle r="60" cx="60" cy="60"
                                    style="color:#000000;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;fill:#c28eff;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate"/>
                            />
                            <text x="25" y="75" >My Anxiety</text>
                        </g>

                        <g id="me" transform="translate(100,10)">
                            <circle r="60" cx="60" cy="60"
                                    style="color:#000000;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;fill:#07d7f8;fill-opacity:0.54509807;fill-rule:nonzero;stroke:none;stroke-width:0.1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate"/>
                            <text x="50" y="60">Me</text>
                        </g>
                    </svg>


                    <div style="text-align:center">
                        <button type="submit" onclick="getTime()"> Continue</button>
                    </div>

                </form>


            </div>
        </div>
        <!--features ends-->

        <!--divider here-->
        <div class="spacer-40px"></div>

    </div>
</section>
<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer"/>

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright"/>

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts"/>
</body>
</html>
