<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org"><!--<![endif]-->

<head th:replace="fragment/common :: headerFragment"/>
<body>
<section th:replace="fragment/common :: topFragment"/>
<section th:replace="fragment/common :: titleBar (title='Anxiety Triggers')"/>
<textArea th:replace="fragment/common :: questionTemplate"/>

<section id="content1" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-8">


                <p>
                    People become anxious for lots of different reasons. To what extent do you routinely experience moderate to severe anxiety in the following situations?
                </p>


            </div>
        </div>
    </div>
</section>

<section id="content" class="clearfix">

    <form th:action="@{/questions/AnxietyTriggers}" method="POST">
        <!-- Add timer -->
        <input id="timeOnPage" name="timeOnPage" type="hidden"/>


        <div class="container section compactQuestion">
            <div id="section1"></div>
            <script>
                var data = {
                    "options": [
                        {"value": 1, "title": "Not at all"},
                        {"value": 2, "title": ""},
                        {"value": 3, "title": "Somewhat"},
                        {"value": 4, "title": ""},
                        {"value": 5, "title": "Extremly"}
                    ],
                    "questions": [
                        {
                            "name": "social",
                            "desc": "Anxiety at social gatherings (e.g., parties), speaking in public, when meeting new people or dating, or talking to an authority figure (e.g., boss, teacher)"
                        },
                        {
                            "name": "sensations",
                            "desc": "Fear about changes in bodily sensations (e.g., feeling dizzy, short of breath or rapid heart beat) or fears about having a “panic attack”"
                        },
                        {
                            "name": "worry",
                            "desc": "Uncontrollable worries about lots of different things that could go badly (e.g., finances/money, work/career/school, relationships, health)"
                        },
                        {
                            "name": "anxiousFear",
                            "desc": "Fear about becoming anxious and not being able to leave a situation (e.g., getting stuck at a movie theater or in a crowd)"
                        }

                    ]
                }
                $('#section1').html(Mustache.render($('#template').val(), data));
            </script>
        </div>

        <div class="container section compactQuestion">
            <div id="section2"></div>
            <script>
                var data = {
                    "options": [
                        {"value": 1, "title": "Not at all"},
                        {"value": 2, "title": ""},
                        {"value": 3, "title": "Somewhat"},
                        {"value": 4, "title": ""},
                        {"value": 5, "title": "Extremly"}
                    ],
                    "questions": [

                        {
                            "name": "particularObject",
                            "desc": "Extreme fear about a particular object or situation, like flying, being in a high place, certain insects or animals, or seeing blood or a wound"
                        },
                        {
                            "name": "thoughts",
                            "desc": "Anxiety about upsetting thoughts or images that keep coming to mind, or anxiety about rituals or activities you feel you have to do over and over again (e.g., checking things or washing your hands)"
                        },
                        {
                            "name": "priorTrauma",
                            "desc": "Anxiety related to reminders of a prior traumatic experience (such as a natural disaster, accident, assault, or exposure to combat or violence)"
                        }

                    ]
                }
                $('#section2').html(Mustache.render($('#template').val(), data));
            </script>
        </div>


        <div class="col-md-12" style="text-align:center">
            <button type="submit">Next</button>
        </div>

    </form>


</section>
<footer th:replace="fragment/common :: footer"/>
<div th:include="fragment/common :: scripts"/>

</body>
</html>


<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts"/>
