<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org"><!--<![endif]-->

<head th:replace="fragment/common :: headerFragment"/>
<body>
<section th:replace="fragment/common :: topFragment"/>
<section th:replace="fragment/common :: titleBar (title='Assessing the Program')"/>
<section id="content" class="clearfix">

    <form th:action="@{/questions/AssessingProgram}" method="POST">
        <!-- Add timer -->
        <input id="timeOnPage" name="timeOnPage" type="hidden"/>
        <div class="container section compactQuestion">
            <h3><b>Compared to other mental health services, how much is Calm Thinking worth?</b></h3>
            <p>For reference, meditation apps cost approximately $2 per week, online services that allow you to text a therapist cost approximately $50 per week, and in-person psychotherapy costs approximately $100 per week.
                (Note that we are not asking people to pay for Calm Thinking, but want to learn more about how people value the program.)</p>
            <h3><textarea name="worthPerWeek" rows="1" cols="5" required="required"/> per week</h3>
            <br></br>
            <br></br>
            <br></br>
            <p>When answering, please note what treatment(s) you are comparing Calm Thinking to. You can consider such factors as helpfulness, enjoyment, and overall satisfaction.</p>
            <textarea name="compareToOthers" rows="6" cols="50" required="required"/>

        </div>



        <div class="col-md-12" style="text-align:center">
            <button type="submit">Next</button>
        </div>

    </form>


</section>
<footer th:replace="fragment/common :: footer"/>
<div th:include="fragment/common :: scripts"/>

</body>
</html>


<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts"/>
