<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org"><!--<![endif]-->

<head th:replace="fragment/common :: headerFragment"/>
<body>
<section th:replace="fragment/common :: topFragment"/>
<section th:replace="fragment/common :: titleBar (title='Assessing the Program')"/>
<section id="content" class="clearfix">

    <form th:action="@{/questions/AssessingProgram}" method="POST">
        <!-- Add timer -->
        <input id="timeOnPage" name="timeOnPage" type="hidden"/>
        <div class="container section compactQuestion">
            <h3><b>Compared to other mental health services, how much is Calm Thinking worth?</b></h3>
            <p>For reference, in US dollars: meditation apps cost approximately $2 per week, online services that allow you to text a therapist cost approximately $50 per week,
                and in-person psychotherapy costs approximately $100 per week (note that we are not asking people to pay for Calm Thinking, but want to learn more about how much people value the program).</p>
            <br></br>
            <h3><textarea class="input-lg"  style="font-size:30px;font-weight:bold;resize:none" name="worthPerWeek" id="worthPerWeek" maxlength="8" rows="1" cols="3"/> &nbsp;&nbsp;<b>per week (in US dollars)</b></h3>
            <br/>
                <div class="radio">
                    <div><label> <input type="radio" name="worthNoAnswer" value="=555"
                                        required="true" onclick="document.getElementById('worthPerWeek').disabled = true;"/>
                                        &nbsp;&nbsp;Prefer not to answer</label>
                    </div>
                </div>
                    <br/>
            <h3><b>How does Calm Thinking compare to other anxiety treatments that you have tried (such as going to therapy or taking medications)?</b></h3>
            <p>When answering, please note what treatment(s) you are comparing Calm Thinking to. You can consider such factors as helpfulness, enjoyment, and overall satisfaction.</p>
            <br></br>
            <textarea name="compareToOthers" id="compareToOthers" rows="6" cols="50"/>
            <br/>
            <br/>
            <div class="radio">
                     <label class="question"><input type="radio" name="compareNoAnswer" value="NA"
                                                    required="true" onclick="document.getElementById('compareToOthers').disabled = true;"/>
                                                    &nbsp;&nbsp;Not applicable</label>
                </div>
                <div class="radio">
                    <label class="question"> <input type="radio" name="compareNoAnswer" value="555"
                                                    required="true" onclick="document.getElementById('compareToOthers').disabled = true;"/>
                                                    &nbsp;&nbsp;Prefer not to answer
                    </label>
                </div>
        </div>
        <div class="col-md-12" style="text-align:center">
            <button type="submit">Next</button>
        </div>

    </form>


</section>
<footer th:replace="fragment/common :: footer"/>
<div th:include="fragment/common :: scripts"/>

</body>
</html>


<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts"/>
