<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org"><!--<![endif]-->

<head th:replace="fragment/common :: headerFragment"/>
<body>
<section th:replace="fragment/common :: topFragment"/>
<section th:replace="fragment/common :: titleBar (title='Why Things Happen')"/>
<textArea th:replace="fragment/common :: questionTemplate"/>

<section id="content1" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-8">


                <p> In this section, 14 situations are presented in which it is not quite clear what is happening.
                    Please rate the extent to which you think each of the three explanations for a situation would be
                    likely to be true <i>if you found yourself</i> in that situation. Use the scale below for your
                    ratings. </p>

                <p> Do not worry if your ratings appear to be different from your previous answers, and please do not
                    change any of your original answers.</p>

            </div>
        </div>
    </div>
</section>


<section id="content" class="clearfix">
    <form th:action="@{/questions/BBSIQ}" method="POST" th:object="${model}">
        <!-- Add timer -->
        <section th:replace="fragment/forms :: radioOptions(${model})"/>
        <div class="col-md-12" style="text-align:center">
            <button type="submit">Next</button>
        </div>
    </form>
</section>

<footer th:replace="fragment/common :: footer"/>
<div th:include="fragment/common :: scripts"/>
<div th:include="fragment/common :: scripts"/>

</body>
</html>


