<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org"><!--<![endif]-->

<head th:replace="fragment/common :: headerFragment"/>
<body>
<section th:replace="fragment/common :: topFragment"/>
<section th:replace="fragment/common :: titleBar (title='Why Things Happen')"/>
<textArea th:replace="fragment/common :: questionTemplate"/>

<section id="content1" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-8">


                <p> In this section, 14 situations are presented in which it is not quite clear what is happening.
                    Please rate the extent to which you think each of the three explanations for a situation would be
                    likely to be true <i>if you found yourself</i> in that situation. Use the scale below for your
                    ratings. </p>

                <p> Do not worry if your ratings appear to be different from your previous answers, and please do not
                    change any of your original answers.</p>

            </div>
        </div>
    </div>
</section>


<section id="content" class="clearfix">

    <form th:action="@{/questions/BBSIQ}" method="POST" th:object="${model}">
        <!-- Add timer -->
        <input id="timeOnPage" name="timeOnPage" type="hidden"/>

        <div class="container section compactQuestion">
            <div class="row title">
                <div class="col-md-12">
                    <h4><b> You have visitors over for dinner and they leave sooner than you expected. Why? </b></h4>
                </div>
            </div>
            <section th:replace="fragment/forms :: radioOptions(${model}, ${model.getMeasures('visitors')} )"/>
        </div>

        <div class="container section compactQuestion">
            <div class="row title">
                <div class="col-md-12">
                    <h4><b> You feel short of breath. Why? </b></h4>
                </div>
            </div>
            <section th:replace="fragment/forms :: radioOptions(${model}, ${model.getMeasures('breath')} )"/>
        </div>

        <div class="container section compactQuestion">
            <div class="row title">
                <div class="col-md-12">
                    <h4><b> Your vision has become slightly blurred. Why? </b></h4>
                </div>
            </div>
            <section th:replace="fragment/forms :: radioOptions(${model}, ${model.getMeasures('vision')} )"/>
        </div>


        <div class="container section compactQuestion">
            <div class="row title">
                <div class="col-md-12">
                    <h4><b> You go into a shop and the assistant ignores you. Why? </b></h4>
                </div>
            </div>
            <section th:replace="fragment/forms :: radioOptions(${model}, ${model.getMeasures('shop')} )"/>
        </div>

        <div class="container section compactQuestion">
            <div class="row title">
                <div class="col-md-12">
                    <h4><b> You feel lightheaded and weak. Why? </b></h4>
                </div>
            </div>
            <section th:replace="fragment/forms :: radioOptions(${model}, ${model.getMeasures('lightheaded')} )"/>
        </div>

        <div class="container section compactQuestion">
            <div class="row title">
                <div class="col-md-12">
                    <h4><b> You smell smoke. What’s burning? </b></h4>
                </div>
            </div>
            <section th:replace="fragment/forms :: radioOptions(${model}, ${model.getMeasures('smoke')} )"/>
        </div>

        <div class="container section compactQuestion">
            <div class="row title">
                <div class="col-md-12">
                    <h4><b> A friend suggests that you change the way that you’re doing a job in your own house.
                        Why? </b></h4>
                </div>
            </div>
            <section th:replace="fragment/forms :: radioOptions(${model}, ${model.getMeasures('friend')} )"/>
        </div>

        <div class="container section compactQuestion">
            <div class="row title">
                <div class="col-md-12">
                    <h4><b> Your chest feels uncomfortable and tight. Why? </b></h4>
                </div>
            </div>
            <section th:replace="fragment/forms :: radioOptions(${model}, ${model.getMeasures('chest')} )"/>
        </div>

        <div class="container section compactQuestion">
            <div class="row title">
                <div class="col-md-12">
                    <h4><b> You wake with a jolt in the middle of the night, thinking you heard a noise, but all is
                        quiet. What woke you up? </b></h4>
                </div>
            </div>
            <section th:replace="fragment/forms :: radioOptions(${model}, ${model.getMeasures('jolt')} )"/>
        </div>


        <div class="container section compactQuestion">
            <div class="row title">
                <div class="col-md-12">
                    <h4><b> You are introduced to someone at a party. The person fails to reply to a question you
                        ask. Why? </b></h4>
                </div>
            </div>
            <section th:replace="fragment/forms :: radioOptions(${model}, ${model.getMeasures('party')} )"/>
        </div>


        <div class="container section compactQuestion">
            <div class="row title">
                <div class="col-md-12">
                    <h4><b> You notice that your heart is beating quickly and pounding. Why? </b></h4>
                </div>
            </div>
            <section th:replace="fragment/forms :: radioOptions(${model}, ${model.getMeasures('heart')} )"/>
        </div>

        <div class="container section compactQuestion">
            <div class="row title">
                <div class="col-md-12">
                    <h4><b> Suddenly, you feel confused and find it hard to think straight. Why? </b></h4>
                </div>
            </div>
            <section th:replace="fragment/forms :: radioOptions(${model}, ${model.getMeasures('confused')} )"/>
        </div>

        <div class="container section compactQuestion">
            <div class="row title">
                <div class="col-md-12">
                    <h4><b> A letter marked "URGENT" arrives. What is in the letter? </b></h4>
                </div>
            </div>
            <section th:replace="fragment/forms :: radioOptions(${model}, ${model.getMeasures('urgent')} )"/>
        </div>


        <div class="container section compactQuestion">
            <div class="row title">
                <div class="col-md-12">
                    <h4><b> You notice that your heart is pounding, and you feel breathless, dizzy and unreal.
                        Why? </b></h4>
                </div>
            </div>
            <section th:replace="fragment/forms :: radioOptions(${model}, ${model.getMeasures('dizzy')} )"/>
        </div>

        <div class="col-md-12" style="text-align:center">
            <button type="submit">Next</button>
        </div>
    </form>
</section>

<footer th:replace="fragment/common :: footer"/>
<div th:include="fragment/common :: scripts"/>
<div th:include="fragment/common :: scripts"/>

</body>
</html>


