<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org"><!--<![endif]-->

<head th:replace="fragment/common :: headerFragment"/>
<body>
<section th:replace="fragment/common :: topFragment"/>
<section th:replace="fragment/common :: titleBar (title='Help Seeking')"/>
<textArea th:replace="fragment/common :: questionTemplate"/>
<section id="content" class="clearfix">

    <form th:action="@{/questions/Comorbid}" method="POST">
        <!-- Add timer -->
        <input id="timeOnPage" name="timeOnPage" type="hidden"/>
        <div class="container section compactQuestion">
            <div id="sectionPHQ"></div>
            <div class="col-md-12">
                <h4><b> Over the past 2 weeks, how often have you been bothered by any of the following problems?</b></h4>
            </div>
            <script>
                var data = {
                    "options": [
                        {"value": 1, "title": "Not at all"},
                        {"value": 2, "title": "Several days"},
                        {"value": 3, "title": "More than half of the days"},
                        {"value": 4, "title": "Nearly every day"}
                    ],
                    "questions": [
                        {
                            "name": "pleasure",
                            "desc": "Little interest or pleasure in doing things"
                        },
                        {
                            "name": "depressed",
                            "desc": "Feeling down, depressed, or hopeless"
                        },

                    ]
                }
                $('#sectionPHQ').html(Mustache.render($('#template').val(), data));
            </script>
        </div>
        <div class="container section compactQuestion">
            <div id="section1"></div>
            <div class="col-md-12">
                <h4><b> Please circle the answer that is correct for you.</b></h4>
            <script>
                var data = {
                    "options": [
                        {"value": 0, "title": "Never"},
                        {"value": 1, "title": "Monthly or less"},
                        {"value": 2, "title": "Two to four times a month"},
                        {"value": 3, "title": "Two to three times a week"},
                        {"value": 4, "title": "Four or more times a week"}
                    ],
                    "questions": [
                        {
                            "name": "howOften",
                            "desc": "How often do you have a drink containing alcohol?"
                        }
                    ]
                }
                $('#section1').html(Mustache.render($('#template').val(), data));
            </script>
        </div>
        <div class="container section compactQuestion">
            <div id="section2"></div>
            <script>
                var data = {
                    "options": [
                        {"value": 0, "title": "0 to 2"},
                        {"value": 1, "title": "3 or 4"},
                        {"value": 2, "title": "5 or 6"},
                        {"value": 3, "title": "7 to 9"},
                        {"value": 4, "title": "10 or more"}
                    ],
                    "questions": [
                        {
                            "name": "numberOfDrinks",
                            "desc": "How many drinks containing alcohol do you have on a typical day when you are drinking?"
                        }
                    ]
                }
                $('#section2').html(Mustache.render($('#template').val(), data));
            </script>
        </div>
        <div class="container section compactQuestion">
            <div id="section3"></div>
            <script>
                var data = {
                    "options": [
                        {"value": 0, "title": "Never"},
                        {"value": 1, "title": "Less than monthly"},
                        {"value": 2, "title": "Monthly"},
                        {"value": 3, "title": "Two to three times per week"},
                        {"value": 4, "title": "Four or more times a week"}
                    ],
                    "questions": [
                        {
                            "name": "sixOrMore",
                            "desc": "How often do you have six or more drinks on one occasion?"
                        }
                    ]
                }
                $('#section3').html(Mustache.render($('#template').val(), data));
            </script>
        </div>


        <div class="col-md-12" style="text-align:center">
            <button type="submit">Next</button>
        </div>

    </form>


</section>
<footer th:replace="fragment/common :: footer"/>
<div th:include="fragment/common :: scripts"/>

</body>
</html>


<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts"/>
