<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org"><!--<![endif]-->

<head th:replace="fragment/common :: headerFragment"/>
<body>
<section th:replace="fragment/common :: topFragment"/>
<section th:replace="fragment/common :: titleBar (title='Mood and Drinking Patterns')"/>
<textArea th:replace="fragment/common :: questionTemplate"/>
<section id="content" class="clearfix">

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <p>The following questions ask about mood and drinking patterns.
                For each question, select the number for the answer that best describes your experience.
            </p>
        </div>
    </div>
</div>

<input id="formName" name="formName" value="Comorbid" th:value="${form.name}">
<form th:action="@{/questions/{name}(name=${form.name})}" method="POST" style="padding-left:30px" th:object="${model}">
    <section th:replace="fragment/forms :: radioOptions(${model})" />
    <div class="col-md-12" style="text-align:center">
        <button type="submit">Next</button>
    </div>
</form>

</section>
<footer th:replace="fragment/common :: footer"/>
<div th:include="fragment/common :: scripts"/>

</body>
</html>


<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts"/>