<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org"><!--<![endif]-->

<head th:replace="fragment/common :: headerFragment"/>
<body>
<section th:replace="fragment/common :: topFragment"/>
<section th:replace="fragment/common :: titleBar (title='COVID-19 Questionnaire')"/>
<textArea th:replace="fragment/common :: questionTemplate"/>
<textArea th:replace="fragment/common :: questionTemplate5"/>

<section id="content" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p>The following questions ask about the current coronavirus (COVID-19) outbreak.
                    For each set of questions, select the answer that best describes your experience.</p>
            </div>
        </div>
    </div>
</section>

<section id="content1" class="clearfix">
    <form th:action="@{/questions/Covid19}" method="POST" th:object="${model}">
    <!-- Don't add timer, it's added in one of the form fragments.-->
    <div class="container">
        <div class="container section compactQuestion">
            <h3><b>COVID-19 is affecting people in many different ways. <i>Thinking about the past 2 weeks</i>,
                    please indicate in what ways the following areas of your life have been affected as a result of COVID-19:</b></h3><br/>
            <div class="row">
            <div class="col-md-6">
    <p><label class="question">Work<br/>
    <select required="true" th:field="*{work}">
        <option value="" hidden="hidden"></option>
        <option value="1">Extreme positive change</option>
        <option value="2">Moderate positive change</option>
        <option value="3">Minimal positive change</option>
        <option value="4">No change</option>
        <option value="5">Minimal negative change</option>
        <option value="6">Moderate negative change</option>
        <option value="7">Extreme negative change</option>
        <option value="555">Prefer not to answer</option>
    </select> </label></p>
    <p><label class="question">Income/finances<br/>
    <select required="true" th:field="*{finances}">
        <option value="" hidden="hidden"></option>
        <option value="1">Extreme positive change</option>
        <option value="2">Moderate positive change</option>
        <option value="3">Minimal positive change</option>
        <option value="4">No change</option>
        <option value="5">Minimal negative change</option>
        <option value="6">Moderate negative change</option>
        <option value="7">Extreme negative change</option>
        <option value="555">Prefer not to answer</option>
    </select> </label></p>
    <p><label class="question">Having enough food to eat<br/>
        <select required="true" th:field="*{food}">
            <option value="" hidden="hidden"></option>
            <option value="1">Extreme positive change</option>
            <option value="2">Moderate positive change</option>
            <option value="3">Minimal positive change</option>
            <option value="4">No change</option>
            <option value="5">Minimal negative change</option>
            <option value="6">Moderate negative change</option>
            <option value="7">Extreme negative change</option>
            <option value="555">Prefer not to answer</option>
        </select> </label></p>
            <p><label class="question">Childcare<br/>
                <select required="true" th:field="*{childcare}">
                    <option value="" hidden="hidden"></option>
                    <option value="1">Extreme positive change</option>
                    <option value="2">Moderate positive change</option>
                    <option value="3">Minimal positive change</option>
                    <option value="4">No change</option>
                    <option value="5">Minimal negative change</option>
                    <option value="6">Moderate negative change</option>
                    <option value="7">Extreme negative change</option>
                    <option value="555">Prefer not to answer</option>
                </select> </label></p>
            <p><label class="question">Emotional well-being (e.g., anxiety, sadness, stress, worry)<br/>
                <select required="true" th:field="*{wellbeing}">
                    <option value="" hidden="hidden"></option>
                    <option value="1">Extreme positive change</option>
                    <option value="2">Moderate positive change</option>
                    <option value="3">Minimal positive change</option>
                    <option value="4">No change</option>
                    <option value="5">Minimal negative change</option>
                    <option value="6">Moderate negative change</option>
                    <option value="7">Extreme negative change</option>
                    <option value="555">Prefer not to answer</option>
                </select> </label></p>
            <p><label class="question">Physical health<br/>
                <select required="true" th:field="*{physical}">
                    <option value="" hidden="hidden"></option>
                    <option value="1">Extreme positive change</option>
                    <option value="2">Moderate positive change</option>
                    <option value="3">Minimal positive change</option>
                    <option value="4">No change</option>
                    <option value="5">Minimal negative change</option>
                    <option value="6">Moderate negative change</option>
                    <option value="7">Extreme negative change</option>
                    <option value="555">Prefer not to answer</option>
                </select> </label></p>
            <p><label class="question">Getting the medication and other healthcare you need<br/>
                <select required="true" th:field="*{healthcare}">
                    <option value="" hidden="hidden"></option>
                    <option value="1">Extreme positive change</option>
                    <option value="2">Moderate positive change</option>
                    <option value="3">Minimal positive change</option>
                    <option value="4">No change</option>
                    <option value="5">Minimal negative change</option>
                    <option value="6">Moderate negative change</option>
                    <option value="7">Extreme negative change</option>
                    <option value="555">Prefer not to answer</option>
                </select> </label></p>
                </div>
                    <div class="col-md-6">
            <p><label class="question">Productivity<br/>
                <select required="true" th:field="*{productivity}">
                    <option value="" hidden="hidden"></option>
                    <option value="1">Extreme positive change</option>
                    <option value="2">Moderate positive change</option>
                    <option value="3">Minimal positive change</option>
                    <option value="4">No change</option>
                    <option value="5">Minimal negative change</option>
                    <option value="6">Moderate negative change</option>
                    <option value="7">Extreme negative change</option>
                    <option value="555">Prefer not to answer</option>
                </select> </label></p>
            <p><label class="question">Ability to focus<br/>
                <select required="true" th:field="*{focus}">
                    <option value="" hidden="hidden"></option>
                    <option value="1">Extreme positive change</option>
                    <option value="2">Moderate positive change</option>
                    <option value="3">Minimal positive change</option>
                    <option value="4">No change</option>
                    <option value="5">Minimal negative change</option>
                    <option value="6">Moderate negative change</option>
                    <option value="7">Extreme negative change</option>
                    <option value="555">Prefer not to answer</option>
                </select> </label></p>
            <p><label class="question">Exercise<br/>
                <select required="true" th:field="*{exercise}">
                    <option value="" hidden="hidden"></option>
                    <option value="1">Extreme positive change</option>
                    <option value="2">Moderate positive change</option>
                    <option value="3">Minimal positive change</option>
                    <option value="4">No change</option>
                    <option value="5">Minimal negative change</option>
                    <option value="6">Moderate negative change</option>
                    <option value="7">Extreme negative change</option>
                    <option value="555">Prefer not to answer</option>
                </select> </label></p>
            <p><label class="question">Relationships with family<br/>
                <select required="true" th:field="*{family}">
                    <option value="" hidden="hidden"></option>
                    <option value="1">Extreme positive change</option>
                    <option value="2">Moderate positive change</option>
                    <option value="3">Minimal positive change</option>
                    <option value="4">No change</option>
                    <option value="5">Minimal negative change</option>
                    <option value="6">Moderate negative change</option>
                    <option value="7">Extreme negative change</option>
                    <option value="555">Prefer not to answer</option>
                </select> </label></p>
            <p><label class="question">Relationships with friends<br/>
                <select required="true" th:field="*{friends}">
                    <option value="" hidden="hidden"></option>
                    <option value="1">Extreme positive change</option>
                    <option value="2">Moderate positive change</option>
                    <option value="3">Minimal positive change</option>
                    <option value="4">No change</option>
                    <option value="5">Minimal negative change</option>
                    <option value="6">Moderate negative change</option>
                    <option value="7">Extreme negative change</option>
                    <option value="555">Prefer not to answer</option>
                </select> </label></p>
            <p><label class="question">Sleep<br/>
                <select required="true" th:field="*{sleep}">
                    <option value="" hidden="hidden"></option>
                    <option value="1">Extreme positive change</option>
                    <option value="2">Moderate positive change</option>
                    <option value="3">Minimal positive change</option>
                    <option value="4">No change</option>
                    <option value="5">Minimal negative change</option>
                    <option value="6">Moderate negative change</option>
                    <option value="7">Extreme negative change</option>
                    <option value="555">Prefer not to answer</option>
                </select> </label></p>
            <p><label class="question">Loss of planned events (e.g., graduation, parties, travel)<br/>
                <select required="true" th:field="*{events}">
                    <option value="" hidden="hidden"></option>
                    <option value="1">Extreme positive change</option>
                    <option value="2">Moderate positive change</option>
                    <option value="3">Minimal positive change</option>
                    <option value="4">No change</option>
                    <option value="5">Minimal negative change</option>
                    <option value="6">Moderate negative change</option>
                    <option value="7">Extreme negative change</option>
                    <option value="555">Prefer not to answer</option>
                </select> </label></p>
                    </div>
            </div>
</div>
    </div>

        <section th:replace="fragment/forms :: radioOptions(${model})"/>

            <!-- Add timer -->
            <div class="container section compactQuestion">
                <h3><b>On an average day over the past 2 weeks, how much time per day (in minutes) did you spend reading news stories about COVID-19?</b></h3>
                <h3><textarea name="news" rows="1" cols="4" maxlength="4" style="resize: none; font-size: 30px; text-align:center;" required="required"/> &nbsp;minutes per day</h3>
                <br/>
                <h3><b>On an average day over the past 2 weeks, how much time per day (in minutes) did you spend reading social media about COVID-19?</b></h3>
                <h3><textarea name="socialMedia" rows="1" cols="4" maxlength="4" style="resize: none; font-size: 30px; text-align:center;" required="required"/> &nbsp;minutes per day</h3>
            </div>

        <div class="container section">
            <div class="row header">
                <div class="col-md-12 statement">
                    <h3><b>Based on criteria from the Center for Disease Control, are you at high risk for serious
                    illness following infection of COVID-19?</b></h3>
                    <p>The Center for Disease Control suggests that people over 65, those struggling with heart
                    and lung disease, those who are immunocompromised (suppressed immune system), those who are obese, and those with diabetes are at
                    high risk for serious illness.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 side-border">
                    <div class="radio">
                        <label class="question"><input type="radio" name="highRisk" value="1" required="true"/>Yes</label>
                    </div>
                    <div class="radio">
                        <label class="question"><input type="radio" name="highRisk" value="0" required="true"/>No</label>
                    </div>
                    <br/>
                </div>
                <div class="col-md-4">
                    <div class="radio"><br/>
                        <label class="question"><input type="radio" name="highRisk" value="555"/> Prefer not to answer</label>
                    </div>
                    <br/>
                </div>
            </div>
        </div>

        <div class="container section compactQuestion">
            <h4><b>Please rate how often you use each of the following strategies to cope with challenges/stressors related to COVID-19.</b></h4>
            <div id="section4"></div>
            <script>
                var data = {
                    "options": [
                        {"value": 1, "title": "Never"},
                        {"value": 2, "title": "Seldom"},
                        {"value": 3, "title": "Sometimes"},
                        {"value": 4, "title": "Often"},
                        {"value": 5, "title": "Almost Always"},

                    ],
                    "questions": [
                        {
                            "name": "emotions",
                            "desc": "I try to let my emotions out."
                        },
                        {
                            "name": "plan",
                            "desc": "I make a plan of action and follow it."
                        },
                        {
                            "name": "brightside",
                            "desc": "I look for the silver lining or try to look on the bright side of things."
                        },
                        {
                            "name": "problem",
                            "desc": "I try to put the problem out of my mind."
                        },
                        {
                            "name": "thoughts",
                            "desc": "I keep my thoughts and feelings to myself."
                        }
                    ]
                }
                $('#section4').html(Mustache.render($('#template').val(), data));
            </script>
        </div>

        <div class="col-md-12" style="text-align:center">
        <!-- Add timer -->
            <button type="submit">Next</button>
        </div>
    </form>
</section>

<footer th:replace="fragment/common :: footer"/>
<div th:include="fragment/common :: scripts"/>

</body>
</html>






