<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org"><!--<![endif]-->

<head th:replace="fragment/common :: headerFragment"/>
<body>
<section th:replace="fragment/common :: topFragment"/>
<section th:include="fragment/common :: titleBar (title= 'Readiness Rulers and Credibility')"/>
<textArea th:replace="fragment/common :: questionTemplate"/>

<section id="content" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-8">


            <p> The FutureThinking program includes 5 sessions that are spread out over the course of about 2 weeks. You’ll
                complete a session every 2-3 days, and each session takes about 15 minutes to complete. You'll also
                complete
                some assessments as part of our research study so that we can evaluate how well the program works.
            </p>

            <p th:if="${participant.receiveGiftCards}"> You'll receive gift cards to thank you for completing the
                assessments, and a bonus gift card after completing the
                full study. You’ll also receive feedback after completing the full study about how your thinking about
                the future has changed
                over the course of the program.</p>

            <p th:unless="${participant.receiveGiftCards}"> You’ll receive feedback after completing the full study
                about how your thinking about the future has changed over the course of the program.</p>

            <p> You can do the sessions anywhere, so long as you have access to a quiet place and a device with
                Internet access.
                This program is free and can be completed without ever leaving your desk.
            </p>

            <p><b> So, how does FutureThinking work? </b></p>


            <p> In our program, we are attempting to change the way you make sense of information in order to alter
                your thinking about future. During each session, you will be asked to read brief stories and complete
                word fragments by filling in one or more missing letters in a word. The task is not meant to be tricky
                or too difficult. It is not a puzzle to try to solve.
            </p>

            <p>These exercises are designed to change the way you make sense of information by giving you lots of
                practice
                responding to situations in different ways. The program can feel a little repetitive, but the <u>repetition
                    is important so you develop a new interpretation style</u>.
            </p>

            <p>Don’t worry if you don’t use online interventions much—the tasks are not designed to be
                difficult, and you can always email us with questions at <a href="mailto:studyteam@mindtrails.org">studyteam@mindtrails.org</a>.
            </p>

            <p>This is an experimental program so it is still in the testing phase, but prior research says this program
                may be able to alter thinking styles as effectively as therapy for some people. We want to learn if
                it can be helpful for you.
            </p>

        </div>
        </div>
    </div>
</section>


<section id="content2" class="clearfix">
    <form th:action="@{/questions/Credibility}" method="POST">
        <!-- Add timer -->
        <input id="timeOnPage" name="timeOnPage" type="hidden"/>
        <div class="container section compactQuestion">
            <div id="section1"></div>
            <script>
                var data = {
                    "options": [
                        {"value": 0, "title": "Not at all"},
                        {"value": 1, "title": "A little"},
                        {"value": 2, "title": "Somewhat"},
                        {"value": 3, "title": "A lot"},
                        {"value": 4, "title": "Extremely"}
                    ],
                    "questions": [
                        {
                            "name": "important",
                            "desc": "How important is reducing your anxiety to you right now?"
                        },
                        {
                            "name": "confident_online",
                            "desc": "How confident are you that an online training program will be successful in reducing your anxiety?"
                        },
                        {
                            "name": "confident_design",
                            "desc": "How confident are you that an online training program that is designed to change how you think about situations will be successful in reducing your anxiety?"
                        }
                    ]
                }
                $('#section1').html(Mustache.render($('#template').val(), data));
            </script>
        </div>


        <div class="col-md-12" style="text-align:center">
            <button type="submit">Next</button>
        </div>

    </form>
</section>


<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer"/>

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright"/>

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts"/>

</body>
</html>
