<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org"><!--<![endif]-->

<head th:replace="fragment/common :: headerFragment"/>
<body>
<section th:replace="fragment/common :: topFragment"/>
<textArea th:replace="fragment/common :: questionTemplate"/>

<section id="header-btm" class="clearfix">
    <div class="container">
        <div class="row">
            <h2 class="page-title heading-icon clearfix"> <img th:src="@{/images/map-arrow-orange.png}" alt="icon" class="icon-small-bg" />
                <br/>
                <span th:text="${eligibility}? 'Eligibility Questionnaire' : 'Mood Assessment'"/>
            </h2>

        </div>
    </div>
</section>

<section id="content" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-8">


                <p> Please read each statement. Then, select the number (0, 1, 2 or 3) that best shows how much the statement
                    applied to you over the past week. There are no right or wrong answers. Do not spend too much time
                    on any statement.
                </p>

                <p class="alert-error" th:text="${error}"></p>

            </div>
        </div>
    </div>
</section>

<section id="contentTest" class="clearfix">
    <form th:action="${eligibility}? @{/public/eligibilityCheck} : @{/questions/DASS21_AS}"
            th:object="${model}" method="POST">
        <section th:replace="fragment/forms :: radioOptions(${model})"/>
        <div class="col-md-12" style="text-align:center">
            <button type="submit">Next</button>
        </div>
    </form>
</section>
<footer th:replace="fragment/common :: footer"/>
<div th:include="fragment/common :: scripts"/>

</body>
</html>


<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts"/>