<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org"><!--<![endif]-->

<head th:replace="fragment/common :: headerFragment"/>
<body>
<section th:replace="fragment/common :: topFragment"/>
<textArea th:replace="fragment/common :: questionTemplate"/>

<section id="header-btm" class="clearfix">
    <div class="container">
        <div class="row">
            <h2 class="page-title heading-icon clearfix"> <img th:src="@{/images/map-arrow-orange.png}" alt="icon" class="icon-small-bg" />
                <br/>
                <span th:text="${eligibility}? 'Eligibility Questionnaire :Part 1' : 'Mood Assessment'"/>
            </h2>

        </div>
    </div>
</section>

<section id="content" class="clearfix"  th:if="${eligibility}">
    <div class="container">
        <div class="row">
            <div class="col-md-8" style="padding-left: 0px">
                <p>This is part one in a two step questionnaire.</p>
                <p>Please note that in order to participate in the Calm Thinking study, regular access to a laptop/desktop
                    computer, tablet, and/or smartphone with Internet connection is required.</p>
                <p>Please read each statement below. Then, select the number that best shows how much the statement
                    applied to you over the past week. There are no right or wrong answers. Do not spend too much time
                    on any statement.
                </p>

                <p class="alert-error" th:text="${error}"></p>

            </div>
        </div>
    </div>
</section>

<section id="contentTest" class="clearfix">
    <form th:action="${eligibility}? @{/public/eligibilityCheck} : @{/questions/DASS21_AS}"
            th:object="${model}" method="POST">
        <section th:replace="fragment/forms :: radioOptions(${model})"/>
        <div class="col-md-12" style="text-align:center; padding-left: 20px">
            <div th:if="${eligibility}" class="form-group row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-10">
                    <label class="col-sm-10">
                        <input class="inline-checkbox" type="checkbox" id="over18" name="over18" value="true"/>
                        I am at least age 18*<br/>
                        (* If based in Nebraska, I am at least age 19; if based in Puerto Rico, I am at least age 21.<br/> See
                         <a th:href="@{/public/disclaimer#item8}">Terms and Conditions > Age of Consent</a>.)
                    </label>
                </div>
            </div>
            <button type="submit">Next</button>
        </div>
    </form>
</section>
<footer th:replace="fragment/common :: footer"/>
<div th:include="fragment/common :: scripts"/>
<div th:unless="${eligibility}" th:include="fragment/action_log :: scripts-action-log"/>

</body>
</html>