<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org"><!--<![endif]-->

<head th:replace="fragment/common :: headerFragment"/>
<body>
<section th:replace="fragment/common :: topFragment"/>
<section th:replace="fragment/common :: titleBar (title=#{mechanisms.title})"/>
<textArea th:replace="fragment/common :: questionTemplate6"/>
<section id="content" class="clearfix">

    <section id="content1" class="clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-8">

                    <p th:text="#{mechanisms.instructions}">Below, a number of statements related to thoughts and beliefs are presented. For each
                        statement, select the number for the answer that best describes your own perspective.</p>
                </div>
            </div>
        </div>
    </section>

    <form th:action="@{/questions/Mechanisms}" method="POST" style="padding-left: 30px">
        <!-- Add timer -->
        <input id="timeOnPage" name="timeOnPage" type="hidden"/>
        <div class="container section compactQuestion">
            <div id="section1"></div>
            <script th:inline="javascript">
                var data = {
                    "options": [
                        {"value": 1, "title": /*[[#{mechanisms.strongly_disagree}]]*/"Strongly disagree", "opt_desc": "Strongly disagree"},
                        {"value": 2, "title": /*[[#{mechanisms.disagree}]]*/"Disagree", "opt_desc": "Disagree"},
                        {"value": 3, "title": /*[[#{mechanisms.somewhat_disagree}]]*/"Somewhat disagree", "opt_desc": "Somewhat disagree"},
                        {"value": 4, "title": /*[[#{mechanisms.neutral}]]*/"Neutral", "opt_desc": "Neutral"},
                        {"value": 5, "title": /*[[#{mechanisms.somewhat_agree}]]*/"Somewhat agree", "opt_desc": "Somewhat agree"},
                        {"value": 6, "title": /*[[#{mechanisms.agree}]]*/"Agree", "opt_desc": "Agree"},
                        {"value": 7, "title": /*[[#{mechanisms.strongly_agree}]]*/"Strongly agree", "opt_desc": "Strongly agree"}
                    ],
                    "questions": [
                        {
                            "name": "cfiViewpoints",
                            "desc": /*[[#{mechanisms.viewpoints}]]*/"I often look at a situation from different viewpoints."
                        },
                        {
                            "name": "compActWilling",
                            "desc": /*[[#{mechanisms.willing}]]*/"I am willing to fully experience whatever thoughts, feelings, and sensations come up for me, without trying to change them."
                        },
                        {
                            "name": "erqPositive",
                            "desc": /*[[#{mechanisms.positive_change}]]*/"When I want to feel more positive emotion, I change the way I’m thinking about the situation."
                        },
                        {
                            "name": "erqNegative",
                            "desc": /*[[#{mechanisms.negative_change}]]*/"When I want to feel less negative emotion, I change the way I’m thinking about the situation."
                        },
                        {
                            "name": "iusUnexpected",
                            "desc": /*[[#{mechanisms.unexpected}]]*/"Unexpected events upset me greatly."
                        },
                        {
                            "name": "iusUncertain",
                            "desc": /*[[#{mechanisms.uncertain}]]*/"When I am uncertain, I can’t function very well."
                        }
                ]
                }
                $('#section1').html(Mustache.render($('#template6').val(), data));
            </script>
        </div>


        <div class="col-md-12" style="text-align:center">
            <button type="submit" th:text="#{next}">Next</button>
        </div>

    </form>


</section>
<footer th:replace="fragment/common :: footer"/>
<div th:include="fragment/common :: scripts"/>
<div th:include="fragment/action_log :: scripts-action-log"/>

</body>
</html>