<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org"><!--<![endif]-->

<head th:replace="fragment/common :: headerFragment"/>
<body>
<section th:replace="fragment/common :: topFragment"/>
<section th:replace="fragment/common :: titleBar (title='What I Believe')"/>
<textArea th:replace="fragment/common :: questionTemplate"/>
<section id="content" class="clearfix">

    <form th:action="@{/questions/NGSES}" method="POST">
        <!-- Add timer -->
        <input id="timeOnPage" name="timeOnPage" type="hidden"/>
        <div class="container section compactQuestion">
            <div id="section1"></div>
            <script>
                var data = {
                    "options": [
                        {"value": 1, "title": "Not at all true"},
                        {"value": 2, "title": "Hardly true"},
                        {"value": 3, "title": "Moderately ture"},
                        {"value": 4, "title": "Exactly true"}
                    ],
                    "questions": [
                        {
                            "name": "achieve_goals",
                            "desc": "I will be able to achieve most of the goals that I have set for myself"
                        },
                        {
                            "name": "accomplish_tasks",
                            "desc": "When facing difficult tasks, I am certain that I will accomplish them"
                        },
                        {
                            "name": "obtain_outcomes",
                            "desc": "In general, I think I can obtain outcomes that are important to me"
                        },
                        {
                            "name": "succeed_endeavor",
                            "desc": "I believe I can succeed at most any endeavor to which I set my mind"
                        }

                    ]
                }
                $('#section1').html(Mustache.render($('#template').val(), data));
            </script>
        </div>


        <div class="container section compactQuestion">
            <div id="section2"></div>
            <script>
                var data = {
                    "options": [
                        {"value": 1, "title": "Not at all true"},
                        {"value": 2, "title": "Hardly true"},
                        {"value": 3, "title": "Moderately ture"},
                        {"value": 4, "title": "Excatly true"}
                    ],
                    "questions": [
                        
                        {
                            "name": "overcome_challenges",
                            "desc": "I will be able to successfully overcome many challenges"
                        },
                        {
                            "name": "perform_multitask",
                            "desc": "I am confident that I can perform effectively on many different tasks"
                        },
                        {
                            "name": "do_most",
                            "desc": "Compare to other people, I can do most tasks very well"
                        },
                        {
                            "name": "perform_tough",
                            "desc": "Even when things are tough, I can perform quite well"
                        }

                    ]
                }
                $('#section2').html(Mustache.render($('#template').val(), data));
            </script>
        </div>


        <div class="col-md-12" style="text-align:center">
            <button type="submit">Next</button>
        </div>

    </form>


</section>
<footer th:replace="fragment/common :: footer"/>
<div th:include="fragment/common :: scripts"/>

</body>
</html>


<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts"/>
