<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org"><!--<![endif]-->

<head th:replace="fragment/common :: headerFragment"/>
<body>
<section th:replace="fragment/common :: topFragment"/>
<section th:replace="fragment/common :: titleBar (title='My mood')"/>
<textArea th:replace="fragment/common :: questionTemplate2"/>
<section id="content" class="clearfix">

    <form th:action="@{/questions/Ph4}" method="POST">
        <!-- Add timer -->
        <input id="timeOnPage" name="timeOnPage" type="hidden"/>
        <div class="container section compactQuestion">
            <div id="section1"></div>
            <script>
                var data = {

                    "options": [
                        {"value": 0, "title": "Not at all"},
                        {"value": 1, "title": "Several days"},
                        {"value": 2, "title": "More than half of the days"},
                        {"value": 3, "title": "Nearly everyday"}
                    ],
                    "questions": [
                        {
                            "name": "nervous",
                            "desc": "Feeling nervous, anxious or on edge"
                        },
                        {
                            "name": "worry",
                            "desc": "Not being able to stop or control worrying?"
                        },
                        {
                            "name": "pleasure",
                            "desc": "Little interest or pleasure in doing things"
                        },
                        {
                            "name": "depressed",
                            "desc": "Feeling down, depressed, or hopeless"
                        },

                    ]
                }
                $('#section1').html(Mustache.render($('#template2').val(), data));
            </script>
        </div>


        <div class="col-md-12" style="text-align:center">
            <button type="submit">Next</button>
        </div>

    </form>


</section>
<footer th:replace="fragment/common :: footer"/>
<div th:include="fragment/common :: scripts"/>

</body>
</html>


<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts"/>
