<!DOCTYPE html>

<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<form name="f" class="form-horizontal" th:action="@{/account/create}" method="post" th:object="${participantForm}" th:fragment="create">
    <ul>
        <li th:each="err : ${#fields.errors('*')}" th:text="${err}" class="alert-error">
            Input is incorrect
        </li>
    </ul>

    <div class="spacer-20px"></div>

    <div th:fragment="editable">

        <script th:src="@{/js/jstz.min.js}"></script>
        <script th:src="@{/js/password.js}"></script>

        <input type="hidden" name="timezone" id="timezone" value="undetected"/>
        <script th:inline="javascript">
            /*<![CDATA[*/
            $("#timezone").val(jstz.determine().name());
            /*]]>*/
        </script>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="fullName" th:text="#{consent.p8a}">Name / Nickname</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="fullName" name="fullName" th:errorclass="error"
                       th:field="*{fullName}"/>
            </div>
            <span th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Name Error</span>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="email" th:text="#{consent.p8b}">Email</label>
            <div class="col-sm-10">
                <input class="form-control" type="email" id="email" name="email" th:errorclass="error"
                       th:field="*{email}"/>
            </div>
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</span>
        </div>

        <div class="form-group row">
            <div class="col-sm-2">
            </div>
            <div class="custom-control col-sm-10">
                <label class="col-sm-10 inline-checkbox">
                    <input class="inline-checkbox" type="checkbox" id="emailReminders" name="emailReminders"
                           th:errorclass="error" th:field="*{emailReminders}" th:text="#{consent.p8c}"/>
                    <span class="note" th:text="#{consent.p8d}">
                        Please note that even if you do not want reminders for each session,
                        you will still receive a few messages from us as you enter
                        new phases in the study or if you are inactive for an extended period.
                    </span>
                </label>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="phone" th:text="#{consent.p8e}">Phone</label>
            <div class="col-sm-10">
                <!-- <input type="tel" id="phone"> -->
                <!--
                <input class="form-control" type="tel" id="phone" name="phone" th:errorclass="error"
                       th:field="*{phone}"/>
                -->
                <div id="result">
                    <input type="hidden" name="phone" id="hidden_phone" th:field="*{phone}" th:errorclass="error" th:readonly="${verified}" required="true"/>

                    <input   name="phone_control" id="phone" type="tel" th:readonly="${verified}" required="true"/>
                    <br/>
                    <span class="note" th:if="${verified}">
                       Your phone number has been verified &mdash; please <a href="mailto:studyteam@mindtrails.org">contact the study team</a> if you wish to change your phone number.
                   </span>
                    <span class="note" th:if="${verified == false}">
                       Your phone number has not been verified and can still be changed.  A verification code will be sent to your phone number when you update this page.
                   </span>
                    <span>✓</span><span id="valid-msg" class="note hide" th:text="#{consent.valid}"> Valid</span>
                    <span id="error-msg" class="error hide"></span>
                </div>

                <link rel="stylesheet" type="text/css" th:href="@{/bower/intl-tel-input/build/css/intlTelInput.css}"/>
                <script th:src="@{/bower/intl-tel-input/build/js/intlTelInput.js}"></script>

                <script th:inline="javascript">
                    /*<![CDATA[*/
                    $( document ).ready(function() {
                        // initialise plugin
                        let input = document.querySelector("#phone");
                        let hidden_input = document.querySelector("#hidden_phone");

                        input.value = hidden_input.value;

                        var iti = window.intlTelInput(input, {
                                utilsScript:/*[[@{/bower/intl-tel-input/build/js/utils.js}]]*/ "path/to/util.js",
                        });
                        console.log("Utility Script:" + iti.utilsScript)
                        window.intlTelInputGlobals.loadUtils(/*[[@{/bower/intl-tel-input/build/js/utils.js}]]*/ );
                        console.log("Utility Script:" + iti.utilsScript)

                        // here, the index maps to the error code returned from getValidationError - see readme
                        var errorMap = [ "Invalid number", "Invalid country code", "Too short", "Too long", "Invalid number"];
                        var errorMsg = document.querySelector("#error-msg"),
                            validMsg = document.querySelector("#valid-msg");
                        var reset = function() {
                            input.classList.remove("error");
                            errorMsg.innerHTML = "";
                            errorMsg.classList.add("hide");
                            validMsg.classList.add("hide");
                        };

                        // on keyup / change flag: reset
                        input.addEventListener('change', reset);
                        input.addEventListener('keyup', reset);

                        // on blur: validate
                        input.addEventListener('blur', function() {
                            reset();
                            if (input.value.trim()) {
                                if (iti.isValidNumber()) {
                                    validMsg.classList.remove("hide");
                                    hidden_input.value = iti.getNumber()
                                } else {
                                    input.classList.add("error");
                                    var errorCode = iti.getValidationError();
                                    errorMsg.innerHTML = errorMap[errorCode];
                                    errorMsg.classList.remove("hide");
                                }
                            }
                        });
                        $('#euCitizen').change(updateEuConsent);
                        if ($('#euCitizen').is(':checked')) {
                            $('#euCitizenAgreement').prop('checked', true);
                        }
                        updateEuConsent();
                    });
                    function updateEuConsent() {
                        if ($('#euCitizen').is(':checked')) {
                            // If so, show the div with the class 'eu-consent'
                            $('.eu-consent').show("fast");
                        } else {
                            // If not, hide the div with the class 'eu-consent'
                            $('.eu-consent').hide("fast");
                        }
                    }
                    /*]]>*/
                </script>

            </div>
            <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Phone Error</span>
        </div>


        <div class="form-group row">
            <div class="col-sm-2">
            </div>
            <div class="custom-control col-sm-10">
                <label class="col-sm-10 inline-checkbox">
                    <input class="inline-checkbox" type="checkbox" id="textMessages" name="canTextMessage"
                           th:errorclass="error" th:field="*{canTextMessage}"/>
                    <span th:text="#{consent.p8f}">I can receive text messages at this number.</span>
                </label>
                <script>
                    $(document).ready(function() {
                        //set initial state.
                        $('#textMessages').change(function() {
                            var phoneReminders = $("#phoneReminders");
                            var giftCards = $("#receiveGiftCards");
                            if(!this.checked) {
                                phoneReminders.prop('checked', false);
                                phoneReminders.prop('disabled', true);

                                giftCards.prop('checked', false);
                                giftCards.prop('disabled', true);
                            } else {
                                phoneReminders.prop('disabled', false);
                                phoneReminders.prop('checked', true);
                                giftCards.prop('disabled', false);
                            }
                        });
                    });
                </script>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2">
            </div>
            <div class="custom-control col-sm-10">
                <label class="col-sm-10 inline-checkbox" >
                    <input class="inline-checkbox" type="checkbox" id="phoneReminders" name="phoneReminders"
                           th:errorclass="error" th:field="*{phoneReminders}"/>
                    <span class="note" th:text="#{consent.p8g}">I would like to receive text reminders to this phone when it is time to start the next session.</span>
                </label>
            </div>
        </div>

    </div>

    <div th:fragment="password">

        <div class="form-group row">
            <label class="control-label col-sm-2" for="password" th:text="#{consent.p8h}">Password</label>
            <div class="col-sm-10">
                <input class="form-control" type="password" id="password" name="password" th:field="*{password}"
                       th:errorclass="error"/>
                <div id="pswd_info">
                    <h4 th:text="#{password.message}">Password must meet the following requirements:</h4>
                    <ul>
                        <li id="letter" class="invalid"><span th:text="#{password.least}">At least</span> <span th:text="#{password1}"><b>one letter</b></span></li>
                        <li id="capital" class="invalid"><span th:text="#{password.least}">At least</span> <span th:text="#{password2}"><b>one capital letter</b></span></li>
                        <li id="number" class="invalid"><span th:text="#{password.least}">At least</span> <span th:text="#{password3}"><b>one number</b></span></li>
                        <li id="symbol" class="invalid"><span th:text="#{password.least}">At least</span> <span th:text="#{password4a}"><b>one symbol</b></span><br/>( ! # $ @ _ ' + , ? [ ]
                            . - <span th:text="#{password4b}">and space)</span>
                        </li>
                        <li id="length" class="invalid"><span th:text="#{password.least}">At least</span> <span th:text="#{password5}"><b>8 characters</b></span></li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="form-group row">
            <label class="control-label col-sm-2" for="passwordAgain" th:text="#{consent.p8i}">Confirm Password</label>
            <div class="col-sm-10">
                <input class="form-control" type="password" id="passwordAgain"
                       name="passwordAgain"/>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-sm-2" for="over18" th:text="#{consent.p8j}">Over 18</label>
        <div class="custom-control col-sm-10">
            <label class="col-sm-10  inline-checkbox">
                <input class="inline-checkbox" type="checkbox" id="over18" name="over18" th:errorclass="error"
                       th:field="*{over18}" />
            </label>
        </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-sm-2" for="euCitizen" th:text="#{consent.isEuCitizen}">I am an EU Citizen</label>
        <div class="custom-control col-sm-10">
            <label class="col-sm-10  inline-checkbox">
                <input class="inline-checkbox" type="checkbox" id="euCitizen" name="eUCitizen" th:errorclass="error"/>
            </label>
        </div>
    </div>
    <div class="eu-consent">
        <div class="form-group row">
            <div class="col-sm-12 eu-consent">
                <p><strong>European General Data Protection Regulation (GDPR) Informed Consent Addendum</strong></p>
                <p><strong>Study: IRB-SBS 2220</strong></p>
                <p></p>
                <p>In the Consent Form for this study you are told about how personal information about you will be collected and handled as part of your participation in the study. We would like to give you additional information due to the European General Data Protection Regulation (GDPR). This affects the handling and control of your personal information in this study.</p>
                <p></p>
                <p><strong>1. Information about the Institution carrying out this study: </strong></p>
                <p>The institution carrying out the study and collecting your personal information is University of Virginia, PO BOX 400400, Charlottesville, VA, 22904-4400.</p>
                <p>We will not share your identifiable personal data with any third party (all servers hosting data are part of IRB-approved institutions). We will only disclose the identifiable personal data to authorities for those situations where we will receive a lawful order to do so. See public data sharing agreement above (this does not include identifiable data). </p>
                <p></p>
                <p><strong>2. Personal data use</strong></p>
                <p>We will only use your identifiable personal data for the purposes of this research project.</p>
                <p></p>
                <p><strong>3. Special categories of personal information: </strong></p>
                <p>Please be aware that the personal information about you that will be collected in the study includes special categories of personal data, namely information about:</p>
                <ul>
                <li>Demographics: Age (birth year) </li>
                <li>Contact Information: email, phone, zip code, IP address (stored separate from other data)</li>
                <li>Health Information </li>
                <li>Racial or Ethnic Origin</li>
                <li>Criminal Activity (varies by region and age: primarily, illegal use of alcohol)</li>
                </ul>
                <p>As a safeguard to protect your privacy, we will link your personal data with a code and store your identifying information separately. </p>
                <p></p>
                <p><strong>4. Your privacy rights </strong></p>
                <p>For your personal information collected by the study you have the following data privacy rights:</p>
                <ul>
                    <li>To request information about the handling of your data. However, to protect the scientific integrity of the study, you may not be able to receive access to some of the data before the study ends. </li>
                    <li>&middot; To request correction of data about you if it is incorrect or incomplete. During the assessment of this request, you have the right to restrict the processing of data about you. </li>
                    <li>&middot; To request transfer of data about you to you or someone else in a commonly used format.</li>
                    <li>&middot; To file a complaint with a data protection authority.</li>
                    <li>&middot; To withdraw your consent at any time without giving a reason. You can withdraw your consent for study treatment and/or further follow up, without withdrawing consent for handling your data. You may also withdraw consent to the handling of your data, as described in the Consent Form. Then you will no longer be in the study, but the researchers will still use the data about you that was collected before you withdrew. After you withdraw, no further data will be collected from you.</li>
                    <li>&middot; Along with your withdrawal, you have the right to request the deletion of data about you if your data are no longer needed or there is no other legal requirement for their use.</li>

                </ul>
                <p><strong>5. Transfer of data to other countries</strong></p>
                <p>Your information may be transferred to or handled in countries other than the country where it was originally collected. Those countries may not have the same data protection laws as the country in which you initially provided the information. When we transfer your personal information to countries whose data protection level has not been confirmed as adequate by the European Commission, we will provide appropriate safeguards for the transfer of personal information as required by law.</p>
                <p>Your personal data will be transferred to the United States, which has not sought nor obtained an adequacy decision from the European Commission. This means that there may be risks to your personal data under this jurisdiction. However, we adopt and implement sufficient safeguards to protect your personal data, as described in this form. We transfer your data on the basis of your explicit consent, under Article 49 GDPR. </p>
                <p>If you have any concerns about how your personal data is being handled, use the address below to contact us. If you are not satisfied with our reply and how we protect your personal data, you can contact the data protection authority in your home country or in another relevant jurisdiction for this processing activity, pursuant to the conditions of Article 77 GDPR.</p>
                <p></p>
                <p><strong>If you wish to pursue any of your data privacy rights, please contact:</strong></p>
                <p>Prof. Bethany Teachman, Department of Psychology, 102 Gilmer Hall, rm. 207, University of Virginia, Charlottesville, VA 22903. Telephone: 1-434-924-0676. E-mail: <a href="mailto:bteachman@virginia.edu">bteachman@virginia.edu</a></p>
                <p>or IRB-SBS, Telephone: 1-434-924-5999, Email: <a href="mailto:irbsbshelp@virginia.edu">irbsbshelp@virginia.edu</a>, Website: <a href="https://research.virginia.edu/irb-sbs">https://research.virginia.edu/irb-sbs</a>, Website for Research Participants: <a href="https://research.virginia.edu/research-participants">https://research.virginia.edu/research-participants</a>, UVA IRB-SBS # 2304</p>
                <p></p>
                <p><strong>6. Retention of personal information</strong></p>
                <p>Your information may be stored indefinitely after the end of the study.</p>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="euCitizenAgreement" th:text="#{consent.iagree}">I Agree</label>
            <div class="custom-control col-sm-10">
                <label class="col-sm-10  inline-checkbox">
                    <input class="inline-checkbox" type="checkbox" id="euCitizenAgreement" name="euCitizenAgreement" th:errorclass="error"/>
                </label>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="custom-control col-sm-10" id="g-recaptcha"></div>
    </div>

    <input type="hidden" th:field="*{recaptchaResponse}" name="recaptchaResponse" id="recaptchaResponse"/>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var siteKey = /*[[${recaptchaSiteKey}]]*/;
        var onloadCallback = function () {
            grecaptcha.render('g-recaptcha', {
                'sitekey': siteKey,
                'callback': function (response) {
                    document.getElementById('recaptchaResponse').value = response;
                },
                'theme': 'light'
            });
        }
        /*]]>*/
    </script>
    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&amp;render=explicit" async="true" defer="true"></script>

    <br></br>

    <div class="form-group row">
        <label class="control-label col-sm-2" for="printedName" th:text="#{consent.p8n}">Printed Name</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" id="printedName" name="printedName" th:errorclass="error" required="true"
                   th:field="*{printedName}"/>
        </div>
    </div>

    <div class="form-group row" >
        <div class="col-sm-2"></div>
        <div class="custom-control col-sm-10" id="g-signature"></div>

    </div>

    <input type="hidden" th:field="*{signatureResponse}"  id="signatureResponse" name="signatureResponse" path="signatureResponse" enctype="multipart/form-data"  th:errorclass="error"/>

    <div class="form-row mb-3">
        <label class="control-label col-sm-2" for="signatureResponse" th:text="#{consent.p8m}">Signature</label>
        <div class="wrapper mb-3 border border-trbl border-round ">
            <canvas id="signature-pad" class="signature-pad" style="border: 1px solid black;">
            </canvas>
                <button class="button"  id="clear" style="margin-left: 5%; font-size: 10px; width: 120px; max-width: 110%;" th:text="#{consent.p8o}">Clear Signature</button>
        </div>
    </div>

    <div class="alert">
        <span th:text="#{consent.signature}" class="closebtn" onclick="this.parentElement.style.display='none';">Please draw your signature in the box above.</span>
        <!--        Please draw your signature above-->
    </div>


    <input type="hidden" th:field="*{signatureState}"  id="signatureState" name="signatureState" path="signatureState" />

    <script th:inline="javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script th:inline="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script th:inline="javascript" src="js/bootstrap.min.js"></script>
    <script th:inline="javascript" src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
    <script th:inline="javascript" src="js/bootstrap-datepicker.js"></script>

    <span th:text="#{consent.p8k}"><b>By providing your signature and clicking the button below, you are indicating that you have read the informed consent statement above and agree to participate.</b></span>
    <br></br>
    <br></br>

    <div style="text-align: center;">
        <button id="consent-btn" th:text="#{consent.p8l}">Give Consent and Create Account</button>
    </div>

    <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
         var canvas = document.getElementById('signature-pad');
         var signaturePad = new SignaturePad(canvas, {
          backgroundColor: 'rgba(255, 255, 255, 1)',
          penColor: 'rgb(0, 0, 0)'
         });

         var saveButton = document.getElementById('consent-btn');
         var cancelButton = document.getElementById('clear');

         var errorMsg = document.querySelector("#error-input");
         var errorExists = false;

         saveButton.addEventListener('click', function (event) {
            var data = signaturePad.toDataURL('image/png');
            if (signaturePad.isEmpty()) {
            document.getElementById('signatureState').value = "empty"
            } else {
                document.getElementById('signatureState').value = "full"
            }
            document.getElementById('signatureResponse').value = data;

         });

       var errorMsg = document.querySelector("#error-input");

         cancelButton.addEventListener('click', function (event) {
           signaturePad.clear();
           event.preventDefault();
           event.stopPropagation();
           return false;
         });
	/*]]>*/
    </script>


</form>

<section id="themeSelection" class="clearfix" th:fragment="themeSelection">
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <h2 th:text="#{theme.title}"><font color="#00ACE4"><b>Select Your Theme</b></font></h2>
                <p th:text="#{theme.info}">To customize the appearance of MindTrails, select one of the options below. You can change your
                    theme at any time by clicking "My Account" and then "Account Settings" in the menu bar above.</p>
            </div>
        </div>
        <div class="row">
            <label>
                <div class="themeSection blue">
                    <div class="col-md-1">
                        <input type="radio" th:field="*{theme}" value="blue" required="true"/>
                    </div>
                    <div class="col-md-9">
                        <div class="themeOption">
                            <div class="hidden-xs hidden-sm">
                                <img th:src="@{/images/settings-blue.png}" alt="Blue Theme"/>
                            </div>
                            <div class="hidden-md hidden-lg">
                                <img th:src="@{/images/settings-blue-sm.png}" alt="Blue Theme"/>
                            </div>
                        </div>
                    </div>
                </div>
            </label>
        </div>
        <div class="row">
            <label>
                <div class="themeSection orange">
                    <div class="col-md-1">
                        <input type="radio" th:field="*{theme}" value="orange" required="true"/>
                    </div>
                    <div class="col-md-9">
                        <div class="themeOption">
                            <div class="hidden-xs hidden-sm">
                                <img th:src="@{/images/settings-orange.png}" alt="Orange Theme"/>
                            </div>
                            <div class="hidden-md hidden-lg">
                                <img th:src="@{/images/settings-orange-sm.png}" alt="Orange Theme"/>
                            </div>
                        </div>
                    </div>
                </div>
            </label>
        </div>
        <div class="row">
            <label>
                <div class="themeSection green">
                    <div class="col-md-1">
                        <input type="radio" th:field="*{theme}" value="green" required="true"/>
                    </div>
                    <div class="col-md-9">
                        <div class="themeOption">
                            <div class="hidden-xs hidden-sm">
                                <img th:src="@{/images/settings-green.png}" alt="Green Theme"/>
                            </div>
                            <div class="hidden-md hidden-lg">
                                <img th:src="@{/images/settings-green-sm.png}" alt="Green Theme"/>
                            </div>
                        </div>
                    </div>
                </div>
            </label>
        </div>
        <div class="row">
            <label>
                <div class="themeSection purple">
                    <div class="col-md-1">
                        <input type="radio" th:field="*{theme}" value="purple" required="true"/>
                    </div>
                    <div class="col-md-9">
                        <div class="themeOption">
                            <div class="hidden-xs hidden-sm">
                                <img th:src="@{/images/settings-purple.png}" alt="purple Theme"/>
                            </div>
                            <div class="hidden-md hidden-lg">
                                <img th:src="@{/images/settings-purple-sm.png}" alt="purple Theme"/>
                            </div>
                        </div>
                    </div>
                </div>
            </label>
        </div>
        <div class="row">
            <label>
                <div class="themeSection gold">
                    <div class="col-md-1">
                        <input type="radio" th:field="*{theme}" value="gold" required="true"/>
                    </div>
                    <div class="col-md-9">
                        <div class="themeOption">
                            <div class="hidden-xs hidden-sm">
                                <img th:src="@{/images/settings-gold.png}" alt="gold Theme"/>
                            </div>
                            <div class="hidden-md hidden-lg">
                                <img th:src="@{/images/settings-gold-sm.png}" alt="gold Theme"/>
                            </div>
                        </div>
                    </div>
                </div>
            </label>
        </div>

        <button th:text="#{update}">Update</button>
    </div>
</section>

<script type="text/javascript">
    function Verify(){
        if (document.getElementById("receiveGiftCards").checked) {
        }

    }
</script>

</body>
</html>
