<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment"/>
<body th:class="|user-theme-${participant.theme}|">
<section id="header" class="clearfix" th:include="fragment/common :: topFragment"/>

<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container sessionSection" th:if="${currentSession.name == 'COMPLETE'}">
        <div class="row">
            <div class="col-md-4">
                <img th:src="@{/images/map-arrow-orange.png}" alt="icon" class="icon-small-bg"/>
            </div>

            <div class="col-md-8 session">
                <h2>Great Job, <span th:text="${participant.fullName}">Jim</span>.<br/>You have completed <span
                        th:text="${lastSession.displayName}"/>. </h2>
                You have completed all the Sessions!
                Please complete this <a href="https://virginiahsd.co1.qualtrics.com/jfe/form/SV_cAqZqxvB3LlGVP7">
                Final Questionnaire </a>.  Thank you! </span>.
            </div>
        </div>
    </div>

    <div class="container sessionSection" th:if="${currentSession.daysToWait &gt; 0 and currentSession.daysToWait &lt; 3}">
        <div class="sessionHeader">
            <img class="sessionImage" th:src="|/images/map-${lastSession.index}-${participant.theme}.png|" alt="icon"/>

            <h2>Congratulations, <span th:text="${participant.fullName}">Jim</span>!</h2>
            You have completed <span  th:text="${lastSession.displayName}"/>.
            Finishing the stories during the next session will be a little more challenging as you move up to
            <span  th:text="${currentSession.displayName}"/>, but we think you’re ready.

        </div>

        <div class="giftAwarded" th:if="${giftAwarded}">
            <img th:src="@{/images/gift_card_sm.png}"/>

            <div class="message">
                <em>Congratulations! You have earned a $<span th:text="${giftAmount}"/> gift card.</em><br/>
                Please check your email for information on how to redeem it.
                <span th:if="${nextGiftSession}"><b>Your next gift card</b> will be available when you complete <span
                        th:text="${nextGiftSession.displayName}"/></span>
            </div>
        </div>

        <p>UP NEXT: For best results, plan to begin your next session tomorrow.
            <br/><a th:href="@{/session/overview}">Program Overview</a>
        </p>

        <div class="nextGift" th:unless="${giftAwarded}" th:if="${nextGiftSession}">
            <img th:src="@{/images/gift_card_sm.png}"/>
            <span>Your next gift card will be available when you complete <span
                    th:text="${nextGiftSession.displayName}"/></span>
        </div>
    </div>
</section>

<footer id="footer" class="clearfix" th:include="fragment/common :: footer"/>
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright"/>
<div th:include="fragment/common :: scripts"/>

</body>
</html>
