# Default settings are located in core/src/main/resources/default.properties
# but can be overridden here as needed.

spring.datasource.url=jdbc:mysql://localhost/r34

spring.datasource.username=pi_user
spring.datasource.password=pi_password