<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment" />
<body>
<section id="header" class="clearfix" th:include="fragment/common :: topFragment" />
<section th:include="fragment/common :: titleBar (title='About This Study')"/>

<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p> Thank you for your interest in our research! </p>

                <p>Future Thinking includes 4 sessions that are spread out over 2 weeks. You’ll complete
                    2 training sessions each week, and each session requires about 20 minutes to complete.
                    You will be randomly assigned to different conditions, because we are trying to figure out exactly what
                    kind of training works best.
                    You’ll also complete some short assessments as part of our research study so that we can evaluate how well the program works.
                    At the end of the study, we’ll give you feedback about how your future thinking has changed over the course of the program.</p>

                <p>You can do the sessions anywhere, so long as you have access to a quiet place and a computer, phone or tablet with Internet.
                    This program is free.</p>

                <h3>So, how does Future Thinking training work? </h3>

                <p>In our program, we are attempting to help you change the way you think about common but potentially
                    stressful situations. During each session, you will be asked to
                    read brief stories and complete word fragments, by filling in one or more missing letters in a word. The
                    task is not meant to be tricky or too difficult. It is not a puzzle to try to solve.</p>

                <p>These exercises are designed to help you change the way you make sense of events by giving
                    you lots of practice in responding to them in different ways. <b>The program can feel a little repetitive,
                    but the repetition is important so you develop a new interpretation style.</b></p>

                <p>Don’t worry if you don’t use computers much—the tasks are not designed to be difficult and you can always
                    email us with questions at <a href="mailto:studyteam@mindtrails.org">studyteam@mindtrails.org.</a></p>

                <p><b>This is an experimental program so it is still in the testing phase, but prior research suggests
                    programs like this one may be able to reduce anxiety and other forms of distress as effectively as therapy for some people. We want to determine if
                    it can be helpful for you.  If you would like to learn more about the science behind MindTrails, take a look
                    at the "Research Support" button at the top of the page.</b></p>

                <br />
                <br />

            </div>
        </div>

    </div>
</section>


<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer" />

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright" />

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts" />

</body>
</html>
