<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment" />
<body>
<section id="header" class="clearfix" th:include="fragment/common :: topFragment" />
<section th:include="fragment/common :: titleBar (title='About')"/>

<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <h3><b>What Is the MindTrails Project?</b></h3>

                <p>The MindTrails Project is a web-based, public research site that offers free interpretation bias
                training programs to promote healthier thinking patterns for people with anxiety and other emotional
                difficulties. Research shows that people prone to anxiety tend to think about situations negatively.
                MindTrails programs give you practice thinking about situations in new ways. This encourages more
                flexible thinking styles in your everyday life. Learn more <a href="https://mindtrails.virginia.edu/calm/public/researchSupport">about the science</a>.</p>

                    <p>Developed by an interdisciplinary team of clinical psychologists, computer scientists, and
                engineers at the University of Virginia, MindTrails aims to efficiently test which training
                programs work best for different people and problem areas. We strive to continually improve these
                programs for the next generation. Our team is excited to learn whether these programs can help address
                the desperate need for greater delivery of care that has good research support.</p>

                <h3><b>Calm Thinking Study</b></h3>

                <p>We are currently offering free training programs as part of a study on promoting healthier
                thinking patterns for people with anxiety. The programs consist of five 15-20 minute sessions
                spread out over five weeks. Click <a href="https://mindtrails.virginia.edu/calm/public/eligibility">here</a>
                    to see whether you’re eligible to participate.</p>


            </div>
        </div>

    </div>
</section>


<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer" />

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright" />

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts" />

</body>
</html>
