<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment"/>
<body>
<section id="header" class="clearfix" th:include="fragment/common :: topFragment"/>

<section id="content" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1><b>Welcome to Calm Thinking</b></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p>
                    In this study, we are going to focus on how you think about situations
                    that may make you anxious.</p>

                <p>You will complete an online program that will describe

                    different situations and encourage you to think about how those

                    situations will turn out. This program is new but

                    is based on similar programs that have shown positive

                    effects in changing anxious thinking.</p>

                <p>Because the program is still being tested, we have people

                    trying different versions of it to see which version works best &mdash; we think

                    some of these programs will lead to a healthier evaluation of

                    the future.</p>

            </div>            <div class="col-md-4">
                <h4><b>Let's get started!</b></h4>
                <p><a th:href="@{/account/create}"><button>Am I Eligible?</button> </a></p>
            </div>
        </div>
     </div>
</section>

<footer id="footer" class="clearfix" th:include="fragment/common :: footer"/>
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright"/>
<div th:include="fragment/common :: scripts"/>

</body>
</html>