<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org"><!--<![endif]-->

<head th:replace="fragment/common :: headerFragment"/>
<body>
<section th:replace="fragment/common :: topFragment"/>
<section th:replace="fragment/common :: titleBar (title='Affect')"/>

<section id="content" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-10">

                <form th:action="@{/questions/Affect}" method="POST">


                    <p class="statement"> The following questions will ask you about different feelings and emotions.
                        Read each item and then move the slider to indicate to what extent you feel each emotion <b>right
                            now</b>, that is, <b>at the present</b> moment.</p>

                    <p class="statement"> Once you have selected an answer for all of the questions, please click
                        'Continue'. </p>

                    <div class="section">
                        <p class="question"> To what extent do you feel positive feelings right now, that is, at the
                            present moment? </p>
                        <input style="display:none" id="checkPosFeelings" name="checkPosFeelings" type="checkbox"
                               value="1"/>
                        <input style="display:none" id="PosFeelings" type="text" name="PosFeelings"
                               required="required"/>

                        <div id="slider">
                            <label class="slider" style="left: -50px"> Not at all Positive <br/> -3 </label>
                            <label class="slider" style="left: 200px"> Moderately Positive <br/> 0 </label>
                            <label class="slider" style="left: 450px"> Totally Positive <br/> 3 </label>
                            <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min"
                                 style="width: 51%;"></div>
                            <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"
                                  style="left:51%;"> </span>
                        </div>
                    </div>

                    <div class="section">
                        <p class="question"> To what extent do you feel negative feelings right now, that is, at the
                            present moment? </p>
                        <input style="display:none" id="checkNegFeelings" name="checkNegFeelings" type="checkbox"
                               value="1"/>
                        <input style="display:none" id="NegFeelings" type="text" name="NegFeelings"
                               required="required"/>

                        <div id="slider2">
                            <label class="slider" style="left: -50px"> Not at all Positive <br/> -3 </label>
                            <label class="slider" style="left: 200px"> Moderately Positive <br/> 0 </label>
                            <label class="slider" style="left: 450px"> Totally Positive <br/> 3 </label>
                            <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min"
                                 style="width: 51%;"></div>
                            <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"
                                  style="left:51%;"> </span>
                        </div>
                    </div>


                    <div style="text-align:center">
                        <button type="submit"> Continue</button>
                    </div>

                </form>
                <script th:inline="javascript">
                    /*<![CDATA[*/

                    $(function () {
                        $("#slider").slider({
                            range: "min",
                            min: -3,
                            max: 3,
                            value: 0,
                            step: 0.1,
                            slide: function (event, ui) {
                                $("#NoPositiveFeeling").val(ui.value);
                                document.getElementById("checkPosFeelings").checked = true;
                            }
                        });
                        $("#NoPositiveFeeling").val($("#slider").slider("value"))
                    });
                    function check() {
                        if (document.getElementById("checkPosFeelings").checked != true) {
                            $("#dialog").dialog();
                        } else {
                            $("#form").submit();
                        }
                    }

                    $(function () {
                        $("#slider2").slider({
                            range: "min",
                            min: -3,
                            max: 3,
                            value: 0,
                            step: 0.1,
                            slide: function (event, ui) {
                                $("#NegFeelings").val(ui.value);
                                document.getElementById("checkNegFeelings").checked = true;
                            }
                        });
                        $("#NegFeelings").val($("#slider").slider("value"))
                    });
                    function check() {
                        if (document.getElementById("checkNegFeelings").checked != true) {
                            $("#dialog").dialog();
                        } else {
                            $("#form").submit();
                        }
                    }

                    /*]]>*/
                </script>
            </div>
        </div>
        <!--features ends-->

        <!--divider here-->
        <div class="spacer-40px"></div>

    </div>
</section>
<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer"/>

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright"/>

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts"/>
</body>
</html>
