<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org"><!--<![endif]-->

<head th:replace="fragment/common :: headerFragment"/>
<body>
<section th:replace="fragment/common :: topFragment"/>
<section th:replace="fragment/common :: titleBar (title='Use your Imagination')"/>

<section id="content" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <form th:action="@{/questions/AxImagery}" method="POST">

                    <p>Pick a situation that you worry might go badly, or that you expect will evoke symptoms related to
                        anxiety (e.g., racing heart, sweating).
                        Any situation that will make you feel anxious or scared will work.</p>

                    <p>If no specific situation is upcoming, then just select a situation that you expect would make you
                        feel anxious or scared IF you were to be in that situation.</p>


                    <div class="section">
                        <p class="question"> Please describe the situation in a few words </p>
                        <input type="text" name="AxSituation" id="AxSituation" required="true"/>
                    </div>

                    <p> Please imagine the situation as vividly as possible (i.e., so that it feels very real).</p>
                    <p>Try to imagine you are actually in the situation.</p>
                    <p>Play out the specific parts of the situation in your head. </p>
                    <p>Try to imagine all the things you would see, hear, and smell if you were really in that
                        situation. </p>
                    <p>Think about what thoughts or feelings you would experience if you were actually there. </p>

                    <p> Please click the button below and play this situation in your head for the next 20 seconds. We
                        will tell you when the 20 seconds are up. </p>

                    <button id="waitButton" type='button' onclick="waitForNow()"> Begin</button>

                    <audio id="bing">
                        <source th:src="@{/sounds/bing.mp3}"/>
                        <source th:src="@{/sounds/bing.ogg}"/>
                    </audio>

                    <script>
                        var timer;

                        function waitForNow() {
                            if ($("#AxSituation").val().length == 0) {
                                alert("Please describe the situation.")
                            } else {
                                $("#waitButton").html(" ... please wait ... ");
                                $("#waitButton").attr("disabled", "disabled");
                                timer = setTimeout(moveAlong, 20000);
                            }
                        }

                        function moveAlong() {
                            $("#waitButton").hide();
                            document.getElementById("bing").play();
                            elem = $("#followupQuestions");
                            elem.show();
                            $('html,body').animate({
                                scrollTop: elem.offset().top
                            }, 'slow');
                        }
                    </script>

                    <div id="followupQuestions" style="display:none">

                        <h4>GREAT!</h4>
                        <p> Now, answer the following questions about the situation you imagined. </p>

                        <div class="section">
                            <div class="row">
                                <div class="col-md-10">
                                    <p class="question"> How vividly did you imagine the situation? </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="radio">
                                        <label> <input class="option" type="radio" name="Vividness" value="1"
                                                       required="true"/> 1 Not at all
                                            vivid </label>
                                    </div>
                                    <div class="radio">
                                        <label> <input class="option" type="radio" name="Vividness" value="2"/> 2
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label> <input class="option" type="radio" name="Vividness" value="3"/> 3
                                            Somewhat vivid </label>
                                    </div>
                                    <div class="radio">
                                        <label> <input class="option" type="radio" name="Vividness" value="4"/> 4
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label> <input class="option" type="radio" name="Vividness" value="5"/> 5
                                            Extremely vivid </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <br/>
                                    <div class="radio">
                                        <label class="question"><input type="checkbox" name="Vividness" value="555"
                                                                       onchange="disableSection(this)"/> Prefer not
                                            to
                                            answer
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="section">


                            <div class="question">How anxious did you feel (at the highest level of anxiety) as you
                                completed the imagery task?
                            </div>
                            <div class="rangeWrapper">
                                <input id="slide" type="range" name="anxiety" required="true" value="50" min="0"
                                       max="100"/>
                                <p id="slide_text" class="rangeLabel">Moderately Anxious</p>
                            </div>
                            <br/>
                            <div><label class="standard"> <input type="checkbox" name="anxiety" value="555"
                                                                 onchange="disableSection(this)"/> Prefer not
                                to
                                answer
                            </label></div>

                            <script> /*<![CDATA[*/
                            $(document).ready(function () {

                                $("input[type='range']").change(function () {
                                    slider = $(this);
                                    value = (slider.val() - 1);

                                    $('p.rangeLabel').removeClass('selected');
                                    if (value <= 33) $("#slide_text").text("Low Anxiety");
                                    if (value > 33 && value < 66) $("#slide_text").text("Moderately Anxious");
                                    if (value >= 66) $("#slide_text").text("Very Anxious");

                                });

                                $('p.rangeLabel').bind('click', function () {
                                    label = $(this);
                                    value = label.index();
                                    $("input[type='range']").attr('value', value)
                                            .trigger('change');
                                });

                            });
                            /*]]>*/
                            </script>
                            <style>
                                input[type="range"] {
                                    width: 100%;
                                }

                                p.rangeLabel {
                                    font-family: "Arial", sans-serif;
                                    padding: 5px;
                                    margin: 5px 0;
                                    background: #ccc;
                                    font-size: 15px;
                                    line-height: 20px;
                                    text-align: center;
                                }

                            </style>


                        </div>

                        <!--uses a slider from 0 to 100 set to start at 50 with steps of 1 with "Not at all Anxious 0",
                        "Moderately Anxious 50", and "Totally Anxious 100"-->

                        <div class="section">
                            <div class="row">
                                <div class="col-md-10">
                                    <p class="question"> How likely is it that this situation will turn out well vs.
                                        turn out
                                        badly? </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="radio">
                                        <label> <input class="option" type="radio" name="TurnOut" value="1"
                                                       required="true"/>
                                            Very likely to
                                            turn out well </label>
                                    </div>
                                    <div class="radio">
                                        <label> <input class="option" type="radio" name="TurnOut" value="2"/> Somewhat
                                            likely to
                                            turn out
                                            well </label>
                                    </div>
                                    <div class="radio">
                                        <label> <input class="option" type="radio" name="TurnOut" value="3"/> Neutral
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label> <input class="option" type="radio" name="TurnOut" value="4"/> Somewhat
                                            likely to
                                            turn out
                                            badly </label>
                                    </div>
                                    <div class="radio">
                                        <label> <input class="option" type="radio" name="TurnOut" value="5"/> Very
                                            likely to
                                            turn out badly
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <br/>
                                    <div class="radio">
                                        <label class="question"><input type="checkbox" name="TurnOut" value="555"
                                                                       onchange="disableSection(this)"/> Prefer not
                                            to
                                            answer
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="section">
                            <div class="row">
                                <div class="col-md-10">
                                    <p class="question"> If this situation did turn out badly, how manageable vs.
                                        unmanageable
                                        would the consequences be? </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="radio">
                                        <label> <input class="option" type="radio" name="Manageable" value="1"
                                                       required="true"/>
                                            Very
                                            manageable </label>
                                    </div>
                                    <div class="radio">
                                        <label> <input class="option" type="radio" name="Manageable" value="2"/>
                                            Somewhat
                                            manageable </label>
                                    </div>
                                    <div class="radio">
                                        <label> <input class="option" type="radio" name="Manageable" value="3"/> Neutral
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label> <input class="option" type="radio" name="Manageable" value="4"/>
                                            Somewhat
                                            unmanageable
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label> <input class="option" type="radio" name="Manageable" value="5"/> Very
                                            unmanageable </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <br/>
                                    <div class="radio">
                                        <label class="question"><input type="checkbox" name="Manageable" value="555"
                                                                       onchange="disableSection(this)"/> Prefer not
                                            to
                                            answer
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="text-align:center">
                            <button type="submit"> Continue</button>
                        </div><!---->

                    </div>

                </form>

            </div>
        </div>
    </div>
</section>
<footer th:replace="fragment/common :: footer"/>
<div th:include="fragment/common :: scripts"/>

</body>
</html>


<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts"/>

<script type="text/javascript">


    function disableSection(input) {
        if (input.checked) {
            $(input).closest('.section').find("input").attr("disabled", true);
            $(input).removeAttr("disabled");
        } else {
            $(input).closest('.section').find("input").removeAttr("disabled");
        }
    }

</script>
