<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org"><!--<![endif]-->

<head th:replace="fragment/common :: headerFragment"/>
<body>
<section th:replace="fragment/common :: topFragment"/>
<section th:replace="fragment/common :: titleBar (title='Help Seeking')"/>

<section id="content" class="clearfix">

    <form th:action="@{/questions/HelpSeeking}" method="POST">

        <div class="section">

            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <p> Over the course of this program, did you start/stop/change a dose of
                            medication, therapy, or other intervention to help your anxiety difficulties?(Check all that
                            apply)
                            If you are on the same dose of medication or same appointment schedule for therapy or
                            intervention as you were when you began this program, please choose “No change.” </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">

                        <div class="radio">
                            <label> <input type="checkbox" id="MorePerson" name="MorePerson" required="true"/> I seek
                                in-person therapy more now </label>
                        </div>
                        <div class="radio">
                            <label> <input type="checkbox" id="LessPerson" name="LessPerson" required="true"/> I seek
                                in-person therapy less now </label>
                        </div>
                        <div class="radio">
                            <label> <input type="checkbox" id="MoreMeds" name="MoreMeds" required="true"/> I use
                                prescription medication more now </label>
                        </div>
                        <div class="radio">
                            <label> <input type="checkbox" id="LessMeds" name="LessMeds" required="true"/> I use
                                prescription medication less now </label>
                        </div>
                        <div class="radio">
                            <label> <input type="checkbox" id="MoreApps" name="MoreApps" required="true"/> I use online
                                computer programs (other than MindTrails) or mobile apps more now </label>
                        </div>
                        <div class="radio">
                            <label> <input type="checkbox" id="LessApps" name="LessApps" required="true"/> I use online
                                computer programs (other than MindTrails) or mobile apps less now </label>
                        </div>
                        <br/>
                        <div class="radio">
                            <label> <input type="checkbox" id="OtherChange" name="OtherChange" required="true"/> Other
                                (please specify) <input type="text" id="other" name="other"/> </label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="radio">
                            <label> <input type="checkbox" id="NoChange" name="NoChange" required="true"/> No Change
                            </label>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <input type="submit"/>
    </form>


</section>
<footer th:replace="fragment/common :: footer"/>
<div th:include="fragment/common :: scripts"/>

</body>
</html>
