<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org"><!--<![endif]-->

<head th:replace="fragment/common :: headerFragment"/>
<body>
<section th:replace="fragment/common :: topFragment"/>
<section th:replace="fragment/common :: titleBar (title='Example Web Form')"/>

<section id="content" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="span12">


                <form th:action="@{/questions/LunchOption}" method="POST">
                    <label> What do you want for lunch?</label>
                    <label> Tacos
                        <input type="radio" name="Lunch" value = "Tacos" required="true"/>
                    </label>
                    <label> Thai 99
                        <input type="radio"  name="Lunch" value = "Thai 99"/>
                    </label>
                    <label> Peter Chang
                        <input type="radio" name="Lunch" value= "Peter Chang"/>
                    </label>
                    <label> Any Place at Corner
                        <input type="radio" name="Lunch" value = "Corner"/>
                    </label>
                    <label> Now and Zen
                        <input type="radio"  name="Lunch" value = "Japanese"/>
                    </label>
                    <br /><br />

                    <input type="submit"/>
                </form>


            </div>
        </div>
    </div>
</section>
<footer th:replace="fragment/common :: footer"/>
<div th:include="fragment/common :: scripts"/>

</body>
</html>