<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org"><!--<![endif]-->

<head th:replace="fragment/common :: headerFragment"/>
<body>
<section th:replace="fragment/common :: topFragment"/>
<section th:replace="fragment/common :: titleBar (title='Self Esteem Scale')"/>

<section id="content" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-10">


                <form th:action="@{/questions/NGSES}" method="POST">


                    <div class="section">
                        <div class="row">
                            <div class="col-md-10">
                                <p class="question"> I will be able to achieve most of the goals that I have set for
                                    myself. </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="radio">
                                    <label> <input class="option" type="radio" name="AchieveGoals" value="1"
                                                   required="true"/> Not at all True
                                    </label>
                                </div>
                                <div class="radio">
                                    <label> <input class="option" type="radio" name="AchieveGoals" value="2"/> Hardly
                                        True </label>
                                </div>
                                <div class="radio">
                                    <label> <input class="option" type="radio" name="AchieveGoals" value="3"/>
                                        Moderately true </label>
                                </div>
                                <div class="radio">
                                    <label> <input class="option" type="radio" name="AchieveGoals" value="4"/> Exactly
                                        true </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <br/>
                                <div class="radio">
                                    <label class="question"><input type="checkbox" name="AchieveGoals" value="555"
                                                                   onchange="disableSection(this)"/> Prefer not
                                        to
                                        answer
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section">
                        <div class="row">
                            <div class="col-md-10">
                                <p class="question"> When facing difficult tasks, I am certain I will accomplish
                                    them. </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="radio">
                                    <label> <input class="option" type="radio" name="DifficultTasks" value="1"
                                                   required="true"/>
                                        Not at all
                                        True </label>
                                </div>
                                <div class="radio">
                                    <label> <input class="option" type="radio" name="DifficultTasks" value="2"/> Hardly
                                        True
                                    </label>
                                </div>
                                <div class="radio">
                                    <label> <input class="option" type="radio" name="DifficultTasks" value="3"/>
                                        Moderately true
                                    </label>
                                </div>
                                <div class="radio">
                                    <label> <input class="option" type="radio" name="DifficultTasks" value="4"/> Exactly
                                        true
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <br/>
                                <div class="radio">
                                    <label class="question"><input type="checkbox" name="DifficultTasks" value="555"
                                                                   onchange="disableSection(this)"/> Prefer not
                                        to
                                        answer
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section">
                        <div class="row">
                            <div class="col-md-10">
                                <p class="question"> In general, I think I can obtain outcomes that are important to
                                    me. </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="radio">
                                    <label> <input class="option" type="radio" name="ObtainOutcomes" value="1"
                                                   required="true"/>
                                        Not at all
                                        True </label>
                                </div>
                                <div class="radio">
                                    <label> <input class="option" type="radio" name="ObtainOutcomes" value="2"/> Hardly
                                        True
                                    </label>
                                </div>
                                <div class="radio">
                                    <label> <input class="option" type="radio" name="ObtainOutcomes" value="3"/>
                                        Moderately true
                                    </label>
                                </div>
                                <div class="radio">
                                    <label> <input class="option" type="radio" name="ObtainOutcomes" value="4"/> Exactly
                                        true
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <br/>
                                <div class="radio">
                                    <label class="question"><input type="checkbox" name="ObtainOutcomes" value="555"
                                                                   onchange="disableSection(this)"/> Prefer not
                                        to
                                        answer
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section">
                        <div class="row">
                            <div class="col-md-10">
                                <p class="question"> I believe I can succeed at most any endeavor to which I set my
                                    mind. </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="radio">
                                    <label> <input class="option" type="radio" name="AnyEndeavor" value="1"
                                                   required="true"/>
                                        Not at all True
                                    </label>
                                </div>
                                <div class="radio">
                                    <label> <input class="option" type="radio" name="AnyEndeavor" value="2"/> Hardly
                                        True
                                    </label>
                                </div>
                                <div class="radio">
                                    <label> <input class="option" type="radio" name="AnyEndeavor" value="3"/> Moderately
                                        true
                                    </label>
                                </div>
                                <div class="radio">
                                    <label> <input class="option" type="radio" name="AnyEndeavor" value="4"/> Exactly
                                        true
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <br/>
                                <div class="radio">
                                    <label class="question"><input type="checkbox" name="AnyEndeavor" value="555"
                                                                   onchange="disableSection(this)"/> Prefer not
                                        to
                                        answer
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section">
                        <div class="row">
                            <div class="col-md-10">
                                <p class="question"> I will be able to successfully overcome many challenges. </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="radio">
                                    <label> <input class="option" type="radio" name="SuccessfullyOvercome" value="1"
                                                   required="true"/> Not at
                                        all True </label>
                                </div>
                                <div class="radio">
                                    <label> <input class="option" type="radio" name="SuccessfullyOvercome" value="2"/>
                                        Hardly
                                        True </label>
                                </div>
                                <div class="radio">
                                    <label> <input class="option" type="radio" name="SuccessfullyOvercome" value="3"/>
                                        Moderately true </label>
                                </div>
                                <div class="radio">
                                    <label> <input class="option" type="radio" name="SuccessfullyOvercome" value="4"/>
                                        Exactly
                                        true </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <br/>
                                <div class="radio">
                                    <label class="question"><input type="checkbox" name="SuccessfullyOvercome"
                                                                   value="555"
                                                                   onchange="disableSection(this)"/> Prefer not
                                        to
                                        answer
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section">
                        <div class="row">
                            <div class="col-md-10">
                                <p class="question"> I am confident that I can perform effectively on many different
                                    tasks. </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="radio">
                                    <label> <input class="option" type="radio" name="PerformEffectively" value="1"
                                                   required="true"/> Not at all
                                        True </label>
                                </div>
                                <div class="radio">
                                    <label> <input class="option" type="radio" name="PerformEffectively" value="2"/>
                                        Hardly True
                                    </label>
                                </div>
                                <div class="radio">
                                    <label> <input class="option" type="radio" name="PerformEffectively" value="3"/>
                                        Moderately
                                        true </label>
                                </div>
                                <div class="radio">
                                    <label> <input class="option" type="radio" name="PerformEffectively" value="4"/>
                                        Exactly
                                        true </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <br/>
                                <div class="radio">
                                    <label class="question"><input type="checkbox" name="PerformEffectively" value="555"
                                                                   onchange="disableSection(this)"/> Prefer not
                                        to
                                        answer
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section">
                        <div class="row">
                            <div class="col-md-10">
                                <p class="question"> Compared to other people, I can do most tasks very well. </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="radio">
                                    <label> <input class="option" type="radio" name="Compared" value="1"
                                                   required="true"/> Not
                                        at all True
                                    </label>
                                </div>
                                <div class="radio">
                                    <label> <input class="option" type="radio" name="Compared" value="2"/> Hardly True
                                    </label>
                                </div>
                                <div class="radio">
                                    <label> <input class="option" type="radio" name="Compared" value="3"/> Moderately
                                        true
                                    </label>
                                </div>
                                <div class="radio">
                                    <label> <input class="option" type="radio" name="Compared" value="4"/> Exactly true
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <br/>
                                <div class="radio">
                                    <label class="question"><input type="checkbox" name="Compared" value="555"
                                                                   onchange="disableSection(this)"/> Prefer not
                                        to
                                        answer
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section">
                        <div class="row">
                            <div class="col-md-10">
                                <p class="question"> Even when things are tough, I can perform quite well. </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="radio">
                                    <label> <input class="option" type="radio" name="ToughThings" value="1"
                                                   required="true"/>
                                        Not at all True
                                    </label>
                                </div>
                                <div class="radio">
                                    <label> <input class="option" type="radio" name="ToughThings" value="2"/> Hardly
                                        True
                                    </label>
                                </div>
                                <div class="radio">
                                    <label> <input class="option" type="radio" name="ToughThings" value="3"/> Moderately
                                        true
                                    </label>
                                </div>
                                <div class="radio">
                                    <label> <input class="option" type="radio" name="ToughThings" value="4"/> Exactly
                                        true
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <br/>
                                <div class="radio">
                                    <label class="question"><input type="checkbox" name="ToughThings" value="555"
                                                                   onchange="disableSection(this)"/> Prefer not
                                        to
                                        answer
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div style="text-align:center">
                        <button type="submit"> Continue</button>
                    </div>
                </form>


            </div>
        </div>
    </div>
</section>
<footer th:replace="fragment/common :: footer"/>
<div th:include="fragment/common :: scripts"/>

</body>
</html>
