<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="/fragment/common :: headerFragment"/>
<body>
<section th:replace="fragment/common :: topFragment"/>
<section th:include="fragment/common :: titleBar (title='Reasons for Ending')"/>
<textArea th:replace="fragment/common :: questionTemplate"/>

<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">
        <form id="form" th:action="@{/questions/ReasonsForEnding}" method="POST">
            <input id="timeOnPage" name="timeOnPage" type="hidden"/>
            <p>We are interested in improving our program and would like to learn about why you decided to stop the
                program. We appreciate your feedback!</p>
            <p>Note that <b>assessment sessions</b> were sessions in which you completed questionnaires about your
                feelings and thoughts. <b>Training sessions</b> were sessions in which you completed words at the end of
                sentences.</p>

            <!--features starts-->

            <div class="section">
                <div class="row">
                    <div class="col-md-12">
                        <h4>1. Why did you decide to end the program? (please check all that apply)
                        </h4>

                        <div class="radio"><label><input type="checkbox" name="reasons" value="not enough time"/> I did
                            not have enough time to complete the program.</label></div>
                        <div class="radio"><label><input type="checkbox" name="reasons" value="not helpful"/> I did not
                            find the program helpful for reducing my anxiety.</label></div>
                        <div class="radio"><label><input type="checkbox" name="reasons" value="not interesting"/> I did
                            not find the program interesting.</label></div>
                        <div class="radio"><label><input type="checkbox" name="reasons" value="not believe"/> I did not
                            believe a program like this could work. </label></div>
                        <div class="radio"><label><input type="checkbox" name="reasons" value="frustrating"/> I found
                            the
                            program frustrating to use.</label></div>
                        <div class="radio"><label><input type="checkbox" name="reasons" value="not needed"/> I no longer
                            needed the program (i.e., I no longer felt anxious).</label></div>
                        <div class="radio"><label><input type="checkbox" name="reasons" value="in control"/> I believe I
                            was assigned to a control condition (i.e., the condition that was not expected to change
                            anxiety). </label></div>
                        <div class="radio"><label><input type="checkbox" name="reasons" value="other"/> Other, please
                            specify: <input type="text" name="reasons"/></label></div>
                        <div class="radio"><label><input type="checkbox" name="reasons" value="no answer"/> Prefer
                            not to
                            answer</label></div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="row">
                    <div class="col-md-12">
                        <h4>2. Even if it was not your reason for ending the program, do you believe
                            that you were assigned to the control condition?
                        </h4>
                        <div class="radio"><label><input type="radio" id="thoughtInControl" name="thoughtInControl"
                                                         value="true" required="true"/>Yes</label></div>
                        <div class="radio"><label><input type="radio" name="thoughtInControl"
                                                         value="false"/>No</label></div>
                        <div id="thoughtInControlDetail" style="display: none">
                            <h4>At what point did you think you were in the control condition?</h4>
                            <div class="radio"><label><input type="radio" name="pointInControl" value="early"/>
                                <b>Early</b> in the training program (within the first 3 sessions)</label></div>
                                <div class="radio"><label><input type="radio" name="pointInControl" value="mid-way"/> <b>Mid-way</b>
                                through the training program (around the 4th or 5th session)</label></div>
                                    <div class="radio"><label><input type="radio" name="pointInControl" value="later"/>
                                <b>Later</b> in the training program (within the last 3 sessions)</label></div>
                                        <div class="radio"><label><input type="radio" name="pointInControl" value="noAnswer"/> Prefer
                                            not to answer</label></div>

                            <h4>What made you think you were in the control condition? Check all that
                                apply.
                            </h4>
                           <div class="radio"><label><input type="radio" name="whyInControl" value="not relieved"/> My
                               anxiety wasn’t being relieved.</label></div>
                           <div class="radio"><label><input type="radio" name="whyInControl" value="not helpful"/> I
                               didn’t think that the program that I was completing could help my anxiety.</label></div>
                           <div class="radio"><label><input type="radio" name="whyInControl" value="other"/> Other,
                                please specify: <input type="text" name="whyInControl"/></label></div>
                        </div>
                        <script>
                            $(document).ready(function () {
                                $("input[name$='thoughtInControl']").click(function () {
                                    if ($(this).val() == "true") {
                                        $('#thoughtInControlDetail').fadeIn('slow');
                                    } else {
                                        $('#thoughtInControlDetail').fadeOut('slow');
                                    }
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>


            <div class="container section compactQuestion">
                <h4>3. To the extent you completed the program...</h4>
                <div id="section1"></div>
                <script>
                    var data = {
                        "options": [
                            {"value": 0, "title": "Not at all"},
                            {"value": 1, "title": "Slightly"},
                            {"value": 2, "title": "Somewhat"},
                            {"value": 3, "title": "Mostly"},
                            {"value": 4, "title": "Very"}
                        ],
                        "questions": [
                            {
                                "name": "helpful",
                                "desc": "How helpful was it for reducing your anxiety?"
                            },
                            {
                                "name": "work",
                                "desc": "How well did the web program work for you?"
                            },
                            {
                                "name": "easy",
                                "desc": "How easy was the web program to use?"
                            },
                            {
                                "name": "interest",
                                "desc": "How much did the web program keep your interest and attention?"
                            },
                            {
                                "name": "inGeneral",
                                "desc": "How much did you like the web program in general?"
                            }
                        ]
                    }
                    $('#section1').html(Mustache.render($('#template').val(), data));
                </script>
            </div>

            <div class="container section compactQuestion">
                <h4>3. To the extent you completed the program (continued)...</h4>
                <div id="section2"></div>
                <script>
                    var data = {
                        "options": [
                            {"value": 0, "title": "Not at all"},
                            {"value": 1, "title": "Slightly"},
                            {"value": 2, "title": "Somewhat"},
                            {"value": 3, "title": "Mostly"},
                            {"value": 4, "title": "Very"}
                        ],
                        "questions": [
                            {
                                "name": "looked",
                                "desc": "how much did you like the way the web program looked?"
                            },
                            {
                                "name": "privacy",
                                "desc": "How worried were you about your privacy in using this web program?"
                            },
                            {
                                "name": "understandAssessments",
                                "desc": "How easy were the assessments to understand?"
                            },
                            {
                                "name": "understandTraining",
                                "desc": "How easy was the training program (including instructions and materials) to understand?"
                            },
                            {
                                "name": "trust",
                                "desc": "How much did you feel you could trust the information?"
                            }

                        ]
                    }
                    $('#section2').html(Mustache.render($('#template').val(), data));
                </script>
            </div>


            <div class="section">
                <div class="question group-required">4. Of the sessions you did complete, where did you
                    primarily complete the program? (please check all that apply)
                </div>
               <div class="radio"><label><input type="checkbox" name="location" value="home"/>At home</label></div>
               <div class="radio"><label><input type="checkbox" name="location" value="work"/>At work</label></div>
               <div class="radio"><label><input type="checkbox" name="location" value="library"/>At the library,
                    coffee shop, restaurant or other public spaces</label></div>
               <div class="radio"><label><input type="checkbox" name="location" value="commuting"/>While
                    commuting/travelling (e.g., on the train to work)</label></div>
               <div class="radio"><label><input type="checkbox" name="location" value="vacation"/>On
                    vacation</label></div>
               <div class="radio"><label><input type="checkbox" name="location" value="other"/>Other: <input
                        type="text" name="location"/></label></div>
               <div class="radio"><label><input type="checkbox" name="location" value="noAnswer"/>Prefer not to
                    answer</label></div>
            </div>


            <div class="section">

                <h4> 5. While you were completing the treatment sessions, how focused or
                    distracted were you?
                </h4>

                <input id="focusSlider" type="text" name="focused" required="true"/>
                <div class="after_slider"><label class="standard">
                    <input id="focusSlider-enabled" type="checkbox" name="focused" value="555"/>
                    Prefer not to answer
                </label></div>
                <script>
                    $("#focusSlider").slider({
                        ticks: [1, 7],
                        ticks_labels: ['Distracted', 'Focused'],
                        ticks_snap_bounds: 0,
                        tooltip: "hide",
                        value: 4,
                        formatter: function (value) {
                            $('#focusSlider-enabled')[0].required = false;
                        }
                    });

                    $("#focusSlider-enabled").click(function () {
                        if (this.checked) {
                            $("#focusSlider").slider("disable");
                            $('#focusSlider-enabled')[0].required = false;
                        }
                        else {
                            $("#focusSlider").slider("enable");
                        }
                    });
                    $('#focusSlider-enabled')[0].required = true;

                </script>

            </div>


            <div class="container section compactQuestion">
                <h4>6. Some people have problems when trying to use a web program.
                    Please read the next items and tell us how much of a problem you had when trying to use
                    the web program.
                </h4>
                <div id="section3"></div>
                <script>
                    var data = {
                        "options": [
                            {"value": 0, "title": "Not a problem"},
                            {"value": 1, "title": "Little problem"},
                            {"value": 2, "title": "Major problem"},
                            {"value": 3, "title": "Not Applicable"},
                        ],
                        "questions": [
                            {
                                "name": "internet",
                                "desc": "My Internet connection did not work (i.e., I could not connect to the Internet)."
                            },
                            {
                                "name": "connected",
                                "desc": "My internet connection worked, but I could not get connected to the web program."
                            },
                            {
                                "name": "forgot",
                                "desc": "I just forgot to go to the web program."
                            },
                            {
                                "name": "personalIssues",
                                "desc": "DPersonal issues stopped me from using the web program."
                            },
                            {
                                "name": "navigationHard",
                                "desc": "The web program was too hard to navigate."
                            }
                        ]
                    }
                    $('#section3').html(Mustache.render($('#template').val(), data));
                </script>
            </div>

            <div class="container section compactQuestion">
                <h4>6. Tell us how much of a problem you had when trying to use
                    the web program. (Continued)
                </h4>
                <div id="section4"></div>
                <script>
                    var data = {
                        "options": [
                            {"value": 0, "title": "Not a problem"},
                            {"value": 1, "title": "Little problem"},
                            {"value": 2, "title": "Major problem"},
                            {"value": 3, "title": "Not Applicable"},
                        ],
                        "questions": [
                            {
                                "name": "hardToUnderstand",
                                "desc": "The web program was too hard to understand."
                            },
                            {
                                "name": "notUseful",
                                "desc": "The web program did not seem very useful."
                            },
                            {
                                "name": "takeTooLong",
                                "desc": "I thought the program was going to take too long."
                            },
                            {
                                "name": "tooManyWords",
                                "desc": "The web program had too many words."
                            },
                            {
                                "name": "hardToRead",
                                "desc": "The screen was hard to read (e.g., words were too small)."
                            },
                        ]
                    }
                    $('#section4').html(Mustache.render($('#template').val(), data));
                </script>
            </div>


            <div class="section">
                <div class="question group-required">7. Over the course of this program, did you
                    start/stop/change a dose of medication, therapy, or other intervention to help your anxiety
                    difficulties? (Check all that apply)
                </div>
               <div class="radio"><label><input type="checkbox" name="changeMed" value="therapyMore"/>I seek
                    in-person therapy more now</label></div>
               <div class="radio"><label><input type="checkbox" name="changeMed" value="therapyLess"/>I seek
                    in-person therapy less now</label></div>
               <div class="radio"><label><input type="checkbox" name="changeMed" value="medsMore"/>I use
                    prescription medication more now</label></div>
               <div class="radio"><label><input type="checkbox" name="changeMed" value="medsLess"/>I use
                    prescription medication less now</label></div>
               <div class="radio"><label><input type="checkbox" name="changeMed" value="onlineMore"/>I use
                    online computer programs (other than MindTrails) or mobile apps more now</label></div>
               <div class="radio"><label><input type="checkbox" name="changeMed" value="onlineLess"/>I use
                    online computer programs (other than MindTrails) or mobile apps less now</label></div>
               <div class="radio"><label><input type="checkbox" name="changeMed" value="noChange"/>I did not
                    change my intervention habits</label></div>
               <div class="radio"><label><input type="checkbox" name="other" value="other"/>Other: <input
                        type="text" name=""/></label></div>
               <div class="radio"><label><input type="checkbox" name="changeMed" value="noAnswer"/>Prefer not to
                    answer</label></div>
            </div>

            <div class="submit">
                <button type="submit">Next</button>
            </div>
        </form>
    </div>
</section>


<!--features ends-->

<!--divider here-->
<div class="spacer-40px"></div>


<script>
    $('#form').validate({
        rules: {
            reasons: {
                required: true
            },
            location: {
                required: true
            }
        }
    });
    $.validator.setDefaults({
        messages: {
            required: ""
        }
    });
</script>


<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer"/>

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright"/>

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts"/>

</body>
</html>
