<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org"><!--<![endif]-->

<head th:replace="fragment/common :: headerFragment"/>
<body>
<section th:replace="fragment/common :: topFragment"/>
<section th:replace="fragment/common :: titleBar (title='Relatability Follow Up')"/>

<section id="content" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-10">


                <form th:action="@{/questions/Relatability}" method="POST">

                    <div class="section">
                        <div class="row">
                            <div class="col-md-10">
                                <p class="question"> While reading the brief stories in the training program,
                                    to what extent did you feel that you could relate to the situations that were
                                    presented? </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="radio">
                                    <label class="standard"> <input type="radio" name="Relate" value="1"/> Not at all
                                    </label>
                                </div>
                                <div class="radio">
                                    <label> <input type="radio" name="Relate" value="2"/> Slightly </label>
                                </div>
                                <div class="radio">
                                    <label> <input type="radio" name="Relate" value="3"/> Somewhat </label>
                                </div>
                                <div class="radio">
                                    <label> <input type="radio" name="Relate" value="4"/> Mostly </label>
                                </div>
                                <div class="radio">
                                    <label> <input type="radio" name="Relate" value="5"/> Very much </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div><label class="standard"> <input type="checkbox" name="Relate" value="555"
                                                                     onchange="disableSection(this)"/> Prefer not
                                    to
                                    answer
                                </label></div>
                            </div>
                        </div>
                    </div>

                    <div class="section">
                    <div class="row">
                        <div class="col-md-10">
                                <p class="question"> While reading the brief stories in the training program,
                                    to what extent did you feel like it could be you behaving that way in those
                                    stories? </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="radio">
                                    <label> <input type="radio" name="Behaving" value="1"/> Not at all </label>
                                </div>
                                <div class="radio">
                                    <label> <input type="radio" name="Behaving" value="2"/> Slightly </label>
                                </div>
                                <div class="radio">
                                    <label> <input type="radio" name="Behaving" value="3"/> Somewhat </label>
                                </div>
                                <div class="radio">
                                    <label> <input type="radio" name="Behaving" value="4"/> Mostly </label>
                                </div>
                                <div class="radio">
                                    <label> <input type="radio" name="Behaving" value="5"/> Very much </label>
                                </div>
                                </div>
                            <div class="col-md-4">
                                <br/>
                                <div><label class="standard"> <input type="checkbox" name="Behaving" value="555"
                                                                     onchange="disableSection(this)"/> Prefer not
                                    to
                                    answer
                                </label></div>
                            </div>
                        </div>
                    </div>

                    <div style="text-align:center">
                        <button type="submit"> Continue</button>
                    </div>


                </form>


            </div>
        </div>
    </div>
</section>
<footer th:replace="fragment/common :: footer"/>
<div th:include="fragment/common :: scripts"/>

</body>
</html>


<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts"/>

<script type="text/javascript">


    function disableSection(input) {
        if (input.checked) {
            $(input).closest('.section').find("input").attr("disabled", true);
            $(input).removeAttr("disabled");
        } else {
            $(input).closest('.section').find("input").removeAttr("disabled");
        }
    }

</script>