<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org"><!--<![endif]-->

<head th:replace="fragment/common :: headerFragment"/>
<body>
<section th:replace="fragment/common :: topFragment"/>
<section th:include="fragment/common :: titleBar (title='Mood')"/>


<section id="content" class="clearfix">
    <form th:action="@{/questions/Phq4}" method="POST">
        <!-- Add timer -->
        <input id="timeOnPage" name="timeOnPage" type="hidden"/>
        <div class="container section compactQuestion">
            <div class="row «title">
                <div class="col-md-12">
                    <h4>When do you plan to complete your next training session?</h4>
                </div>
            </div>

            <div class="row header">
                <div class="col-md-4"></div>
                <div class="col-md-2"><p class="tableOptions">Tomorrow</p></div>
                <div class="col-md-2"><p class="tableOptions">In 2 to 4 days (recommended)</p></div>
                <div class="col-md-2"><p class="tableOptions">In 5 to 7 days</p></div>
                <div class="col-md-2"><p class="tableOptions">After more than 7 days</p></div>
                <div class="col-md-2"><p class="tableOptions">Not planning to come back</p> </div>
            </div>


            <div class="row">
                <div class="col-md-4 statement">
                    <p> </p>
                </div>
                <div class="col-md-2">
                    <label class="radio-inline option"> <input type="radio"
                                                               name="returnIntention" value="1"
                                                               required="true"/>
                        <span class="shortDesc">1</span> <span class="fullDesc">Tomorrow</span></label>
                </div>
                <div class="col-md-2">
                    <label class="radio-inline option"> <input type="radio"
                                                               name="returnIntention" value="2" onclick="hide_text(reason)"/>
                        <span class="shortDesc">2</span> <span
                                class="fullDesc">In 2 to 4 days (recommended)</span>
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="radio-inline option"> <input type="radio"
                                                               name="returnIntention" value="3" onclick="hide_text(reason)"/>
                        <span class="shortDesc">3</span> <span
                                class="fullDesc">In 5 to 7 days</span>

                    </label>
                </div>
                <div class="col-md-2">
                    <label class="radio-inline option"> <input type="radio"
                                                               name="returnIntention" value="4" onclick="hide_text(reason)"/>
                        <span class="shortDesc">4</span> <span class="fullDesc">After more than 7 days</span>
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="radio-inline option"> <input type="radio"
                                                               name="returnIntention" value="5" onclick="show_text(reason)"/>
                        <span class="shortDesc">5</span> <span class="fullDesc">Not planning to come back</span>
                    </label>
                </div>
            </div>

            <div id="reason" style="display: none">
                <p>Please Specify:
                    <label>
                        <input id="notReturnReason" name="notReturnReason" type="text" placeholder="" size="50" />
                    </label>
                </p>
            </div>


            <div class="col-md-12" style="text-align:center">
                <button type="submit"> Next</button>
            </div>

        </div>
    </form>
</section>

<footer th:replace="fragment/common :: footer"/>
<div th:include="fragment/common :: scripts"/>

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts"/>

<script type="text/javascript">


    function show_text(input) {
            input.style.display = 'block'
            input.value=''
    }

    function hide_text(input) {
            input.style.display = 'none'
            input.value='N/A'
    }

</script>
</body>
</html>


