<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org"><!--<![endif]-->

<head th:replace="fragment/common :: headerFragment"/>
<body>
<section th:replace="fragment/common :: topFragment"/>
<section th:replace="fragment/common :: titleBar (title='What I Believe')"/>
<textArea th:replace="fragment/common :: questionTemplate"/>

<section id="content" class="clearfix">
    <div class="container">

                <form th:action="@{/questions/WhatIBelieve}" method="POST">

                    <div class="container section compactQuestion">
                        <div id="section1"></div>
                        <script>
                            var data = {
                                "options":  [
                                    { "value":0, "title":"Strongly disagree"},
                                    { "value":1, "title":"Disagree"},
                                    { "value":2, "title":"Neutral"},
                                    { "value":3, "title":"Agree"},
                                    { "value":4, "title":"Strongly agree"}
                                ],
                                "questions": [
                                    { "name":"difficultTasks",      "desc": "When facing difficult tasks, I am certain I will accomplish them."},
                                    { "name":"performEffectively",  "desc": "I am confident that I can perform effectively on many different tasks."},
                                    { "name":"compared",            "desc": "Compared to other people, I can do most tasks very well."},
                                    { "name":"learn",               "desc": "You can learn new things, but you can't really change how you think."}
                                ]
                            }
                            $('#section1').html(Mustache.render( $('#template').val(), data ));
                        </script>
                    </div>

                    <div class="container section compactQuestion">
                        <div id="section2"></div>
                        <script>
                            var data = {
                                "options":  [
                                    { "value":0, "title":"Strongly disagree"},
                                    { "value":1, "title":"Disagree"},
                                    { "value":2, "title":"Neutral"},
                                    { "value":3, "title":"Agree"},
                                    { "value":4, "title":"Strongly agree"}
                                ],
                                "questions": [
                                    { "name":"particularThinking",  "desc": "No matter how much you have been thinking a particular way, you can always change it quite a bit."},
                                    { "name":"alwaysChangeThinking","desc": "You can always substantially change how you think."},
                                    { "name":"wrongWill",           "desc": "If something can go wrong with me, it will."},
                                    { "name":"hardlyEver",          "desc": "I hardly ever expect things to go my way. "}
                                ]
                            }
                            $('#section2').html(Mustache.render( $('#template').val(), data ));
                        </script>
                    </div>


                    <div style="text-align:center">
                        <button type="submit"> Continue</button>
                    </div>
                </form>


            </div>
</section>
<footer th:replace="fragment/common :: footer"/>
<div th:include="fragment/common :: scripts"/>

</body>
</html>


<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts"/>

<script type="text/javascript">


    function disableSection(input) {
        if (input.checked) {
            $(input).closest('.section').find("input").attr("disabled", true);
            $(input).removeAttr("disabled");
        } else {
            $(input).closest('.section').find("input").removeAttr("disabled");
        }
    }

</script>