<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment"/>

<body>
<section id="header" class="clearfix" th:include="fragment/common :: topFragment"/>

<!-- header-btm starts
================================================== -->
<section id="header-btm" class="clearfix">
    <div class="container">
        <div class="row">
            <h2 class="page-title heading-icon clearfix"><img th:src="@{/images/map-arrow-orange.png}" alt="icon"
                                                              class="icon-small-bg"/><br/>Welcome to MindTrails!</h2>
        </div>
    </div>
</section>
<!-- header-btm ends
================================================== -->

<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>Past studies have shown that changing the way we think can affect our mood, improve our relationships,
                    and make it easier to achieve our goals.  For instance, many studies have shown that practice
                    thinking about things in new ways can reduce anxiety symptoms. In the studies below,
                    you can complete a computer program that will describe different situations and encourage you to
                    think about them in particular ways.</p>
                <p>We have people trying different versions of the computer program for these studies to see which
                    version works best – we think some of these computer programs can improve mental health by changing
                    the way people interpret situations.
                </p>
                <p>We are currently running two different studies: one to reduce anxiety for people who frequently
                    become anxious or scared, and one to encourage healthier thinking about the future for people
                    who tend to expect things will not turn out well. Select the study that seems the most beneficial
                    to you.

                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p th:unless="${disabled}">
                    <a th:href="@{public/intro}">
                        <button>Managing Anxiety</button>
                    </a>
                </p>
            </div>
            <div class="col-md-6">
                <p th:unless="${disabled}">
                    <a href="http://www.mindtrails.org/templeton">
                        <button>Future Thinking</button>
                    </a>
                </p>
            </div>
        </div>

    </div>
</section>


<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer"/>

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright"/>

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts"/>

</body>
</html>
