<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment" />
<body>
<section id="header" class="clearfix" th:include="fragment/common :: topFragment" />

<!-- header-btm starts
================================================== -->
<section id="header-btm" class="clearfix">
    <div class="container">
        <div class="row">
            <h2 class="page-title heading-icon clearfix"><img th:src="@{/images/map-arrow-orange.png}"/><br/>Privacy Policy</h2>
        </div>
    </div>
</section>

<!-- header-btm ends
================================================== -->

<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="span12">

                <br />
                <br />

                <p>This study site has implemented stringent protections to safeguard participants’ confidentiality. All
                    communication between project servers and participants’ computers is routed through Secure Sockets Layer
                    (SSL) encryption technology, the gold standard for protecting data transfer from unauthorized access.
                    This is the same secure hypertext transfer protocol (HTTPS), that banks and other commercial websites
                    use to transfer credit card information in an encrypted format.</p>

                <p>Participant’s email address will not be shared with third parties.</p>

                <p>Any information participants provide on this site will be stored on a secured database.
                    Information collected will be associated with a unique ID and not with the participant’s email address.
                    When data is used for analysis, no personally identifying information will be associated with the data.</p>

                <p>Please remember that we cannot guarantee the confidentiality of information sent by e-mail.</p>


                <h3>Technical Details <b>(you can ignore this part if not interested)</b></h3>

                <b>Web Hosting:</b>
                <p>We will be using servers hosted by the University of Virginia to run a medium size Linux virtual machine running Tomcat for hosting our Java based web application.</p>

                <b>Data Storage:</b>
                <p>We will be using a MySQL database hosted on the same server that is running the web service.</p>
                <p>On a regular schedule ( every 5 minutes ) all non-essential data participants provide - specifically
                    including any medical history information, will be pulled onto a separate server where it can’t be
                    directly associated with any identifying information about the participant.  Please see the full Data
                    Security document for additional information: </p>
                <p>Please see our <a href="https://docs.google.com/document/d/1745KL7NT2CNHgmqj9szYV_UzA1oCjGBUdlNR3yNkzZc/edit#heading=h.1y6ayjvfks5f">Data Security document</a> for detailed information.</p>

                <b>Form Security:</b>
                <p>Once data files are downloaded, they will be stored securely on an investigator’s computer. Results will be reported in aggregate.</p>

                <p>At the software level, our security model is built on the popular Spring Security Framework. We currently
                    use a form based authentication (a web login form) that provides the following basic projections and features:</p>
                <ul>
                    <li>Every URL in the site requires authentication.</li>
                    <li>CSRF attach prevention <a href="http://en.wikipedia.org/wiki/Cross-site_request_forgery">(http://en.wikipedia.org/wiki/Cross-site_request_forgery)</a>)</li>
                    <li>Session Fixation Protection <a href="http://en.wikipedia.org/wiki/Session_fixation">(http://en.wikipedia.org/wiki/Session_fixation)</a></li>
                    <li>Security header integration
                        <ul>
                            <li>HTTP Strict Transport Security for secure requests</li>
                            <li>X-Content-Type-Options integration</li>
                            <li>Cache Control</li>
                            <li>X-XSS-Protection integration</li>
                            <li>X-Frame-Options integration to help prevent Clickjacking</li>
                        </ul>
                    </li>
                </ul>


            </div>
        </div>

    </div>
</section>


<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer" />

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright" />

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts" />

</body>
</html>
