<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en">
<!--<![endif]-->
<head id="headerFragment" th:fragment="headerFragment">
    <meta charset="utf-8"/>
    <meta name="description" content="Mind Trails - a Project Implicit Mental Health Study" />
    <meta name="keywords" content="virginia psychology implicit mind trails"/>
    <meta name="author" content="virginia.edu" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>Mind Trails</title>

    <!--Google Font-->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,700italic,600' rel='stylesheet' type='text/css'/>

    <!--style sheet-->
    <link rel="stylesheet" media="screen" th:href="@{/bower/bootstrap/dist/css/bootstrap.min.css}" />
    <link rel="stylesheet" media="screen" th:href="@{/css/jquery-ui.min.css}" />
    <link rel="stylesheet" media="screen" th:href="@{/css/jquery-ui.theme.css}" />
    <link rel="stylesheet" media="screen" th:href="@{/css/styles.css}" />

    <script type="text/javascript" th:src="@{/bower/jquery/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/bower/jqueryui/jquery-ui.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.jWizard.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.validate.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.select-to-autocomplete.min.js}"></script>
</head>
<body >
<section id="header" class="clearfix" th:fragment="topFragment" >
    <div class="container">
        <!--logo starts-->
        <div class="span4 logo"><a th:href="@{/}"></a></div>
        <!--logo ends-->

        <div class="span8 clearfix">

            <!--menu starts-->
                <ul id="nav">
                    <li th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">
                        <a href="/session">HOME</a></li>
                    <li><a href="/public/about">ABOUT</a></li>
                    <li><a href="/public/faq">FAQ</a></li>
                    <li><a href="https://implicit.harvard.edu/implicit/user/pimh/linkinfo.html">RESOURCES</a></li>

                </ul>
            <!--menu ends-->

        </div>
    </div>
    <div class="account-bar" th:unless="${hideAccountBar}">
        <div class="container" th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">
            <span th:if="${participant}" class="item">Logged in as ( <span th:text="${participant.fullName}"/> )</span> |<a href="/session/overview">My Progress</a> | <a
                href="/account">Account Settings</a> | <a href="/logout">Logout</a>
        </div>
        <div class="container login" th:unless="${#authorization.expression('hasRole(''ROLE_USER'')')}">
            Already Participating? <a href="/">
            <a th:href="@{/login}"><button>Log In</button></a>
        </a>
        </div>
    </div>
    <div class="clear-both"></div>

</section>
<!-- header ends
================================================== -->

<!-- header-btm starts
================================================== -->
<section id="header-btm" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h2 class="page-title heading-icon clearfix"> <img th:src="@{/images/map-arrow-orange.png}" width="40" height="40" alt="icon" class="icon-small-bg"/><br/>Welcome!</h2>
            </div>
        </div>
    </div>
</section>
<!-- header-btm ends
================================================== -->

<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">


        <!--spacer here-->
        <div class="spacer-30px"></div>

        <!--features starts-->
        <div class="row">
            <div class="span12">
                <h1>This is a Template:</h1>
                <ul class="list-3col">
                    <li>
                        <h4>Welcome</h4>
                        <p>Please see home.html for an example of how to grab poritions of this template to use within a page.</p></li>
                </ul>
            </div>
        </div>
        <!--features ends-->

        <!--divider here-->
        <div class="spacer-40px"></div>


        <!--spacer here-->
        <div class="spacer-30px"></div>

        <!--box starts-->
        <div class="row">
            <div class="span12">
                <div class="dark-box">
                    <h1>And that's it <span class="color">folks</span>! </h1>
                    <p>but I hope to have more to show soon.</p>
                </div>
            </div>
        </div>
        <!--box ends-->

    </div>
</section>

<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:fragment="footerFragment">
    <div class="container">

        <!--row starts-->
        <div class="row">


            <!--column one starts-->
            <div class="footer-logo">
                <img th:src="@{/images/pimh.png}" alt="Project Implicit Mental Health" />
            </div>

            <!--column three starts-->
            <ul class="footer-links">
                <li><a th:href="@{/public/disclaimer}">Disclaimer</a></li>
                <li><a th:href="@{/public/privacy}">Privacy Policy</a></li>
                <li><a href="https://implicit.harvard.edu/implicit/user/pimh/index.jsp">Project Implicit Mental
                    Health</a></li>
            </ul>

            <div class="clear-both"></div>
        </div>

    </div>

    <!--column two starts-->
    <div class="adminTools" sec:authorize="hasRole('ROLE_ADMIN')">
        <h5>Administration Tools</h5>

        <p>This section is only visible to you because you have been granted administrative access.</p>
        <ul class="list-info">
            <li><a href="/admin">User Administration</a>: provides a way to view all accounts created on the system.
            </li>
            <li><a href="/admin/listEmails">Email Messages</a>: allows you to send yourself a copy of all email messages
                coming from the system.
            </li>
            <li><a href="/admin/listSessions">Sessions</a>: allows you to view all available sessions, and jump into any
                content within a session.
            </li>
            <li><a href="/admin/listDownloads">Downloads</a>: allows you to download data for questionnaires and
                training sessions.
            </li>
            <li><a href="/admin/checkFunds">Gift Cards Account</a>: allows you to check information about the gift card
                account for your study.
            </li>
        </ul>
    </div>
    <div class="copyright">&copy; Copyright 2015 &bull; All rights reserved</div>
</footer>

<!--column two ends-->

            <!--column three starts-->
            <!--  SHOULD BE MOVED TO CONTACT US PAGE
            <div class="span4">
                <h5>Get in touch</h5>
                <ul class="list-info">
                    <li>
                        For lectures and training:<br/>
                        <a href="mailto:training-services@projectimplicit.net">training-services@projectimplicit.net</a>
                    </li>

                    <li>
                        For research development:<br/>
                        <a href="mailto:research-services@projectimplicit.net">research-services@projectimplicit.net</a>
                    </li>

                    <li>
                        For applied consulting:<br/>
                        <a href="mailto:application-services@projectimplicit.net">application-services@projectimplicit.net</a>
                    </li>

                    <li>
                        For all other inquiries:<br/>
                        <a href="mailto:emily@projectimplicit.net">Emily Umansky, emily@projectimplicit.net</a>
                    </li>
                </ul>
            </div>
-->            <!--column three ends-->

        <!--row ends-->



<!-- footer ends
================================================== -->


<!--other jqueries required-->
<div id="scripts"  th:fragment="scripts">
    <script th:src="@{/bower/bootstrap/dist/js/bootstrap.min.js}" type="text/javascript" ></script>
</div>

</body>
</html>
