<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en">
<!--<![endif]-->
<head id="headerFragment" th:fragment="headerFragment">
    <meta charset="utf-8"/>
    <meta name="description" content="Project Implicit Mental Health" />
    <meta name="keywords" content="virginia psychology implicit"/>
    <meta name="author" content="virginia.edu" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>Project Implicit - Mental Health</title>
    <!--Fav and touch icons-->
    <link rel="shortcut icon" href="../../webapp/img/icons/favicon.ico"/>
    <link rel="apple-touch-icon" href="../../webapp/img/icons/apple-touch-icon.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-114x114.png"/>

    <!--google web font-->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'/>

    <!--style sheet-->
    <link rel="stylesheet" media="screen" th:href="@{/grepfrut/css/bootstrap.css}" />
    <link rel="stylesheet" media="screen" th:href="@{/grepfrut/css/bootstrap-responsive.css}" />
    <link rel="stylesheet" media="screen" th:href="@{/grepfrut/css/style.css}" />
    <link rel="stylesheet" media="screen" th:href="@{/grepfrut/css/jquery-ui-1.10.4.min.css}" />

    <script type="text/javascript" th:src="@{/grepfrut/js/jquery-1.9.1.min.js}" src="grepfrut_js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" th:src="@{/grepfrut/js/modernizr.js}" src="grepfrut_js/modernizr.js" ></script>
    <script type="text/javascript" th:src="@{/grepfrut/js/jquery-ui-1.10.4.min.js}"></script>
    <script type="text/javascript" th:src="@{/grepfrut/js/jquery.jWizard.min.js}"></script>
    <script type="text/javascript" th:src="@{/grepfrut/js/jquery.select-to-autocomplete.min.js}"></script>

</head>
<body>
<section id="topFragment" class="clearfix" th:fragment="topFragment">
    <div class="container">
        <div class="row">

            <!--logo starts-->
            <div class="span4 logo"><a href="#"><img th:src="@{/img/pimh_logo_dark.png}" alt="logo"/></a></div>
            <!--logo ends-->

            <div class="span8 clearfix">

                <!--social starts-->
                <!-- We could add some social links back in this way at some point.
                <ul class="social clearfix">
                    <li><a href="#"><img th:src="@{/grepfrut/img/icons/social-icon-linkedin.png}" width="28" height="28" alt="icon"/></a></li>
                    <li><a href="#"><img th:src="@{/grepfrut/img/icons/social-icon-facebook.png}" width="28" height="28" alt="icon"/></a></li>
                    <li><a href="#"><img th:src="@{/grepfrut/img/icons/social-icon-twitter.png}" width="28" height="28" alt="icon"/></a></li>
                </ul>
                -->
                <!--social ends-->

                <!--menu starts-->
                <div id="smoothmenu" class="ddsmoothmenu">
                    <ul id="nav">
                        <li th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">
                            <a href="/session">Session Home</a></li>
                        <li><a href="/public/about">ABOUT</a> </li>
                        <li><a href="/public/faq">FAQ</a> </li>
                        <li th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">
                            <a href="/account">SETTINGS</a> </li>
                        <li th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">
                            <a href="/logout">Log out</a> </li>
                        <li th:unless="${#authorization.expression('hasRole(''ROLE_USER'')')}">
                            <a href="/">Log in</a> </li>
                    </ul>
                </div>
                <!--menu ends-->

            </div>
        </div>
    </div>
</section>
<!-- header ends
================================================== -->

<!-- header-btm starts
================================================== -->
<section id="header-btm" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h4 class="heading-icon clearfix"> <img th:src="@{/grepfrut/img/icons/heading-icon-user.png}" width="40" height="40" alt="icon" class="icon-small-bg"/>Alpha Development Release -- Sprint 2</h4>
            </div>
        </div>
    </div>
</section>
<!-- header-btm ends
================================================== -->

<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">


        <!--spacer here-->
        <div class="spacer-30px"></div>

        <!--features starts-->
        <div class="row">
            <div class="span12">
                <h1>This is a Template:</h1>
                <ul class="list-3col">
                    <li>
                        <h4>Welcome</h4>
                        <p>Please see home.html for an example of how to grab poritions of this template to use within a page.</p></li>
                </ul>
            </div>
        </div>
        <!--features ends-->

        <!--divider here-->
        <div class="spacer-40px"></div>


        <!--spacer here-->
        <div class="spacer-30px"></div>

        <!--box starts-->
        <div class="row">
            <div class="span12">
                <div class="dark-box">
                    <h1>And that's it <span class="color">folks</span>! </h1>
                    <p>but I hope to have more to show soon.</p>
                </div>
            </div>
        </div>
        <!--box ends-->

    </div>
</section>

<!-- footer starts
================================================== -->
<footer id="footerFragment" class="clearfix" th:fragment="footerFragment">
    <div class="container">

        <!--row starts-->
        <div class="row">



            <!--column one starts-->
            <div class="span4">
                <img th:src="@{/img/logo-footer.png}" width="121" height="36" alt="logo"/>
                <div class="spacer-30px"></div>
                <ul class="list-info">
                    <li>Copyright 2014</li>
                    <li>All rights reserved</li>
                    <li><a href="https://www.projectimplicit.net/disclaimer.html">Disclaimer</a></li>
                    <li><a th:href="@{/public/privacy}">Privacy Policy</a></li>
                </ul>
            </div>

            <!--column two starts-->
            <div class="span4" sec:authorize="hasRole('ROLE_ADMIN')">
                <h5>Administration Tools</h5>
                <p>This section is only visible to you because you have been granted administrative access.</p>
                    <ul class="list-info">
                        <li><a href="/admin">User Administration</a>: provides a way to view all accounts created on the system.</li>
                        <li><a href="/admin/listEmails">Email Messages</a>: allows you to send yourself a copy of all email messages coming from the system.</li>
                        <li><a href="/admin/listSessions">Sessions</a>: allows you to view all available sessions, and jump into any content within a session.</li>
                        <li><a href="/admin/listDownloads">Downloads</a>: allows you to download data for questionnaires and training sessions.</li>
                    </ul>

            </div>
            <!--column two ends-->

            <!--column three starts-->
            <div class="span4">
                <h5>Get in touch</h5>
                <ul class="list-info">
                    <li>
                        For lectures and training:<br/>
                        <a href="mailto:training-services@projectimplicit.net">training-services@projectimplicit.net</a>
                    </li>

                    <li>
                        For research development:<br/>
                        <a href="mailto:research-services@projectimplicit.net">research-services@projectimplicit.net</a>
                    </li>

                    <li>
                        For applied consulting:<br/>
                        <a href="mailto:application-services@projectimplicit.net">application-services@projectimplicit.net</a>
                    </li>

                    <li>
                        For all other inquiries:<br/>
                        <a href="mailto:emily@projectimplicit.net">Emily Umansky, emily@projectimplicit.net</a>
                    </li>
                </ul>
            </div>
            <!--column three ends-->

        </div>
        <!--row ends-->

    </div>
</footer>


<!-- footer ends
================================================== -->

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:fragment="copyright">
</section>

<!-- copyright ends
================================================== -->

<!--other jqueries required-->
<div id="scripts"  th:fragment="scripts">
    <script th:src="@{/grepfrut/js/bootstrap.js}" type="text/javascript" ></script>
    <script th:src="@{/grepfrut/js/ddsmoothmenu.js}" type="text/javascript" ></script>
    <script th:src="@{/grepfrut/js/jquery.easing.1.3.js}" type="text/javascript"></script>
    <script th:src="@{/grepfrut/js/selectnav.js}" type="text/javascript"></script>
    <script th:src="@{/grepfrut/js/custom.js}" type="text/javascript"></script>
</div>

</body>
</html>
