<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="headerFragment" th:fragment="headerFragment">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>MindTrails Project</title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,700italic,600' rel='stylesheet' type='text/css'/>
</head>
<body style="font-family: 'Source Sans Pro', sans-serif; font-size:20px; box-sizing:border-box; background-color: #f6f5ea"
      alink="#FF0000" link="#FF0000" bgcolor="#000000" text="#FFFFFF" yahoo="fix">

    <table cellpadding="0" cellspacing="0" width="400" align="center" style="margin-top:20px" th:fragment="logoFragment">
        <tr>
            <td width="300"></td>
            <td width="100">
                <a href="http://projectImplicit" target="_blank" >
                <img src="/images/pimh_logo.png"  th:src="${url} + '/images/pimh_logo.png'" alt="the MindTrails Project" title="MindTrails" style="display:block"  border="0"/>
               </a>
            </td>
        </tr>
    </table>

    <div id="footer" class="clearfix" th:fragment="footerFragment">
        <p style="margin-top:30px">Best,</p>
        <img style="border: none; margin-top: 40px;" th:src="${url} + '/images/bethany_sig.png'" alt="" border="none"/>
        <p style="margin:0 0 0 0; font-weight: bold;">Bethany Teachman PhD</p>
        <p style="margin:2px 0 0 0; font-style: italic">Project Director</p>
        <p style="margin:10px 0 0 0; ">and the MindTrails team</p>

        <p style="margin-top:40px">
            <img style="float:left; padding: 10px;" th:src="${url} + '/images/gift_card_sm.png'" alt="" border="none"/>
            P.S. As a reminder, there are 8 sessions of training total,
            and each one is a little different.
            After sessions 3, 6, and 8, we will ask you to complete a brief set of surveys and tasks so we can keep track of your progress.
            You will receive a $5 gift card for completing the surveys, and an additional $10 certificate when you complete
            the post assessment.
        </p>
        <p style="margin-top:40px; font-size:.9em; text-align:left; border-top: 1px solid black; padding-top: 4px" >
            Please note that email is not a secure form of communication and should not be used to discuss any
            confidential matters, including personal health information, given its confidentiality cannot be assured.</p>


        <p style="margin-top:20px; font-size:.9em; text-align:left; padding-top: 4px" >You received this email because you
            signed up to participate in the MindTrails project. You can manage your contact
            preferences, and / or exit the study
            at any time by visiting your <a th:href="${url} + '/account'">account
                settings.</a></p>


    </div>
    <p style="margin-top:40px; font-size:.9em; text-align:left; border-top: 1px solid black; padding-top: 4px" >
        Please note that email is not a secure form of communication and should not be used to discuss any
        confidential matters, including personal health information, given its confidentiality cannot be assured.</p>


    <p style="margin-top:20px; font-size:.9em; text-align:left; padding-top: 4px" >You received this email because you
        signed up to participate in the MindTrails project. You can manage your contact
        preferences, and / or exit the study
        at any time by visiting your <a th:href="${url} + '/account'">account
            settings.</a></p>



</body>
</html>
