
body {font-family: 'Source Sans Pro', sans-serif; font-size:20px; box-sizing:border-box; background-color: #f6f5ea}
.clear-both {clear:both;}


/*************** Sections */

div.sessionSection,  div.sessionOverview {
    padding: 20px 0px;
    align-content: center;
    text-align: center;
    margin: 40px auto;
    padding: 20px 20px 20px 20px;
    max-width: 900px;
    border-radius: 15px;
    border: 1px solid #BBB;
    background: #FFF;
}


/**
Session Overview
**/

img.sessionMarker {
    position:absolute;
    left: 20px;
    margin: 20px;
}

div.sessionGrouping {
    width: 850px;
    clear:both;
    margin: 50px 0 20px 0;
    position:relative;
}

div.sessionOverview {
    left: 120px;
    background:#21336B;
    margin: 0 0 0 120px;
    padding: 0;
    width: 600px;
}

div.sessionOverview h3 {
    color: white;
    font-size: 92%;
    margin: 5px 20px;
}

div.sessionOverview span.date {
    margin-left: 10px;
}

div.gift {
    position:absolute;
    width: 100px;
    bottom:0px;
    right:0px;
    text-align: center;
}

div.gift img {
    margin-left:-20px;
}


br.clear {
    clear:both;
}

div.sessionOverview table {
    background-color: white;
    min-width: 598px;
}

div.sessionOverview table td {
    background-color: white;
    border: 1px solid #BBB;
    padding-left: 20px;
    height: 40px;
}

.allow2days {
    color: #5f5f5f;
    font-size: 83%;
    margin: 0 0 0 175px;
}



/*************** Password validation */
#pswd_info ul, #passwd_inf0 li {
    margin:0;
    padding:0;
    list-style-type: none;
}

#pswd_info {
    display:none;
    z-index: 100;
    position:absolute;
    left:187px;
    width:350px;
    padding:15px;
    background:#fefefe;
    font-size:.875em;
    border-radius:5px;
    box-shadow:0 1px 3px #ccc;
    border:1px solid #ddd;
}


#pswd_info h4 {
    margin:0 0 10px 0;
    padding:0;
    font-weight:normal;
}

#pswd_info::before {
    content: "\25B2";
    position:absolute;
    top:-12px;
    left:45%;
    font-size:14px;
    line-height:14px;
    color:#ddd;
    text-shadow:none;
    display:block;
}

li.invalid {
    background:url(../images/invalid.png) no-repeat 0 50%;
    padding-left:22px;
    line-height:24px;
    color:#ec3f41;
}
li.valid {
    background: url(../images/valid.png) no-repeat 0 50%;
    padding-left: 22px;
    line-height: 24px;
    color: #3a7d34;
}

/**  PIPlayer styling **/

div.piPlayerHeader {
    width:100%;
    background: #21336B;
}

div#canvas {
    position: relative;
    color:black;
    background: white;
    box-sizing:border-box;
    border-radius: 25px;
    margin: 40px auto;
    border: 1px solid #bbb;
}

div#canvas div {
    padding: 0px 20px;
}

div#canvas div.sentence {
}

div#canvas div.sentence p {
    margin: 0px;
}

div.thanks {
    position: absolute;
    font-size: 1.2em;
    top: 300px;
}

div.stimulus {
    text-align: center;
    padding-bottom: 20px;
}

div.piIntro {
    text-align:left;
    font-size: .7em;
}

div.piIntro img {
    float:left;
    margin:25px;
    padding-right: 20px;
}

div.piIntro p, div.piIntro h3, div.piIntro ul {
    margin-left: 20px;
}



