@charset "UTF-8";
/* CSS Document */




body {font-family: 'Source Sans Pro', sans-serif; font-size:20px; box-sizing:border-box; background-color: #f6f5ea}
.clear-both {clear:both;}

/*************** Header   */
.page-title {font-size:1.45em; color:#00ACE4; font-weight:bold; }
.page-title img {margin-top: -10px; margin-bottom:20px;}

#nav {font-size:0.6em; list-style:none; padding:15px 0 15px 20px; text-align: right;}
#nav li {float:left; padding:0px 10px;}
#nav a {color:#5ECCDE; text-decoration:none; font-weight: 700}

.navbar-default .navbar-toggle {
    background: transparent;
}

@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #FFFFFF;
}
}

div.import {
    color: #b8ec79;
}

.nav > li > a {
    padding-right: 13px !important;
    padding-left: 13px !important;
}

.login {
    float: right;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}

@media(max-width: 1000px) {
    .login {
        float: left;
        padding-left: 13px;
        padding-bottom:13px;
        font-size: 12px;
    }
}

/********************************************************
Alternate NavBar Breakpoint - to better support Ipad
********************************************************/
@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
        margin-top: 15px;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

@media(max-width: 1000px) {
    .header-logo {
        height: 65px;
    }
}

.account-bar {
    /*background: #21336B;*/
    background: #152145;
    font-weight: bold;
    color: #ffffff;
    height: 65px;
    clear:both;
    width:100%;
    font-size:.66em;
    text-align:right;
    padding:0px 10px 5px 10px;
    line-height: 25px;
}

.account-bar a, .account-bar span.item {color:#ffffff; padding-left: 10px; padding-right: 10px; font-weight:400}

/*************** Footer   */
#footer { margin-top: 20px; background:#21336B; font-size:0.6em; color: #ffffff}

.footer-links {
    text-align: center;
    list-style:none;
    padding:8px 15px 0 15px;
}
.footer-links a {
    color:#5ECCDE;
    text-decoration:none;
    font-weight:700;
    padding-left: 15px;
}

.adminTools a {
    color: #00ACE4;
    font-size: 1.2em;
}

.footer-bottom {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}
/*************** Sections */

div.sessionSection {
    padding: 20px 0px;
    align-content: center;
    text-align: center;
    margin: 40px auto;
    padding: 20px 20px 20px 20px;
    max-width: 900px;
    border-radius: 15px;
    border: 1px solid #BBB;
    background: #FFF;
}

div.sessionSection p.block {
    text-align: left;
    max-width: 500px;
    margin:auto;
    padding-bottom: 10px;
}


/*************** Button *************************/
button  {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border:none;
    color: #ffffff;
    background: #00ACE4;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-size:20px;
    margin:10px 0px;
    font-weight: 700;
}


/** THEMES **/
.user-theme-orange button { background:#F77D38;}
.user-theme-green button { background:#7bb76f;}
.user-theme-purple button { background:#C98ABB;}
.user-theme-gold button { background:#ECB800;}

.user-theme-orange #nav a { color:#F99A65;}
.user-theme-green #nav a { color:#99C38D; }
.user-theme-purple #nav a { color:#D4A4CA; }
.user-theme-gold #nav a { color:#F1C657;}

.user-theme-orange .account-bar { background: #fcd3bc; color: #000000; }
.user-theme-green .account-bar { background:#c3debd; color: #000000; }
.user-theme-purple .account-bar { background:#eedbea; color: #000000; }
.user-theme-gold .account-bar { background:#ffea9e; color: #000000; }

.user-theme-orange .page-title { color:#F77D38; }
.user-theme-green .page-title { color:#77B46D; }
.user-theme-purple .page-title { color:#C98ABB; }
.user-theme-gold .page-title { color:#ECB800; }

.user-theme-orange em { color:#F77D38; }
.user-theme-green em { color:#77B46D; }
.user-theme-purple em { color:#C98ABB; }
.user-theme-gold em { color:#ECB800; }

div.radio label {
    padding-right: 20px;
}

div.radio label:hover {
    background:#96e5ff;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.user-theme-orange div.radio label:hover { background: #fcd3bc; }
.user-theme-green div.radio label:hover { background:#c3debd; }
.user-theme-purple div.radio label:hover { background:#eedbea; }
.user-theme-gold div.radio label:hover { background:#ffea9e; }

div.anxiety-identity-radio label {
    padding-right: 10px;
    padding-left: 10px;
}

div.anxiety-identity-radio label:hover {
    background: #eaecef;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

button:hover { background: #0084bc; }

.user-theme-orange button:hover { background:#ce682f; }
.user-theme-green button:hover { background:#537a4b; }
.user-theme-purple button:hover { background:#99688e; }
.user-theme-gold button:hover { background:#b78f00; }

/**
Session Overview
**/

@media (max-width: 992px) { img.sessionMarker  {
    width: 50px;
}}

div.sessionGrouping {
    clear:both;
    margin: 50px 0 20px 0;
    position:relative;
}

div.sessionOverview {
    border-radius: 15px;
    border: 1px solid #BBB;
    background:#21336B;
    padding: 0 0 15px 0;

}

div.sessionOverview h3 {
    color: white;
    font-size: 92%;
    margin: 5px 20px;
}

div.sessionOverview span.date {
    margin-left: 10px;
}

div.sessionTitle {
    font-weight: 600;
}

div.gift {
    position:absolute;
    width: 100px;
    bottom:0px;
    right:0px;
    text-align: center;
}

div.gift img {
    margin-left:-20px;
}


br.clear {
    clear:both;
}

div.sessionOverviewTable {
    background-color: white;
    margin: 0px;
    border-bottom: 1px solid #ccc;
}

div.sessionOverview table td {
    background-color: white;
    border: 1px solid #BBB;
    padding-left: 20px;
    height: 40px;
}

.allow2days {
    color: #5f5f5f;
    font-size: 83%;
    margin: 0 0 0 175px;
}



/*************** Password validation */
#pswd_info ul, #passwd_inf0 li {
    margin:0;
    padding:0;
    list-style-type: none;
}

#pswd_info {
    width:350px;
    padding:15px;
    background:#fefefe;
    font-size:.875em;
    border-radius:5px;
    box-shadow:0 1px 3px #ccc;
    border:1px solid #ddd;
}




#pswd_info h4 {
    margin:0 0 10px 0;
    padding:0;
    font-weight:normal;
}

#pswd_info::before {
    content: "\25B2";
    position:absolute;
    top:-12px;
    left:45%;
    font-size:14px;
    line-height:14px;
    color:#ddd;
    text-shadow:none;
    display:block;
}

li.invalid {
    background:url(../images/invalid.png) no-repeat 0 50%;
    padding-left:22px;
    line-height:24px;
    color:#ec3f41;
}
li.valid {
    background: url(../images/valid.png) no-repeat 0 50%;
    padding-left: 22px;
    line-height: 24px;
    color: #3a7d34;
}

/**  PIPlayer styling **/

div.piPlayerHeader {
    width:100%;
    background: #21336B;
}

div#canvas {
    position: relative;
    color:black;
    background: white;
    box-sizing:border-box;
    border-radius: 25px;
    margin: 40px auto;
    border: 1px solid #bbb;
}

div#canvas div {
    padding: 0px 20px;
}

div#canvas div.sentence {
}

div#canvas div.sentence p {
    margin: 0px;
}

div.thanks {
    position: absolute;
    font-size: 1.2em;
    top: 300px;
}

div.stimulus {
    text-align: center;
    padding-bottom: 20px;
}

div.piIntro {
    text-align:left;
    font-size: .7em;
}

div.piIntro img {
    float:left;
    margin:25px;
    padding-right: 20px;
}

div.piIntro p, div.piIntro h3, div.piIntro ul {
    margin-left: 20px;
}

.alert-error {
    color: darkred;
}

.alert-info {
    padding: 20px;
}


/**** Theme selection */
div.themeSection {
    display: inline-block;
    max-width: 100%;
    border-radius: 15px;
    border: 1px solid #BBB;
    background: #FFF;
    margin: 15px;
}

div.themeSection img {
}

div.themeSection input {
    margin: 20px 0 0 20px;
}

div.themeSection label {
    margin:0px;
    min-width: 100px;
    font-weight: 700;
}


div.themeSection div.themeOption {
    background: #ffffff;
    border-bottom: 1px solid #BBB;
}

div.blue  {
    background-color: #00ACE4;
}
div.orange  {
    background-color: #ef7b40;
}
div.green {
    background-color: #7bb76f;
}
div.purple  {
    background-color: #c686ba;
}
div.gold  {
    background-color: #e6ba21;
}

/** Errors from jQuery **/
label.error {
    display: block;
    color: darkred;
    float: right;
}

input.error {
    border: 1px solid darkred;
    background: lightcoral;
}




td.error {
    color: darkred;
}

td.success {
    color: green;
}


/** Slider Bar **/
#slider {
    border: 1px solid #ccc;
    width: 475px;
    margin: 20px 0 90px 100px;
}
#slider label.slider {
    font-width: 400;
    font-size:72%;
    position: absolute;
    width: 100px;
    min-width: 100px;
    margin-top: 20px;
    margin-left: -10px;
    text-align: center;
}


/*************
   Log Reports on the Admin page
   *********/
div.log {
    margin-bottom: 40px;
    font-size: .8em;
}


table.logs {
    border-collapse: collapse;
    text-align: left; width: 100%;
}

table.logs {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 640px;
    border-collapse:
            collapse; border-spacing: 0;
}

table.logs td, table.logs th {
    border: 1px solid transparent; /* No more visible border */
    height: 30px;
    transition: all 0.3s; /* Simple transition for hover effect */
}

table.logs th {
    background: #DFDFDF; /* Darken header a bit */
    font-weight: bold;
}

table.logs td {
    background: #FAFAFA;
    text-align: left;
}

/* Cells in even rows (2,4,6...) are one color */
table.logs tr:nth-child(even) td { background: #F1F1F1; }

/* Cells in odd rows (1,3,5...) are another (excludes header cells) */
table.logs tr:nth-child(odd) td { background: #FEFEFE; }

table.logs tr td:hover { background: #666; color: #FFF; } /* Hover cell effect! */


/* **********************************
Re-sizing for forms and displays
******************************** */
.side-border {
    border-right: 1px solid #ddd;
}

.bottom-border {
    border-bottom: 1px solid #ddd;
}


.inline-checkbox input {
    height: 40px;
    width: 40px;
    float: left;
    margin: 10px;
}

.inline-checkbox {
    font-weight: 400;

}

/**********************************
International Phone Input
*********************************** */
.iti-flag {background-image: url("../bower/intl-tel-input/build/img/flags.png");}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .iti-flag {background-image: url("../bower/intl-tel-input/build/img/flags@2x.png");}
}



