<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head th:include="fragment/email :: headerFragment"/>

<body style="font-family: 'Source Sans Pro', sans-serif; font-size:20px; box-sizing:border-box; background-color: #FFF">

    <table cellpadding="0" cellspacing="0" width="600" align="center" th:include="fragment/email :: logoFragment"/>

    <table cellpadding="0" cellspacing="0" width="600" align="center" style="margin-top:20px">

        <tr>
            <td width="400">

                <p th:text="'Dear ' +  ${participant.fullName} + ','" style="margin-top:0; margin-bottom:10px">
                    Dear,</p>

                <p th:text="'We recently sent you an email on' +  ${twomonth.date} + ','" style="margin-top:0; margin-bottom:10px">
                    We recently sent you an email on </p> with instructions for completing the two month follow-up survey for MindTrails. We'd love for you to contribute and help us improve the MindTrails program. If you need assistance,
                let us know by let us know by contacting us at <a href = "mailto: studyteam@mindtrails.net">
                studyteam@mindtrails.net</a>. Thank you!

                <p style="margin-top:30px">Best,</p>
                <p style="margin:0 0 0 0;">The MindTrails Team</p>

                <div id="footer" class="clearfix" th:fragment="footerFragment"/>

            </td>
        </tr>
    </table>

</body>
</html>