<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head th:include="fragment/email :: headerFragment"/>

<body style="font-family: 'Source Sans Pro', sans-serif; font-size:20px; box-sizing:border-box; background-color: #FFF">

    <table cellpadding="0" cellspacing="0" width="600" align="center" th:include="fragment/email :: logoFragment"/>

    <table cellpadding="0" cellspacing="0" width="600" align="center" style="margin-top:20px">

        <tr>
            <td width="400">

                <p th:text="${participant.fullName} + ','" style="margin-top:0; margin-bottom:10px">
                    Jim,</p>

                <p style="margin-top:5px">It has been great to hear from many of our participants via the six month follow-up survey. We would love to hear from you, too!
                    Your responses will help us understand people's experiences with MindTrails over a longer period of time. They will also help improve MindTrails
                    for future participants.</p>

                <p style="margin-top:5px">As a reminder, you will receive a $15 gift card for completing the six month follow-up survey. Completing the survey will take approximately
                    15 minutes. To complete the follow-up, click <a href="https://mindtrails.virginia.edu/calm/login">here</a>.</p>

                <p style="margin-top:0; margin-bottom:10px">Thank you for taking the time to complete this follow-up. If you have any questions, let us know by
                    contacting us at <a href = "mailto: studyteam@mindtrails.org">studyteam@mindtrails.org</a>.</p>

                <p style="margin-top:30px">Best,</p>
                <p style="margin:0 0 0 0;">The MindTrails Team</p>

                <div id="footer" class="clearfix" th:fragment="footerFragment"/>

            </td>
        </tr>
    </table>

</body>
</html>
