<head th:include="fragment/email :: headerFragment"/>

<body style="font-family: 'Source Sans Pro', sans-serif; font-size:20px; box-sizing:border-box; background-color: #FFF">

<div id="body_style" style="padding:15px">

    <table cellpadding="0" cellspacing="0" width="600" align="center" th:include="fragment/email :: logoFragment"/>

    <table cellpadding="0" cellspacing="0" width="600" align="center" style="margin-top:20px">

        <tr>
            <td width="400">

                <h2 th:text="'Dear ' +  ${participant.fullName} + ','" style="margin-top:0; margin-bottom:10px">
                    Dear,</h2>

                <p style="margin-top:5px">It was great to hear from many of our participants this past week. We'd love to hear from you too! Your response to the follow-up survey will help us improve the MindTrails program and is greatly appreciated. If you need assistance, let us know by replying to this email. Thank you!</p>

                <p style="margin-top:30px">Best,</p>

                <p style="margin:0 0 0 0; font-weight: bold;">The MindTrails Team</p>

            </td>
        </tr>
    </table>
</div>
</body>
</html>
