<head th:include="fragment/email :: headerFragment"/>

<body style="font-family: 'Source Sans Pro', sans-serif; font-size:20px; box-sizing:border-box; background-color: #FFF">

<div id="body_style" style="padding:15px">

    <table cellpadding="0" cellspacing="0" width="600" align="center" th:include="fragment/email :: logoFragment"/>

    <table cellpadding="0" cellspacing="0" width="600" align="center" style="margin-top:20px">

        <tr>
            <td width="400">

                <h2 th:text="'Dear ' +  ${participant.fullName} + ','" style="margin-top:0; margin-bottom:10px">
                    Dear,</h2>

                <p style="margin-top:5px">Thank you for participating in MindTrails. We hope that the skills you learned during the study have helped you in your everyday life. </p>


                <h10 th:text="'We are reminding you to complete the two month follow-up, which will be available beginning on ' +  ${twomonth.date} + ','" style="margin-top:0; margin-bottom:10px">
                    We are reminding you to complete the two month follow-up, which will be available beginning on </h10>. Your responses will help us improve our intervention for future participants and are greatly appreciated.</p>

                <h10 th:text="'To complete the follow-up on or after' +  ${twomonth.date} + ','" style="margin-top:0; margin-bottom:10px">
                    To complete the follow-up (on or after </h10>):

                <p style="margin-top:15px;margin-left: 50px;">1. Log into your MindTrails account. </p>
                <p style="margin-top:10px;margin-left: 50px;">2. Click on ‘Continue’ </p>
                <p style="margin-top:10px;margin-left: 50px;">3. Complete the survey, which will take approximately 15 minutes.  </p>

                <p style="margin-top:5px">Thank you for taking the time to complete these follow-ups. If you have any questions, let us know by replying to this email.

                    <div id="footer" class="clearfix" th:fragment="footerFragment">

                <p style="margin-top:30px">Best,</p>

                <p style="margin:0 0 0 0; font-weight: bold;">The MindTrails Team</p>

            </td>
        </tr>
    </table>
</div>
</body>
</html>
