<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head th:include="fragment/email :: headerFragment"/>

<body style="font-family: 'Source Sans Pro', sans-serif; font-size:20px; box-sizing:border-box; background-color: #FFF">

	<table cellpadding="0" cellspacing="0" width="600" align="center" style="margin-top:20px" th:fragment="logoFragment">
		<tr>
			<td width="600">
				<a th:href="${url}" target="_blank" >
					<img src="../../static/images/newsletter/mtheader.png" th:src="${url} + '/images/newsletter/mtheader.png'"
						 alt="The MindTrails Project" title="MindTrails" style="display:block" border="0"/>
				</a>
			</td>
		</tr>
	</table>

	<table cellpadding="0" cellspacing="0" width="600" align="center" style="margin-top:20px">
		<tr>
			<td width="400">
				<h2 style="margin-top:20px; margin-bottom:10px">Hello from the MindTrails Team!</h2>
				<p  style="margin-top:5px">
					<b>Thank you</b> for participating in our study. We hope the program has helped you learn how to better manage anxiety in your everyday life.
				</p>
				<p  style="margin-top:5px">
					This newsletter will get you familiar with the process for completing the surveys we'll send you about two and six months from now. If you have more questions after reading, <b>contact us at</b> <a href="studyteam@mindtrails.org">studyteam@mindtrails.org</a>.
				</p>
				<br/>
				<h2 style="margin-top:20px; margin-bottom:10px">Again, thank you.</h2>
				<p  style="margin-top:5px">
					We <b>greatly appreciate</b> the time and effort you put into completing the study. Your participation will help us make the program better for future participants. Ultimately, our goal is to develop an accessible and cost-effective anxiety intervention, and <b>your participation is very important</b> to us achieving that goal.
				</p>
				<br/>
				<h2 style="margin-top:20px; margin-bottom:10px">What is your role in MindTrails now?</h2>
				<p  style="margin-top:5px">
					Now that you've completed the MindTrails program, you'll be asked to <b>complete the two- and six-month follow-up surveys</b>. Along with your progress during the training, these follow-up surveys will help us to understand whether MindTrails has lasting effects. We'll send you reminder emails to let you know when the two- and six-month follow-up surveys are ready. We'll also share steps on how to complete them.</p>
				<p  style="margin-top:5px">

				During the time between the surveys, we'll be sending you <b>newsletters like this one</b>. These newsletters will cover information like meeting the MindTrails team, myths and misconceptions about anxiety, and more. If you <b>do not</b> want to receive these newsletters, you can opt out of email communications <a href="https://mindtrails.virginia.edu/calm/account">here</a>.
				</p>
				<br/>
				<h2 style="margin-top:20px; margin-bottom:10px">
					Feature Articles: Horror Movies May Help You Feel Less Afraid
				</h2>
				<p  style="margin-top:5px">
					This may seem like it doesn't make sense, but horror movies may actually help you become less afraid of what you fear most.
				</p>
				<p  style="margin-top:5px">
				Horror movies might operate as a form of exposure therapy. Kristen Lindgren, Ph.D., talks about this in the <i>Right as Rain by UW Medicine</i> article "Is Watching Horror Movies Bad for Your Mental Health?" written by Mckenna Princing. Exposure therapy engages clients with something that scares them, such as spiders or heights. Over time, the client learns how to handle their fear when they are faced with the thing that scares them. Lindgren explains that horror movies can act as a type of exposure therapy because they expose viewers to the very things that they're afraid of (Princing, 2018).
				</p>
				<p  style="margin-top:5px">

				So, if you're thinking about watching a horror movie, consider choosing one that's about something you're afraid of. It could help you learn how to handle your fear. However, don't feel bad if you don't think that's the right choice for you. They're called horror movies for a reason!
				</p>
				<p style="margin-top:5px">
					Thank you for reading this newsletter. If you have any questions, <b>contact us at</b> <a href="studyteam@mindtrails.org">studyteam@mindtrails.org</a>.
				</p>
				<p style="margin-top:15px">Best,</p>
				<p style="margin-top:5px">The MindTrails Project Team</p>

				<br/>
				<h2 style="margin-top:20px; margin-bottom:10px">References</h2>
				<p  style="margin-top:5px">
					Princing, McKenna (2018, October 24). <i>Is Watching Horror Movies Bad for Your Mental Health?</i> Right as Rain by UW Medicine.<br/><a href="https://rightasrain.uwmedicine.org/life/leisure/horror-movies-mental-health">https://rightasrain.uwmedicine.org/life/leisure/horror-movies-mental-health</a>
				</p>

				<p style="margin-top:20px; font-size:.9em; text-align:left; padding-top: 4px" >
					To make sure you receive our emails, please add our email address (mindtrails@virginia.edu)
					to your list of contacts. By adding us to your contacts, you ensure all our emails don't end up in your spam folder.</p>

				<p style="margin-top:40px; font-size:.7em; text-align:left; border-top: 1px solid black; padding-top: 4px" >
					Please note that email is not a secure form of communication and should not be used to discuss any
					confidential matters, including personal health information, given that its confidentiality cannot be assured.</p>

				<p style="margin-top:20px; font-size:.7em; text-align:left; padding-top: 4px" >You received this email because you signed up to participate in the MindTrails study. You
					can manage your contact preferences, or exit the study at any time by visiting your
					<a th:href="${url} + '/account'">Account Settings.</a></p>

				<div id="footer" class="clearfix" th:fragment="footerFragment"/>

			</td>
		</tr>
	</table>

</body>
</html>
