<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head th:include="fragment/email :: headerFragment"/>

<body style="font-family: 'Source Sans Pro', sans-serif; font-size:20px; box-sizing:border-box; background-color: #FFF">

<div id="body_style" style="padding:15px">

    <table cellpadding="0" cellspacing="0" width="600" align="center" style="margin-top:20px" th:fragment="logoFragment">
        <tr>
            <td width="600">
                <a th:href="${url}" target="_blank" >
                    <img src="../../static/images/newsletter/mtheader.png" th:src="${url} + '/images/newsletter/mtheader.png'"
                         alt="The MindTrails Project" title="MindTrails" style="display:block" border="0"/>
                </a>
            </td>
        </tr>
    </table>

    <table cellpadding="0" cellspacing="0" width="400" align="center" th:include="fragment/email :: logoFragment"/>

    <table cellpadding="0" cellspacing="0" width="600" align="center" style="margin-top:20px">
        <tr>
            <td width="400">
                <h2 style="margin-top:20px; margin-bottom:10px">Hello from the MindTrails Team!</h2>
                <br/>

                <p  style="margin-top:5px">
                    We hope that you've had a wonderful month!
                </p>
                <p  style="margin-top:5px">
                    In this newsletter, we're talking about <b>reducing the stigma</b> around anxiety.
                </p>

                <p  style="margin-top:5px">
                    If you have more questions after reading, <b>contact us at</b> <a href="studyteam@mindtrails.org">studyteam@mindtrails.org</a>.
                </p>
                <br/>

                <h2 style="margin-top:20px; margin-bottom:10px">You're Not Alone</h2>
                <br/>

                <p  style="margin-top:5px">
                    Having anxiety can feel like an isolating experience. Sometimes, it feels like no one thinks or feels the way you do.
                </p>

                <p  style="margin-top:5px">
                    It's important to know that you are not alone.
                </p>

                <p  style="margin-top:5px">
                    Additionally, it can be hard to talk about the experiences you've had with anxiety. There's still a lot of stigma
                    surrounding conversations about mental health. However, when people speak up about their mental health, it
                    can be very powerful. This can help us start having important conversations about mental health in our own life.
                </p>

                <p  style="margin-top:5px">
                    Olivia Singh, a writer for <i>Insider</i>, recently wrote an article about celebrities that have opened up about their struggles with
                    mental health. Celebrities like Chris Evans, Dwayne Johnson, and Lady Gaga discussed their experiences and how they find
                    strength in coping with their mental health challenges.
                </p>

                <p  style="margin-top:5px">
                    Below, we feature a few of the celebrities that talked about their experiences with anxiety. Then, we'll talk about how you can reduce the stigma
                    around anxiety in your everyday life.
                </p>
                <br/>

                <h3 style="margin-top:20px; margin-bottom:10px">Kristen Bell</h3>

                <center>
                    <img src="../../static/images/newsletter/kristenbell.jpg" th:src="${url} + '/images/newsletter/kristenbell.jpg'"
                         width="200" title="Kristen Bell" style="display:block" border="0"/>
                </center><br/>

                <p  style="margin-top:5px">
                    <b>How you know her:</b> <i>The Good Place</i>, <i>Frozen</i>, <i>Veronica Mars</i>
                </p>

                <p  style="margin-top:5px">
                    Bell believes that sharing her experiences with anxiety can help other people know that they are not alone and that anyone, no matter who they are,
                    can have anxiety.
                </p>

                <p  style="margin-top:5px">
                    "Anyone can be affected, despite their level of success or their place in the food chain. It's important for me to be candid about this so that people in a similar situation
                    can realize that they are not worthless" (Singh, 2020).
                </p>
                <br/>

                <h3 style="margin-top:20px; margin-bottom:10px">Taraji P. Henson</h3>

                <center>
                    <img src="../../static/images/newsletter/tarajihenson.jpg" th:src="${url} + '/images/newsletter/tarajihenson.jpg'"
                         width="200" title="Taraji P. Henson" style="display:block" border="0"/>
                </center><br/>

                <p  style="margin-top:5px">
                    <b>How you know her:</b> <i>Hidden Figures</i>, <i>Empire</i>, <i>The Curious Case of Benjamin Button</i>
                </p>

                <p  style="margin-top:5px">
                    Henson is a strong advocate for receiving mental health help. She has her own foundation, The Boris Lawrence Henson Foundation, which aims to end the stigma surrounding mental health.
                </p>

                <p  style="margin-top:5px">
                    "We gotta expose it so we can live freely and be OK with not being OK" (Singh, 2020).
                </p>
                <br/>

                <h3 style="margin-top:20px; margin-bottom:10px">Zayn Malik</h3>

                <center>
                    <img src="../../static/images/newsletter/zaynmalik.jpg" th:src="${url} + '/images/newsletter/zaynmalik.jpg'"
                         width="200" title="Zayn Malik" style="display:block" border="0"/>
                </center><br/>

                <p  style="margin-top:5px">
                    <b>How you know him:</b> <i>One Direction</i>
                </p>

                <p  style="margin-top:5px">
                    Malik uses his position in the spotlight to speak out about his experiences with his own mental health difficulties, which he struggled with while being a member of One Direction.
                </p>

                <p  style="margin-top:5px">
                    "We're all human. People are often afraid to admit difficulties, but I don’t believe that there should be a struggle with anything that's the truth" (Singh, 2020).
                </p>
                <br/>

                <h2 style="margin-top:20px; margin-bottom:10px">Reducing the Stigma Around Anxiety</h2>

                <center>
                    <img src="../../static/images/newsletter/tylar2.jpg" th:src="${url} + '/images/newsletter/tylar2.jpg'"
                         width="400" title="tylar2" style="display:block" border="0"/>
                </center>
                <br/>

                <p  style="margin-top:5px">
                    An undergraduate research assistant in our lab, <b>Tylar Schmitt</b>, wanted to share her experience with anxiety and how she strives to reduce the stigma around anxiety in her everyday life.
                </p>

                <i><p  style="margin-top:5px">
                    "While I look incredibly happy in this picture, I was dealing with crippling anxiety.
                </p>

                <p  style="margin-top:5px">
                    For me, my anxiety felt like worrying about everything that ever happened to me and like everything I did was going to turn out horribly. In short, I was anxious pretty much all of the time.
                </p>

                <p  style="margin-top:5px">
                    I didn't realize until years after feeling anxious that I have generalized anxiety disorder (GAD). GAD is one of the many types of anxiety disorders and people with GAD tend to have lots of worries about a variety of things rather than something specific, like a phobia.
                </p>

                <p  style="margin-top:5px">
                    When I was in my first-year of college, I realized that the way I was living wasn't sustainable. So, I decided to get help. For me, that looked like getting in-person, individual therapy, and it was incredibly beneficial. While I still have days where my anxiety consumes me, I'm now able to take more control of my thoughts and reconsider unhelpful and untruthful beliefs that I have.
                </p>

                <p  style="margin-top:5px">
                    Here are some of the ways that I overcame the stigma of anxiety in my own life:
                </p>

                    <p  style="margin-top:5px">
                    <ul>
                        <li><b>Talking with my support system.</b> For such a long time, I was quiet about my experience with GAD. Opening up to my family and friends about what I was going through helped me feel less alone. It also allowed my family and friends to gain a perspective that they weren't familiar with. </li>
                        <br/>
                        <li><b>Posting about anxiety on my social media.</b> When I reached the point where I felt comfortable sharing my experience, I posted about it as well as more general facts about anxiety. So much misinformation about mental health is shared online, so this was a way that I could take charge and educate people on what anxiety actually looks like.</li>
                        <br/>
                        <li><b>Engaging in self-care.</b> I try to engage in an act of self-care every day, whether that's playing a game of tennis with friends or painting my nails. There's a notion that self-care is selfish but it isn't. It's essential. Carving out time to care for myself helps me relax and be a better person for the people in my life.</li>
                    </ul>
                    </p>

                    <p  style="margin-top:5px">
                    For so long, I thought that I was alone in the way that I thought and felt. Now I know that I'm not and you aren't either. Anxiety can feel incredibly isolating, but I hope <b>you know that you are not alone.</b>"
                </p></i>

                <p style="margin-top:5px">
                    Thank you for reading this newsletter. If you have any questions, <b>contact us at</b> <a href="studyteam@mindtrails.org">studyteam@mindtrails.org</a>.
                </p>
                <p style="margin-top:15px">Best,</p>
                <p style="margin-top:5px">The MindTrails Project Team</p>
                <br>
                <h2 style="margin-top:20px; margin-bottom:10px">References</h2>
                <p  style="margin-top:5px">
                    Singh, O. (2020, May 15). 35 celebrities who have opened up about their struggles with mental illness. Insider. <a href="https://www.insider.com/celebrities-depression-anxiety-mental-health-awareness-2017-11">https://www.insider.com/celebrities-depression-anxiety-mental-health-awareness-2017-11</a>
                </p>
                <p  style="margin-top:5px">
                    Bell, K (2020). [Photograph]. Instagram. <a href="https://www.instagram.com/p/CGQw-v1M900/">https://www.instagram.com/p/CGQw-v1M900/</a>
                </p>
                <p  style="margin-top:5px">
                    Henson, T. P. (2020). [Photograph]. Instagram. <a href="https://www.instagram.com/p/CDFl8EZJvQd/">https://www.instagram.com/p/CDFl8EZJvQd/</a>
                </p>
                <p  style="margin-top:5px">
                    Malik, Z. (2019). [Photograph]. Instagram. <a href="https://www.instagram.com/p/B0REg7aJjst/">https://www.instagram.com/p/B0REg7aJjst/</a>
                </p>


                <p style="margin-top:20px; font-size:.9em; text-align:left; padding-top: 4px" >
                    To make sure you receive our emails, please add our email address (mindtrails@virginia.edu)
                    to your list of contacts. By adding us to your contacts, you ensure all our emails don't end up in your spam folder.</p>

                <p style="margin-top:40px; font-size:.7em; text-align:left; border-top: 1px solid black; padding-top: 4px" >
                    Please note that email is not a secure form of communication and should not be used to discuss any
                    confidential matters, including personal health information, given that its confidentiality cannot be assured.</p>

                <p style="margin-top:20px; font-size:.7em; text-align:left; padding-top: 4px" >You received this email because you signed up to participate in the MindTrails study. You
                    can manage your contact preferences, or exit the study at any time by visiting your
                    <a th:href="${url} + '/account'">Account Settings.</a></p>

            </td>
        </tr>
    </table>

    <p style="margin-top:0"></p>

</div>
</body>
</html>
