<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head th:include="fragment/email :: headerFragment"/>

<body style="font-family: 'Source Sans Pro', sans-serif; font-size:20px; box-sizing:border-box; background-color: #FFF">

<div id="body_style" style="padding:15px">

    <table cellpadding="0" cellspacing="0" width="600" align="center" style="margin-top:20px" th:fragment="logoFragment">
        <tr>
            <td width="600">
                <a th:href="${url}" target="_blank" >
                    <img src="../../static/images/newsletter/mtheader.png" th:src="${url} + '/images/newsletter/mtheader.png'"
                         alt="The MindTrails Project" title="MindTrails" style="display:block" border="0"/>
                </a>
            </td>
        </tr>
    </table>

    <table cellpadding="0" cellspacing="0" width="400" align="center" th:include="fragment/email :: logoFragment"/>

    <table cellpadding="0" cellspacing="0" width="600" align="center" style="margin-top:20px">
        <tr>
            <td width="400">
                <h2 style="margin-top:20px; margin-bottom:10px">Hello from the MindTrails team!</h2>
                <p  style="margin-top:5px">
                    We hope that you've enjoyed these newsletters.
                </p>
                <p  style="margin-top:5px">
                    This month, we're talking about common <b>myths and misconceptions</b> about anxiety and how you can best <b>combat</b> them.
                </p>

                <p  style="margin-top:5px">
                    If you have more questions after reading, <b>contact us at <a href="studyteam@mindtrails.org">studyteam@mindtrails.org</a></b>.
                </p>

                <h2 style="margin-top:20px; margin-bottom:10px">Check out our Psychology Today blog</h2>
                <p  style="margin-top:5px">
                    Recently, our lab (the Program for Anxiety, Cognition and Treatment Lab at the University of Virginia) launched its own blog on Psychology Today. We'll be posting articles about anxiety, the research that we conduct in our lab, and so much more! <a href="https://www.psychologytoday.com/us/blog/understand-your-thinking">Check us out!</a>
                </p>

                <h2 style="margin-top:20px; margin-bottom:10px">How to Combat Myths and Misconceptions about Anxiety</h2>
                <p  style="margin-top:5px">
                    Even though anxiety disorders affect 284 million people worldwide, there's a lot of misinformation about how anxiety affects us and how we can effectively cope with our anxiety (Ritchie & Roser, 2018).
                </p>

                <p  style="margin-top:5px">
                    The infographic below illustrates five common myths about anxiety and the truth behind that myth.
                </p>


                <center>
                    <img src="../../static/images/newsletter/chart.png" th:src="${url} + '/images/newsletter/chart.png'"
                         width="600" alt="n4_chart" title="MindTrails" style="display:block" border="0"/>
                </center>

                <h2 style="margin-top:20px; margin-bottom:10px">
                    Thanks for reading!
                </h2>
                <p style="margin-top:5px">
                    Thank you for reading this newsletter. If you have any questions, <b>contact us at</b> <a href="studyteam@mindtrails.org">studyteam@mindtrails.org</a>.
                </p>
                <p style="margin-top:15px">Best,</p>
                <p style="margin-top:5px">The MindTrails Project Team</p>
                <br>
                <br>
                <h2 style="margin-top:20px; margin-bottom:10px">References</h2>
                <p  style="margin-top:5px">
                    Jamieson, J. P., Mendes, W. B., Blackstock, E., Schmader, T. (2010). Turning the knots in your stomach into bows: Reappraising arousal improves performance on the GRE. <i>Journal of Experimental Social Psychology</i>. 46(1). 208-212. <a href="https://doi.org/10.1016/j.jesp.2009.08.015">https://doi.org/10.1016/j.jesp.2009.08.015</a>
                </p>

                <p  style="margin-top:5px">
                    Ritchie, H. & Roser, M. (2018, April). <i>Mental Health</i>. Our World in Data. <a href="https://ourworldindata.org/mental-health">https://ourworldindata.org/mental-health</a>
                </p>

                <p  style="margin-top:5px">
                    Teachman, B. (2020). Why Anxiety Should Not Be Feared. Anxiety and Depression Association of America. <a href="https://adaa.org/learn-from-us/from-the-experts/blog-posts/consumer/why-anxiety-should-not-be-feared">https://adaa.org/learn-from-us/from-the-experts/blog-posts/consumer/why-anxiety-should-not-be-feared</a>
                </p>

                <p style="margin-top:20px; font-size:.9em; text-align:left; padding-top: 4px" >
                    To make sure you receive our emails, please add our email address (<span th:text="${respondTo}"></span>)
                    to your list of contacts. By adding us to your contacts, you ensure all our emails don't end up in your spam folder.</p>

                <p style="margin-top:40px; font-size:.9em; text-align:left; border-top: 1px solid black; padding-top: 4px" >
                    Please note that email is not a secure form of communication and should not be used to discuss any
                    confidential matters, including personal health information, given that its confidentiality cannot be assured.</p>

                <p style="margin-top:20px; font-size:.9em; text-align:left; padding-top: 4px" >You received this email because you signed up to participate in the MindTrails study. You
                    can manage your contact preferences, or exit the study at any time by visiting your
                    <a th:href="${url} + '/account'">Account Settings.</a></p>

            </td>
        </tr>
    </table>

    <p style="margin-top:0"></p>

</div>
</body>
</html>
