<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head th:include="fragment/email :: headerFragment"/>

<body style="font-family: 'Source Sans Pro', sans-serif; font-size:20px; box-sizing:border-box; background-color: #FFF">

<div id="body_style" style="padding:15px" border="5px solid #767676">

    <table cellpadding="0" cellspacing="0" width="400" align="center" th:include="fragment/email :: logoFragment"/>

    <table cellpadding="0" cellspacing="0" width="400" align="center" style="margin-top:20px">
        <tr>
            <td width="400">
                <p style="margin-top:0; margin-bottom:10px">Dear MindTrails Staff, </p>
                <p style="margin-top:5px">A participant with ID <b><span th:text="${participant.id}"/></b> in the
                    <b><span th:text="${participant.study.name}"/>
                    <span th:if="${participant.study.studyExtension}" th:text="${participant.study.studyExtension}">
                    </span></b> study just completed the
                    assessment scale and received a score that exceeds our threshold. The participant will
                    receive a notification explaining these declining results. Their original score was
                    <span th:text="${orig.score()}"/>, they recently scored
                    <span th:text="${latest.score()}"/></p>
            </td>
        </tr>
    </table>
    <p style="margin-top:0"></p>
</div>

</body>
</html>
