<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head th:include="fragment/email :: headerFragment"/>

    <body style="font-family: 'Source Sans Pro', sans-serif; font-size:20px; box-sizing:border-box; background-color: #FFF">

    <div id="body_style" style="padding:15px">

        <table cellpadding="0" cellspacing="0" width="600" align="center" th:include="fragment/email :: logoFragment"/>

        <table cellpadding="0" cellspacing="0" width="600" align="center" style="margin-top:20px">
            <tr>
                <td width="400">
                    <p th:text="'Hi ' +  ${participant.fullName} + ','" style="margin-top:0; margin-bottom:10px">
                        Hi,
                    </p>
                    <p style="margin-top:5px">Thank you for your participation in the Calm Thinking Study!</p>
                    <p style="margin-top:5px">Your final Training Session is coming up soon. In the meantime, to show our appreciation for your commitment to the study,
                        here's an interesting psychology video. It demonstrates how the presence and actions of others can reduce our sense of responsibility
                        even in a life-threatening situation!</p>
                    <p><a style="margin-top:5px" href="https://www.youtube.com/watch?v=vjP22DpYYh8">Dangerous Conformity</a></p>
                    <p style="margin-top:5px">We'll share a different one between each Training Session.</p>
                    <p style="margin-top:5px">Your participation can make a difference for the millions of people experiencing emotional difficulties across the country!</p>

                    <div id="footer" class="clearfix" th:fragment="footerFragment">
                        <p style="margin-top:30px">Best,</p>
                        <img style="border: none; margin-top: 40px;" th:src="${url} + '/images/bethany_sig.png'" alt="" border="none"/>
                        <p style="margin:0 0 0 0; font-weight: bold;">Bethany Teachman PhD</p>
                        <p style="margin:2px 0 0 0; font-style: italic">Project Director</p>
                        <p style="margin:10px 0 0 0; ">and the MindTrails team</p>

                        <p style="margin:10px 0 0 0; font-weight: bold;">Relevant Citation:</p>
                        <p style="margin:2px 0 0 0; font-style: italic">Latane, Bibb, Darley, J.M. (1968). Group inhibition of bystander intervention in emergencies.
                            Journal of Personality and Social Psychology, 10(3), 215-21.</p>
                    </div>
                    <p style="margin-top:40px; font-size:.9em; text-align:left; border-top: 1px solid black; padding-top: 4px" >
                        Engaging with these bonus materials is not a part of the study. These links are included for
                        entertainment purposes only, and appearance of a website link here does not imply an
                        endorsement of their views, policies or products.
                    </p>
                </td>
            </tr>
        </table>
        <p style="margin-top:0"></p>
    </div>
    </body>
</html>
