<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head th:include="fragment/email :: headerFragment"/>

    <body style="font-family: 'Source Sans Pro', sans-serif; font-size:20px; box-sizing:border-box; background-color: #FFF">

    <div id="body_style" style="padding:15px">

        <table cellpadding="0" cellspacing="0" width="600" align="center" th:include="fragment/email :: logoFragment"/>

        <table cellpadding="0" cellspacing="0" width="600" align="center" style="margin-top:20px">
            <tr>
                <td width="400">
                    <p th:text="'Hi ' +  ${participant.fullName} + ','" style="margin-top:0; margin-bottom:10px">
                        Hi,
                    </p>
                    <p style="margin-top:5px">Thank you for your participation in the Calm Thinking Study!</p>
                    <p style="margin-top:5px">Your next Training Session is coming up soon. In the meantime, to show our appreciation for your commitment to the study,
                        here's an interesting psychology demonstration. It examines whether facial expressions look the same or different across
                        cultures!</p>
                    <a style="margin-top:5px" href="http://www.paulekman.com/universal-facial-expressions/">http://www.paulekman.com/universal-facial-expressions/
                    </a>
                    <p style="margin-top:5px">We'll share a different one between each Training Session you complete.</p>
                    <p style="margin-top:5px">Your participation can make a difference for the millions of people experiencing emotional difficulties across the world!</p>

                    <div id="footer" class="clearfix" th:fragment="footerFragment">
                        <p style="margin-top:30px">Best,</p>
                        <img style="border: none; margin-top: 40px;" th:src="${url} + '/images/bethany_sig.png'" alt="" border="none"/>
                        <p style="margin:0 0 0 0; font-weight: bold;">Bethany Teachman, Ph.D.</p>
                        <p style="margin:2px 0 0 0; font-style: italic">Project Director</p>
                        <p style="margin:10px 0 0 0; ">and the MindTrails team</p>

                        <p style="margin:10px 0 0 0; font-weight: bold;">Relevant Citation:</p>
                        <p style="margin:2px 0 0 0; font-style: italic">Ekman, P., &amp; Friesen, W. V. (1971). Constants across culture in the face and emotion.
                            Journal of Personality and Social Psychology, 17(2), 124-129.</p>
                    </div>
                    <p style="margin-top:40px; font-size:.9em; text-align:left; border-top: 1px solid black; padding-top: 4px" >
                        Engaging with these bonus materials is not a part of the study. These links are included for
                        entertainment purposes only and do not imply an
                        endorsement of their views, policies, or products.
                    </p>
                </td>
            </tr>
        </table>
        <p style="margin-top:0"></p>
    </div>
    </body>
</html>
