<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head th:include="fragment/email :: headerFragment"/>

    <body style="background:#eee; min-height:1000px; color:#000;font-family:Arial, Helvetica, sans-serif; font-size:12px"
          alink="#FF0000" link="#FF0000" bgcolor="#767676" text="#FFFFFF" yahoo="fix" >

    <div id="body_style" style="padding:15px" border="5px solid #767676">

        <table cellpadding="0" cellspacing="0" width="400" align="center" th:include="fragment/email :: logoFragment"/>

        <table cellpadding="0" cellspacing="0" width="400" align="center" style="margin-top:20px">
            <tr>
                <td width="400">
                    <p th:text="'Hello ' +  ${name} + ','" style="margin-top:0; margin-bottom:10px">
                        Hi Fred,
                    </p>
                    <p style="margin-top:5px">A participant with id <b><span th:text="${participant.id}"/></b> just completed the Oasis
                        questionnaire and received a score that is 30% higher than their original.  The participant will receive
                        an notification explaining these declining results.</p>
                </td>
                <table class="scores">
                    <tr>
                        <th>Type</th>
                        <th>Original Score</th>
                        <th>Latest Score</th>
                    </tr>
                    <tr>
                        <th>Anxious Frequency</th>
                        <td align="right" th:text="${orig.anxious_freq}"/>
                        <td align="right" th:text="${latest.anxious_freq}"/>
                    </tr>
                    <tr>
                        <th>Anxious Severity</th>
                        <td align="right" th:text="${orig.anxious_sev}"/>
                        <td align="right" th:text="${latest.anxious_sev}"/>
                    </tr>
                    <tr>
                        <th>Avoid Situations</th>
                        <td align="right" th:text="${orig.avoid}"/>
                        <td align="right" th:text="${latest.avoid}"/>
                    </tr>
                    <tr>
                        <th>Interfere (work)</th>
                        <td align="right" th:text="${orig.interfere}"/>
                        <td align="right" th:text="${latest.interfere}"/>
                    </tr>
                    <tr>
                        <th>Interfere (social)</th>
                        <td align="right" th:text="${orig.interfere_social}"/>
                        <td align="right" th:text="${latest.interfere_social}"/>
                    </tr>
                </table>

            </tr>
        </table>

        <p style="margin-top:0"></p>



    </div>

    </body>
</html>
