<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head th:include="fragment/common :: headerFragment"/>

<body>
<section id="header" class="clearfix" th:include="fragment/common :: topFragment"/>
<section th:replace="fragment/common :: titleBar (title='Coaching Opportunity')"/>

<section id="content" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <form action="#" th:action="@{/account/setCoachingPreference}" th:object="${participant}"
                      method="post">

                            <p>Thank you for participating in the MindTrails program! <i>You have the option to talk
                                with a personal coach via text or phone call to help you with the program.</i> Coaching is
                                completely optional, and you can decide to continue participating in the MindTrails program
                                even if you don’t want to talk with a coach.</p>

                            <p>If you would like to know more about the MindTrails personal coaches, you can view short bios
                            in the 'MindTrails Coaches' section on the <a th:href="@{/public/team}" target="_blank">Meet the Team</a>
                                page (this link will open in a new web browser tab).</p>
                            <br/>
                            <p><b><h3>How Does Coaching Work?</h3></b></p>
                            <ul>
                                <li>Coaches are trained members of the MindTrails team, but are not trained
                                    therapists.
                                </li>
                                <li>Coaches offer weekly check-ins via text message or phone call (whichever you
                                    prefer).
                                </li>
                                <li>Coaches can explain more about how MindTrails works, address any concerns you
                                    have
                                    with any
                                    of the exercises, help troubleshoot technical issues, and provide reminders for
                                    sessions.
                                </li>
                                <li>Coaching check-ins last about 10 minutes, and are scheduled for a time that fits
                                    with your
                                    schedule.
                                </li>
                                <li>Coaching is completely voluntary and you may decide at any time that you no
                                    longer
                                    wish to
                                    work with a coach.
                                </li>
                            </ul>

                            <p>If you are interested in having a coach, one of our team members will reach out to you
                                via email to schedule your first check-in after you finish your first MindTrails training.</p>
                    <br/>

                            <p><b>Would you like to work with a MindTrails Coach?</b></p>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="radio">
                                <label class="question"> <input type="radio" th:field="*{wantsCoaching}" value="true"
                                                                required="true"/>
                                    &nbsp;&nbsp;Yes, I’d like to try it. </label>
                            </div>
                            <div class="radio">
                                <label class="question"> <input type="radio" th:field="*{wantsCoaching}" value="false"/>
                                    &nbsp;&nbsp;No, I’m not interested in this right now.</label>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div id="wantsCoachingStatement" style="display:none;">
                        <div class="row">
                            <div class="col-md-12">
                                <br/>
                                <b>Would you like your first chat with your coach to be a phone call or text messaging
                                session?</b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="radio">
                                    <label class="question"> <input type="radio" th:field="*{firstCoachingFormat}" value="phoneCall"
                                                                    required="true"/>
                                        Phone call</label>
                                </div>
                                <div class="radio">
                                    <label class="question"> <input type="radio" th:field="*{firstCoachingFormat}" value="textMessage"/>
                                        Text message</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                        <div class="col-md-12">
                            <br/>
                            Please look out for an email from your coach over the next 24 hours to set up your first
                            check-in!
                            <br/>
                        </div>
                        </div>
                        <br/>
                    </div>
                    <div style="text-align: center;">
                        <button>Set Coaching Preferences</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>

<footer id="footer" class="clearfix" th:include="fragment/common :: footer"/>
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright"/>
<div th:include="fragment/common :: scripts"/>

</body>

</html>