<html xmlns:th="http://www.thymeleaf.org">
<body>

<!--
    Provides a fully rendered form given a model that contains measures.
    Mobile and
-->

<div th:fragment="participantDetails(participant)">
    <div class="sidebar col-md-6">
        <div class="log">
            <h3>Emails sent:</h3>
            <table class="logs">
                <tr>
                    <th>Type</th>
                    <th>Date</th>
                    <th>Successful?</th>
                </tr>
                <tr th:each="log : ${participant.emailLogs}">
                    <td th:text="${log.emailType}"/>
                    <td th:text="${log.dateSent}"/>
                    <td th:class="${log.successful}? success : error " th:text="${log.successful}"/>
                </tr>
            </table>
        </div>
        <div class="log">
            <h3>Text Messages sent:</h3>
            <table class="logs">
                <tr>
                    <th>Type</th>
                    <th>Date</th>
                </tr>
                <tr th:each="log : ${participant.smsLogs}">
                    <td th:text="${log.message}"/>
                    <td th:text="${log.dateSent}"/>
                </tr>
            </table>
        </div>
        <div class="log">
            <h3>Gift Cards Awarded:</h3>
            <table class="logs">
                <tr>
                    <th>Order ID</th>
                    <th>Date</th>
                    <th></th>
                </tr>
                <tr th:each="log : ${participant.giftLogs}">
                    <td ><a th:href="@{'/admin/rewardInfo/'+${log.orderId}}"
                            th:text="${log.orderId}"/></td>
                    <td th:text="${log.dateSent}"/>
                    <td><a th:href="@{'/admin/participant/' + ${participant.id} +'/resendGift/' + ${log.id}}">
                        Resend
                    </a></td>
                </tr>
            </table>
        </div>
        <div class="log">
            <h3>Error Messages that reached this user:</h3>
            <table class="logs">
                <tr>
                    <th>Type</th>
                    <th>Description</th>
                    <th>URL</th>
                    <th>Date</th>
                </tr>
                <tr th:each="log : ${participant.errorLogs}">
                    <td th:text="${log.errorType}"/>
                    <td th:text="${log.errorMessage}"/>
                    <td th:text="${log.requestedUrl}"/>
                    <td th:text="${log.dateSent}"/>
                </tr>
            </table>
        </div>
        <h3>Task Completion History:</h3>
        <div class="log" th:each="session : ${participant.study.sessions}">
            <h4 th:text="${session.displayName}"></h4>
            <table class="logs">
                <tr>
                    <th>Task</th>
                    <th>Date Completed</th>
                    <th>Time on Task (seconds)</th>
                </tr>
                <tr th:each="task : ${session.tasks}">
                    <td th:text="${task.displayName}"/>
                    <td th:text="${task.dateCompleted}"/>
                    <td th:text="${task.timeOnTask}"/>
                </tr>
            </table>
        </div>
    </div>

</div>
</body>
</html>