<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment"/>
<body>
<section id="header" class="clearfix" th:include="fragment/common :: topFragment"/>


<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">

        <!--spacer here-->
        <div class="spacer-30px"></div>

        <h1><font color="#00ACE4"><b>Exports</b></font></h1>
        <h2><b>Export Status</b></h2>

        <h3 th:if="${formsDisabled}">The site is currently disabled!</h3>

        <p>It has been <span class="bigNumber" th:text="${minutesSinceLastExport}"/> minutes since the last export
            was run.  If this exceeds <span class="bigNumber" th:text="${exportMaxMinutes}"/> minutes, an email will be
            sent to this project's administrator address.</p>
        <p>The total number of completed questionnaires is <span class="bigNumber" th:text="${totalRecords}"/>.  If this
            exceeds <span class="bigNumber" th:text="${exportMaxRecords}"/> then this system will be disabled, and
            participants will receive an error message when they attempt to complete their next session.</p>

        <h2><b>Questionnaire Downloads</b></h2>
        <div th:if="${downloadsDisabled}">
            <p>Downloads are currently disabled in the application's properties file.</p>
        </div>
        <div th:unless="${downloadsDisabled}">
            <p>Here is a list of all questionnaires, in order of appearance. Click a link to download a spreadsheet of all data from a questionnaire. Please
            be aware that we use TAB as delimiter.</p>
            <ul th:each="scale:${scales}">
                <li><a th:href="@{${'/api/export/'+scale.name+'.csv'}}" th:text="${scale.name+' (Total Entries on public server: ' + scale.size + ')'}"/> </li>
           </ul>
            <!--divider here-->
       </div>
        <div class="spacer-30px"></div>

    </div>
</section>


<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer"/>

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright"/>

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts"/>
</body>
</html>