<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment"/>
<body>
<section id="header" class="clearfix" th:include="fragment/common :: topFragment"/>


<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">

        <!--spacer here-->
        <div class="spacer-30px"></div>

        <div th:unless="${importMode}">
            <h1><font color="#00ACE4"><b>Export Status</b></font></h1>


            <h3 th:if="${formsDisabled}">The site is currently disabled!</h3>

            <p>It has been <span class="bigNumber" th:text="${minutesSinceLastExport}"/> minutes since the last export
                was run. If this exceeds <span class="bigNumber" th:text="${exportMaxMinutes}"/> minutes, an email will
                be
                sent to this project's administrator address.</p>
            <p>The total number of completed questionnaires is <span class="bigNumber" th:text="${totalRecords}"/>. If
                this
                exceeds <span class="bigNumber" th:text="${exportMaxRecords}"/> then this system will be disabled, and
                participants will receive an error message when they attempt to complete their next session.</p>
        </div>

        <h1>Questionnaire Report</h1>
        <div>
            <p>Here is a list of all questionnaires. If downloading is enabled, you can click a link to download a
                spreadsheet of all data from a questionnaire. This is only possible on the Importing private server.
                Please be aware that we use TAB as delimiter.</p>


            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Local Count</th>
                    <th th:if="${importMode}">Remote Count</th>
                    <th>Delete?</th>
                </tr>
                </thead>
                <tr th:each="scale:${scales}">
                    <td th:unless="${importMode}" th:classappend="${scale.remoteSize > 0 and scale.deleteable} ? 'error' : ''"  th:text="${scale.name}"></td>
                    <td th:if="${importMode}"><a th:href="${'/api/export/' + scale.name + '.csv'}"
                                                 th:text="${scale.name}"></a></td>
                    <td th:classappend="${scale.remoteSize > 0 and scale.deleteable} ? 'error' : ''"
                        th:text="${scale.name}"></td>
                    <td th:text="${scale.size}"></td>
                    <td th:if="${importMode}" th:text="${scale.remoteSize}"></td>
                    <td><span th:if="${scale.deleteable}">X</span></td>
                </tr>
            </table>
        </div>
        <div class="spacer-30px"></div>

    </div>
</section>


<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer"/>

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright"/>

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts"/>
</body>
</html>