<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment"/>
<body>
<section id="header" class="clearfix" th:include="fragment/common :: topFragment"/>

<section id="content" class="clearfix">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1><font color="#00ACE4"><b>Errors</b></font></h1>
        <p>Here is a list of all error messages which reached the user and presented some form of error page.
        </p>
        <div class="sidebar span4">
          <p>Found <span th:text="${errorLogs.totalElements}"> 100</span> errors. Showing page <span
                  th:text="${errorLogs.number + 1}">1</span> of <span
                  th:text="${errorLogs.totalPages}">10</span>.<br/>
          </p>
        </div>


          <div class="log">
            <table class="logs">
              <tr>
                <th>Participant Id</th>
                <th>Type</th>
                <th>Description</th>
                <th>URL</th>
                <th>Date</th>
              </tr>
              <tr th:each="log : ${errorLogs}">
                <td th:text="${log.participant.id}"/>
                <td th:text="${log.errorType}"/>
                <td th:text="${log.errorMessage}"/>
                <td th:text="${log.requestedUrl}"/>
                <td th:text="${log.dateSent}"/>
              </tr>
            </table>
          </div>
    </div>
      <span th:if="${!errorLogs.first}">
                    <a class="mybtn-small"
                       th:href="@{/admin/errors(page=${errorLogs.number - 1}, search=${search})}">Previous</a>
                </span>
      <span th:if="${!errorLogs.last}" style="float:right">
                    <a class="mybtn-small" th:href="@{/admin/errors(page=${errorLogs.number + 1}, search=${search})}">Next</a>
                </span>
  </div>
  </div>
</section>

<footer id="footer" class="clearfix" th:include="fragment/common :: footer" />
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright" />
<div th:include="fragment/common :: scripts" />

</body>
</html>
