<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment"/>
<body>
<section id="header" class="clearfix" th:include="fragment/common :: topFragment"/>

<section id="content" class="clearfix">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>Email Messages</h1>
        <p>Here are the major reminder emails sent by the system. Clicking on any of these
          will cause the reminder email to be sent to your email address: <span th:text="${participant.email}"> dan@sartography.com</span>
        </p>
        <table class="table table-bordered table-striped">
          <tr>
              <th>Type</th>
              <th>Sessions</th>
              <th>Days</th>
              <th>Template</th>
              <th>Exists?</th>
              <th>Subject</th>
              <th>Extension</th>
          </tr>
          <tr th:each="email : ${emails}">
            <td><p th:text="${email.scheduleType}"></p></td>
            <td><p th:text="${email.sessions}"></p></td>
            <td><p th:text="${email.days}"></p></td>
            <td><a th:href="@{'/admin/sendEmail/' + ${email.type}}" th:text="${email.type}"/></td>
            <td th:style="${email.templateExists==false} ? 'color: red'"><p th:text="${email.templateExists}"></p></td>
            <td><p th:text="${email.subject}"></p></td>
            <td><p th:text="${email.studyExtension}"></p></td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</section>

<footer id="footer" class="clearfix" th:include="fragment/common :: footer" />
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright" />
<div th:include="fragment/common :: scripts" />

</body>
</html>
