<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment"/>
<body>
<section id="header" class="clearfix" th:include="fragment/common :: topFragment"/>

<section id="content" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <h1 th:unless="${participantUpdateAdmin.admin}"><font color="#00ACE4"><b>Edit Participant</b></font></h1>
                <h1 th:if="${participantUpdateAdmin.admin}"><font color="#00ACE4"><b>Edit Administrator</b></font></h1>


                <form action="#" th:action="@{'/admin/participant/'+${participantEdit.id}}"
                      th:object="${participantUpdateAdmin}"
                      method="post">


                    <ul>
                        <li th:each="e : ${#fields.detailedErrors()}" th:if="${e.global}">
                            <span class="alert-error" th:text="${e.message}">The error message</span>
                        </li>
                    </ul>

                    <table>
                        <tr>
                            <td>Nick Name:</td>
                            <td width="70%"><input type="text" th:field="*{fullName}"/></td>
                            <td th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Name Error</td>
                        </tr>
                        <tr>
                            <td>Email Address:</td>
                            <td><input type="text" th:field="*{email}"/></td>
                            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
                        </tr>
                        <tr>
                            <td>Phone Number:</td>
                            <td><input name="phone" id="phone" type="tel" th:field="*{phone}"/></td>
                            <td th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Phone Error</td>
                        </tr>
                        <script th:src="@{/bower/intl-tel-input/build/js/intlTelInput.js}"></script>
                        <script>
                            var telInput = $("#phone");
                            // initialise plugin
                            telInput.intlTelInput({
                                utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.1.4/css/intlTelInput.css"
                            });
                            // on blur: validate
                            telInput.blur(function () {
                                var phoneReminders = $("#phoneReminders");
                                var countryData = $("#phone").intlTelInput("getSelectedCountryData");
                                if (countryData.iso2 != "us") {
                                    $("#noTexts").show();
                                } else {
                                    $("#noTexts").hide();
                                }
                            });

                        </script>

                        <tr>
                            <td>Email Reminders?:</td>
                            <td><input type="checkbox" th:field="*{emailReminders}"/></td>
                            <td th:if="${#fields.hasErrors('emailReminders')}" th:errors="*{emailReminders}"></td>
                        </tr>
                        <tr>
                            <td>Phone Reminders?:</td>
                            <td><input type="checkbox" th:field="*{phoneReminders}"/>
                                <span id="noTexts" style="display:none" class="error">It can be expensive sending text messages to international numbers.</span>
                            </td>
                            <td th:if="${#fields.hasErrors('phoneReminders')}" th:errors="*{phoneReminders}">
                            </td>
                        </tr>
                        <tr>
                            <td>Time Zone:</td>
                            <input type="hidden" name="timezone" id="timezone" th:field="*{timezone}"/>
                            <td th:text="${participantEdit.timezone}">Unknown</td>
                        </tr>
                        <script th:src="@{/js/jstz.min.js}"></script>
                        <script th:inline="javascript">
                            /*<![CDATA[*/
                            $("#timezone").val(jstz.determine().name());
                            /*]]>*/
                        </script>

                        <tr>
                            <td>Is Active:</td>
                            <td><input type="checkbox" th:field="*{active}"/></td>
                            <td th:if="${#fields.hasErrors('active')}" th:errors="*{active}">Admin Error</td>
                        </tr>
                        <tr>
                            <td>Is Admin:</td>
                            <td><input type="hidden" th:field="*{admin}"/><span th:if="*{admin}">True</span></td>
                            <td th:if="${#fields.hasErrors('admin')}" th:errors="*{admin}">Admin Error</td>
                        </tr>
                        <tr>
                            <td>Is Coach:</td>
                            <td><input type="checkbox" th:field="*{coaching}"/><span th:if="*{coaching}">True</span>
                            </td>
                            <td th:if="${#fields.hasErrors('coaching')}" th:errors="*{coaching}">Coach Error</td>
                        </tr>
                        <tr>
                            <td>Assigned Coach:</td>
                            <td>
                                <select th:field="*{coachedBy}">
                                    <option value="">Not Coached</option>
                                    <option th:each="p : ${coaches}" th:value="${p.id}" th:text="${p.fullName}"
                                            th:selected="${p==coachedBy}"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Is Test Account:</td>
                            <td><input type="checkbox" th:field="*{testAccount}"/></td>
                            <td class="error" th:if="${#fields.hasErrors('testAccount')}" th:errors="*{admin}">Test
                                Error
                            </td>
                        </tr>
                        <tr>
                            <td>Is in Blacklist:</td>
                            <td><input type="checkbox" th:field="*{blacklist}"/></td>
                            <td class="error" th:if="${#fields.hasErrors('blacklist')}" th:errors="*{admin}">blacklist
                                Error
                            </td>
                        </tr>
                    </table>
                    <button type="submit">Submit</button>
                </form>
                <form action="#" th:action="@{'/admin/participant/'+ ${participantEdit.id} +'/awardCard'}" method="post">
                    <button type="submit">Send Gift Card</button>
                </form>
            </div>
            <section th:replace="admin/adminCommon :: participantDetails(${participantEdit})"/>
        </div>
    </div>
</section>

<footer id="footer" class="clearfix" th:include="fragment/common :: footer"/>
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright"/>
<div th:include="fragment/common :: scripts"/>


</body>
</html>
