<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment"/>
<body>

<section id="header" class="clearfix" th:include="fragment/common :: topFragment"/>

<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="span12">


                <h1>Create Participant</h1>

                <form action="#" th:action="@{'/admin/participant/'}" th:object="${participantCreateAdmin}"
                      method="post">


                    <table>
                        <tr>
                            <td>Nick Name:</td>
                            <td><input type="text" th:field="*{fullName}" /></td>
                            <td class="error" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Name Error</td>
                        </tr>
                        <tr>
                            <td>Email Address:</td>
                            <td><input type="text" th:field="*{email}"/></td>
                            <td class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
                        </tr>
                        <tr>
                            <td>Phone Number:</td>
                            <td><input type="text" th:field="*{phone}"/></td>
                            <td class="error" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Phone Error</td>
                        </tr>
                        <tr>
                            <td>Time Zone:</td>
                            <td><input type="text" name="timezone" id="timezone" th:field="*{timezone}"/></td>
                        </tr>
                        <script th:src="@{/js/jstz.min.js}"></script>
                        <script th:inline="javascript">
                            /*<![CDATA[*/
                            $("#timezone").val(jstz.determine().name());
                            /*]]>*/
                        </script>
                        <tr>
                            <td>Password</td>
                            <td><input type="password" id="password" name="password"  th:errorclass="error"/></td>
                            <td class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td><input type="password" id="passwordAgain" name="passwordAgain"  th:errorclass="error"/></td>
                            <td class="error" th:if="${#fields.hasErrors('passwordAgain')}" th:errors="*{passwordAgain}">Password Error</td>
                        </tr>
                        <tr>
                            <td>Email Reminders?:</td>
                            <td><input type="checkbox" th:field="*{emailReminders}"/></td>
                            <td  class="error" th:if="${#fields.hasErrors('emailReminders')}" th:errors="*{emailReminders}">Error</td>
                        </tr>
                        <tr>
                            <td>Text Message Reminders?:</td>
                            <td><input type="checkbox" th:field="*{phoneReminders}"/></td>
                            <td  class="error" th:if="${#fields.hasErrors('phoneReminders')}" th:errors="*{phoneReminders}">Error</td>
                        </tr>
                        <tr>
                            <td>Is Active:</td>
                            <td><input type="checkbox" th:field="*{active}"/></td>
                            <td  class="error" th:if="${#fields.hasErrors('active')}" th:errors="*{active}">Admin Error</td>
                        </tr>
                        <tr>
                            <td>Is Admin:</td>
                            <td><input type="checkbox" th:field="*{admin}"/></td>
                            <td  class="error" th:if="${#fields.hasErrors('admin')}" th:errors="*{admin}">Admin Error</td>
                        </tr>
                        <tr>
                            <td>Is Coach:</td>
                            <td><input type="checkbox" th:field="*{coach}"/></td>
                            <td  class="error" th:if="${#fields.hasErrors('coach')}" th:errors="*{coach}">Coach Error</td>
                        </tr>
                        <tr>
                            <td>Is Test Account:</td>
                            <td><input type="checkbox" th:field="*{testAccount}"/></td>
                            <td  class="error" th:if="${#fields.hasErrors('testAccount')}" th:errors="*{admin}">Test Error</td>
                        </tr>
                        <tr>
                            <td>Is Over 18:</td>
                            <td><input type="checkbox" th:field="*{over18}"/></td>
                            <td  class="error" th:if="${#fields.hasErrors('over18')}" th:errors="*{over18}">Admin Error</td>
                        </tr>
                    </table>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>

</div>
</section>

<footer id="footer" class="clearfix" th:include="fragment/common :: footer" />
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright" />
<div th:include="fragment/common :: scripts" />



</body>
</html>
