<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment"/>
<body>

<section id="header" class="clearfix" th:include="fragment/common :: topFragment"/>


<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">

        <div class="row">

            <div class="main-content span12">
                <table class="table table-striped table-bordered participantList">
                    <thead>
                    <tr>
                        <th>Participant</th>
                        <th>Session</th>
                        <th>Date Completed</th>
                        <th>Phone Verified</th>
                        <th>Amount</th>
                        <th>Dollar Amount</th>
                        <th>Order Id</th>
                    </tr>
                    </thead>

                    <tbody>
                        <tr th:each="giftLog: ${giftLogs}">
                            <td th:text="${giftLog.participant.fullName}"></td>
                            <td th:text="${giftLog.sessionName}"></td>
                            <td>
                                <span th:if="${giftLog.dateCreated}" th:text="${#dates.format(giftLog.dateCreated, 'EEE, dd MMM yyyy h:mm a')}"></span>
                            </td>
                            <td>
                                <span th:if="${giftLog.participant.verified}">true</span>
                            </td>
                            <td><span th:text="${#numbers.formatDecimal(giftLog.amount, 0, 'COMMA', 2, 'POINT')}"></span> <span th:text="${giftLog.currency}"></span></td>
                            <td>$<span th:text="${#numbers.formatDecimal(giftLog.dollarAmount, 0, 'COMMA', 2, 'POINT')}">10.00 (in US Dollars)</span></td>
                            <td th:text="${giftLog.orderId}"></td>
                        </tr>
                    </tbody>
                </table>
                <span th:if="${!giftLogs.first}">
                    <a class="mybtn-small"
                       th:href="@{/admin/tango(page=${giftLogs.number - 1}, search=${search})}">Previous</a>
                </span>
                <span th:if="${!giftLogs.last}" style="float:right">
                    <a class="mybtn-small" th:href="@{/admin/tango(page=${giftLogs.number + 1}, search=${search})}">Next</a>
                </span>

            </div>
        </div>

    </div>


</section>

<footer id="footer" class="clearfix" th:include="fragment/common :: footer" />
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright" />
<div th:include="fragment/common :: scripts" />

</body>
</html>