File Edit Options Buffers Tools Help
/* Modified from  https://www.w3schools.com/css/tryit.asp?filename=tryresponsive_mobilefirst*/

*{
    box-sizing: border-box;
}

body {
    width: 100%;
    padding: 15px;
  }


  #current_anxiety_slider {
    -webkit-appearance: none;
    width: 90%;
    height: 20px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 25px;
    margin: 0 auto;
    display: block;
  }


  #current_anxiety_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 15px;
    width: 0px;
    height: 0px;
  }

  #current_anxiety_slider::-moz-range-thumb {
    -webkit-appearance: none;
    -moz-appearance: none; /* Ironically doesn't work in Firefox :| */
    appearance: none;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 15px;
    width: 0px;
    height: 0px;
  }

  #current_anxiety_slider::-ms-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 15px;
    width: 0px;
    height: 0px;
  }


  #current_anxiety_slider.clicked::-webkit-slider-thumb {
    opacity: 1;
    width: 30px;
    height: 30px;
  }

  #current_anxiety_slider.clicked::-moz-range-thumb {
    width: 30px;
    height: 30px;
  }
  #current_anxiety_slider.clicked::-ms-thumb   {
    width: 30px;
    height: 30px;
  }


  .col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

.left {
    text-align: left;
}

.right {
    text-align: right;
}

