
#clearSlider {
    box-sizing: border-box;
    -webkit-appearance: none;
    width: 90%;
    height: 20px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 25px;
    margin: 0 auto;
    display: block;
  }


  #clearSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 15px;
    width: 0px;
    height: 0px;
  }

  #clearSlider::-moz-range-thumb {
    -webkit-appearance: none;
    -moz-appearance: none; /* Ironically doesn't work in Firefox :| */
    appearance: none;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 15px;
    width: 0px;
    height: 0px;
  }

  #clearSlider::-ms-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 15px;
    width: 0px;
    height: 0px;
  }


  #clearSlider.clicked::-webkit-slider-thumb {
    opacity: 1;
    width: 30px;
    height: 30px;
  }

  #clearSlider.clicked::-moz-range-thumb {
    width: 30px;
    height: 30px;
  }
  #clearSlider.clicked::-ms-thumb   {
    width: 30px;
    height: 30px;
  }

  .slider {
    width: 100%;
  }



  .row::after {
    content: "";
    clear: both;
    display: table;
  }

.left {
   float: left;
   padding: 15px;
   text-align: left;
   max-width: 30%;
}

.right {
  float: right;
  padding: 15px;
  text-align: right;
  max-width: 30%;
}

