<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment"/>
<body th:class="|user-theme-${participant.theme}|">
<section id="header" class="clearfix" th:include="fragment/common :: topFragment"/>

<!-- content starts
================================================== -->
<section id="content" class="clearfix">

    <div class="container sessionSection" th:if="${session.daysToWait > 2}">
        <div class="row">
            <div class="col-md-4">
                <img th:src="@{/images/map-arrow-orange.png}" alt="icon" class="icon-small-bg"/>
            </div>

            <div class="col-md-8 session">
                <h2>Great Job, <span th:text="${participant.fullName}">Jim</span>.<br/>You have completed the <span
                        th:text="${lastSession.displayName}"/>. </h2>
                You have completed all the Sessions! We will email you in a few months, when it is time to complete the
                follow up <span th:if="${participant.receiveGiftCards}">and get your bonus gift card</span>.
            </div>
        </div>
    </div>

    <div class="container sessionSection" th:if="${currentSession.daysToWait == 2}">
        <div class="sessionHeader">
            <img class="sessionImage" th:src="|/images/map-${lastSession.index}-${participant.theme}.png|" alt="icon"/>

            <h2>Good work, <span th:text="${participant.fullName}">Jim</span>.<br/>You have completed the <span
                    th:text="${lastSession.displayName}"/>. </h2>
        </div>

        <div class="giftAwarded" th:if="${giftAwarded}">
            <img th:src="@{/images/gift_card_sm.png}"/>

            <div class="message">
                <em>Congratulations! You have earned a $<span th:text="${giftAmount}"/> gift card.</em><br/>
                Please check your email for information on how to redeem it.
                <span th:if="${nextGiftSession}"><b>Your next gift card</b> will be available when you complete <span
                        th:text="${nextGiftSession.displayName}"/></span>
            </div>
        </div>

        <p>UP NEXT: For best results, plan to begin the <span th:text="${currentSession.displayName}"/> between
            <br/><em th:text="${dateRange}">July 7 - July 10, 2015</em>
            <br/><a href="/session/overview">Program Overview</a>
        </p>

        <p class="detour"><img th:src="|/images/detour-${participant.theme}.png|"/>
            Now that you have finished the session it is time to have a break.
               <span th:if="${lastSession.name} == 'SESSION1'">Check out this <a target="new" href="https://www.youtube.com/watch?v=vJG698U2Mvo">amazing 1-minute
                       video about how we pay attention</a></span>
               <span th:if="${lastSession.name} == 'SESSION2'">Check out these <a target="new" href="http://psychology.about.com/od/sensationandperception/tp/cool-optical-illusions.htm">
                   10 cool optical illusions.</a></span>
               <span th:if="${lastSession.name} == 'SESSION3'">
                   Check out
                   <a target="new" href="https://www.youtube.com/watch?v=qA-gbpt7Ts8">Asch's famous parallel line study</a>
                   and learn about the powerful drive to conform.
               </span>
               <span th:if="${lastSession.name} == 'SESSION4'">
                    Visit
                   <a target="new" href="https://sapa-project.org/">the SAPA Project</a> and take a personality test based on modern psychological theory.
               </span>
               <span th:if="${lastSession.name} == 'SESSION5'">
                   Check out this
                   <a target="new" href="https://www.youtube.com/watch?v=38XO7ac9eSs#t=109">Change Blindness Experiment</a>
                   and see a startling demonstration of what most people simply do not see.
               </span>
               <span th:if="${lastSession.name} == 'SESSION6'">
                    Check out this popular test of
                   <a target="new" href="http://cognitivefun.net/test/4">working memory</a> that examines how well we
                   can keep multiple pieces of information in mind at the same time.
               </span>
               <span th:if="${lastSession.name} == 'SESSION7'">
                   Check out
                   <a target="new" href="https://www.youtube.com/watch?v=dcn4oTPVDyw">The Stanford Prison Experiment: Original footage</a>
                   and hear about one of the most intense psychology experiments in history. While ethical concerns about
                   this study mean it would not be repeated in the same way today, it teaches interesting lessons about
                   how situations can influence us in profound ways.
               </span>
               <span th:if="${lastSession.name} == 'SESSION8'">
                   Play a couple rounds of
                   <a target="new" href="http://serendip.brynmawr.edu/bb/pd.html">The Prisoner’s Dilemma</a> game to see if you prefer to cooperate or compete.
               </span>
            <br />
            <p class="reminder">(This is completely optional, and not a part of the study. These links are included for entertainment purposes only, and appearance of a website link here does not
                imply an endorsement of their views, policies or products.)</p>
        </p>

        <div class="nextGift" th:unless="${giftAwarded}" th:if="${nextGiftSession}">
            <img th:src="@{/images/gift_card_sm.png}"/>
            <span>Your next gift card will be available when you complete <span
                    th:text="${nextGiftSession.displayName}"/></span>
        </div>
    </div>
</section>


<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer"/>

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright"/>

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts"/>

</body>
</html>
