<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment"/>
<body>
<section id="header" class="clearfix" th:include="fragment/common :: topFragment"/>

<section id="content" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h1>Welcome to Future Thinking</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p>
                In this study, we are going to focus on the way you think about the

                future. Specifically, we will focus on the expectations you have about

                future outcomes.</p>

                <p>In this study, you will complete a computer program that will describe

                different situations and encourage you to think about how those

                situations will turn out. This computer program is an innovative addition

                to the field, inspired by similar programs that seem to have positive

                effects in changing the way we think about the future in order to

                improve prospection.</p>

                <p>Because the program is still in its experimental phase, we have people

                trying different versions of it to see which version works best –we think

                some of these computer programs will lead to a healthier evaluation of

                the future.</p>

            </div>

            <div class="col-md-4">
                <h4>Let's get started!</h4>
                <p><a th:href="@{/account/create}"><button>Am I Eligible?</button> </a></p>
            </div>
        </div>
     </div>
</section>

<footer id="footer" class="clearfix" th:include="fragment/common :: footer"/>
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright"/>
<div th:include="fragment/common :: scripts"/>

</body>
</html>