FirstSessionSentences.js<div class="vividness">
    <div> How vividly did you imagine yourself in the scenario? </div>
        <br/>
        <div> 1=<i>Not at all vivid</i> </div>
        <div> 2=<i>Somewhat vivid</i> </div>
        <div> 3=<i>Moderately vivid</i> </div>
        <div> 4=<i>Very vivid</i> </div>
        <div> 5=<i>Totally vivid</i> </div>
        <br/>
        <div> p = <i> Prefer not to answer </i> </div>
    <br/><br/>
    <div>Please type the corresponding number </div>
</div>
