<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment" />
<body th:class="|user-theme-${participant.theme}|">
<section id="header" class="clearfix" th:include="fragment/common :: topFragment" />

<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <img th:src="@{/images/map-arrow-orange.png}" alt="icon" class="icon-small-bg"/>

                <h2 class="page-title">Change Your Password </h2>
                <p>To change your password, please enter your password below:</p>
                <form th:action="${token}? @{/changePassword} : @{/account/changePassword}" method="POST">
                    <input type="hidden" name="token" th:value="${token}"/>
                    <input type="hidden" name="id" th:value="${participant.id}"/>
                    <fieldset>
                        <div class="formErrors">
                            <ul class="errors">
                                <li th:each="err : ${errors}" th:text="${err}" class="alert alert-error">Input is incorrect</li>
                            </ul>
                            <div class="spacer-20px"></div>
                        </div>
                        <p>
                            <label for="password" ></label>
                            <input type="password" id="password" name="password" />
                        </p>
                        <p>
                            <label for="passwordAgain" ></label>
                            <input type="password" id="passwordAgain" name="passwordAgain"/>
                            <label for="passwordAgain" >&nbsp;&nbsp;&nbsp;(Verify your password)</label>
                        </p>
                            <button>Change Password</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>


<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer" />

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright" />

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts" />

</body>
</html>
