<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org"><!--<![endif]-->

<head th:replace="fragment/common :: headerFragment"/>
<body>
<section th:replace="fragment/common :: topFragment"/>
<section th:replace="fragment/common :: titleBar (title='Frequently Asked Questions')"/>

<section id="content" class="clearfix">
    <div class="container">
        <div class="row">

            <div class="col-sm-4">
                <h3>General Questions</h3>
                <ol>
                    <li><a href="#item1">How can I make sure I get the main training condition?</a></li>
                    <li><a href="#item2">I’ve completed a few sessions and am still feeling anxious. Is the program not working for
                        me?</a></li>
                    <li><a href="#item3">What if I miss a session? Can I do three the following week?</a></li>
                    <li><a href="#item4">Where and when can I do the sessions?</a></li>
                    <li><a href="#item5">I have limited computer skills. Can I still use this program?</a></li>
                    <li><a href="#item6">Who created this program?</a></li>
                    <li><a href="#item7">Is this really going to work for my anxiety?</a></li>
                    <li><a href="#item8">I’m already receiving treatment for my anxiety (e.g., prescriptions or seeing a therapist).
                        Can I still use this program?</a></li>
                    <li><a href="#item9">Can I do the program from my phone or tablet?</a></li>
                    <li><a href="#item10">What if I will be out of town, and without access to a computer, during the study?</a></li>
                </ol>
                <h3>Specific Questions about your experience with the program</h3>
                <ol>
                    <li><a href="#item1s">When answering questions (following each of the brief stories), the program keeps telling me
                        that my answer is incorrect.</a></li>
                    <li><a href="#item2s">When trying to complete word fragments at the end of the brief stories, the program keeps
                        telling me my answer is incorrect.</a></li>
                </ol>
            </div>
            <div class="col-md-8">

                <h2> General questions </h2>
                <h3 id="item1">1. How can I make sure I get the main training condition?</h3>

                <p>a. Everyone will be randomly assigned to one of the various conditions being
                    tested—you cannot choose which you are assigned to. This is necessary so the researchers can
                    scientifically test how well each condition works. At the end of the study, you will be notified
                    of your assignment. If you were assigned to a condition that we do not think will be the
                    strongest one, you will then have the opportunity to complete the condition we expect to be most
                    effective. </p>

                <!---->
                <h3 id="item2">2. I’ve completed a few sessions and am still feeling anxious. Is the program not working for
                    me?</h3>

                <p>a. Don’t give up! Even individuals assigned to the main condition may not notice changes
                    right away. People in the other conditions may also not notice any changes, though
                    this varies by person. It is important to keep completing the sessions as assigned and to honestly
                    and accurately report your feelings throughout the program. You are helping us learn what works. </p>

                <h3 id="item3">3. What if I miss a session? Can I do three the following week?</h3>

                <p>a. Try to complete the sessions based on the schedule we give you. We will send you email
                    reminders to help you remember when you should complete your next session. If you miss a
                    session, complete it as soon as you have time (though we ask you to always leave at least one
                    day between sessions).</p>

                <h3 id="item4">4. Where and when can I do the sessions?</h3>

                <p>a. You can complete this program wherever and whenever you would like, as long as you have access
                    to a computer and Internet connection. We strongly recommend that you complete the tasks when
                    you are in a reasonably quiet place and able to devote your full attention to them.</p>

                <!---->
                <h3 id="item5">5. I have limited computer skills. Can I still use this program?</h3>

                <p>a. Yes. Anyone with access to the Internet and an email address is welcome to use this site.
                    Assessments (questionnaires) are simple and easy to complete; most are point-and-click. Other
                    tasks will ask you to type letters on your keyboard. Throughout the study, we will send you
                    emails to update you on your progress and to remind you of upcoming tasks. You can also email us
                    if you have any questions. Email: <a href="mailto:studyteam@mindtrails.org">
                        studyteam@mindtrails.org</a></p>

                <h3 id="item6">6. Who created this program?</h3>

                <p>a. Researchers from the University of Virginia created these programs, but they were adapted from
                    evidence-based computer tasks that have typically been tested in research laboratories (Hallion and Ruscio, 2011) .As
                    clinical scientists, we are interested in evaluating how well the programs work outside of the
                    research lab. In the long run, we are interested in creating a cost-effective and accessible mental
                    health treatment.</p>

                <h3 id="item7">7. Is this really going to work for my anxiety?</h3>

                <p>a. This is an experimental program so it is still in the testing phase, but some prior research
                    indicates it may be able to reduce anxiety. Even if you get assigned to a condition that we do not expect to be effective,
                    you will be given the opportunity to complete the training condition that we expect to be most
                    effective after you finish the study.</p>

                <h3 id="item8">8. I’m already receiving treatment for my anxiety (e.g., prescriptions or seeing a therapist).
                    Can I still use this program?</h3>

                <p>a. Yes; anyone that qualifies is welcome to use this program. Before you begin, you will be asked
                    a series of questions about your mental health. Please let us know that you are already
                    receiving treatment, but you can still participate in this study.</p>

                <h3 id="item9">9. Can I do the program from my phone or tablet?</h3>

                <p>a. No. The program is not optimized for use on a smartphone, tablet, or PDA (e.g., using mobile
                    operating systems such as Android or iOS). Please complete all sessions from a desktop, laptop,
                    or netbook computer. The following browsers are supported: Internet Explorer, Safari, Chrome,
                    and Firefox.</p>

                <h3 id="item10">10. What if I will be out of town, and without access to a computer, during the study?</h3>

                <p>a. If you miss a session, complete it as soon as you have time. Also, please let us know if you
                    will be away for more than a week, or we may assume you are no longer interested in
                    participating in the study.</p>

                <h2>Specific questions about your experience with the program</h2>

                <h3 id="item1s">1. When answering questions (following each of the brief stories), the program keeps telling me
                    that my answer is incorrect.</h3>

                <p>a. Please answer the questions based on information given to you in the stories. Remember that it
                    is essential that you fully involve yourself as if the events described are really happening to
                    you, so your answers should reflect that.</p>

                <h3 id="item2s">2. When trying to complete word fragments at the end of the brief stories, the program keeps
                    telling me my answer is incorrect.</h3>

                <p>a. Please complete the word fragments based only on information given to you in the brief
                    stories.</p>

                <h2>Reference:</h2>
                <p>Hallion, L. S., &amp; Ruscio, A. M. (2011). A meta-analysis of the effect of cognitive bias modification
                    on anxiety and depression. <i>Psychological bulletin, 137</i>(6), 940.</p>
            </div>



        </div>
    </div>
</section>
<footer th:replace="fragment/common :: footer"/>
<div th:include="fragment/common :: scripts"/>

</body>
</html>
