<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment"/>
<body>
<section id="header" class="clearfix" th:include="fragment/common :: topFragment"/>

<div class="container sessionSection">
    <div class="row">
        <div class="col-md-12 session">
            <h1>This server is running in Import Mode.</h1>

            <div th:unless="${participant}">
                <p> This is a private restricted access instance of MindTrails that provides access to reports
                    and deidentified data pulled from the MindTrails website.  You will need a special account
                    to log into this system.  Please request one from whoever directed you here, or contact
                    the mindtrails_research@virginia.edu team. </p>
                <a th:href="@{/login}">
                    <button>Log In</button>
                </a>
            </div>
            <div sec:authorize="${hasRole('ROLE_ADMIN')}">
                <p><B>Welcome to the Data Collection Instance of MindTrails!</B>  Please use the links below to access
                administrative tools.</p>
            </div>


        </div>
    </div>
</div>


<footer id="footer" class="clearfix" th:include="fragment/common :: footer"/>
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright"/>
<div th:include="fragment/common :: scripts"/>

</body>
</html>