<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment"/>
<body>
<section id="header" class="clearfix" th:include="fragment/common :: topFragment"/>


    <h1>Welcome to the MindTrails CBM Library</h1>
    <p>THANK YOU for taking the time to get this application
    up and running! We really hope it serves your needs and
    lets to get your study underway.</p>
    <p>This is a VERY bare bones starting point that can be
    styled to suit your needs.</p>
    <p>To Override this page, just create a file called
    /resources/templates/index.html and put whatever
    content you like there.</p>
    <p>Just be sure to include a link for logging into
    your Study... Like this one:</p>
    <a href="/login"><button>Log In</button></a>
    <a href="/account/create"><button>Create Account</button></a>

<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer"/>

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright"/>

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts"/>

</body>
</html>