<html>
<body>
    <h1>Welcome to the MindTrails CBM Library</h1>
    <p>THANK YOU for taking the time to get this application
    up and running! We really hope it serves your needs and
    lets to get your study underway.</p>
    <p>This is a VERY bare bones starting point that can be
    styled to suit your needs.</p>
    <p>To Override this page, just create a file called
    /resources/templates/index.html and put whatever
    content you like there.</p>
    <p>Just be sure to include a link for logging into
    your Study... Like this one:</p>
    <a href="/login"><button>Log In</button></a>
</body>
</html>