<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment"/>
<body>
<section id="header" class="clearfix" th:include="fragment/common :: topFragment"/>

<section id="content" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="span12">

<h2 class="page-title">Log In</h2>
                <form name="f" th:action="@{/login}" method="post">
    <fieldset>
        <div th:if="${param.error}" class="alert alert-error">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}" class="alert alert-success">
            You have been logged out.
        </div>
        <div th:if="${param.created}" class="alert alert-success">
            Account created. Please log in.
        </div>
        <div th:if="${invalidCode}" class="alert alert-success">
            The password reset code you provided is not valid.
        </div>
        <p>
            <label class="standard" for="email">Email</label>
            <input type="email" id="email" name="username"/>
        </p>

        <p>
            <label class="standard" for="password">Password</label>
            <input type="password" id="password" name="password"/>
        </p>

        <div class="fineprint">
            <a th:href="@{/resetPass}">Forgot your password?</a><br/>
        </div>
        <p>
            <button>Log in</button>
        </p>

    </fieldset>
</form>

                </div>
            </div>
        </div>
    </section>

<footer id="footer" class="clearfix" th:include="fragment/common :: footer"/>
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright"/>
<div th:include="fragment/common :: scripts"/>

</body>
</html>
