<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment" />
<body>
<section id="header" class="clearfix" th:include="fragment/common :: topFragment" />
<section th:include="fragment/common :: titleBar (title='The Science of MindTrails')"/>


<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p>The program you’re completing is a type of intervention called <b>cognitive bias modification</b> (CBM), and it is
                designed to help you change how you think in response to situations that make you feel anxious or upset.</p>
                <br></br>
                <p><b><h3>What Are Cognitive Biases?</h3></b></p>

                <p>Cognitive biases are tendencies to pay attention to, remember, and interpret things differently
                    when processing information tied to your emotional responses. For example, sometimes it can be difficult
                    to tell whether something that happens is good or bad. Our tendency to interpret these ambiguous events
                    as positive or negative can happen very rapidly and even without our being aware of our interpretation, so it can be difficult to catch these thinking habits — even though a tendency to routinely interpret things in
                    negative ways can make us feel more anxious or sad. That’s where CBM might help.</p>
                <br></br>
                <p><b><h3>Changing Cognitive Biases</h3></b></p>

                <p> CBM works by giving people <i>lots of practice processing information in new ways to help develop healthier thinking habits</i>.
                These tasks may seem repetitive, and it is not always obvious what the program is doing. However, there is growing evidence
                that CBM can be an effective method for reducing negative feelings, like anxiety and sadness.</p>

                <p> Several research studies have shown that CBM is effective at changing interpretations in people with
                    clinical levels of anxiety. Further, many studies have found that CBM leads to decreases in anxiety symptoms
                    and/or anxious reactions to potentially stressful situations, compared to control conditions (a condition that may look like the active training
                    but is not expected to work as well).</p>

                <p> Participants are randomly assigned to either the active training or control conditions. At the end of the study,
                    we can test whether the active training condition was more effective in promoting healthier thinking and emotional responses.
                    It is normal to have some concerns about being placed in a control condition.
                    In our study, every participant will have a chance to experience the condition that we expect to be most effective.</p>
                <br></br>

                        <p><b><h3>Treatment Components</h3></b></p>

                        <p> Studies have shown that repeated training of CBM can be especially beneficial,
                            because it provides more opportunities to practice healthier ways of thinking than a single training session.
                            This is why we set up multiple brief sessions of training.
                            Similarly, studies have found that biases in how you picture things in your mind are closely connected to difficulties
                            with anxiety, which is why the program includes exercises where participants imagine certain scenarios.</p>
                        <br></br>

                        <p><b><h3>The Need for Research</h3></b></p>

                        <p>   Although there are many examples of CBM programs helping to reduce anxiety, and even helping other
                             problem areas like depression, substance use (e.g., alcohol abuse), eating disorders, and anger problems (among others),
                             there are also some mixed findings. Not all studies using these approaches get the same results, and some studies find
                             decreases in one anxiety measure but not another. Also, more research needs to be done to find the optimal number of training
                            sessions, and to figure out how to make CBM as effective if completed online as in the clinic or lab.
                            Though there are still open questions, one goal of this site is to work on answering these questions in order to refine
                            and improve this promising treatment method.</p>
                        <br></br>
                        <h3><b>Resources</b></h3>
                        <p>Below are a few resources if you’re interested in learning more about CBM or
                            the research supporting it:</p>

                        <ul>
                            <li><a target ="new" href="http://www.apa.org/monitor/2011/11/behavior-change.aspx">
                                "Behavior change in 15-minute sessions?"</a> – American Psychological Association</li>
                            <li><a target="new" href="http://www.economist.com/node/18276234">
                                "Therapist-free therapy"</a> – The Economist</li>
                            <li><a target="new" href="http://psycnet.apa.org/journals/bul/137/6/940/">
                                "A meta-analysis of the effect of cognitive bias modification on anxiety and depression"</a> – Psychological Bulletin</li>
                            <li><a target="new" href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3092585/">
                                "Cognitive bias modification for anxiety: Current evidence and future directions"</a>
                                – Expert Review of Neurotherapeutics
                            </li>
                            <li><a target="new" href="http://www.sciencedirect.com/science/article/pii/S0272735810000140">
                                "Role of imagery in assessing and treating emotional disorders"</a>
                                – Clinical Psychology Review</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>


        <!-- footer starts
        ================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer" />

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright" />

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts" />

</body>
</html>
