<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment" />
<body>
<section id="header" class="clearfix" th:include="fragment/common :: topFragment" />

<!-- header-btm starts
================================================== -->
<section id="header-btm" class="clearfix">
    <div class="container">
        <div class="row">
            <h2 class="page-title heading-icon clearfix"> <img th:src="@{/images/map-arrow-orange.png}" alt="icon" class="icon-small-bg" /><br/>Meet The Team</h2>
        </div>
    </div>
</section>
<!-- header-btm ends
================================================== -->

<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">
        <div class="row">
            <table class="table">
                <tr class="info">
                    <td><b>The Core Team </b></td>
                </tr>
            </table>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <table>
                    <tr>
                        <td><img th:src="@{/images/MeetTheTeam/Bethany.jpg}" height="220"/></td>
                    </tr>
                    <tr>
                        <td><b>Bethany Teachman</b>, Ph.D., is the Director of MindTrails. Bethany is a licensed clinical psychologist and Professor of psychology at the University of Virginia. Her research focuses on biased thought patterns associated with anxiety and other forms of mental illness (see www.teachman.org). She also directs Project Implicit Mental Health, a web site where visitors can learn about their automatic associations toward different mental health topics.</td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-12 col-sm-6">
                <table>
                    <tr>
                        <td><img th:src='@{/images/MeetTheTeam/Dan.jpg}' height="220"/></td>
                    </tr>
                    <tr>
                        <td><b>Dan Funk</b> is the lead software developer for MindTrails.  As an independent contractor, Dan has the privilege of working on a variety of projects from commercial e-commerce applications for UnderArmour to search systems for the US Patent Office.  His favorite projects are at the University of Virginia, working with leading experts in the sciences to make the world a better place to be. </td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-12 col-sm-6">
                <table>
                    <tr>
                        <td><img th:src='@{/images/MeetTheTeam/Diheng.jpg}' height="220"/></td>
                    </tr>
                    <tr>
                        <td><b>Diheng Zhang</b>, M.A., is the project coordinator for MindTrails. Diheng is an experienced web developer and psychological researcher. His research focuses on the cognitive mechanisms that sustain mood disorders, the developmental trajectories of mood disorders, and interventions for mood disorders. </td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-12 col-sm-6">
                <table>
                    <tr>
                        <td><img th:src='@{/images/MeetTheTeam/Sam.jpg}' height="220"/></td>
                    </tr>
                    <tr>
                        <td><b>Sam Portnow</b>, M.A., is the lead graduate assistant for MindTrails. Sam is a Community Psychologist in-training, and also has experience developing open-source web applications. As such, Sam has extensive experience working alongside both web developers and psychologists.</td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-12 col-sm-6">
                <table>
                    <tr>
                        <td><img th:src='@{/images/MeetTheTeam/Sara.jpg}' height="220"/></td>
                    </tr>
                    <tr>
                        <td><b>Sara Gómez Trillos</b>, is pursuing a double degree in Psychology and Cognitive Science at the University of Virginia. Her background in programming and knowledge of cognitive psychology complement the project and contribute to her goal of developing practical ways to apply scientific knowledge to the improvement of mental health.</td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-12 col-sm-6">
                <table>
                    <tr>
                        <td><img th:src='@{/images/MeetTheTeam/Jim.jpg}' height="220"/></td>
                    </tr>
                    <tr>
                        <td><b>Jim Gibson</b> is the user interface designer for MindTrails. His company, Gibson Design Associates, provides graphic design, web design, and user interface design to a national clientele from their offices near Charlottesville’s downtown mall. In addition to work for the Library of Congress, the Environmental Protection Agency, and the Department of Homeland Security, GDA designed the integrated graphic identity for the University of Virginia.</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <table class="table">
                <tr class="info">
                    <td><b>Consultants</b></td>
                </tr>
            </table>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <table>
                    <tr>
                        <td><b>Lee Ritterband</b>, Ph.D., is a Professor of Psychiatry and Neurobehavioral Sciences at the University of Virginia. His research focuses on the development of Internet interventions for various behavioral health issues. </td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-12 col-sm-6">
                <table>
                    <tr>
                        <td><b>Andrew Mathews</b>, Ph.D. is a (visiting) Professor of Psychology at King’s College in London and Research Associate at the University of California, Davis. His research focuses on biased thought patterns involved in the development and maintenance of anxiety.</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <table class="table">
                <tr class="info">
                    <td><b>Contributors</b></td>
                </tr>
            </table>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <table>
                    <tr>
                        <td>Jessica Beadel Cruz, M.A.</td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-12 col-sm-6">
                <table>
                    <tr>
                        <td>Jen Green, Ph.D.</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <table>
                    <tr>
                        <td>Nauder Namaky, B.A.</td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-12 col-sm-6">
                <table>
                    <tr>
                        <td>Shari Steinman, Ph.D.</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <table>
                    <tr>
                        <td>Alexandra Werntz, B.A.</td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-12 col-sm-6">
                <table>
                    <tr>
                        <td>Program for Anxiety, Cognition, and Treatment (PACT) Lab </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>


<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer" />

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright" />

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts" />

</body>
</html>
