<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment" />
<body>
<section id="header" class="clearfix" th:include="fragment/common :: topFragment" />
<section th:include="fragment/common :: titleBar (title='Meet the Team')"/>

<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">
        <div class="row">
            <table class="table">
                <tr class="info">
                    <td><b>The Core Team </b></td>
                </tr>
            </table>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <table>
                    <tr>
                        <td><img th:src="@{/images/MeetTheTeam/Bethany.jpg}" height="220"/></td>
                    </tr>
                    <tr>
                        <td><b>Bethany Teachman</b>, Ph.D., is the Director of MindTrails. Bethany is a licensed clinical psychologist and Professor of psychology at the University of Virginia. Her research focuses on biased thought patterns associated with anxiety and other forms of mental illness (see www.teachman.org). She also directs Project Implicit Mental Health, a web site where visitors can learn about their automatic associations toward different mental health topics.</td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-12 col-sm-6">
                <table>
                    <tr>
                        <td><img th:src='@{/images/MeetTheTeam/Dan.jpg}' height="220"/></td>
                    </tr>
                    <tr>
                        <td><b>Dan Funk</b> is the lead software developer for MindTrails. Dan runs a software development
                            company out of Staunton, Virginia called Sartography.  Sartography's mission is to partner with
                            scientists and innovators to create engaging software that improves the health and well
                            being of our communities.  Some of Dan's favorite projects are at the
                            University of Virginia, working with leading experts to make the world a better place to live. </td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-12 col-sm-6">
                <table>
                    <tr>
                        <td><img th:src='@{/images/MeetTheTeam/Laura.jpg}' height="220"/></td>
                    </tr>
                    <tr>
                        <td><b>Laura Barnes</b>, Ph.D., is an associate professor in School of Engineering and Applied Science Engineering,
                            the Data Science Institute, and the Link Lab at the University of Virginia.
                            She directs the Sensing Systems for Health Lab.  Her research focuses on the design of
                            intelligent systems for understanding the dynamics and personalization of health and
                            well-being (www.lauraebarnes.com).</td>
                    </tr>
                </table>
            </div>

            <div class="col-xs-12 col-sm-6">
                <table>
                    <tr>
                        <td><img th:src='@{/images/MeetTheTeam/Jim.jpg}' height="220"/></td>
                    </tr>
                    <tr>
                        <td><b>Jim Gibson</b> is the user interface designer for MindTrails. His company, Gibson Design Associates, provides graphic design, web design, and user interface design to a national clientele from their offices near Charlottesville’s downtown mall. In addition to work for the Library of Congress, the Environmental Protection Agency, and the Department of Homeland Security, GDA designed the integrated graphic identity for the University of Virginia.</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <table class="table">
                <tr class="info">
                    <td><b>Consultants</b></td>
                </tr>
            </table>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <table>
                    <tr>
                        <td><b>Lee Ritterband</b>, Ph.D., is a Professor of Psychiatry and Neurobehavioral Sciences at the University of Virginia. His research focuses on the development of Internet interventions for various behavioral health issues. </td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-12 col-sm-6">
                <table>
                    <tr>
                        <td><b>Andrew Mathews</b>, Ph.D. is a (visiting) Professor of Psychology at King’s College in London and Research Associate at the University of California, Davis. His research focuses on biased thought patterns involved in the development and maintenance of anxiety.</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <table class="table">
                <tr class="info">
                    <td><b>Contributors</b></td>
                </tr>
            </table>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <table>
                    <tr>
                        <td>Jessica Beadel Cruz, M.A.</td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-12 col-sm-6">
                <table>
                    <tr>
                        <td>Jen Green, Ph.D.</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <table>
                    <tr>
                        <td>Nauder Namaky, B.A.</td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-12 col-sm-6">
                <table>
                    <tr>
                        <td>Shari Steinman, Ph.D.</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <table>
                    <tr>
                        <td>Imani S. Nichols, B.A.</td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-12 col-sm-6">
                <table>
                    <tr>
                        <td>Chongyu Yuan, M. Eng. </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <table>
                    <tr>
                        <td>Anyi Zhang, M. Eng.</td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-12 col-sm-6">
                <table>
                    <tr>
                        <td>Zhuo Chen, M. Eng. </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <table>
                    <tr>
                        <td>Alexandra Werntz, B.A.</td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-12 col-sm-6">
                <table>
                    <tr>
                        <td>Program for Anxiety, Cognition, and Treatment (PACT) Lab </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>


<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer" />

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright" />

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts" />

</body>
</html>
