body {
    background: #FFFFCC;
    color: #000 }
div.section {
    padding: 20px;
    width: 900px;
    height: 150px;
    border-radius: 15px;
    border: 1px solid black;
    background: #FFF;
}

div.option {
    font-size: .8em;
    float: left;
    width: 170px;
    font-size: 1.0em;
    align-content: center;
    text-align: center;
}

div.desc1 {
    height: 40px;
}

div.desc {
    float: center;
    height: 40px;
}

div.question {
    height: 60px;
    width: 700px;
}

div.optionLast {
    border-right: solid #757878;
    font-size: .8em;
    float: left;
    width: 170px;
    font-size: 1.0em;
    align-content: center;
    text-align: center;
}

div.longSection{
    padding: 20px;
    width: 900px;
    border-radius: 15px;
    border: 1px solid black;
    background: #FFF;
}

div.optionTheme{
    font-size: .8em;
    float: left;
    width: 100%;
}

div.optionThemeSub {
    display: inline-block;
}