@charset "UTF-8";
/* CSS Document */

* {box-sizing:border-box;}

body {font-family: 'Source Sans Pro', sans-serif; font-size:20px; box-sizing:border-box; background-color: #f6f5ea}
.clear-both {clear:both;}

p, ul {margin-bottom: 25px;}

h3 { font-size:100%; font-weight: 700 }
.longSection h3 {font-size:92%;  color:#3399FF}

.fineprint p { font-size: 75%; margin: 0 }

button  {  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px #666;
  -moz-box-shadow: 0px 1px 3px #666;
  box-shadow: 0px 1px 3px #666;
  border-top:1px solid #5FBCEA;
  border-left:1px solid #5FBCEA;
  border-bottom:1px solid #0084AE;
  border-right:1px solid #0084AE;
  color: #ffffff;
  background: #00ACE4;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-size:20px;
  margin:10px 0px;
    font-weight: 700;
}

button.jw-button-finish:disabled {
    color: #bbb;
}

button.jw-button-finish:disabled span.ui-icon-circle-check {
    display: none;
}


.user-theme-orange button { background:#F77D38; border-top:#F99A65; border-left:#F99A65; border-bottom:#B36B42; border-right:#B36B42;}
.user-theme-green button { background:#77B46D; border-top:#99C38D; border-left:#99C38D; border-bottom:#698D63; border-right:#698D63;}
.user-theme-purple button { background:#C98ABB; border-top:#D4A4CA; border-left:#D4A4CA; border-bottom:#9A7490; border-right:#9A7490;}
.user-theme-gold button { background:#ECB800; border-top:#F1C657; border-left:#F1C657; border-bottom:#AF8A00; border-right:#AF8A00;}


#header {background:url(/images/bg-header.png) top left repeat-x; }
.logo {background:url(/images/header-logo.png) top left no-repeat; width:365px; height:135px; float:left; margin-left:-35px;}
.logo a {height:135px; width:365px; display:block;}

#nav {float:right; font-size:0.6em; list-style:none; padding:15px 0 15px 0;}
#nav li {float:left; padding:0px 10px;}
#nav a {color:#5ECCDE; text-decoration:none; font-weight: 700}
.user-theme-orange #nav a { color:#F99A65;}
.user-theme-green #nav a { color:#99C38D; }
.user-theme-purple #nav a { color:#D4A4CA; }
.user-theme-gold #nav a { color:#F1C657;}

.account-bar {clear:both; width:100%; background: #00ACE4; font-size:.66em; text-align:right; padding:0px 20px; line-height: 25px}
.user-theme-orange .account-bar { background:#F77D38; }
.user-theme-green .account-bar { background:#77B46D; }
.user-theme-purple .account-bar { background:#C98ABB; }
.user-theme-gold .account-bar { background:#ECB800; }
.account-bar a, .account-bar span.item {color:#000000; padding: 0 10px 0 10px; font-weight:400}
.account-bar .login {}
.page-title {font-size:1.45em; color:#00ACE4; font-weight:bold; }
.page-title img {margin-bottom:20px;}
.user-theme-orange .page-title { color:#F77D38; }
.user-theme-green .page-title { color:#77B46D; }
.user-theme-purple .page-title { color:#C98ABB; }
.user-theme-gold .page-title { color:#ECB800; }
.heading-icon {margin-top:-10px; }

em {font-style: normal; color:#5ECCDE; font-weight: 800;}
.user-theme-orange em { color:#F77D38; }
.user-theme-green em { color:#77B46D; }
.user-theme-purple em { color:#C98ABB; }
.user-theme-gold em { color:#ECB800; }

ul.errors {

}

li.alert {
    margin: 0px;
    padding: 0px;
    color: darkred;
}

#footer {background:#21336B; font-size:0.6em;}
.footer-logo { float:left;}

.footer-links {float:right; list-style:none; padding:15px;}
.footer-links li {float:left; padding:0px 10px;}
.footer-links a {color:#5ECCDE; text-decoration:none; font-weight:700}
.user-theme-orange .footer-links a { color:#F99A65;}
.user-theme-green .footer-links a { color:#99C38D; }
.user-theme-purple .footer-links a { color:#D4A4CA; }
.user-theme-gold .footer-links a { color:#F1C657;}

h2 {font-size:1.45em; color:#00ACE4; font-weight:bold }
.user-theme-orange h2 { color:#F77D38;}
.user-theme-green h2 { color:#77B46D; }
.user-theme-purple h2 { color:#C98ABB; }
.user-theme-gold h2 { olor:#ECB800; }



.copyright {width:100%; padding:15px; text-align:center; background:#FFFFFF;}

/**
  Mainly used for all-in-one forms, such as the login form, reset password, etc...
**/
div.longSection, div.sessionSection, div.sessionOverview {
    margin: 40px auto;
    padding: 20px 20px 20px 20px;
    max-width: 900px;
    border-radius: 15px;
    border: 1px solid #BBB;
    background: #FFF;
}

/**
  For the main landing page for participants
**/
div.sessionSection{  padding: 20px 0px; align-content: center text-align: center;}
div.sessionSection .col-md-4 { padding: 0 0 0 100px; }
div.sessionSection .col-md-8 { padding: 0 100px 0 100px; }

div.sessionSection p {
    text-align: center;
    margin: 20px;
}

div.sessionSection div.sessionHeader {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: #00ACE4;
    margin: -20px 0 0 0;
    padding: 10px 40px;
    color: #FFF;
    min-height: 180px;
}
div.sessionSection div.sessionHeader h2 {
    color: #FFF;
    font-weight: bold;
    text-align: center;
    max-width: 600px;
    margin: 20px 100px 20px 300px;
}


div.sessionSection img.sessionImage {
    float:left;
    padding-left: 50px;
}

div.sessionSection div.nextGift {
    border-top: 1px solid #5f5f5f;
    line-height: 40px;
    padding: 20px 20px 0 20px;
    text-align:  center;
}

div.sessionSection div.giftAwarded {
    border-top: none;
    border-bottom: 1px solid #5f5f5f;
    text-align: left;
    padding: 20px 100px 20px 150px;
}

div.sessionSection div.giftAwarded div.message {
    padding-left: 100px;
}


div.sessionSection div.nextGift img, div.sessionSection div.giftAwarded img {
    float: left;
    padding: 20px;
}


/**
Session Home / Status Page
**/
div.session {text-align: center}
div.session p { font-size: 1.16em; }
div.session p.session-note {
    border-top: 2px solid #5f5f5f;
    width:100%;
    padding: 30px 0 0 0;
    margin: 20px 0 0 0;
    font-size: 1em;
}
div.session .date { color:#00ACE4; font-weight: 600 }

/**
Account Theme Section
**/

div.themeSection {
    max-width: 900px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border: 1px solid #BBB;
    background: #FFF;
    height: 200px;
    min-width:924px;
}

div.themeSection img {
    float:right;
}

div.themeSection input {
    margin: 20px 0 0 20px;
}

div.themeSection label {
    float:right;
    margin:0px;
    min-width: 100px;
    font-weight: 700;

}

div.themeSection div.themeOption {
    float:right;
    background: #ffffff;
    height: 200px;
    min-width:824px;
    margin-left: 20px;
    border-bottom: 1px solid #BBB;
    padding: 10px 20px 0 20px;
}

div.orange  {
    background-color: #ef7b40;
}
div.green {
    background-color: #7bb76f;
}
div.purple  {
    background-color: #c686ba;
}
div.gold  {
    background-color: #e6ba21;
}

div.adminTools {
    background-color: #fff;
    font-size: 1.2em;
}

span.form-note {
    display: block;
    margin-left: 170px;
    font-style: italic;
}

/**  PIPlayer styling **/

div.piPlayerHeader {
    width:100%;
    background: #21336B;
}

div#canvas {
    position: relative;
    color:black;
    background: white;
    box-sizing:border-box;
    border-radius: 25px;
    padding: 20px 50px;
    width: 200px;
    margin: 40px auto;
    border: 1px solid #bbb;
}

div.stimulus {
    font-size: 25px;
    text-align: center;
    padding-bottom: 20px;
}

div.piIntro {
    text-align:left;
}

div.piIntro img {
    float:left;
}

div.piIntro p, div.piIntro h3, div.piIntro ul {
    margin-left: 200px;
    font-size: 20px;
}


/**
Session Overview
**/

img.sessionMarker {
    position:absolute;
    left: 20px;
    margin: 20px;
}

div.sessionGrouping {
    width: 850px;
    clear:both;
    margin: 50px 0 0 0;
    position:relative;
}

div.sessionOverview {
    left: 120px;
    background:#21336B;
    margin: 0 0 0 120px;
    padding: 0;
    width: 600px;
}

div.sessionOverview h3 {
    color: white;
    font-size: 92%;
    margin: 5px 20px;
}

div.sessionOverview span.date {
    margin-left: 10px;
}

div.gift {
    position:absolute;
    width: 100px;
    bottom:0px;
    right:0px;
    text-align: center;
}

div.gift img {
    margin-left:-20px;
}


br.clear {
    clear:both;
}

div.sessionOverview table {
    background-color: white;
    min-width: 598px;
}

div.sessionOverview table td {
    background-color: white;
    border: 1px solid #BBB;
    padding-left: 20px;
    height: 40px;
}

.allow2days {
    color: #5f5f5f;
    font-size: 83%;
    margin: 0 0 0 175px;
}


/**
Questionnaires
**/

table.questionnaire {
    width:100%;
    font-size: 75%;
    margin: 10px auto;
}

table.questionnaire th {
    font-weight: 400;
    text-align: center;
    width: 120px;
    background-color: #ddd;
}

table.questionnaire td {
  text-align: center;
}


table.questionnaire td.statement,table.questionnaire td.statementLong {
    text-align: left;
    min-width: 200px;
    padding-bottom: 20px;
    padding-left: 5px;
}

table.questionnaire td.statementLong {
    min-width: 300px;
}


table.questionnaire td:last-chifld {
    border-left: 1px solid #ddd;
}

label {
    min-width: 170px;
    font-weight: 400;
    vertical-align: middle;
}

input.radioBox {
    cursor: pointer;
}

label.radioBox {
    min-width: 50px;
    min-height: 50px;
    cursor: pointer;
    margin-bottom: 10px;
}

label.radioBox5 {
    min-width: 18%;
    width: 18%;
}

label.radioBox7 {
    min-width: 13%;
    width: 13%;
}

div.section label.radioBox7 div.desc1, div.section label.radioBox5 div.desc1{
    width: 100%;
    text-align: center;
}


label.radioList {
    cursor: pointer;
    text-indent: -25px;
    font-size: 85%;
    margin: 0 0 0 20px;
    padding: 0 200px 0 25px;
    display: block;
    width:100%;
}

label.radioList input[type="radio"], label.radioList input[type="checkbox"] {
    margin-right: 10px;
}

div.listNoAnswer {
    width: 150px;
    margin: 20px;
    text-align: center;
    font-size: .8em;
}

label.radioListNoAnswer {
    position: absolute;
    height: 75%;
    width: 150px;
    right:0;
    font-size: 85%;
    display: block;
    padding: 15px;
    border-left: 1px solid #BBB;
    text-align: center;
}

div.oneToSeven {
    display: none;
    font-size: .7em;
    margin-left: 40px;
     }

label.radioList b {
    font-weight: 600;
}

label label.error {
    padding: 0px 10px 0px 24px;
    color: darkred;
}

input[type="number"] {
    width: 60px;
    margin-left: 10px;
}

div.wide {
    width:900px;
}

div.section, div.sectionLong, div.scale, form#wizard{
    position: relative;
    margin: 10px auto;
    padding: 0px;
    border-radius: 15px;
    border: 1px solid #bbb;
    background: #FFF;
    font-weight:400;
    max-width: 900px;
}



div.scale .title {
    background-color:#00ACE4;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size:92%;
    color: #fff;
    padding: 5px 0 5px 0;
}

div.scale div.option, div.scale div.optionLast {
    font-weight:600;
}

div.option, div.optionLast {
    font-size: 75%;
    padding: 10px 28px 0 25px;
    align-content: center;
    text-align: center;
    line-height: 1.1em;
    color: #5f5f5f;
}

div.option, div.optionLast {
    font-weight: 400;
}

input[type="radio"] {
    margin: 10px auto;
    width: auto;
    height: auto;
    border: none;
}

div.optionLast {
    border-right: solid 2px #bbb;
}

div.section div.desc1, div.scale div.desc1 {
    height: 40px;
    width: 120px;
}


div.scale div.desc1 {
    height: 50px;
}

div.scale div.desc2 {
    font-weight: 700;
}

div.desc {
    height: 70px;
}

div.question {
    font-size: 92%;
    padding: 5px 0 10px 15px;
    font-weight: 600;
}

div.section select {
    margin: 0 0 10px 20px;
}

div#submit, div.submit {
    margin: 20px auto;
    width: 100%;
    padding: 0;
    text-align: center;
    align-content: center;
}

table.daysOfWeek {
    width: 90%;
    font-size: 85%;
    margin: 10px auto;
    padding-left: 10px;
}

table.daysOfWeek td {
    width: 40px;
}

table.daysOfWeek th {
    width: 40px;
    font-weight: 400;
    padding-left: 10px;
}


/**
Wizards
**/
form#wizard {
    margin: 20px 0px;
    padding: 20px;
}

#wizard th {
    text-align: center;
}

#slider {
    border: 1px solid #ccc;
    width: 475px;
    margin: 20px 0 90px 100px;
}
#slider label.slider {
    font-width: 400;
    font-size:72%;
    position: absolute;
    width: 100px;
    min-width: 100px;
    margin-top: 20px;
    margin-left: -10px;
    text-align: center;
}

#graph {
    width: 600px;
    height: 300px;
    font-size: 14px;
    line-height: 1.2em;
    margin: auto;
}