<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment"/>
<body>
<section id="header" class="clearfix" th:include="fragment/common :: topFragment"/>

<section id="content" class="clearfix">
    <div class="container sessionSection">
        <div class="row">
            <div class="col-md-4">
                <img th:src="@{/images/map-0-orange.png}" alt="icon" class="icon-small-bg"/>
            </div>

            <div class="col-md-8 session">
                <h2><b>Congratulations, <span th:text="${participant.fullName}">Jim</span>!</b></h2>

                <p>You previously completed the Calm Thinking program, and now that you have finished the 2-month
                    followup assessment, you have reached the end of the Calm Thinking study!</p>

                <p>The MindTrails research team would like to thank you for your time and participation &mdash; this research
                    wouldn't be possible without participants like you.</p>

                <p>Now that you have finished, you can review your <a th:href="@{/graph}">Graph of Progress</a> to see how
                your anxiety changed over the course of the program. This page also reveals if you were in the
                    Active Training condition, or the control condition.</p>

                <p>Additionally, you can now read the <a th:href="@{/account/debriefing}">Debriefing page</a>, which provides a full explanation of the
                    purpose of the study.</p>
                </div>
        </div>
    </div>
</section>
<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer"/>

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright"/>

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts"/>

</body>
</html>
