<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment"/>
<body>
<section id="header" class="clearfix" th:include="fragment/common :: topFragment"/>

<section id="content" class="clearfix">
    <div class="container sessionSection">
        <div class="row">
            <div class="col-md-4">
                <img th:src="@{/images/map-0-orange.png}" alt="icon" class="icon-small-bg"/>
            </div>

            <div class="col-md-8 session">

                <div th:if="${currentSession.index} == 0">
                    <h2><span th:text="${participant.fullName}">Jim</span>, you're ready to
                        begin your initial assessment.</h2>
                    <p>This is an information-gathering session that will take
                        approximately <span th:text="${currentSession.duration}">20</span> minutes to complete.</p>
                </div>

                <div th:if="${currentSession.name == 'PostFollowUp'} ">
                    <h2 th:if="#{participant.study.index == 0}">Welcome back <span
                            th:text="${participant.fullName}">Jim</span>.
                    </h2>
                    <p>You are ready to begin <span th:text="${currentSession.displayName}"/></p>
                    <p>This includes:</p>
                    <img th:with="url=(|/images/clock-1-${participant.theme}.png|)" th:src="@{${url}}" alt="icon"/>
                    <p>A brief follow-up</p>
                </div>

                <div th:if="${currentSession.index &gt; 0 and currentSession.name != 'PostFollowUp'}" >
                    <h2 th:if="#{currentSession.index == 0}">Nice Work <span
                            th:text="${participant.fullName}">Jim</span>.
                    </h2>
                    <h2 th:unless="#{currentSession.index == 0}">Welcome back <span
                            th:text="${participant.fullName}">Jim</span>.
                    </h2>
                    <p>You are ready to begin <span th:text="${currentSession.displayName}"/></p>
                    <p>This includes:</p>
                    <img th:with="url=(|/images/clock-20-${participant.theme}.png|)" th:src="@{${url}}" alt="icon"/>
                    <p>A 20-minute training</p>
                    <img th:with="url=(|/images/clock-1-${participant.theme}.png|)" th:src="@{${url}}" alt="icon"/>
                    <p>A brief follow-up</p>
                </div>


                <div th:if="${giftAwarded}">
                    <h3>Congratulations! You have earned a $5 gift card.</h3> Please check your email for information on
                    how to redeem it.
                </div>
                <p class="session-note">For best results, complete <span th:text="${currentSession.displayName}"/> by
                    <br/><span class="date" th:text="${completeBy}">July 10, 2015</span>
                </p>
                <a th:href="@{${currentTask.requestMapping}}" th:if="${currentTask}">
                    <button>Start</button>
                </a>
                <p>
                <a th:href="@{/session/overview}" th:unless="${currentSession.name =='PRE'}">Program Overview</a>
                </p>
            </div>
        </div>
    </div>
</section>

<footer id="footer" class="clearfix" th:include="fragment/common :: footer"/>
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright"/>
<div th:include="fragment/common :: scripts"/>
</body>
</html>