<html>
<body>
  <h2>Good work, <span th:text="${participant.fullName}">Jim</span>.<br/>You have completed the <span
        th:text="${lastSession.displayName}"/>. </h2>

  <div class="giftAwarded" th:if="${giftAwarded}">
    <img th:src="@{/images/gift_card_sm.png}"/>

    <div class="message">
        <em>Congratulations! You have earned a $<span th:text="${giftAmount}"/> gift card.</em><br/>
        Please check your email for information on how to redeem it.
                <span th:if="${nextGiftSession}"><b>Your next gift card</b> will be available when you complete <span
                        th:text="${nextGiftSession.displayName}"/></span>
    </div>
  </div>

  <p>UP NEXT: For best results, plan to begin the <span th:text="${currentSession.displayName}"/> between
      <br/><em th:text="${dateRange}">July 7 - July 10, 2015</em>
      <br/><a href="/session/overview">Program Overview</a>
  </p>

  <div class="nextGift" th:unless="${giftAwarded}" th:if="${nextGiftSession}">
      <img th:src="@{/images/gift_card_sm.png}"/>
            <span>Your next gift card will be available when you complete <span
                    th:text="${nextGiftSession.displayName}"/></span>
  </div>

</body>
</html>
