<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment"/>
<body th:class="|user-theme-${participant.theme}|">

<section id="header" class="clearfix" th:include="fragment/common :: topFragment"/>

<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container sessionSection" th:if="${currentSession.daysToWait > 10}">

        <!--
        <div class="row">
            <div class="col-md-4">
                <img th:src="@{/images/map-arrow-orange.png}" alt="icon" class="icon-small-bg"/>
            </div>


            <div class="col-md-8 session">
                <h2><b>Great Job, <span th:text="${participant.fullName}">Jim</span>!<br/>You have completed <span
                        th:text="${lastSession.displayName}"/>.</b></h2>
                You have completed all the training sessions! We will email you in <span th:text="${currentSession.daysToWait}">30</span>
                days, when it is time to complete the
                follow up assessment <span th:if="${participant.receiveGiftCards}">and get your bonus gift card</span>.
            </div>
        </div>
    </div>
    -->

    <div class="container sessionSection"
         th:if="${currentSession.daysToWait &gt; 0 and currentSession.daysToWait &lt; 10}">
        <div class="sessionHeader">
            <img class="sessionImage" th:with="url=(|/images/map-${lastSession.index}-${participant.theme}.png|)"
                 th:src="@{${url}}" alt="icon"/>

            <h2><b><span th:text="#{complete1.p1}">Nice work</span> <span th:text="${participant.fullName}">Jim</span>!</b></h2>
            <br></br>
            <p><span th:text="#{complete1.p2a}">You have completed</span> <b><span th:text="#{complete1.p2b}">Level 1: Beginner.</span></b></p>
            <p><span th:text="#{complete1.p3a}">Finishing the stories during the next session will be a little more challenging as you<br/> move up to</span>
                <b><span th:text="#{complete1.p3b}">Level 2: Advanced</span></b><span th:text="#{complete1.p3c}">, but we think you’re ready.</span></p>
            <br></br>
        </div>

        <!--
        <div class="giftAwarded" th:if="${giftAwarded}">
            <img th:src="@{/images/gift_card_sm.png}"/>

            <div class="message">
                <em>Congratulations! You have earned a $<span th:text="${giftAmount}"/> gift card.</em><br/>
                We will send you an email in the next few days with information on how to redeem it.
                <span th:if="${nextGiftSession}"><b>Your next gift card</b> will be available when you complete <span
                        th:text="${nextGiftSession.displayName}"/></span>
                <br></br>
            </div>
        </div>
        -->

        <p><span th:text="#{complete1.p4}">UP NEXT: For best results, plan to begin your next session between</span>
            <br/><b th:text="${dateRange}">July 7 - July 10, 2015</b>.
            <br></br>
            <br/><a th:text="#{programOverview}" th:href="@{/session/overview}">Program Overview</a>
            <br></br>
        </p>

        <!--
        <div class="nextGift" th:unless="${giftAwarded}" th:if="${nextGiftSession}">
            <img th:src="@{/images/gift_card_sm.png}"/>
            <span>Your next gift card will be available when you complete <span
                    th:text="${nextGiftSession.displayName}"/></span>
        </div>
        -->

    </div>
    </div>
</section>

<footer id="footer" class="clearfix" th:include="fragment/common :: footer"/>
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright"/>
<div th:include="fragment/common :: scripts"/>

</body>
</html>
