<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment" />
<body>
<section id="header" class="clearfix" th:include="fragment/common :: topFragment" />

<!-- header-btm starts
================================================== -->
<section id="header-btm" class="clearfix">
    <div class="container">
        <div class="row">
            <h2 class="page-title heading-icon clearfix"> <img th:src="@{/images/map-arrow-orange.png}" alt="icon" class="icon-small-bg" /><br/>About This Study</h2>
        </div>
    </div>
</section>
<!-- header-btm ends
================================================== -->

<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="span12">
                <p> Thank you for your interest in our research! </p>

                <p>MindTrails includes 8 sessions that are spread out over 3–4 weeks. You’ll complete 2–3 training
                    sessions each week, and each session requires about 20 minutes to complete. You’ll also complete some
                    assessments as part of our research study so that we can evaluate how well the program works. You’ll
                    receive gift cards to thank you for completing the assessments, and a t-shirt after completing the
                    full study. Also, at the end of the study, we’ll give you feedback about how your anxiety symptoms have
                    changed over the course of the program.</p>

                <p>You can do the sessions anywhere, so long as you have access to a quiet place and a computer with Internet.
                    This program is free and can be completed without ever leaving your desk.</p>

                <h3> So, how does this program work? </h3>

                <p>In our program, we are attempting to change the way you make sense of information in order to reduce your
                    anxiety. During each session, you will be asked to read brief stories and complete word fragments, by
                    filling in one or more missing letters in a word. The task is not meant to be tricky or too difficult.
                    It is not a puzzle to try to solve.</p>

                <p>These exercises are designed to change the way you make sense of information by giving you lots of
                    practice responding to situations in different ways. The program can feel a little repetitive, but the
                    repetition is important so you develop a new interpretation style.</p>

                <p>Don’t worry if you don’t use computers much—the tasks are not designed to be difficult and you can always
                    email us with questions at <a href="mailto:staff@mindtrails.org">staff@mindtrails.org.</a></p>

                <p><b>This is an experimental program so it is still in the testing phase, but prior research says this
                    program may be able to reduce anxiety as effectively as therapy for some people. We want to learn if
                    it can be helpful for you.</b></p>

                <br />
                <br />

            </div>
        </div>

    </div>
</section>


<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer" />

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright" />

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts" />

</body>
</html>
