<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment" />
<body>
<section id="header" class="clearfix" th:include="fragment/common :: topFragment" />

<!-- header-btm starts
================================================== -->
<section id="header-btm" class="clearfix">
    <div class="container">
        <div class="row">
            <h2 class="page-title heading-icon clearfix"> <img th:src="@{/images/map-arrow-orange.png}" alt="icon" class="icon-small-bg" /><br/>About This Study</h2>
        </div>
    </div>
</section>
<!-- header-btm ends
================================================== -->

<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="span12">
                <p> Thank you for your interest in our research! </p>
                <p> The program includes 8 sessions that are spread out over the course of 3-4 weeks. You’ll complete a session
                    every 3 to 4 days, and each session takes about 20 minutes. You can do the sessions anywhere, so
                    long as you have access to a quiet place and a computer with Internet. </p>

                <h3> So, how does this program work? </h3>

                <p> Previous research has found that how we interpret information is directly linked to our anxiety. </p>

                <p> In our program, we are attempting to change the way you make sense of information in order to reduce your anxiety.</p>

                <p> During each session, you will be asked to complete a brief computer program. Specifically, you will be asked to read brief stories and complete word fragments, which means you fill in the missing letter(s) in a word. The task is not meant to be tricky or too difficult, but is designed to change the way you make sense of information. </p>

                <p> This is an experimental program so it is still in the testing phase, but prior research says it may be able to reduce anxiety as effectively as therapy. Also, this program is free, doesn’t take a lot of your time, and can be completed without ever leaving your desk! </p>

                <h3>What am I signing up for? </h3>

                <p> If you decide to participate in our program, you will initially be assigned to either an active training condition, or one of two “control” conditions, which use computer programs that look similar to those used in the active training condition, but are not designed to change anxiety. This is to test whether or not the program is really working. If you get assigned to a control condition, you will be given the opportunity to complete the real program after you finish the study. In other words, EVERYBODY gets a chance to try our real program eventually. </p>

                <p> You will also complete 5 brief, assessment sessions (about 15-20 minutes each) that will include a few questionnaires and computer tasks (one right before you begin the study, two part-way through the study, one at the end of the eight sessions, and a final one 2 months later). These assessments will be used to monitor your progress, and to help us learn about the programs.</p>

                <p> Bonus: Since these programs are new, we are currently offering gift cards to individuals who participate in our study. If you are eligible for our study, you will get a $5 gift card (e.g., to Amazon.com or Starbucks) for each of the 5 assessments you complete. </p>

                <p> Thanks for reading about our study. If you are interested in participating, click HERE to see if you are eligible. This will only take about 3 minutes. </p>

                <p> Also, if you have any questions, please contact <a href="mailto:pimhintervention@projectimplicit.net">pimhintervention@projectimplicit.net</a>.</p>

            </div>
        </div>

    </div>
</section>


<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer" />

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright" />

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts" />

</body>
</html>
