<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment" />
<body>
<section id="header" class="clearfix" th:include="fragment/common :: topFragment" />

<!-- header-btm starts
================================================== -->
<section id="header-btm" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h4 class="heading-icon clearfix"> <img src="/grepfrut/img/icons/heading-icon-user.png" width="40" height="40" alt="icon" class="icon-small-bg"/>Account Settings</h4>
            </div>
        </div>
    </div>
</section>
<!-- header-btm ends
================================================== -->

<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="span8">

                <p><b>Name and Password</b></p>
                <form action="#" th:action="@{'/admin/participant/'+${participant.id}}" th:object="${participant}"
                      method="post">
                <table>
                    <tr>
                        <td width="30%">Name / Nickname</td>
                        <td width="30%" th:text="*{fullName}" >adam</td>
                        <td>(<a href=" ">Edit</a>)</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td th:text="*{email}">daniel.h.funk@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td>********</td>
                        <td>(<a th:href="@{resetPass}" >Change Password</a>)</td>
                    </tr>
                </table>

                <p><b>Select a Theme</b></p>
                <p>To customize the appearance of MindTrails select one of the options below. You can change your theme at any time.</p>
                    <fieldset>
                    <div class="longSection">
                        <div class="optionTheme">
                            <div class="optionThemeSub">
                                <input style="width: 20px;" type="radio" th:field="*{theme}" value="orange" required="true" />
                            </div>
                            <div class="optionThemeSub"><img src="" height="" width=""/></div>
                        </div>
                        <div class="optionTheme">
                            <div class="optionThemeSub">
                                <input type="radio" th:field="*{theme}"   value="green"  />
                            </div>
                            <div class="optionThemeSub"><img src="" /></div>
                        </div>
                        <div class="optionTheme">
                            <div class="optionThemeSub">
                                <input type="radio" th:field="*{theme}"   value="purple"  />
                            </div>
                            <div class="optionThemeSub"><img src="" /></div>
                        </div>
                        <div class="optionTheme">
                            <div class="optionThemeSub">
                                <input type="radio" th:field="*{theme}"  value="gold" />
                            </div>
                            <div class="optionThemeSub"><img src="" /></div>
                        </div>
                        <div class="optionTheme">
                            <div class="optionThemeSub">
                                <input type="radio" th:field="*{theme}" value="blue"  />
                            </div>
                            <div class="optionThemeSub"><img src="" /></div>
                        </div>
                    </div>
                    </fieldset>
                    <div style="text-align: center;">
                        <a th:href="@{/session}" type="submit" class="btn" style="color:#3399FF;">Done</a>
                    </div>

                </form>

                <div class="note">
                    * Please note, you will still receive
                    a few messages from us as you enter
                    new phases in the study or if you are
                    dropped from the Study due to
                    inactivity.
                    You may also choose to <button id="opener">exit the study.</button>
                </div>

                <script>
                    $(function() {
                        $( "#dialog" ).dialog({
                            autoOpen: false,
                            show: {
                                effect: "blind",
                                duration: 1000
                            },
                            hide: {
                                effect: "blind",
                                duration: 1000
                            }
                        });
                        $( "#opener" ).click(function() {
                            $( "#dialog" ).dialog( "open" );
                        });
                    });
                </script>

                <div id="dialog"  title="Will you please stay?">
                    <p>Sessions only take 15 to 20 minutes to complete,
                    and your participation can help make a substantial
                    impact in the lives and well being of others. Will you
                    please stay and complete a session?</p>
                    <a th:href="@{'/session'}"><button>Yes, Let's go!</button></a>
                    <a th:href="@{'/pages/exitStudy'}"><button>No, remove me now.</button></a>

                </div>

            </div>
        </div>

    </div>
</section>


<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer" />

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright" />

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts" />

</body>
</html>
