<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment"/>
<body th:class="|user-theme-${participant.theme}|">
<section id="header" class="clearfix" th:include="fragment/common :: topFragment"/>


<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">
        <h1>Dear <span th:text="${participant.fullName}"/>,</h1>

        <p>We want to let you know that your score on
            the anxiety symptom measure that you complete each session is
            showing an increase in symptoms, compared to your score when
            you started the program.</p>

        <p1>We are sorry that you are experiencing increased anxiety
            and like to make sure our study participants are aware if their
            scores increase by 30% or more and know how to access
            other resources if they wish.</p1>

        <p>You are welcome to continue your participation in our program, and we also want to
            direct you to the following list of
            <a href="https://implicit.harvard.edu/implicit/user/pimh/linkinfo.html">Mental Health Resources</a>.
            Further, while we do not endorse any particular organization or provider (see our
            <a th:href="@{https://mindtrails.org/public/disclaimer}">Terms and Conditions</a>), you may
            contact us via email at <a href="mailto:pimhintervention@projectimplicit.net">pimhintervention@projectimplicit.net</a>
            if you want help in determining how to find nearby referrals for in-person treatment.</p>

        <p style="margin-top:5px">Thank you for your participation in the study and we hope you’re
            having a good week.  Please click "Continue" below if you would like to continue today's
            session. </p>

        <p>This shows your progress through the MindTrails program. You must wait a minimum of 24 hours between
            training sessions. We encourage you to begin a new session 3-4 days after completing the previous session.
            When you're done reviewing, head back to <a th:href="@{/session}">home</a> to start your next session.</p>

        <p>You can now <a th:href="@{/session}">Continue</a> with your session, if you choose to do so.</p>
    </div>
    <br/>
    <br/>
</section>


<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer"/>

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright"/>

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts"/>

</body>
</html>
