<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment" />
<body>
<section id="header" class="clearfix" th:include="fragment/common :: topFragment" />

<!-- header-btm starts
================================================== -->
<section id="header-btm" class="clearfix">
    <div class="container">
        <div class="row">
            <h2 class="page-title heading-icon clearfix"> <img th:src="@{/images/map-arrow-orange.png}" alt="icon" class="icon-small-bg" /><br/>Debriefing</h2>
        </div>
    </div>
</section><!-- header-btm ends
================================================== -->

<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="span12">
                <p> We are currently investigating experimental approaches to reduce anxiety. The experimental approaches
                    used in the study are based on models of anxiety, which have shown that anxious people tend to interpret
                    ambiguous situations as threatening. It has been proposed that the tendency to interpret things in a
                    threatening way plays a role in the onset of, and recovery from, anxiety problems.  The approaches in
                    this study are designed to either induce healthier interpretations.</p>

                <p> Previous laboratory-based studies have shown that reducing the tendency to interpret ambiguous
                    information in a threatening way can reduce anxiety. In the current study, we are evaluating if it
                    possible to administer techniques to change interpretation patterns over the Internet, and whether
                    these programs reduce anxiety. You either participated in a condition that is expected to reduce your
                    tendency to interpret information in a negative way, or you participated in an alternative training
                    condition that may be less effective in changing interpretations.</p>

                <p> If you were in a condition designed to change the way you interpret information, you were asked to
                    read and imagine yourself in a series of brief stories. In the main active condition, the last word (or
                    word fragment) gave all brief stories a positive meaning. In one control condition, the last word (or
                    word fragment) gave half of the stories a positive meaning and half of the stories a negative meaning.
                    In the other alternative condition, most of the stories you read were not particularly related to anxiety
                    and were fairly neutral in tone. We expect that the active condition will increase positive interpretations,
                    relative to the other conditions. Additionally, we predict that active training will decrease anxiety
                    symptoms, though this is a new training program, so part of the current study is to determine if this
                    program can work well on the Internet.</p>
                <p>
                    If you are interested in learning more about modifying biases, see the following articles:
                <ul>
                    <li>
                        <a target="_blank" href="http://www.apa.org/monitor/2011/11/behavior-change.aspx">Behavior change in 15-minute sessions?</a>
                    </li>
                    <li>
                        <a target="_blank" href="http://www.economist.com/node/18276234">Therapist-free therapy</a>
                    </li>
                </ul>
                </p>
                <p> If you have any questions about this study, please email Bethany Teachman
                    at <a target="_blank" href="mailto:pimhintervention@projectimplicit.net">pimhintervention@projectimplicit.net</a>. </p>
                <p> For those seeking additional mental health help or advice:
                <ol>
                    <li>
                        (1) Do you need immediate help? If you are thinking about harming yourself or someone else, please tell someone who can help immediately:
                        <ul>
                            <li> - Call 911 for emergency services (in the United States).</li>
                            <li> - Go to a hospital emergency room.</li>
                            <li> - Call the toll-free 24-hour hotline of National Suicide Prevention Lifeline at 1-800-273-TALK (1-800-273-8255) to be connected to a trained counselor at a crisis center near you.</li>
                        </ul>
                    </li>
                    <li>
                        (2) If you do not need immediate help, but would like to talk to someone about the problems you might be having, please follow the <a href="https://implicit.harvard.edu/implicit/user/pimh/linkinfo.html">mental health resources link</a> on this site. If you have any questions concerning mental health issues in general or feel especially concerned about your own thoughts or mood, please visit our mental health links page.
                    </li>
                </ol>
                </p>
                <p> You can <A HREF="javascript:window.print()">click here to print this page</A>.</p>
                <p> Thank you again for your participation</p>
            </div>
        </div>

    </div>
</section>


<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer" />

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright" />

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts" />

</body>
</html>
