<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
    <head th:include="fragment/common :: headerFragment" />
<body>
    <section id="header" class="clearfix" th:include="fragment/common :: topFragment" />

<!-- header-btm starts
================================================== -->
<section id="header-btm" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h4 class="heading-icon clearfix"> <img src="img/icons/heading-icon-user.png" width="40" height="40" alt="icon" class="icon-small-bg"/>Alpha Development Release -- Sprint 8</h4>
            </div>
        </div>
    </div>
</section>
<!-- header-btm ends
================================================== -->

<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">


        <!--spacer here-->
        <div class="spacer-30px"></div>

        <!--features starts-->
        <div class="row">
            <div class="span12">
                <h1 th:text="'Welcome Back ' + ${name}"></h1>
                <ul class="list-3col">
                    <li>
                        <img th:src="@{/img/people/1.jpg}"/>
                    </li>
                    <li>
                        <table id="progress">
                            <tr>
                                <th>Pre</th>
                                <th colspan="2">Week 1</th>
                                <th colspan="2">Week 2</th>
                                <th colspan="2">Week 3</th>
                                <th colspan="2">Week 4</th>
                                <th>Post</th>
                            </tr>
                            <tr class="progress_boxes">
                                <td th:each="s : ${sessions}" th:class="${s.current}? 'current' : ${s.group}" th:text="${s.complete}? '✓'"/>
                            </tr>
                        </table>
                        <!--spacer here-->
                        <div class="spacer-30px"></div>

                        <p>Welcome to the study!  To get the most out of this, you should try to complete two sessions each week.
                            Click the button below to complete the pre-assessment.  This will involve a series of questionnaires and should take about 5 minutes to complete.</p>
                        <a href="int_train.html">Get Started!</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--features ends-->


        <!--divider here-->
        <div class="spacer-40px"></div>

        <!--spacer here-->
        <div class="spacer-30px"></div>

        <!--box starts-->
        <div class="row">
            <div class="span12">
                <div class="dark-box">
                    <h1>And that's it <span class="color">folks</span>! </h1>
                    <p>but I hope to have more to show soon.</p>
                </div>
            </div>
        </div>
        <!--box ends-->

    </div>
</section>


    <!-- footer starts
    ================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer" />

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright" />

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts" />

</body>
</html>
