<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
    <head th:include="fragment/common :: headerFragment" />
<body>
    <section id="header" class="clearfix" th:include="fragment/common :: topFragment" />

<!-- header-btm starts
================================================== -->
<section id="header-btm" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h4 class="heading-icon clearfix"> <img src="/grepfrut/img/icons/heading-icon-blocks.png" width="40" height="40" alt="icon" class="icon-small-bg"/>Session Progress</h4>
            </div>
        </div>
    </div>
</section>
<!-- header-btm ends
================================================== -->

<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">


        <!--spacer here-->
        <div class="spacer-30px"></div>

        <!--features starts-->
        <div class="row">
            <div class="span12">
                <h1 th:if="${currentSession.name.toString() == 'PRE'}" th:text="'Welcome ' + ${name} + '!'"></h1>
                <h1 th:if="${currentSession.name.toString() == 'SESSION1'}" th:text="'Thanks ' + ${name} + '! Now please complete your first Session.'"></h1>
                <ul class="list-3col">
                    <li>
                        <img th:src="@{/grepfrut/img/people/1.jpg}"/>
                    </li>
                    <li>
                        <div id="progress">
                            <div><img th:src="@{/grepfrut/img/session/session_titles.png}" width="300"/></div>
                            <div class="progress_boxes">
                                <div th:each="s : ${participant.sessions}" th:class="${s.state}"/>
                            </div>
                        </div>
                        <!--spacer here-->
                        <div class="spacer-30px"></div>

                        <div th:if="${sessionState == 'READY'}">
                            <div th:switch="${currentSession.name.toString()}">
                                <p th:case='PRE'>Before you begin the first session, we'd like to get some more information about you.</p>
                                <p th:case='SESSION1'>Please press the "Next" button below to get started.</p>
                                <p th:case='SESSION2'>Please press the "Next" button below to get started.</p>
                                <p th:case='SESSION3'>Please press the "Next" button below to get started.</p>
                                <p th:case='SESSION4'>Please press the "Next" button below to get started.</p>
                                <p th:case='SESSION5'>Please press the "Next" button below to get started.</p>
                                <p th:case='SESSION6'>Please press the "Next" button below to get started.</p>
                                <p th:case='SESSION7'>Please press the "Next" button below to get started.</p>
                                <p th:case='SESSION8'>Please press the "Next" button below to get started.</p>
                            </div>

                            <ul id="tasks" th:each="task, iterStat : ${currentSession.tasks}">
                                <li th:if="${task.state.toString() == 'COMPLETE'}" th:class="${task.state}" th:text="${'Task ' + iterStat.count + ' Thanks!'}"/>
                                <li th:if="${task.state.toString() != 'COMPLETE'}" th:class="${task.state}" th:text="${'Task ' + iterStat.count}"/>

                            </ul>

                            <p> Please press the next button when you are ready to continue.</p>
                            <a th:href="${currentTask.requestMapping}" th:if="${currentTask}"><div class="mybtn">Next</div></a>

                        </div>

                        <div th:if="${sessionState == 'WAIT_A_DAY'}">
                            Great work!  Please come back within the next few days to complete the next session.
                        </div>

                        <div th:if="${sessionState == 'NOT_ELIGIBLE'}">
                            Based on the answers you provided in the initial review, we cannot accept you into the study at this time.
                        </div>

                        <div th:if="${sessionState == 'WAIT_FOR_FOLLOWUP'}">
                            We will email you in a few months, when it is time to complete the follow up session.  Thank you.
                        </div>

                        <div th:if="${sessionState == 'ALL_DONE'}">
                            You are all finished!  Thank you very much for participating in the study.
                        </div>




                    </li>
                </ul>
            </div>
        </div>
        <!--features ends-->

        <!--divider here-->
        <div class="spacer-40px"></div>

    </div>
</section>


    <!-- footer starts
    ================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer" />

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright" />

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts" />

</body>
</html>
