<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
    <head th:include="fragment/common :: headerFragment" />
<body>
    <section id="header" class="clearfix" th:include="fragment/common :: topFragment" />

<!-- header-btm starts
================================================== -->
    <section id="header-btm" class="clearfix">
        <div class="container">
            <div class="row">
                <h2 class="page-title heading-icon clearfix"> <img th:src="@{/images/map-arrow-orange.png}" alt="icon" class="icon-small-bg" /><br/>Thank you for completing our assessment</h2>
            </div>
        </div>
    </section>
<!-- header-btm ends
================================================== -->

<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">

      <div class="row">
        <!--sidebar starts-->
        <div class="span 6">
			<p>Unfortunately, you do not currently qualify for the study, but we appreciate your interest. We want to be sure we are offering the program to people we think are most likely to find it helpful.</p>
			<p>If you wish to participate in other research, we encourage you to visit the Project Implicit site, <a href="https://implicit.harvard.edu/implicit/research">implicit.harvard.edu</a>, where there are other studies that you can try today, or complete another study at Project Implicit Mental Health, <a href="https://implicit.harvard.edu/implicit/user/pimh/index.jsp">implicitmentalhealth.com</a>.</p>
			<p>To access treatment for your anxiety, please see the following list of <a href="https://implicit.harvard.edu/implicit/user/pimh/linkinfo.html">Mental Health Resources</a>.</p>
			<p>Thank you for your interest!</p>
            <img src="https://mindtrails.virginia.edu/public/track/mindtrails_not_pass.gif" alt=" " />
        </div>
        <!--sidebar ends-->
      </div>
    </div>
</section>


<!-- footer
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer" />


<!-- copyright starts
================================================== -->
<footer id="copyright" class="clearfix" th:include="fragment/common :: copyright" />

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts" />

</body>
</html>
