<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment" />
<body>
<section id="header" class="clearfix" th:include="fragment/common :: topFragment" />

<!-- header-btm starts
================================================== -->
<section id="header-btm" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h4 class="heading-icon clearfix"> <img src="/grepfrut/img/icons/heading-icon-user.png" width="40" height="40" alt="icon" class="icon-small-bg"/>Invitation to Participant</h4>
            </div>
        </div>
    </div>
</section>
<!-- header-btm ends
================================================== -->

<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="span6">

                <h4>You are Eligible to Participate!</h4>

                <p>You reported experiencing some anxiety. As a result, you are eligible to participate in the MindTrails study, a new internet-based program designed to reduce anxiety.</p>

                <p> This is an experimental program so it is still in the testing phase, but there are many good reasons for you to participate.</p>

                <ul>
                    <p><b>Reasons to participate:</b></p>
                    <li>Prior research says it may be able to reduce anxiety as effectively as therapy for some people.</li>
                    <li>It's FREE.</li>
                    <li>It will not require a lot of your time.</li>
                    <li>It can be completed without leaving your desk.</li>
                </ul>

                <p> If you would like to participate, click the “Get Started” button below.</p>

                <p> If you do not wish to participate, consider reviewing these <a href="">for dealing with your anxiety.</a> </p>
                <p><a th:href="@{consent}"><button>Get Started</button></a></p>

            </div>

        </div>
    </div>
</section>


<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer" />

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright" />

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts" />

</body>
</html>
