<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
    <head th:include="fragment/common :: headerFragment" />
<body>
    <section id="header" class="clearfix" th:include="fragment/common :: topFragment" />

<!-- header-btm starts
================================================== -->
<section id="header-btm" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h4 class="heading-icon clearfix"> <img src="img/icons/heading-icon-user.png" width="40" height="40" alt="icon" class="icon-small-bg"/>Please Sign In or Create an Account</h4>
            </div>
        </div>
    </div>
</section>
<!-- header-btm ends
================================================== -->

<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">

      <div class="row">

        <!--features starts-->
        <div class="main-content span8">
                <form name="f" th:action="@{/login}" method="post">
                    <fieldset>
                        <legend>Login:</legend>
                        <div th:if="${param.error}" class="alert alert-error">
                            Invalid username and password.
                        </div>
                        <div th:if="${param.logout}" class="alert alert-success">
                            You have been logged out.
                        </div>
                        <div th:if="${param.created}" class="alert alert-success">
                            Account created.  Please log in.
                        </div>
                        <p>
                        <label for="email">Email</label>
                        <input type="text" id="email" name="username"/>
                        </p>
                        <p>
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password"/>
                        </p>
                        <div class="form-actions">
                            <button type="submit" class="btn">Log in</button>
                        </div>
                    </fieldset>
                </form>
                <form name="f" th:action="@{/newParticipant}" method="post">
                <fieldset>
                    <legend>Create Account:</legend>
                    <div th:if="${param.create_error}" class="alert alert-error">
                        There was an error creating your account.
                    </div>
                    <p>
                        <label for="fullName">Full Name</label>
                        <input type="text" id="fullName" name="fullName"/>
                    </p>
                    <p>
                        <label for="email">Email</label>
                        <input type="text" id="email2" name="email"/>
                    </p>
                    <p>
                        <label for="unencodedPassword">Password</label>
                        <input type="password" id="unencodedPassword" name="unencodedPassword"/>
                    </p>
                    <p>
                        <label for="unencodedPassword2">Password (again)</label>
                        <input type="password" id="unencodedPassword2" name="unencodedPassword2"/>
                    </p>
                    <div class="form-actions">
                        <button type="submit" class="btn">Create Account</button>
                    </div>
                </fieldset>
            </form>

        </div>
        <!--features ends-->

        <!--sidebar starts-->
        <div class="sidebar span4 contact">
            <h4>Welcome to Project Implicit</h4>
            <p>We could write a bit about Project Implicit here, or provide some information ...</p>
            <h5>Help</h5>
            <a href="#" class="color"><em>info@pi.virginia.edu</em></a>
            <div class="spacer-20px"></div>
            <h5>Technical support</h5>
            <a href="#" class="color"><em>support@pi.virginia.edu</em></a>
            <div class="spacer-20px"></div>
            <h5>Learn more about us</h5>
            <p>Please check out our about us page to learn more about Project Implicit and who we are...</p>
        </div>
        <!--sidebar ends-->
      </div>
    </div>
</section>


<!-- footer
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer" />


<!-- copyright starts
================================================== -->
<footer id="copyright" class="clearfix" th:include="fragment/common :: copyright" />

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts" />

</body>
</html>
