<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1" />

        <link type="text/css" rel="Stylesheet" href="../PIPlayer/dist/css/reset.css"/>
        <link type="text/css" rel="Stylesheet" href="../PIPlayer/dist/css/styles.css"/>

		<script src="../PIPlayer/dist/js/libs/require.js"></script>

        <script th:inline="javascript">
            /*<![CDATA[*/
            var scriptName = /*[[${script}]]*/ int_train.js;

            require(['../PIPlayer/dist/js/config'], function() {
                require.config({baseURL:'../PIPlayer/dist/js'});
                require(["/PIPlayerScripts/" + scriptName + ".js"]);
            });
            /*]]>*/
        </script>
	</head>
	<body>
	</body>
</html>
