<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment" />

<body>
<section id="header" class="clearfix" th:include="fragment/common :: topFragment" />

<!-- header-btm starts
================================================== -->
<section id="header-btm" class="clearfix">
    <div class="container">
        <div class="row">
                <h2 class="page-title heading-icon clearfix"> <img th:src="@{/images/map-arrow-orange.png}" alt="icon" class="icon-small-bg" /><br/>Welcome!</h2>
        </div>
    </div>
</section>
<!-- header-btm ends
================================================== -->

<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p>In this study, we are going to focus on the way you think, and how that may affect your anxiety.
                    Specifically, we will focus on the way you interpret information. </p>
                <p>It’s not always clear why anxiety persists over time, but one reason is because of the way
                    people think about the things they are anxious about.</p>
                <b>For example:</b>
                <ul>
                    <li>People may think they are more likely to
                    be negatively judged by others than they actually are.</li>
                    <li>People may think that they will not be
                    able to cope with being in scary situations.</li>
                </ul>
                <p>Past studies have shown that changing the way we think
                    can affect our anxiety. In fact, studies have shown that practice thinking about things in new ways
                    may reduce anxiety symptoms. In this part of the study, you will complete computer programs that
                    will describe different situations, and encourage you to think about them in particular ways.</p>
                <p>We have people trying different versions of computer program for this study – we think some of these computer
                    programs will reduce anxiety by changing the way people interpret situations.</p>
                <p>    <a th:href="@{public/eligibility}"><button>Am I Eligible?</button></a> </p>
            </div>
        </div>

    </div>
</section>


<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer" />

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright" />

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts" />

</body>
</html>
