<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment" />
<body>
<section id="header" class="clearfix" th:include="fragment/common :: topFragment" />
<section th:include="fragment/common :: titleBar (title='Terms and Conditions')"/>


<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <br></br>

                <ul><li><u><a href="#item1">Participation in Online Anxiety Intervention Study</a></u></li></ul>
                <ul><li><u><a href="#item2">Diagnostic and Treatment Information</a></u></li></ul>
                <ul><li><u><a href="#item3">Gift Cards</a></u></li></ul>
                <ul><li><u><a href="#item4">Links to Other Sites</a></u></li></ul>
                <ul><li><u><a href="#item5">Links from Other Sites</a></u></li></ul>
                <ul><li><u><a href="#item6">Pop-Up Advertisements</a></u></li></ul>
                <ul><li><u><a href="#item7">Ownership and Use of This Site</a></u></li></ul>
                <ul><li><u><a href="#item8">Age of Consent</a></u></li></ul>
                <ul><li><u><a href="#item9">Information for Former Study Participants</a></u></li></ul>
                <ul><li><u><a href="#item10">Diagnosis and Treatment</a></u></li></ul>
                <ul><li><u><a href="#item11">Disclaimer</a></u></li></ul>
                <ul><li><u><a href="#item12">Release</a></u></li></ul>

                <br></br>

                <h3><b>By accessing or using this site, you agree to the following terms and conditions:</b></h3>

                <br></br>

                <h3 id="item1"><b>Participation in Online Anxiety Intervention Study</b></h3>

                <p>These Terms and Conditions supplement the Consent Agreement that you will sign as a research study
                    participant, during the term of your active participation in the study.  If any provision in the
                    Consent Agreement conflicts with these Terms and Conditions, the provision in the Consent Agreement
                    applies to your participation in the study, not the conflicting provision in these Terms and
                    Conditions. If you are a former participant in the research study and are accessing this site to do
                    the exercises on your own, please see “Information for Former Study Participants” below.</p>
                <br></br>
                <h3 id="item2"><b>Diagnostic and Treatment Information</b></h3>

				<p>Please see the <a href="javascript:window.open('/public/consent','Consent Agreement','width=600,height=600')">Consent Agreement</a>
                    if you are a current research study participant.  If you are a former participant in the research study and are
                    accessing this site to do the exercises on your own, please see “Information for Former Study Participants” below.</p>
                <br></br>
                <h3 id="item3"><b>Gift Cards</b></h3>

                <p>The awarding of gift cards for completion of the research study assessments will be
                    available while supplies lasts.</p>
                <br></br>
                <h3 id="item4"><b>Links to Other Sites</b></h3>

                <p>Some MindTrails web pages may link to those of other organizations. Appearance of a website link here
                    does not imply an endorsement of their views, policies or products. Once you click on a link to
                    another site, you are subject to its privacy policy. MindTrails has not participated in the
                    development of the sites of other organizations and does not exert any control over the content of
                    those sites. MindTrails is not responsible for the accuracy or content of information contained in
                    those sites.</p>
                <br></br>
                <h3 id="item5"><b>Links from Other Sites</b></h3>

                <p>MindTrails does not exert any control over the content of sites linking to the MindTrails website.
                    MindTrails is not responsible for the accuracy or content of information contained in those sites.</p>
                <br></br>
                <h3 id="item6"><b>Pop-Up Advertisements</b></h3>

                <p>When visiting our site, your Web browser may produce "pop-up" advertisements (advertisements that
                    spontaneously appear on your computer screen). The most likely source of such an advertisement is
                    another website you visited or third-party software on your computer. MindTrails does not endorse or
                    recommend products or services featured in advertisements that "pop up" during your visit to our
                    site.</p>
                <br></br>
                <h3 id="item7"><b>Ownership and Use of This Site</b></h3>

                <p>The MindTrails website and all intellectual property associated with it is owned by the University of
                    Virginia, and may not be used, reproduced or distributed for any commercial purpose. It may be used
                    for non-commercial purposes, such as educational or research purposes, only with prior written
                    permission. To apply for permission, contact <a href="mailto:studyteam@mindtrails.org">studyteam@mindtrails.org</a>.</p>
                <br></br>
                <h3 id="item8"><b>Age of Consent</b></h3>

                <p>In the United States, the minimum age for consent to participate in research studies in most states and territories is 18, with the exception of Nebraska (19)
                    and Puerto Rico (21). To be eligible to participate in MindTrails studies, individuals must have attained the legal age for consent to participate in research studies under the applicable
                    law of their local jurisdiction.
                </p>
                <br></br>
                <h3 id="item9"><b>Information for Former Study Participants</b></h3>

                <p>If you are a former research study participant and wish to access mental health resources, please
                    click on the "Mental Health Resources" tab at the top of this webpage.
                    If you need to contact the MindTrails team, please email <a href="mailto:studyteam@mindtrails.org">studyteam@mindtrails.org</a>.</p>
                <br></br>
                    <h3 id="item10"><b>Diagnosis and Treatment</b></h3>
                    <p>This site does not provide personalized diagnostic, medical or treatment advice. You should
                        consult with a qualified mental health or health care provider for diagnosis and treatment
                        information. We do not offer crisis management or real-time monitoring of email. If you are
                        experiencing a medical or mental health emergency, you should not rely on any information on
                        this website, and should seek appropriate emergency medical assistance, such as by calling
                        911.</p>
                <br></br>
                <h3 id="item11"><b>Disclaimer</b></h3>
                    <p>The creators and owner of MindTrails are not responsible for, and disclaim all liability for
                        damages of any kind arising out of participation in the tests, the training programs, and other
                        general interest and educational use of this site, or reference to or reliance on any
                        information contained within this site. The user’s use of this website is at the user’s sole
                        risk.</p>
                <br></br>
                <h3 id="item12"><b>Release</b></h3>
                    <p>In consideration for being permitted to use this site, you agree that all use of this site shall
                        be undertaken at your own risk, and that the University of Virginia, its officers, agents and
                        employees shall not be liable for any claims, damages, injuries, actions, or causes of action
                        whatsoever, to you or to your executors, heirs, or assigns, arising out of or connected with
                        access to or use of this site.</p>
                </div>


                </div>



            </div>
</section>


<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer" />

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright" />

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts" />

</body>
</html>
