<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment" />
<body>
<section id="header" class="clearfix" th:include="fragment/common :: topFragment" />
<section th:include="fragment/common :: titleBar (title=#{eligible.title})"/>

<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <p th:text="#{eligible.p1a}">You reported experiencing some anxiety. As a result, you are eligible to participate in the
                    MindTrails study, a new Internet-based program designed to reduce anxious thinking.</p>

                <p th:text="#{eligible.p1b}">This is an experimental program, so it is still in the testing phase, but there are
                    many good reasons for you to participate. </p>

               <span th:text="#{eligible.p2a}"><b>Reasons to participate:</b></span>
                <ul>
                    <li th:text="#{eligible.p2b}">Prior research says it may reduce anxious thinking as effectively as therapy for some people.</li>
                    <li th:text="#{eligible.p2c}">It's FREE.</li>
                    <li th:text="#{eligible.p2d}">It will not require a lot of your time.</li>
                    <li th:text="#{eligible.p2e}">It can be completed anywhere — all you need is a computer, tablet, or smartphone with Internet access.</li>
                    <li th:text="#{eligible.p2f}">You will receive a $20 e-gift card for completing the study.</li>

                </ul>

                <span th:text="#{eligible.p3a}">If you would like to participate, click the “Learn More” button below. If you do not wish to
                    participate, consider reviewing these alternate</span>
                    <a target=”_blank” th:href="@{/spanish/public/resources}" th:text="#{eligible.p3b}" >Mental Health Resources</a> <span th:text="#{eligible.p3c}">for dealing with your anxiety.</span>
                <p><a th:href="@{/account/create}"><button th:text="#{eligible.button}">Learn More</button></a></p>
                <img th:src="@{/public/track/templeton_pass.gif}" alt=" "/>

            </div>

        </div>
    </div>
</section>


<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer" />

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright" />

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts" />

</body>
</html>
