<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment"/>
<body th:class="|user-theme-${participant.theme}|">
<section id="header" class="clearfix" th:include="fragment/common :: topFragment"/>

<!-- content starts
================================================== -->
<section id="content" class="clearfix">


    <div class="container sessionSection">
        <div class="sessionHeader">
            <img class="sessionImage" th:src="|/images/map-${lastSession.index}-${participant.theme}.png|" alt="icon"/>

            <h2>Good work, <span th:text="${participant.fullName}">Jim</span>.<br/>You have completed the <span
                    th:text="${lastSession.displayName}"/>. </h2>
        </div>

        <div class="giftAwarded" th:if="${giftAwarded}">
            <img th:src="@{/images/gift_card_sm.png}"/>

            <div class="message">
                <em>Congratulations! You have earned a $5 gift card.</em><br/>
                Please check your email for information on how to redeem it.
                <span th:if="${nextGiftSession}"><b>Your next gift card</b> will be available when you complete <span
                        th:text="${nextGiftSession.displayName}"/></span>
            </div>
        </div>

        <p>UP NEXT: For best results, plan to begin the <span th:text="${currentSession.displayName}"/> between
            <br/><em th:text="${dateRange}">July 7 - July 10, 2015</em>
            <br/><a href="/session/overview">Program Overview</a>
        </p>

        <p class="detour"><img th:src="|/images/detour-${participant.theme}.png|"/>
            Now that you have finished the session it is time to have some fun.
               <span th:if="${lastSession.name} == 'SESSION1'">Check out this
                video to learn about an <a target="new" href="https://www.youtube.com/watch?v=vJG698U2Mvo">interesting
                psychological effect.</a></span>
               <span th:if="${lastSession.name} == 'SESSION2'">Check out these
                   <a target="new" href="http://psychology.about.com/od/sensationandperception/tp/cool-optical-illusions.htm">
                   10 cool optical illusions.</a></span>
               <span th:if="${lastSession.name} == 'SESSION3'">
                   Check out <a target="new" href="https://www.youtube.com/watch?time_continue=14&amp;v=NyDDyT1lDhA">
                   Zimbardo and Asch's parallel line study.</a> and
                   and learn about the power of conformity and the effect of having an ally.
               </span>
               <span th:if="${lastSession.name} == 'SESSION4'">
                   Play a couple rounds of <a href="http://serendip.brynmawr.edu/bb/pd.html">The prisoner’s dilemma</a>.
               </span>
               <span th:if="${lastSession.name} == 'SESSION5'">
                   Check out the <a target="new" href="http://braingames.nationalgeographic.com">Brain Games
                   website</a> for great interactive experiences and videos.
               </span>
               <span th:if="${lastSession.name} == 'SESSION6'">
                   Check out the <a target="new" href="https://www.youtube.com/watch?v=sZwfNs1pqG0">The Stanford Prison Experiment </a> and
                   hear about one of the most famous and intense psychology experiments in history.
               </span>
               <span th:if="${lastSession.name} == 'SESSION7'">
                   Check out the <a target="new" href="https://www.youtube.com/watch?v=38XO7ac9eSs#t=109">Change Blindness Experiment</a> and
                   see a startling demonstration of what most people simply do not see.
               </span>
               <span th:if="${lastSession.name} == 'SESSION8'">
                   Visit the <a target="new" href="https://sapa-project.org/">SAPA Project</a> and take a
                   personality test based on modern psychological theory.
               </span>
            <i>(This is completely optional, and not a part of the study.)</i>
        </p>

        <div class="nextGift" th:unless="${giftAwarded}" th:if="${nextGiftSession}">
            <img th:src="@{/images/gift_card_sm.png}"/>
            <span>Your next gift card will be available when you complete <span
                    th:text="${nextGiftSession.displayName}"/></span>
        </div>
    </div>
</section>


<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer"/>

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright"/>

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts"/>

</body>
</html>
