<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head th:include="fragment/email :: headerFragment"/>

    <body style="font-family: 'Source Sans Pro', sans-serif; font-size:20px; box-sizing:border-box; background-color: #FFF">

    <div id="body_style" style="padding:15px">

        <table cellpadding="0" cellspacing="0" width="600" align="center" th:include="fragment/email :: logoFragment"/>

        <table cellpadding="0" cellspacing="0" width="600" align="center" style="margin-top:20px">
            <tr>
                <td width="400">
                    <p><span  th:text="#{reminder.p1}"></span> <span th:text="${participant.fullName}"></span>,</p>

                    <p th:text="#{reminder1.p2}" style="margin-top:5px">Thanks for completing your recent training session! You&rsquo;re making great progress.</p>
                    <div style="border-radius: 15px; background: #fff; text-align:center; border: 1px solid #666; margin: 20px;">
                    <div style="border-top-right-radius: 15px; border-top-left-radius: 15px; width:100%; height:20px; background: #F77D38"> </div>
                    <div th:text="#{reminder.p3}" style="padding:20px; font-weight:700">JUST A REMINDER</div>
                        <p th:text="#{reminder1.p4}" style="margin:5px 20px; text-align: left">Your next session should be completed some time over the
                            next couple of days. If you&rsquo;re ready now, click &ldquo;Start&rdquo; below.</p>
                        <a href="/session" th:href="${url} + '/session'" style="color: #637580ff; text-decoration: none; font-weight: bold"><button style="border-radius: 5px; background:#F77D38; border-top:#F99A65; border-left:#F99A65; border-bottom:#B36B42; border-right:#B36B42;text-decoration: none; font-size:20px; margin:10px 0px; padding: 15px; font-weight: 700; color: #fff" th:text="#{reminder.link}">Start</button></a>
                    </div>

                    <p th:text="#{reminder.thanks}" style="margin-top:5px">Thank you for your participation in the study and we hope you&rsquo;re having a good week.</p>

                    <div id="footer" th:include="fragment/email :: footerFragment"/>

                </td>
            </tr>
        </table>
        <p style="margin-top:0"></p>
    </div>
    </body>
</html>
