<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head th:include="fragment/email :: headerFragment"/>

<body style="font-family: 'Source Sans Pro', sans-serif; font-size:20px; box-sizing:border-box; background-color: #FFF">

<div style="padding:15px" border="5px solid #767676">

    <table cellpadding="0" cellspacing="0" width="600" align="center" th:include="fragment/email :: logoFragment"/>

    <table cellpadding="0" cellspacing="0" width="600" align="center" style="margin-top:20px">
        <tr>
            <td width="400">
                <p th:text="'Hi ' +  ${name} + ','" style="margin-top:0; margin-bottom:10px">
                    Hi Fred,
                </p>

                <p style="margin-top:5px">We are writing about your participation in the online computer
                    program that is designed to change how people think about
                    different situations. We want to let you know that your score on
                    the anxiety symptom measure that you complete each session is
                    showing an increase in symptoms, compared to your score when
                    you started the program.</p>

                <p style="margin-top:5px; font-weight:600">We are sorry that you are experiencing increased anxiety,
                and like to make sure our study participants are aware if their
                scores increase by 30% or more, and know how to access
                other resources if they wish.</p>

                <p style="margin-top:5px">You are welcome to continue your participation in our program, and we also want to
                    direct you to the following list of
                    <a href="https://implicit.harvard.edu/implicit/user/pimh/linkinfo.html">Mental Health Resources</a>.
                    Further, while we do not endorse any particular organization or provider (see
                    <a href="https://implicit.harvard.edu/implicit/user/pimh/disclaimer.html">Disclaimer</a>), you may
                    contact us via email at <a href="mailto:pimhintervention@projectimplicit.net">pimhintervention@projectimplicit.net</a>
                    if you want help in determining how to find nearby referrals for in-person treatment.</p>

                <p style="margin-top:5px">Thank you for your participation in the study and we hope you’re
                    having a good week.</p>

                <div id="footer" th:include="fragment/email :: footerFragment"/>

            </td>
        </tr>
    </table>

</div>

</body>
</html>
