<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head th:include="fragment/email :: headerFragment"/>

    <body style="background:#eee; min-height:1000px; color:#000;font-family:Arial, Helvetica, sans-serif; font-size:12px"
          alink="#FF0000" link="#FF0000" bgcolor="#767676" text="#FFFFFF" yahoo="fix" >

    <div id="body_style" style="padding:15px" border="5px solid #767676">

        <table cellpadding="0" cellspacing="0" width="400" align="center" th:include="fragment/email :: logoFragment"/>

        <table cellpadding="0" cellspacing="0" width="400" align="center" style="margin-top:20px">
            <tr>
                <td width="400">
                    <p th:text="'Hi ' +  ${name} + ','" style="margin-top:0; margin-bottom:10px">
                        Hi Fred,
                    </p>
                    <p style="margin-top:5px">Thanks for completing your earlier training session(s)!</p>

                    <p style="margin-top:5px">We haven’t heard from you for about a week, so this is a reminder that your next session should be completed as soon as possible.</p>

                    <p style="margin-top:5px">You can catch up no problem.<a href="/session" th:href="${url} + '/session'" style="color: #637580ff; text-decoration: none; font-weight: bold"> Simply click here to login and complete your session.</a></p>

                    <p style="margin-top:5px">Please let us know if you have any concerns about your participation that we can address.  You can contact the study team at <a th:href="'mailto:' + ${respondTo} + '?Subject=PIMH%20Email%20Response'" target="_top" th:text="${respondTo}"/>.</p>

                    <p style="margin-top:5px">Thanks for your participation in the study and we hope you’re having a good week.</p>


                    <div id="footer" th:include="fragment/email :: footerFragment"/>

                </td>
            </tr>
        </table>

        <p style="margin-top:0"></p>



    </div>

    </body>
</html>
