<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head th:include="fragment/email :: headerFragment"/>

    <body style="background:#eee; min-height:1000px; color:#000;font-family:Arial, Helvetica, sans-serif; font-size:12px"
          alink="#FF0000" link="#FF0000" bgcolor="#767676" text="#FFFFFF" yahoo="fix" >

    <div id="body_style" style="padding:15px" border="5px solid #767676">

        <table cellpadding="0" cellspacing="0" width="400" align="center" th:include="fragment/email :: logoFragment"/>

        <table cellpadding="0" cellspacing="0" width="400" align="center" style="margin-top:20px">
            <tr>
                <td width="400">
                    <p th:text="'Hi ' +  ${name} + ','" style="margin-top:0; margin-bottom:10px">
                        Hi Fred,
                    </p>
                    <p style="margin-top:5px">Thanks for completing your 8 training sessions! We hope you’ve had a good couple months.</p>

                    <p style="margin-top:5px">This is just another reminder to complete your final set of surveys and tasks for this study. As you may recall, we are asking all participants to let us know how they’ve been doing now that the training program is over.</p>

                    <p style="margin-top:5px">Note, you will not be asked to complete any other tasks beyond this final assessment.</p>

                    <p style="margin-top:5px"><a href="/session" th:href="${url} + '/session'" style="color: #637580ff; text-decoration: none; font-weight: bold"> Please click here to login and complete your final surveys.</a></p>

                    <p style="margin-top:5px">Thank for your participation in the study!</p>

                    <div id="footer" th:include="fragment/email :: footerFragment"/>

                </td>
            </tr>
        </table>

        <p style="margin-top:0"></p>



    </div>

    </body>
</html>
