<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment"/>
<body th:class="|user-theme-${participant.theme}|">
<section id="header" class="clearfix" th:include="fragment/common :: topFragment"/>

<!-- content starts
================================================== -->
<section id="content" class="clearfix">

    <div class="container sessionSection">
        <div class="row">
            <div class="col-md-4">
                <img th:src="@{/images/map-arrow-orange.png}" alt="icon" class="icon-small-bg"/>
            </div>

            <div class="col-md-8 session">
                <h2>Thank you <span th:text="${participant.fullName}">Jim</span>!<br/> you have reached the end of the
                    Study.</h2>
                You are all finished! We will send an email with details on how to get your bonus gift card.  You can now
                <a th:href="@{/session/graph}">review your progress</a> through the study, to see how you performed, and find out if you were part of
                the control group, or if you received the full treatment.
            </div>

            <!--divider here-->
            <div class="spacer-40px"></div>
            <br clear="both"/>
            <div class="giftAwarded" th:if="${giftAwarded}">
                <img th:src="@{/images/gift_card_sm.png}"/>
                <div class="message">
                    <em>Congratulations! You have earned a $<span th:text="${giftAmount}"/> gift card.</em><br/>
                    Please check your email for information on how to redeem it.
                </div>
            </div>
        </div>
    </div>
</section>


<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer"/>

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright"/>

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts"/>

</body>
</html>
