<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment"/>
<body>
<section id="header" class="clearfix" th:include="fragment/common :: topFragment"/>
<section th:include="fragment/common :: titleBar (title='Create Your Account')"/>

<section id="content" class="clearfix">
    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <br></br>
                <p>The purpose of this study is to investigate a new, experimental anxiety reduction program. It
                    includes five 20-minute sessions (some conditions will be faster, depending on your assignment),
                    over the course of five weeks (1 session per week), and four 15-minute assessment sessions.
                </p>


                <p> You will be presented with one of a few different training programs designed to shift how you
                    think about situations. You may be asked to complete a set of training sessions on your laptop or
                    desktop computer, or on your mobile phone, or you may be asked to read information about anxiety
                    problems and their treatment. We are testing which programs most effectively reduce anxiety.
                    Although our prediction of which program will be most effective is based on previous work in the
                    laboratory, we cannot be sure until the programs are compared by randomly assigning people to each
                    one and then testing the effects. If you get randomly assigned to a program that we do not think
                    will be the strongest one, you will then have the opportunity to complete the program we expect to
                    be most effective after you finish the study. In other words, EVERYBODY gets a chance to try
                    program we expect to be most effective eventually.
                </p>

                <p>You will be asked to complete questionnaires in which you describe your thoughts and mood, describe
                    your background and personal mental health history, and you may be asked to complete a task in
                    which you read brief stories, answer questions, and complete word fragments. For some participants,
                    being asked questions about their thoughts and mood can be temporarily distressing.
                </p>

                <p> When you start the study, we will ask you to complete the study on a particular device &mdash; your
                    mobile phone, or desktop/laptop computer. We ask that you complete all sessions using that device.
                </p>

                <p> Also, some participants may be asked to work briefly with a “coach” via phone, email, and/or texts
                    to discuss your progress in the study. After an initial call, which would occur some time after
                    our first training session, your weekly phone contacts with the coach will be brief
                    (typically 2-10 minutes). The coach will not be providing therapy, but can address questions and
                    support your work in the program.
                </p>

                <p>At the end of the study, you will receive more detail about the study’s rationale and design.
                    You will also receive feedback about the progress you made during the program and how your
                    anxiety symptoms changed.
                </p>

                <p>There may be no direct benefits to you. Depending on your randomly assigned condition, you may
                    complete procedures that may help reduce symptoms of anxiety.
                </p>

                <p> Remember that participation in this study is voluntary, and you may end your individual session
                    participation at any time by closing the study window. Further, your participation in this study
                    has no bearing on your standing with other ongoing therapy or employers.
                    Contact <a href="mailto:studyteam@mindtrails.org">studyteam@mindtrails.org</a> if you have any
                    questions about the study, to withdraw completely from the study, or to receive payment after withdrawing.
                </p>

                <p>Your responses will be confidential. We ask you to provide your email address, phone number, and a
                    username (this can be your first name or any other name you choose), but your last name and
                    mailing address are not required for this study.
                </p>

                <p><b>Data collected through the MindTrails website are treated as confidential and are only accessible
                    by the research team. The only exceptions to this guideline are if we learn of possible child abuse
                    or neglect, or danger to self or others. In these instances, confidentiality would be limited given
                    mandated reporting requirements (e.g., to report the information to the police, or to child
                    protective services).
                </b></p>
                <br></br>
                <p><u>National Institute of Mental Health Data Archive </u></p>
                <p>Data from this study may be submitted to the National Institute of Mental Health Data Archive (NDA).
                    The NDA is a data repository run by the National Institute of Mental Health (NIMH) that allows
                    researchers studying mental health and substance use to collect and share deidentified information
                    with each other. A data repository is a large database where information from many studies is stored
                    and managed. Deidentified information means that all personal information about research participants
                    such as name, address, and phone number is removed and replaced with a code number.  With an easier
                    way to share, researchers hope to learn new and important things about mental illnesses more quickly
                    than before.</p>

                <p>During and after the study, the researchers will send deidentified information about your health and
                    behavior and to NDA. Other researchers nationwide can then file an application with the NIMH to
                    obtain access to your deidentified study data for research purposes. Experts at the NIMH who know
                    how to protect health and science information will look at every request carefully to minimize
                    risks to your privacy.</p>

                <p>You may not benefit directly from allowing your information to be shared with NDA. The information
                    provided to NDA may help researchers find better treatments. NIMH will also report to Congress and
                    on its web site about the different studies that researchers are conducting using NDA data. However,
                    you will not be contacted directly about the data you contributed to NDA. </p>

                <p>You may decide now or later that you do not want to share your information using NDA. If so, contact
                    us at <a href="mailto:studyteam@mindtrails.org">studyteam@mindtrails.org</a>, and we will tell NDA,
                    which can stop sharing the research information. Please note that NDA cannot take back information
                    that was shared before you changed your mind. If you would like more information about NDA, this is
                    available online at
                    <a target="_new" href="http://data-archive.nimh.gov">data-archive.nimh.gov</a>.</p>
                <br></br>
                <p><b>Privacy Policy.</b> MindTrails uses the same secure hypertext transfer protocol (HTTPS) that
                    banks and other commercial websites use to transfer credit card information in an encrypted
                    format. This provides strong security for data transfer to and from our website, though privacy
                    is necessarily limited by the security of the technology that is being used. To view the entire
                    privacy policy in a separate pop up window, please <a target="new" th:href="@{/public/privacy}">click here.</a>
                </p>

                <p> MindTrails is not able to offer financial compensation nor to absorb the costs of treatment
                    should you feel you have been injured as a result of participating in a MindTrails research
                    study.
                </p>

                <p><b> To obtain more information about the study, ask questions about the research procedures,
                    express concerns about your participation, or report illness, injury or other problems, please contact:
                    Tonya Moon, Chair, Institutional Review Board for the Social and Behavioral Sciences, One Morton Dr.
                    Suite 500, University of Virginia, P.O. Box 800392, Charlottesville, VA 22908-0392. Telephone: (434)
                    924-5999; <a href="mailto:irbsbshelp@virginia.edu">irbsbshelp@virginia.edu</a>; Website:
                    <a target="_new" href="www.virginia.edu/vprgs/irb">www.virginia.edu/vprgs/irb</a>.
                </b></p>

                <p>Please use the form below to create your new account.</p>
                <form th:replace="fragment/account :: create"/>
            </div>
        </div>
    </div>

</section>

<footer id="footer" class="clearfix" th:include="fragment/common :: footer"/>
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright"/>
<div th:include="fragment/common :: scripts"/>

</body>
</html>