<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment"/>

<body th:class="|user-theme-${participant.theme}|">
<script type="text/javascript" th:src="@{/bower/jquery-flot/jquery.flot.js}"></script>
<script type="text/javascript" th:src="@{/bower/jquery-flot/jquery.flot.categories.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.flot.axislabels.js}"></script>

<section id="header" class="clearfix" th:include="fragment/common :: topFragment"/>

<section th:replace="fragment/common :: titleBar (title='Invitation to Participate in COVID-19 study')"/>

<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p>We are inviting some of our MindTrails visitors to participate in an additional study that is tracking
                    people’s anxiety and the impact of COVID-19 over time. This additional study is entirely optional. If
                    you choose to participate, it will not change your activities in the MindTrails program except in the
                    following ways:</p>
                        <ol>You will complete 1 additional follow-up assessment (lasting about 20 minutes) 6 months
                            after you finish the MindTrails program.</ol>
                        <ol>Currently, we do not offer payments for completing the assessments, but we will be offering
                            gift cards for completing the assessments for persons who join this additional study. You
                            will receive:</ol>
                            <li>$5 for completing the assessment at the end of session 3 training</li>
                            <li>$5 for completing the assessment at the end of session 5 training</li>
                            <li>$15 for completing the assessment 2 months after you finish the MindTrails training</li>
                            <li>$15 for completing the assessment 6 months after you finish the MindTrails training</li>
                <p>You will receive the gift cards via email from Tango Card, where you can choose from top name-brands
                    like Amazon.com, Starbucks, iTunes, Target, and many more options, or you can donate the value to a
                    charity. To receive gift cards, you will need to verify your phone number. Your email address and
                    phone number will not be shared with third parties.</p>
                <p>All other MindTrails policies detailed in the original consent form are the same for this additional
                    study.</p>
                <a th:href="@{/public/resources}">
                    <button>I have read this informed consent statement and agree to participate.</button></a>
                <a th:href="@{/public/faq}">
                    <button>No thanks, I do not want to participate in this additional study, and will continue with
                        the original MindTrails study only.</button></a>
        </div>
    </div>
    </div>
</section>


<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer"/>

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright"/>

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts"/>

</body>
</html>