<html>
<body>
<form name="f" class="form-horizontal" th:action="@{/account/create}" method="post" th:object="${participantForm}"
      th:fragment="create">
    <script th:src="@{/js/password.js}"></script>
    <h3>Create an account</h3>
    <div class="formErrors">
        <ul class="errors">
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}" class="alert-error">
                Input is incorrect
            </li>
        </ul>
        <div class="spacer-20px"></div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="fullName">Name / Nickname</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" id="fullName" name="fullName" th:errorclass="error"
                   th:field="*{fullName}"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="email">Email</label>
        <div class="col-sm-10">
            <input class="form-control" type="email" id="email" name="email" th:errorclass="error" th:field="*{email}"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="password">Password</label>
        <div class="col-sm-10">
            <input class="form-control" type="password" id="password" name="password" th:field="*{password}"
                   th:errorclass="error"/>
        </div>
    </div>

    <div id="pswd_info">
        <h4>Password must meet the following requirements:</h4>
        <ul>
            <li id="letter" class="invalid">At least <strong>one letter</strong></li>
            <li id="capital" class="invalid">At least <strong>one capital letter</strong></li>
            <li id="number" class="invalid">At least <strong>one number</strong></li>
            <li id="symbol" class="invalid">At least <strong>one symbol</strong><br/>( ! # $ @ _ ' + , ? [ ] . - and
                space)
            </li>
            <li id="length" class="invalid">Be at least <strong>8 characters</strong></li>
        </ul>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="passwordAgain">Confirm Password</label>
        <div class="col-sm-10">
            <input class="form-control" type="password" id="passwordAgain" th:field="*{passwordAgain}"
                   name="passwordAgain"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="over18">I am over 18</label>
        <div class="col-sm-10">
            <input class="form-control" type="checkbox" id="over18" name="over18"/>
        </div>
    </div>

    <div id="g-recaptcha"></div>
    <input type="hidden" th:field="*{recaptchaResponse}" name="recaptchaResponse" id="recaptchaResponse"/>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var siteKey = /*[[${recaptchaSiteKey}]]*/;
        var onloadCallback = function () {
            grecaptcha.render('g-recaptcha', {
                'sitekey': siteKey,
                'callback': function (response) {
                    document.getElementById('recaptchaResponse').value = response;
                },
                'theme': 'light'
            });
        }
        /*]]>*/
    </script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&amp;render=explicit" async="true"
            defer="true"></script>

    <p><b>By clicking the button below you are indicating that you have read the informed consent
        statement above and agree to participate.</b></p>

    <div style="text-align: center;">
        <button>Give Consent and Create Account</button>
    </div>
</form>

<section id="themeSelection" class="clearfix" th:fragment="themeSelection">
    <h3>Select a Theme</h3>
    <p>To customize the appearance of MindTrails select one of the options below. You can change your
        theme at any time under "Account Settings" in the menu bar above. </p>
    <fieldset>
        <label>
            <div class="themeSection blue">
                <input type="radio" th:field="*{theme}" value="blue" required="true"/>
                <div class="themeOption">
                    <label>Blue</label>
                </div>
            </div>
        </label>
        <br/>
        <label>
            <div class="themeSection orange">
                <input type="radio" th:field="*{theme}" value="orange" required="true"/>

                <div class="themeOption">
                    <label>Orange</label>
                </div>
            </div>
        </label>
        <br/>
        <label>
            <div class="themeSection green">
                <input type="radio" th:field="*{theme}" value="green"/>

                <div class="themeOption">
                    <label>Green</label>
                </div>
            </div>
        </label>
        <br/>
        <label>
            <div class="themeSection purple">
                <input type="radio" th:field="*{theme}" value="purple"/>

                <div class="themeOption">
                    <label>Purple</label>
                </div>
            </div>
        </label>
        <br/>
        <label>
            <div class="themeSection gold">
                <input type="radio" th:field="*{theme}" value="gold"/>

                <div class="themeOption">
                    <label>Gold</label>
                </div>
            </div>
        </label>
    </fieldset>
    <button>Update Theme</button>
</section>


</body>
</html>