<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head th:include="fragment/email :: headerFragment"/>

<body style="font-family: 'Source Sans Pro', sans-serif; font-size:20px; box-sizing:border-box; background-color: #FFF">

<div id="body_style" style="padding:15px">

    <table cellpadding="0" cellspacing="0" width="400" align="center" th:include="fragment/email :: logoFragment"/>

    <table cellpadding="0" cellspacing="0" width="600" align="center" style="margin-top:20px">
        <tr>
            <td width="400">
                <p th:text="'Hi ' +  ${participant.fullName} + ','" style="margin-top:0; margin-bottom:10px">
                    Hi Fred,
                </p>
                <p style="margin-top:5px">Thanks for completing all of your training sessions! We hope you've
                    had a good couple months.</p>
                <div style="border-radius: 15px; background: #fff; text-align:center; border: 1px solid #666; margin: 20px;">
                    <div style="border-top-right-radius: 15px; border-top-left-radius: 15px; width:100%; height:20px; background: #F77D38"> </div>
                    <div style="padding:20px; font-weight:700">JUST A REMINDER</div>
                    <p style="margin:5px 20px; text-align: left">It's time to complete your final set of surveys and tasks for
                        this study. As you may recall, we ask all participants
                        to let us know how they've been doing now that the
                        training program is over.</p>
                    <p>To login and complete your final surveys, click "Start" below.</p>
                    <a href="/session" th:href="${url} + '/session'" style="color: #637580ff; text-decoration: none; font-weight: bold"><button style="border-radius: 5px; background:#F77D38; border-top:#F99A65; border-left:#F99A65; border-bottom:#B36B42; border-right:#B36B42;text-decoration: none; font-size:20px; margin:10px 0px; padding: 15px; font-weight: 700; color: #fff">Start</button></a>
                </div>

                <p style="margin-top:5px">Thank you for your participation in the study!</p>

                <div id="footer" th:include="fragment/email :: footerFragment"/>

            </td>
        </tr>
    </table>

    <p style="margin-top:0"></p>



</div>

</body>
</html>
