<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head th:include="fragment/email :: headerFragment"/>

    <body style="font-family: 'Source Sans Pro', sans-serif; font-size:20px; box-sizing:border-box; background-color: #FFF">

    <div id="body_style" style="padding:15px">

        <table cellpadding="0" cellspacing="0" width="600" align="center" th:include="fragment/email :: logoFragment"/>

        <table cellpadding="0" cellspacing="0" width="600" align="center" style="margin-top:20px">
            <tr>
                <td width="400">
                    <p th:text="'Hi ' +  ${participant.fullName} + ','" style="margin-top:0; margin-bottom:10px">
                        Hi Fred,
                    </p>

                    <p style="margin-top:5px">Thank you for your participation in the MindTrails study!</p>

                    <p style="margin-top:5px">Our records indicate that you got part-way through a session and then stopped for
                    an extended period. If you encountered any technical difficulties or have any
                        questions we can address, please let us know at <a href="mailto:studyteam@mindtrails.org">
                            studyteam@mindtrails.org</a>.</p>

                    <p style="margin-top:5px">We greatly appreciate your participation and want to encourage you to complete the
                        session as soon as you are able. You can login to your <a href="https://mindtrails.virginia.edu/calm/login">MindTrails account</a> when you are ready.</p>

                    <p style="margin-top:5px">Your ongoing participation in the MindTrails study helps us learn how
                        to bring treatments to people in their own home. Together, we can help lift the heavy burden of anxiety.</p>

                    <div id="footer" th:include="fragment/email :: footerFragment"/>

                </td>
            </tr>
        </table>
        <p style="margin-top:0"></p>
    </div>
    </body>
</html>
