<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment"/>
<body>
<section id="header" class="clearfix" th:include="fragment/common :: topFragment"/>
<section th:include="fragment/common :: titleBar (title=#{consent.title})"/>

<section id="content" class="clearfix">
    <div class="container">

        <div style="text-align:right">
        <a href="#" onclick="window.print();return false;" th:text="#{consent.print}">Print This Page</a></div>

        <div class="row">
            <div class="col-md-8">

                <p><b><h3 th:text="#{consent.heading1}">What is the MindTrails Study?</h3></b></p>

                <p th:text="#{consent.p1a}"> The purpose of this study is to investigate a 2-week experimental anxiety reduction program called
                    MindTrails. The program consists of the following parts:</p>

                <ul style="padding-right: 10px">
                    <li th:text="#{consent.p1b}">&nbsp;&nbsp;An initial set of questionnaires</li>
                    <li th:text="#{consent.p1c}">&nbsp;&nbsp;2 weekly training sessions</li>
                    <li th:text="#{consent.p1d}">&nbsp;&nbsp;A set of questionnaires after you finish the 2 training sessions</li>
                </ul>

                <p th:text="#{consent.p1e}"> Each of the assessments and training sessions will take approximately 20 minutes to complete.</p>

                <br></br>

                <p><b><h3 th:text="#{consent.heading2}">What will I be asked to do?</h3></b></p>

                <span th:text="#{consent.p2a}"><b> Assessments </b></span>
                <p th:text="#{consent.p2b}"> You will be asked to complete questionnaires about your thoughts, mood, background, and personal mental health history.</p>

                <span th:text="#{consent.p2c}"><b> Training </b></span>
                <p th:text="#{consent.p2d}"> You will be presented with a training program designed to shift how you think about situations. You will be
                    asked to read brief stories about situations that often produce anxiety and fill in missing letters to complete words.</p>

                <p th:text="#{consent.p2e}"> At the end of the study, you will receive more details about the study's rationale and design.</p>
                <br></br>

                <p><b><h3 th:text="#{consent.heading3}">Is there a payment for completing the study?</h3></b></p>

                <p th:text="#{consent.p3}">After completing the study (i.e., finishing two training sessions and two sets of questionnaires), you
                    will receive a $20 electronic gift card. The gift card will be sent via email within 2 business days of being awarded. The cards are
                    submitted through Tango Card, an e-gift cards service through which you can choose from top name-brands like Amazon, Starbucks, iTunes,
                    Target, and many more options; or you can donate the value to a charity.</p>
                <br></br>

                <p><b><h3 th:text="#{consent.heading4}">Are there any benefits or risks to participating?</h3></b></p>

                <p th:text="#{consent.p4a}">For some people, completing the training program may help reduce symptoms of anxiety. However, there may be no
                    direct benefits to you. For some people, being asked to answer questions about their thoughts and mood can be temporarily distressing, but most
                    people experience minimal-to-no distress or do not feel distressed for long.</p>

                <p th:text="#{consent.p4b}">Please note that MindTrails does not provide specific diagnostic or medical advice on our website, and we are
                    limited in how we can respond to your personal requests.</p>

                <p th:text="#{consent.p4c}">MindTrails is not able to offer financial compensation or to absorb the costs of treatment should you feel you
                    have been injured as a result of participating in the MindTrails research study.</p>
                <br></br>

                    <p><b><h3 th:text="#{consent.heading5}">Can I stop at any time?</h3></b></p>

                    <span th:text="#{consent.p5a}">While we hope that you will complete the entire study, </span>
                    <span th:text="#{consent.p5b}"><b>participation in this study is voluntary</b></span><span th:text="#{consent.p5c}">, and you may end your individual session participation at any time by closing the study window.
                        Further, your participation in this study is not at all related to your standing with other ongoing therapy or employers.</span>
                    <span th:text="#{consent.p5d}">Contact the team if you have any questions about the study or wish to be removed from the study.</span>
                <br></br>
                <br></br>

                <p><b><h3 th:text="#{consent.heading6}">What is the MindTrails Privacy Policy?</h3></b></p>

                <span th:text="#{consent.p6a}">MindTrails uses the same secure hypertext transfer protocol (HTTPS) that banks and other commercial websites use
                    to transfer credit card information in an encrypted format. This provides strong security for data transfer to and from our website, though
                    privacy is necessarily limited by the security of the technology and wifi that is being used. Please note that completing the study in a public
                    place where others might view your screen, and use of open networks or free Wi-Fi can increase the chance for loss of privacy.</span>
                <span th:text="#{consent.p6b}">Please note that completing the study in a public place where others might view your screen, and use of open networks
                    or free Wi-Fi can increase the chance for loss of privacy.</span>
                <span th:text="#{consent.p6c}">To view the entire privacy policy in a separate page, please click</span>
                <a th:href="@{/public/privacy}" th:text="#{consent.p6d}">here</a>.
                <br></br>
                <br></br>
                <p><u>Google Analytics</u></p>

                <p th:text="#{consent.p6e}"> MindTrails uses Google Analytics, a web analytics service by Google that tracks and reports website
                    traffic. MindTrails uses this service to track device usage, navigation patterns, and referrals.
                    While MindTrails can connect this data to other information you provide, we will not share any of
                    your personal information with Google. The information that Google collects is anonymous in nature,
                    and will not be personally identifiable. By participating in the MindTrails study, you consent to
                    this information being collected by Google Analytics.</p>
                <br></br>

                <u><p th:text="#{consent.p6f}">Data Sharing</p></u>

                <p th:text="#{consent.p6g}"> We wish to share de-identified data from this protocol online. Many funding agencies and journal outlets
                    encourage researchers to make data available to other researchers online. This is becoming a common practice
                    in research endeavors around the world and data sharing helps ensure that best practices in data analysis
                    are being upheld. The publication of data online involves preparing a data file for other researchers
                    that removes any personally identifying data from participants before making it available over the Internet.
                    Participants' names and other personally identifying information in this protocol will never be published
                    online. Importantly, open data sharing practices pose no threat to participants, as participants' names
                    and identifying information are never connected to the data they provide.</p>
                <br></br>

                <p><b><h3 th:text="#{consent.heading7}">Study Team Contact Info</h3></b></p>

                <p th:text="#{consent.p7a}"><b>To obtain more information about the study, ask questions about the research procedures,
                    express concerns about your participation, or report illness, injury or other problems, please
                    contact:</b></p>

                <span style="margin-left:50px">Tonya Moon, Chair, Institutional Review Board for the Social and Behavioral
                    Sciences, One Morton Dr. Suite 500, University of Virginia, P.O. Box 800392, Charlottesville, VA 22908-0392.</span>
                    <span th:text="#{consent.p7b}">Telephone:</span> (434) 924-5999; <span th:text="#{consent.p7c}">Email:</span>
                    <a href="mailto:irbsbshelp@virginia.edu">irbsbshelp@virginia.edu</a>;
                    <span th:text="#{consent.p7d}">Website:</span> <a target="_new" href="www.virginia.edu/vprgs/irb">www.virginia.edu/vprgs/irb</a>.
                <br></br>
                <br></br>

                <span> IRB-SBS </span><span th:text="#{consent.p7e}">Protocol #: 4117</span>
                <br></br>
                <br></br>

                <span style="margin-left:50px" th:text="#{consent.p7f}">Principal Investigator:</span>
                <span th:text="#{consent.p7g}">Prof. Bethany Teachman</span><span>, Department of Psychology, Millmont Building, 1023 Millmont St, Rm 234, University of Virginia, Charlottesville, VA 22903.</span>
                <span th:text="#{consent.p7b}">Telephone:</span> (434) 924-0676; <span th:text="#{consent.p7c}">Email:</span> <a href="mailto:bteachman@virginia.edu">bteachman@virginia.edu</a>.
                <br></br>
                <br></br>
                <br></br>


                <form th:replace="fragment/account :: create"/>

            </div>
    </div>
    </div>

</section>

<footer id="footer" class="clearfix" th:include="fragment/common :: footer"/>
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright"/>
<div th:include="fragment/common :: scripts"/>

</body>
</html>