<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>indtrails
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment"/>
<body>
<section id="header" class="clearfix" th:include="fragment/common :: topFragment"/>

<!--<![endif]-->

<section id="content" class="clearfix">
    <form action="#" th:action="@{/account/updateCardCountry}"  th:object="${participant}"  method="post">
    <div class="container longSection">
        <div class="row">
            <div class="col-md-4">
                <img th:src="@{/images/map-arrow-orange.png}" alt="icon" class="icon-small-bg"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h2 th:text="#{verified.title}" class="page-title heading-icon">Your Account Is Verified!</h2>

                <span th:text="#{verified.p1}">You will receive your e-gift card by email after you complete the MindTrails study.</span> <span th:text="#{verified.p2}"><b>Please allow up to 2 business days
                    for receipt of this email.</b></span>
            </div>
        </div>
        <br></br>

        <div class="row">
            <div class="col-md-8">
                <!--<h2><font color="#00ACE4"><b>Tango Card: Select Country</b></font></h2>-->
                <align-center><img th:src="@{/images/tango_card_icon.png}"/></align-center>
                <br></br>
                <br></br>
                <span th:text="#{verified.p3a}">MindTrails uses</span> <a target="new" href="https://www.tangocard.com/" th:text="#{verified.p3b}">Tango Card</a>
                    <span th:text="#{verified.p3c}">, an awards delivery program, for distribution of e-gift cards to participants.
                    With a Tango e-gift card, you can choose to use your award among a range of retailers and
                    services (such as Amazon, Apple App Store &amp; iTunes, Nike, Uber, and more) or donate the value to a range of non-profits
                    (including the American Cancer Society, Clean Water Fund, and Habitat for Humanity).</span>

                <!--<p>Tango Card offers several country-facing options, which you can select from below. Values are awarded in
                    USD – options in other currencies will be converted from USD based on current exchange rates.
                    Please view <a target="new" href="https://www.tangocard.com/reward-link/">this link</a> for more
                    information on
                    different Reward Link options offered for the United States, and
                    <a target="new" href="https://www.tangocard.com/reward-link-international/">this link</a> for Reward
                    Link options offered for
                    other countries. Note that by navigating to "Verify My Phone" in the Account menu, you will be able
                    to change your chosen country-facing option for future awards.</p>

                <select style="width: 300px" name="country">
                    <option value="US">United States (default)</option>
                    <option value="AR">Argentina</option>
                    <option value="AU">Australia</option>
                    <option value="BR">Brazil</option>
                    <option value="CA">Canada</option>
                    <option value="DE">Germany</option>
                    <option value="IN">India</option>
                    <option value="IE">Ireland</option>
                    <option value="IT">Italy</option>
                    <option value="NL">Netherlands</option>
                    <option value="SG">Singapore</option>
                    <option value="ES">Spain</option>
                    <option value="GB">United Kingdom</option>
                </select>-->
            </div>
        </div>

        <div class="row">
        <div class="col-md-2">
            <br></br>
            <span class="pull-left"><button th:text="#{next}">Next</button></span>
        </div>
        </div>
        <br/>
        <br/>
    </div>
    </form>
</section>

<footer id="footer" class="clearfix" th:include="fragment/common :: footer"/>
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright"/>
<div th:include="fragment/common :: scripts"/>
</body>
</html>