<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment"/>
<body>
<section id="header" class="clearfix" th:include="fragment/common :: topFragment"/>


<!--<![endif]-->
<section id="content" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <img th:src="@{/images/map-arrow-orange.png}" alt="icon" class="icon-small-bg"/>
            </div>
            <div class="col-md-8">
                <h2 class="page-title heading-icon" th:text="#{verification.title}">Verify Your Phone Number</h2>
                <br></br>
                <br></br>
                <span th:text="#{verification.p3a}">We just sent you a text message with a</span> <span th:text="#{verification.p3b}"><b>six digit</b></span><span th:text="#{verification.p3c}">code to the phone number assigned to your account. When you receive the code, please enter it in the field below and click the "Verify" button.</span>
                <br></br>
                <br></br>
                <form action="#" th:action="@{/account/updateVerification}" method="post">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row" style="padding-left: 15px;"><input class="input-lg" style="font-size:25px;" id="verifycode" type="text" maxlength="6" size="4"
                                                                                   name="verifycode"/></div>
                            <div class="row" style="padding-left: 15px;"><span class="pull-left"><button id="subCode" type="submit"
                                                                                      disabled="disabled" th:text="#{verification.verify}">Verify</button>
                            </span>
                                <br></br>
                                </div>

                        </div>
                    </div>
                </form>
                <br></br>
                <br></br>

                <div class="row">
                    <div class="col-md-10">
                        <div class="row">
                                <div class="row" style="padding-left: 30px;">
                                    <button><a th:href="@{/account/theme}" th:text="#{verification.skip}">Skip</a></button>
                            </div>
                </div>
                        </div>

            </div>

        </div>
    </div>
    </div>
</section>

<script th:inline="javascript">

    $("#verifycode").keyup(function () {
            //console.log(document.getElementById("verifycode").value.length);
            //console.log($("#verifycode").size);
            if (document.getElementById("verifycode").value.length == 6) {
                $('#subCode').removeAttr('disabled');
            }
            else {
                $('#subCode').attr('disabled', 'disabled');

            }
        }
    )

</script>


<footer id="footer" class="clearfix" th:include="fragment/common :: footer"/>
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright"/>
<div th:include="fragment/common :: scripts"/>
</body>
</html>