<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="/fragment/common :: headerFragment" />
<body th:class="|user-theme-${participant.theme}|">
<section id="header" class="clearfix" th:include="/fragment/common :: topFragment" />

<!-- header-btm starts
================================================== -->
<section id="header-btm" class="clearfix">
    <div class="container">
        <div class="row">
            <h2 class="page-title">Follow up</h2>
        </div>
    </div>
</section>

<!-- header-btm ends
================================================== -->


<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">

        <!--spacer here-->
        <div class="spacer-30px"></div>

        <!--features starts-->
        <div class="row">
            <div class="span12">
                <form th:action="@{/questions/CC}" method="POST">
                    <div class="section">
                        <div class="question">While reading the descriptions, to what extent did you feel the scenarios fit with versus contrasted with your idea of how you might respond in those situations?</div>
                        <label class="radioBox">
                            <div class="option">
                                <div class="desc1">Completely contrasted with my idea of myself</div>
                                <input type="radio" name="fit" class="form-control" value="0" required="true"/>
                                <div class="desc2">0</div>
                            </div>
                        </label>
                        <label class="radioBox">
                            <div class="option">
                                <div class="desc1">Neither fit nor contrasted with my idea of myself</div>
                                <input type="radio" name="fit" class="form-control" value="1" />
                                <div class="desc2">1</div>
                            </div>
                        </label>
                        <label class="radioBox">
                            <div class="option">
                                <div class="desc1">Completely fit with my idea of myself</div>
                                <input type="radio" name="fit" class="form-control" value="2" />
                                <div class="desc2">2</div>
                            </div>
                        </label>
                    </div>
                    <br />
                    <div class="section">
                        <div class="question">While reading the descriptions, to what extent did you compare yourself to the actions described in the scenarios in a positive (self-enhancing) versus a negative (self-devaluing) way?</div>
                        <label class="radioBox">
                            <div class="option">
                                <div class="desc1">Completely contrasted with my idea of myself</div>
                                <input type="radio" name="compare" class="form-control" value="0" required="true"/>
                                <div class="desc2">0</div>
                            </div>
                        </label>
                        <label class="radioBox">
                            <div class="option">
                                <div class="desc1">Neither fit nor contrasted with my idea of myself</div>
                                <input type="radio" name="compare" class="form-control" value="1" />
                                <div class="desc2">1</div>
                            </div>
                        </label>
                        <label class="radioBox">
                            <div class="option">
                                <div class="desc1">Completely fit with my idea of myself</div>
                                <input type="radio" name="compare" class="form-control" value="2" />
                                <div class="desc2">2</div>
                            </div>
                        </label>
                    </div>
                    <button>Continue</button>
                </form>
            </div>
        </div>
        <!--features ends-->

        <!--divider here-->
        <div class="spacer-40px"></div>

    </div>
</section>


<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer" />

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright" />

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts" />

</body>
</html>
