<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="/fragment/common :: headerFragment" />
<body th:class="|user-theme-${participant.theme}|">
<section id="header" class="clearfix" th:include="/fragment/common :: topFragment" />
<script type="text/javascript" th:src="@{/js/firstQuestionSlider.js}"></script>
<!-- header-btm starts
================================================== -->
<section id="header-btm" class="clearfix">
    <div class="container">
        <div class="row">
            <h2 class="page-title">Follow up</h2>
        </div>
    </div>
</section>

<!-- header-btm ends
================================================== -->


<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">

        <!--spacer here-->
        <div class="spacer-30px"></div>

        <!--features starts-->
        <div class="row">
            <div class="span12">
                <form th:action="@{/questions/CC}" method="POST">
                    <div class="section">
                        <div class="question">While reading the brief stories in the training program, to what extent did you feel you could relate to the situations that were presented?</div>
                        <label class="radioBox">
                            <div class="option">
                                <div class="desc1">Not at all</div>
                                <input type="radio" name="related" class="form-control" value="1" required="true"/>
                                <div class="desc2">1</div>
                            </div>
                        </label>
                        <label class="radioBox">
                            <div class="option">
                                <div class="desc1">Slightly</div>
                                <input type="radio" name="related" class="form-control" value="2" />
                                <div class="desc2">2</div>
                            </div>
                        </label>
                        <label class="radioBox">
                            <div class="option">
                                <div class="desc1">Somewhat</div>
                                <input type="radio" name="related" class="form-control" value="3" />
                                <div class="desc2">3</div>
                            </div>
                        </label>
                        <label class="radioBox">
                            <div class="option">
                                <div class="desc1">Mostly</div>
                                <input type="radio" name="related" class="form-control" value="4" />
                                <div class="desc2">4</div>
                            </div>
                        </label>
                        <label class="radioBox">
                            <div class="option">
                                <div class="desc1">Very much</div>
                                <input type="radio" name="related" class="form-control" value="5" />
                                <div class="desc2">5</div>
                            </div>
                        </label>
                    </div>
                    <div class="section">
                        <div class="question">While reading the brief stories in the training program, to what extent did you feel like it could be you behaving that way in those stories?</div>
                        <label class="radioBox">
                            <div class="option">
                                <div class="desc1">Not at all</div>
                                <input type="radio" name="compare" class="form-control" value="1" required="true"/>
                                <div class="desc2">1</div>
                            </div>
                        </label>
                        <label class="radioBox">
                            <div class="option">
                                <div class="desc1">Slightly</div>
                                <input type="radio" name="compare" class="form-control" value="2" />
                                <div class="desc2">2</div>
                            </div>
                        </label>
                        <label class="radioBox">
                            <div class="option">
                                <div class="desc1">Somewhat</div>
                                <input type="radio" name="compare" class="form-control" value="3" />
                                <div class="desc2">3</div>
                            </div>
                        </label>
                        <label class="radioBox">
                            <div class="option">
                                <div class="desc1">Mostly</div>
                                <input type="radio" name="compare" class="form-control" value="4" />
                                <div class="desc2">4</div>
                            </div>
                        </label>
                        <label class="radioBox">
                            <div class="option">
                                <div class="desc1">Very much</div>
                                <input type="radio" name="compare" class="form-control" value="5" />
                                <div class="desc2">5</div>
                            </div>
                        </label>
                    </div>
                    <div class="question">
                    <div class="submit">
                        <button type="submit">Next</button>
                    </div>
                    </div>
                </form>
            </div>
        </div>
        <!--features ends-->

        <!--divider here-->
        <div class="spacer-40px"></div>

    </div>
</section>


<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer" />

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright" />

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts" />

</body>
</html>
