<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="/fragment/common :: headerFragment" />
<body th:class="|user-theme-${participant.theme}|">
<section id="header" class="clearfix" th:include="/fragment/common :: topFragment" />
<script type="text/javascript" th:src="@{/js/firstQuestionSlider.js}"></script>
<!-- header-btm starts
================================================== -->
<section id="header-btm" class="clearfix">
    <div class="container">
        <div class="row">
            <h2 class="page-title">Mood Assessment</h2>
        </div>
    </div>
</section>

<!-- header-btm ends
================================================== -->


<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container" th:with="pastX=${inSessions} ? 'since your last MindTrails session' : 'in the past week'">

        <!--spacer here-->
        <div class="spacer-30px"></div>

        <!--features starts-->
        <div class="row">
            <div class="span12 wide">
                <p>Please read each statement and select a number that indicates how much the statement applied to you
                    <span th:text="${pastX}"/>. There are no right or wrong answers.  Do not spend too much time on any
                    statement.</p>
                <form th:action="@{/questions/DASS21_DS}" method="POST">

                        <div class="section">
                            <div class="question">I couldn’t seem to experience any positive feeling at all.</div>
                            <label class="radioBox">
                                <div class="option">
                                    <div class="desc1">Did not apply</div>
                                    <input type="radio" name="nopositive" class="form-control" value="0" required="true"/>
                                    <div class="desc2">0</div>
                                </div>
                            </label>
                            <label class="radioBox">
                                <div class="option">
                                    <div class="desc1">Some degree</div>
                                    <input type="radio" name="nopositive" class="form-control" value="1" />
                                    <div class="desc2">1</div>
                                </div>
                            </label>
                            <label class="radioBox">
                                <div class="option">
                                    <div class="desc1">A considerable degree</div>
                                    <input type="radio" name="nopositive" class="form-control" value="2" />
                                    <div class="desc2">2</div>
                                </div>
                            </label>
                            <label class="radioBox">
                                <div class="option" >
                                    <div class="desc1">Applied very much</div>
                                    <input type="radio" name="nopositive" class="form-control" value="3" />
                                    <div class="desc2">3</div>
                                </div>
                            </label>
                            <div class="divider"/>
                            <label class="radioBox">
                                <div class="option">
                                    <div class="desc1">Prefer not to answer</div>
                                    <input type="radio" name="nopositive" class="form-control" value="-1" />
                                    <div class="desc2"></div>
                                </div>
                            </label>
                        </div>
                        <div class="section">
                            <div class="question">I found it difficult to work up the initiative to do things.</div>
                            <label class="radioBox">
                                <div class="option">
                                    <div class="desc1">Did not apply</div>
                                    <input type="radio" name="difficult" class="form-control" value="0" required="true"/>
                                    <div class="desc2">0</div>
                                </div>
                            </label>
                            <label class="radioBox">
                                <div class="option">
                                    <div class="desc1">Some degree</div>
                                    <input type="radio" name="difficult" class="form-control" value="1" />
                                    <div class="desc2">1</div>
                                </div>
                            </label>
                            <label class="radioBox">
                                <div class="option">
                                    <div class="desc1">A considerable degree</div>
                                    <input type="radio" name="difficult" class="form-control" value="2" />
                                    <div class="desc2">2</div>
                                </div>
                            </label>
                            <label class="radioBox">
                                <div class="option" >
                                    <div class="desc1">Applied very much</div>
                                    <input type="radio" name="difficult" class="form-control" value="3" />
                                    <div class="desc2">3</div>
                                </div>
                            </label>
                            <div class="divider"/>

                            <label class="radioBox">
                                <div class="option">
                                    <div class="desc1">Prefer not to answer</div>
                                    <input type="radio" name="difficult" class="form-control" value="-1" />
                                    <div class="desc2"></div>
                                </div>
                            </label>
                        </div>
                        <div class="section">
                            <div class="question">I felt that I was using a lot of nervous energy.</div>
                            <label class="radioBox">
                                <div class="option">
                                    <div class="desc1">Did not apply</div>
                                    <input type="radio" name="nervous" class="form-control" value="0" required="true"/>
                                    <div class="desc2">0</div>
                                </div>
                            </label>
                            <label class="radioBox">
                                <div class="option">
                                    <div class="desc1">Some degree</div>
                                    <input type="radio" name="nervous" class="form-control" value="1" />
                                    <div class="desc2">1</div>
                                </div>
                            </label>
                            <label class="radioBox">
                                <div class="option">
                                    <div class="desc1">A considerable degree</div>
                                    <input type="radio" name="nervous" class="form-control" value="2" />
                                    <div class="desc2">2</div>
                                </div>
                            </label>
                            <label class="radioBox">
                                <div class="option" >
                                    <div class="desc1">Applied very much</div>
                                    <input type="radio" name="nervous" class="form-control" value="3" />
                                    <div class="desc2">3</div>
                                </div>
                            </label>
                            <div class="divider"/>

                            <label class="radioBox">
                                <div class="option">
                                    <div class="desc1">Prefer not to answer</div>
                                    <input type="radio" name="nervous" class="form-control" value="-1" />
                                    <div class="desc2"></div>
                                </div>
                            </label>
                        </div>
                        <div class="section">
                            <div class="question">I felt down-hearted and blue.</div>
                            <label class="radioBox">
                                <div class="option">
                                    <div class="desc1">Did not apply</div>
                                    <input type="radio" name="blue" class="form-control" value="0" required="true"/>
                                    <div class="desc2">0</div>
                                </div>
                            </label>
                            <label class="radioBox">
                                <div class="option">
                                    <div class="desc1">Some degree</div>
                                    <input type="radio" name="blue" class="form-control" value="1" />
                                    <div class="desc2">1</div>
                                </div>
                            </label>
                            <label class="radioBox">
                                <div class="option">
                                    <div class="desc1">A considerable degree</div>
                                    <input type="radio" name="blue" class="form-control" value="2" />
                                    <div class="desc2">2</div>
                                </div>
                            </label>
                            <label class="radioBox">
                                <div class="option" >
                                    <div class="desc1">Applied very much</div>
                                    <input type="radio" name="blue" class="form-control" value="3" />
                                    <div class="desc2">3</div>
                                </div>
                            </label>
                            <div class="divider"/>

                            <label class="radioBox">
                                <div class="option">
                                    <div class="desc1">Prefer not to answer</div>
                                    <input type="radio" name="blue" class="form-control" value="-1" />
                                    <div class="desc2"></div>
                                </div>
                            </label>
                        </div>
                        <div class="section">
                            <div class="question">I was unable to become enthusiastic about anything.</div>
                            <label class="radioBox">
                                <div class="option">
                                    <div class="desc1">Did not apply</div>
                                    <input type="radio" name="noenthusiastic" class="form-control" value="0" required="true"/>
                                    <div class="desc2">0</div>
                                </div>
                            </label>
                            <label class="radioBox">
                                <div class="option">
                                    <div class="desc1">Some degree</div>
                                    <input type="radio" name="noenthusiastic" class="form-control" value="1" />
                                    <div class="desc2">1</div>
                                </div>
                            </label>
                            <label class="radioBox">
                                <div class="option">
                                    <div class="desc1">A considerable degree</div>
                                    <input type="radio" name="noenthusiastic" class="form-control" value="2" />
                                    <div class="desc2">2</div>
                                </div>
                            </label>
                            <label class="radioBox">
                                <div class="option" >
                                    <div class="desc1">Applied very much</div>
                                    <input type="radio" name="noenthusiastic" class="form-control" value="3" />
                                    <div class="desc2">3</div>
                                </div>
                            </label>
                            <div class="divider"/>

                            <label class="radioBox">
                                <div class="option">
                                    <div class="desc1">Prefer not to answer</div>
                                    <input type="radio" name="noenthusiastic" class="form-control" value="-1" />
                                    <div class="desc2"></div>
                                </div>
                            </label>
                        </div>
                        <div class="section">
                            <div class="question">I felt I wasn’t worth much as a person.</div>
                            <label class="radioBox">
                                <div class="option">
                                    <div class="desc1">Did not apply</div>
                                    <input type="radio" name="noworth" class="form-control" value="0" required="true"/>
                                    <div class="desc2">0</div>
                                </div>
                            </label>
                            <label class="radioBox">
                                <div class="option">
                                    <div class="desc1">Some degree</div>
                                    <input type="radio" name="noworth" class="form-control" value="1" />
                                    <div class="desc2">1</div>
                                </div>
                            </label>
                            <label class="radioBox">
                                <div class="option">
                                    <div class="desc1">A considerable degree</div>
                                    <input type="radio" name="noworth" class="form-control" value="2" />
                                    <div class="desc2">2</div>
                                </div>
                            </label>
                            <label class="radioBox">
                                <div class="option" >
                                    <div class="desc1">Applied very much</div>
                                    <input type="radio" name="noworth" class="form-control" value="3" />
                                    <div class="desc2">3</div>
                                </div>
                            </label>
                            <div class="divider"/>

                            <label class="radioBox">
                                <div class="option">
                                    <div class="desc1">Prefer not to answer</div>
                                    <input type="radio" name="noworth" class="form-control" value="-1" />
                                    <div class="desc2"></div>
                                </div>
                            </label>
                        </div>
                        <div class="section">
                            <div class="question">I felt that life was meaningless.</div>
                            <label class="radioBox">
                                <div class="option">
                                    <div class="desc1">Did not apply</div>
                                    <input type="radio" name="meaningless" class="form-control" value="0" required="true"/>
                                    <div class="desc2">0</div>
                                </div>
                            </label>
                            <label class="radioBox">
                                <div class="option">
                                    <div class="desc1">Some degree</div>
                                    <input type="radio" name="meaningless" class="form-control" value="1" />
                                    <div class="desc2">1</div>
                                </div>
                            </label>
                            <label class="radioBox">
                                <div class="option">
                                    <div class="desc1">A considerable degree</div>
                                    <input type="radio" name="meaningless" class="form-control" value="2" />
                                    <div class="desc2">2</div>
                                </div>
                            </label>
                            <label class="radioBox">
                                <div class="option" >
                                    <div class="desc1">Applied very much</div>
                                    <input type="radio" name="meaningless" class="form-control" value="3" />
                                    <div class="desc2">3</div>
                                </div>
                            </label>
                            <div class="divider"/>

                            <label class="radioBox">
                                <div class="option">
                                    <div class="desc1">Prefer not to answer</div>
                                    <input type="radio" name="meaningless" class="form-control" value="-1" />
                                    <div class="desc2"></div>
                                </div>
                            </label>
                        </div>
                    <div class="question">
                    <div id="submit">
                        <button>Next</button>
                    </div>
                        </div>
                </form>
            </div>
        </div>
        <!--features ends-->

        <!--divider here-->
        <div class="spacer-40px"></div>

    </div>
</section>


<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer" />

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright" />

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts" />

</body>
</html>

<!--
Depression, Anxiety, Stress Scales-Short Form: Anxiety Subscale (DASS21-AS)
Lovibond & Lovibond (1995; [9])

[Initial assessment instructions:]  Please read each statement and circle a number 0, 1, 2 or 3 that indicates how much the statement applied to you over the past week. There are no right or wrong answers.  Do not spend too much time on any statement.

[Instructions for assessments completed following training sessions:] Please read each statement and circle a number 0, 1, 2 or 3 that indicates how much the statement applied to you since your last session (or over the past week if your last session was more than a week ago). There are no right or wrong answers.  Do not spend too much time on any statement.
The rating scale is as follows:
0  Did not apply to me at all
1  Applied to me to some degree, or some of the time
2  Applied to me to a considerable degree, or a good part of time
3  Applied to me very much, or most of the time

1
I was aware of nervous of my mouth.
0      1      2      3
2
I experienced difficult difficulty (e.g., excessively rapid difficult,
breathlessness in the absence of physical exertion).
0      1      2      3
3
I experienced nervous (e.g., in the hands).
0      1      2      3
4
I was worried about situations in which I might noenthusiastic and make
a fool of myself.
0      1      2      3
5
I felt I was close to noenthusiastic.
0      1      2      3
6
I was aware of the action of my noworth in the absence of physical
exertion (e.g., sense of noworth rate increase, noworth missing a beat).
0      1      2      3
7
I felt meaningless without any good reason.
0      1      2      3
-->

