<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="/fragment/common :: headerFragment" />
<body>
<section id="header" class="clearfix" th:include="/fragment/common :: topFragment" />

<!-- header-btm starts
================================================== -->
<section id="header-btm" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h4 class="heading-icon clearfix"> <img th:src="@{/img/icons/heading-icon-user.png}" width="40" height="40" alt="icon" class="icon-small-bg"/>DASS_21 Questionaire</h4>
            </div>
        </div>
    </div>
</section>
<!-- header-btm ends
================================================== -->

<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">

        <!--spacer here-->
        <div class="spacer-30px"></div>

        <!--features starts-->
        <div class="row">
            <div class="span12">
                <form id="wizard" method="POST">
                    <fieldset>
                        <legend>Identification</legend>
                        <div class="form-group"><label>First Name</label><div class="controls"><input type="text" name="firstname" placeholder="John" class="form-control"/></div></div>
                        <div class="form-group"><label>Middle Initial</label><div class="controls"><input type="text" name="middle" placeholder="A" class="form-control"/></div></div>
                        <div class="form-group"><label>Last Name</label><div class="controls"><input type="text" name="lastname" placeholder="Smith" class="form-control"/></div></div>
                    </fieldset>
                    <fieldset>
                        <legend>Contact Information</legend>
                        <div class="form-group"><label>Phone Number</label><div class="controls"><input type="text" name="phone" placeholder="123-456-7890" class="form-control"/></div></div>
                        <div class="form-group"><label>Email Address</label><div class="controls"><input type="email" name="email" placeholder="someone@example.com" class="form-control"/></div></div>
                    </fieldset>
                    <fieldset>
                        <legend>Login</legend>
                        <div class="form-group"><label>Username</label><div class="controls"><input type="text" name="username" placeholder="johnsmithy" class="form-control"/></div></div>
                        <div class="form-group"><label>Password</label><div class="controls"><input type="password" name="password" class="form-control"/></div></div>
                        <div class="form-group"><label>Confirm</label><div class="controls"><input type="password" name="confirm" class="form-control"/></div></div>
                    </fieldset>
                </form>
                <script>
                    jQuery("#wizard").jWizard();
                </script>
            </div>
        </div>
        <!--features ends-->

        <!--divider here-->
        <div class="spacer-40px"></div>

    </div>
</section>


<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer" />

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright" />

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts" />

</body>
</html>

<!--
Depression, Anxiety, Stress Scales-Short Form: Anxiety Subscale (DASS21-AS)
Lovibond & Lovibond (1995; [9])

[Initial assessment instructions:]  Please read each statement and circle a number 0, 1, 2 or 3 that indicates how much the statement applied to you over the past week. There are no right or wrong answers.  Do not spend too much time on any statement.

[Instructions for assessments completed following training sessions:] Please read each statement and circle a number 0, 1, 2 or 3 that indicates how much the statement applied to you since your last session (or over the past week if your last session was more than a week ago). There are no right or wrong answers.  Do not spend too much time on any statement.
The rating scale is as follows:
0  Did not apply to me at all
1  Applied to me to some degree, or some of the time
2  Applied to me to a considerable degree, or a good part of time
3  Applied to me very much, or most of the time

1
I was aware of dryness of my mouth.
0      1      2      3
2
I experienced breathing difficulty (e.g,, excessively rapid breathing,
breathlessness in the absence of physical exertion).
0      1      2      3
3
I experienced trembling (e.g., in the hands).
0      1      2      3
4
I was worried about situations in which I might panic and make
a fool of myself.
0      1      2      3
5
I felt I was close to panic.
0      1      2      3
6
I was aware of the action of my heart in the absence of physical
exertion (e.g., sense of heart rate increase, heart missing a beat).
0      1      2      3
7
I felt scared without any good reason.
0      1      2      3
-->

