<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<!--<![endif]-->
<head th:include="/fragment/common :: headerFragment" />
<body>
<section id="header" class="clearfix" th:include="/fragment/common :: topFragment" />

<!-- header-btm starts
================================================== -->
<section id="header-btm" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h4 class="heading-icon clearfix"> <img th:src="@{/grepfrut/img/icons/heading-icon-user.png}" width="40" height="40" alt="icon" class="icon-small-bg"/></h4>
            </div>
        </div>
    </div>
</section>
<!-- header-btm ends
================================================== -->

<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">

        <!--spacer here-->
        <div class="spacer-30px"></div>

        <!--features starts-->
        <div class="row">
            <div class="span12">
                <form id="wizard" th:action="@{/questions/audit}" method="POST">
                    <fieldset>
                        <div>
                            This section asks you to report on <b>your</b> drinking over the <b>past week</b>
                        </div>
                        <div>
                            For all questions, <b>one drink equals</b>:
                            <ul>
                                <li> 5oz. wine</li>
                                <li> 12oz. wine cooler</li>
                                <li> 12oz. beer (10oz. of Microbrew; 8-9 oz. Malt Liquor, Canadian Beer or Ice Beer)</li>
                                <li> 6oz. Ice Malt Liquor</li>
                                <li> 1 Cocktail with 1 oz. of 100 proof liquor or 1.5 oz. (single jigger) of 80 proof liquor </li>
                            </ul>
                        </div>
                        <div>
                            <ol>
                                <li>
                                    Consider the prior week.  How much alcohol (measured in number of drinks), did you drink on each day of the past week?
                                    <table>
                                        <tr>
                                            <td>Monday</td>
                                            <td>Tuesday</td>
                                            <td>Wednesday</td>
                                            <td>Thursday</td>
                                            <td>Friday</td>
                                            <td>Saturday</td>
                                            <td>Sunday</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" name="week_hours" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" name="week_hours" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" name="week_hours" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" name="week_hours" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" name="week_hours" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" name="week_hours" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" name="week_hours" class="form-control" />
                                            </td>
                                        </tr>
                                    </table>
                                </li>
                                <li>
                                    Consider the prior week.  Over how many hours did you drink the above number of drinks?
                                    <table>
                                        <tr>
                                            <td>Monday</td>
                                            <td>Tuesday</td>
                                            <td>Wednesday</td>
                                            <td>Thursday</td>
                                            <td>Friday</td>
                                            <td>Saturday</td>
                                            <td>Sunday</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" name="week_hours" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" name="week_hours" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" name="week_hours" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" name="week_hours" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" name="week_hours" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" name="week_hours" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" name="week_hours" class="form-control" />
                                            </td>
                                        </tr>
                                    </table>
                                </li>
                            </ol>
                        </div>
                    </fieldset>
                </form>
                <script>
                    $("#wizard").on("wizardfinish", function() {
                            if (!$(this).find(":input").valid()) {
                                    return false;
                            }
                        }).jWizard().validate();
                </script>
            </div>
        </div>
        <!--features ends-->

        <!--divider here-->
        <div class="spacer-40px"></div>

    </div>
</section>


<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer" />

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright" />

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts" />

</body>
</html>