<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="/fragment/common :: headerFragment" />
<body th:class="|user-theme-${participant.theme}|">
<section id="header" class="clearfix" th:include="/fragment/common :: topFragment" />


<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">
        <!--spacer here-->
        <div class="spacer-30px"></div>

        <!--features starts-->
        <div class="row">
            <div class="span12">
                <form id="wizard" th:action="@{/questions/ImageryPrime}" method="POST">
                    <fieldset>
                        <legend>Step 1 - Use your imagination</legend>
                        <input type="hidden" name="prime" th:value="${prime}"/>
                        <div th:if="${prime == 'ANXIETY'}">
                            <p>Please think of an <b>UPCOMING</b> situation that you expect will make you feel anxious,
                                worried, or scared.</p>
                            <ul>
                                <li>Pick a situation that you worry might go badly, or that you expect will evoke symptoms related to
                                    anxiety (e.g., racing heart, sweating).</li>
                                <li>Any situation that will make you feel quite anxious or scared will work, as long as it’s a situation you’re likely to actually encounter.</li>
                                <li th:if="${notFirst}">This can be the same situation you imagined in a previous session, or a new situation.</li>
                            </ul>
                        </div>
                        <div th:if="${prime == 'NEUTRAL'}">
                            <p>Please think of an upcoming situation that is routine (i.e., that happens regularly) and
                            does not particularly concern you or make you feel especially happy, worried, sad, etc.
                            For instance, the situation could involve brushing your teeth, taking a shower,
                            surfing the web, watching TV, getting dressed, or checking your email. </p>
                            <p th:if="${notFirst}">This can be the same situation you imagined in a previous session, or a new situation.</p>
                            <p>Pick a situation that
                            you won’t worry or get excited about; the situation should be so mundane and routine you
                            will hardly give it any thought. Any situation that you have no strong feelings toward
                            will work. If no specific situation is upcoming, then just select a situation that you
                            expect would generate little emotion IF you were in that situation.
                            </p>
                            <P>Please click "NEXT" one you have thought of a situation.</P>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Step 2 - Note the situation</legend>
                                <p>
                                <label>Please describe the situation in a few words.</label>
                                <textarea name="situation" rows="1" required="true"></textarea>
                                </p>
                                <p>
                                    Please click "NEXT" once you have noted the type of situation
                                </p>
                        <br/>
                        <br/>
                    </fieldset>
                    <fieldset>
                        <legend>Step 3 - Imagine the situation</legend>
                        <p>
                            Please imagine the situation as vividly as possible (i.e., so that it feels very real).
                            <ul>
                                <li>Try to imagine you are actually in the situation.</li>
                                <li>Play out the specific parts of the situation in your head.</li>
                                <li>Try to imagine using all your senses while you think about this situation. Think about the things you
                                    would see, hear, and smell if you were really in that situation.</li>
                                <li>Think about the kinds of things you would think or feel if you were actually there.</li>
                            </ul>
                            Please click the "Next" button below and play this situation in your head for the next 20 seconds. We will tell you
                            when the 20 seconds are up.
                        </p>
                    </fieldset>
                    <fieldset id="step_four">
                        <legend>Step 4 - Things you would think or feel</legend>
                        <p>
                            Please play this upcoming situation in your head. We will tell you when the 20 seconds are up.
                        </p>
                    </fieldset>
                </form>
                <script>
                    var mNext = false;
                    var mVisit = false;
                    $("#wizard").on("stepshown", "#step_four", function () {
                        if (! mVisit)
                        {
                            mVisit = true;
                            $(".jw-button-finish").prop("disabled",true);
                            setTimeout(function() { alert("20 Seconds Are Over!");
                                $(".jw-button-finish").prop("disabled",false);
                                                    mNext = true;
                                                  }, 20000);
                        }

                    }).on("wizardfinish", "#step_four", function () {
                        if (! mNext)
                        {
                            return false;
                        }
                    }).jWizard({
                        progress: false,
                        menu: false,
                        title: false,
                        buttons.prev: null,
                        buttons.cancel: null
                    });


                </script>
            </div>
        </div>
        <!--features ends-->

        <!--divider here-->
        <div class="spacer-40px"></div>

    </div>
</section>


<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer" />

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright" />

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts" />

</body>
</html>









