<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<!--<![endif]-->
<head th:include="/fragment/common :: headerFragment" />
<body th:class="|user-theme-${participant.theme}|">
<section id="header" class="clearfix" th:include="/fragment/common :: topFragment" />
<script type="text/javascript" th:src="@{/js/firstQuestionSlider.js}"></script>

<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">

        <!--spacer here-->
        <div class="spacer-30px"></div>

        <!--features starts-->
        <div class="row">
            <div class="span12">
                <form  id="form" name="form1" th:action="@{/questions/Impact}" method="POST">
                        <div class="sectionLong">
                            <div class="question">How anxious did you feel (at the highest level of anxiety) as you completed the imagery task?</div>
                            <input style="display:none" id="checkSUDS" name="checkSUDS" type="checkbox" value="1" required="true" />
                            <input style="display:none" id="anxiety" type="text" name="anxiety" required="true"/>

                            <div id="slider" >
                                <label class="slider" style="left: -50px">Absolutely No Anxiety <br/>0</label>
                                <label class="slider" style="left: 200px">Moderately Anxious<br/>50</label>
                                <label class="slider" style="left: 450px">Totally Anxious <br/>100</label>
                            </div>
                            <!--
                            <label class="radioBox">
                                <div class="option">
                                <div class="desc1">Not at all anxious</div>
                                <div class="desc2">0</div>
                                </div>
                            </label>
                            <label class="radioBox">
                            <div class="option">
                                <div class="desc1"> </div>
                                <div class="desc2"> </div>
                            </div>
                                </label>
                            <label class="radioBox">
                            <div class="option">
                                <div class="desc1">Moderately anxious</div>
                                <div class="desc2">50</div>
                            </div>
                                </label>
                            <label class="radioBox">
                            <div class="option">
                                <div class="desc1"> </div>
                                <div class="desc2"> </div>
                            </div>
                                </label>
                            <label class="radioBox">
                            <div class="option">
                                <div class="desc1">Totally anxious</div>
                                <div class="desc2">100</div>
                            </div>
                                </label> -->

                         <!--   <div style="width: 475px; margin-bottom:10px; margin-left:90px;" id="slider" ></div> -->

                        </div>
                        <div id="dialog" title="Please move the bar.">
                            <p>Please move the bar to select a number for your anxiety level.</p>
                        </div>
                    <div class="section">
                        <div class="question">How vividly did you imagine the situation?</div>
                        <label class="radioBox six">
                            <div class="option">
                                <div class="desc1">Not at all vivid</div>
                                <input type="radio" name="vivid" class="form-control" value="1" required="true"/>
                                <div class="desc2">1</div>
                            </div>
                        </label>
                        <label class="radioBox six">
                            <div class="option">
                                <div class="desc1" >Somewhat vivid</div>
                                <input type="radio" name="vivid" class="form-control" value="2" />
                                <div class="desc2">2</div>
                            </div>
                        </label>
                        <label class="radioBox six">
                            <div class="option">
                                <div class="desc1">Moderately vivid</div>
                                <input type="radio" name="vivid" class="form-control" value="3" />
                                <div class="desc2">3</div>
                            </div>
                        </label>
                        <label class="radioBox six">
                            <div class="option" >
                                <div class="desc1">Very vivid</div>
                                <input type="radio" name="vivid" class="form-control" value="4" />
                                <div class="desc2">4</div>
                            </div>
                        </label>
                        <label class="radioBox six">
                            <div class="option">
                                <div class="desc1">Totally vivid</div>
                                <input type="radio" name="vivid" class="form-control" value="5" />
                                <div class="desc2">5</div>
                            </div>
                        </label>
                        <div class="divider"/>
                        <label class="radioBox six">
                            <div class="option">
                                <div class="desc1">Prefer not to answer</div>
                                <input type="radio" name="vivid" class="form-control" value="-1" />
                                <div class="desc2"></div>
                            </div>
                        </label>
                    </div>

                    <div class="section">
                        <div class="question">How likely is it that this situation or task will turn out well vs. turn out badly </div>
                        <label class="radioBox six">
                            <div class="option">
                                <div class="desc1">Very likely to turn out well</div>
                                <input type="radio" name="badly" class="form-control" value="1" required="true"/>
                                <div class="desc2">1</div>
                            </div>
                        </label>
                        <label class="radioBox six" >
                            <div class="option">
                                <div class="desc1">Somewhat likely to turn out well</div>
                                <input type="radio" name="badly" class="form-control" value="2" />
                                <div class="desc2">2</div>
                            </div>
                        </label>
                        <label class="radioBox six">
                            <div class="option">
                                <div class="desc1">Neutral</div>
                                <input type="radio" name="badly" class="form-control" value="3" />
                                <div class="desc2">3</div>
                            </div>
                        </label>
                        <label class="radioBox six">
                            <div class="option">
                                <div class="desc1">Somewhat likely to turn out badly</div>
                                <input type="radio" name="badly" class="form-control" value="4" />
                                <div class="desc2">4</div>
                            </div>
                        </label>
                        <label class="radioBox six">
                            <div class="option">
                                <div class="desc1">Very likely to turn out badly</div>
                                <input type="radio" name="badly" class="form-control" value="5" />
                                <div class="desc2">5</div>
                            </div>
                        </label>
                        <div class="divider"/>
                        <label class="radioBox six">
                            <div class="option">
                                <div class="desc1">Prefer not to answer</div>
                                <input type="radio" name="badly" class="form-control" value="-1" />
                                <div class="desc2"></div>
                            </div>
                        </label>
                    </div>
                    <div class="section">
                        <div class="question">If this situation did turn out badly, how well or badly would you be able to handle it?</div>
                        <label class="radioBox six">
                            <div class="option">
                                <div class="desc1" style="height:30px">Very well</div>
                                <input type="radio" name="manageable" class="form-control" value="1" required="true"/>
                                <div class="desc2">1</div>
                            </div>
                        </label>
                        <label class="radioBox six">
                            <div class="option">
                                <div class="desc1" style="height:30px">Somewhat well</div>
                                <input type="radio" name="manageable" class="form-control" value="2" />
                                <div class="desc2">2</div>
                            </div>
                        </label>
                        <label class="radioBox six">
                            <div class="option">
                                <div class="desc1" style="height:30px">Neutral</div>
                                <input type="radio" name="manageable" class="form-control" value="3" />
                                <div class="desc2">3</div>
                            </div>
                        </label>
                        <label class="radioBox six">
                            <div class="option">
                                <div class="desc1" style="height:30px">Somewhat badly</div>
                                <input type="radio" name="manageable" class="form-control" value="4" />
                                <div class="desc2">4</div>
                            </div>
                        </label>
                        <label class="radioBox six">
                            <div class="option">
                                <div class="desc1" style="height:30px">Very badly</div>
                                <input type="radio" name="manageable" class="form-control" value="5" />
                                <div class="desc2">5</div>
                            </div>
                        </label>
                        <div class="divider"/>
                        <label class="radioBox six">
                            <div class="option">
                                <div class="desc1" style="height:30px">Prefer not to answer</div>
                                <input type="radio" name="manageable" class="form-control" value="-1" />
                                <div class="desc2"></div>
                            </div>
                        </label>
                    </div>
                    <div class="question">
                    <div id="submit">
                        <button onclick="check()" type="button">Next</button>
                    </div>
                    </div>
                </form>
                <script>

                     $(function() {
                        $( "#slider" ).slider({
                            range: "min",
                            min: 0,
                            max: 100,
                            value: 50,
                            slide: function( event, ui ) {
                                $( "#anxiety" ).val( ui.value );
                                document.getElementById("checkSUDS").checked = true;
                            }
                        });
                         $( "#anxiety" ).val( $( "#slider" ).slider( "value" ) );
                     });
                     function check(){
                         if (document.getElementById("checkSUDS").checked != true) {
                             $("#dialog").dialog();
                         } else {
                             $("#form").submit();
                         }
                     }


                </script>
            </div>
        </div>
        <!--features ends-->

        <!--divider here-->
        <div class="spacer-40px"></div>

    </div>
</section>


<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer" />

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright" />

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts" />

</body>
</html>






<!--Vividness of Imagery-->



<!--Activation of Feared Outcomes: Probability and Catastrophe Judgments-->

<!--How likely is it that this situation or task will turn out badly (i.e., not go well)?-->

<!--1(extremely unlikely) – 7 (extremely likely)-->


<!--How terrible would it be if this situation or task did turn out badly (i.e., if it did not go well)?-->

<!--1(not at all terrible) – 7 (extremely terrible)-->
