<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<!--<![endif]-->
<head th:include="/fragment/common :: headerFragment" />
<body>
<section id="header" class="clearfix" th:include="/fragment/common :: topFragment" />

<!-- header-btm starts
================================================== -->
<section id="header-btm" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h4 class="heading-icon clearfix"> <img th:src="@{/grepfrut/img/icons/heading-icon-user.png}" width="40" height="40" alt="icon" class="icon-small-bg"/></h4>
            </div>
        </div>
    </div>
</section>
<!-- header-btm ends
================================================== -->

<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">

        <!--spacer here-->
        <div class="spacer-30px"></div>

        <!--features starts-->
        <div class="row">
            <div class="span12">
                <form id="wizard" th:action="@{/questions/impact}" method="POST">
                    <fieldset>
                        <legend>Questions</legend>
                        <h4>Please provide as much information as possible.</h4>
                        <p>
                            <label>Using a 0-100 scale, where 0 means you have absolutely no anxiety, and 100 means you are the most anxious you could imagine being, like panic, what was your highest level of anxiety as you competed the imagery task?</label>
                            <input type="text" name="anxiety"/>
                        </p>
                        </fieldset>
                        <fieldset>
                        <p>
                            <label>While you were doing that task, how vivid (in the sense of being intense or seeming real) was the picture in your mind, on a scale from 0 (not at all) to 100 (an extremely vivid image)?</label>
                            <input type="text" name="vivid"/>
                        </p>
                        <br/>
                        <br/>
                        <p>
                            <label>How likely is it that this situation or task will turn out badly (i.e., not go well)?</label>
                            <select name="badly">
                                <option value=""></option>
                                <option>Extremely Unlikely</option>
                                <option>Unlikely</option>
                                <option>Somewhat Unlikely</option>
                                <option>Neither Likely Nor Unlikely</option>
                                <option>Somewhat likely </option>
                                <option>Likely </option>
                                <option>Extremely Likely </option>
                                <option>Prefer not to answer</option>
                            </select>
                        </p>
                        <p>
                            <label>How terrible would it be if this situation or task did turn out badly (i.e., if it did not go well)?</label>
                            <select name="terrible">
                                <option value=""></option>
                                <option>Not At All Terrible</option>
                                <option>A little Terrible</option>
                                <option>Somewhat Terrible</option>
                                <option>Terrible</option>
                                <option>Extremely Terrible</option>
                                <option>Prefer not to answer</option>
                            </select>
                        </p>
                    </fieldset>
                </form>
                <script>
                    jQuery("#wizard").jWizard();
                </script>
            </div>
        </div>
        <!--features ends-->

        <!--divider here-->
        <div class="spacer-40px"></div>

    </div>
</section>


<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer" />

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright" />

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts" />

</body>
</html>






<!--Vividness of Imagery-->



<!--Activation of Feared Outcomes: Probability and Catastrophe Judgments-->

<!--How likely is it that this situation or task will turn out badly (i.e., not go well)?-->

<!--1(extremely unlikely) – 7 (extremely likely)-->


<!--How terrible would it be if this situation or task did turn out badly (i.e., if it did not go well)?-->

<!--1(not at all terrible) – 7 (extremely terrible)-->
