<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<!--<![endif]-->
<head th:include="/fragment/common :: headerFragment" />
<body th:class="|user-theme-${participant.theme}|">
<section id="header" class="clearfix" th:include="/fragment/common :: topFragment" />

<!-- header-btm starts
================================================== -->
<section id="header-btm" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h4 class="heading-icon clearfix"> <img th:src="@{/grepfrut/img/icons/heading-icon-user.png}" width="40" height="40" alt="icon" class="icon-small-bg"/></h4>
            </div>
        </div>
    </div>
</section>
<!-- header-btm ends
================================================== -->

<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">

        <!--spacer here-->
        <div class="spacer-30px"></div>

        <!--features starts-->
        <div class="row">
            <div class="span12">
                <form id="wizard" th:action="@{/questions/impact}" method="POST">
                    <fieldset>
                        <legend>Questions</legend>
                        <h4>Please provide as much information as possible.</h4>
                        <p>
                            <label>How calm vs. anxious do you think you would be in this situation?</label>
                            <select name="anxiety" required="true">
                                <option>Very Calm</option>
                                <option>Somewhat Calm</option>
                                <option>Neutral</option>
                                <option>Somewhat anxious</option>
                                <option>Anxious</option>
                                <option>Prefer not to answer</option>
                            </select>
                        </p>
                        </fieldset>
                        <fieldset>
                        <p>
                            <label>How would you rate your desire to approach or stay in this situation vs. avoid
                                or escape from this situation?</label>
                            <select name="approach" required="true">
                            <option value="">Strong desire to approach or stay</option>
                            <option>Slight desire to approach or stay</option>
                            <option>Neutral</option>
                            <option>Slight desire to avoid or escape</option>
                            <option>Strong desire to avoid or escape</option>
                            <option>Prefer not to answer</option>
                            </select>
                        </p>
                        <br/>
                        <br/>
                        <p>
                            <label>How likely is it that this situation or task will turn out well vs. turn out badly </label>
                            <select name="well" required="true">
                                <option value="">Very likely to turn out well</option>
                                <option>Somewhat likely to turn out well</option>
                                <option>Neutral</option>
                                <option>Somewhat likely to turn out badly</option>
                                <option>Very likely to turn out badly</option>
                                <option>Prefer not to answer</option>
                            </select>
                        </p>
                        <p>
                            <label>How terrible would it be if this situation or task did turn out badly (i.e., if it did not go well)?</label>
                            <select name="terrible" required="true">
                                <option value="">Please select one</option>
                                <option>Not At All Terrible</option>
                                <option>A little Terrible</option>
                                <option>Somewhat Terrible</option>
                                <option>Terrible</option>
                                <option>Extremely Terrible</option>
                                <option>Prefer not to answer</option>
                            </select>
                        </p>
                    </fieldset>
                </form>
                <script>
                    $("#wizard").on("wizardfinish", function() {
                            if (!$(this).find(":input").valid()) {
                                    return false;
                            }
                        }).jWizard().validate();
                </script>
            </div>
        </div>
        <!--features ends-->

        <!--divider here-->
        <div class="spacer-40px"></div>

    </div>
</section>


<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer" />

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright" />

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts" />

</body>
</html>






<!--Vividness of Imagery-->



<!--Activation of Feared Outcomes: Probability and Catastrophe Judgments-->

<!--How likely is it that this situation or task will turn out badly (i.e., not go well)?-->

<!--1(extremely unlikely) – 7 (extremely likely)-->


<!--How terrible would it be if this situation or task did turn out badly (i.e., if it did not go well)?-->

<!--1(not at all terrible) – 7 (extremely terrible)-->
