<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="/fragment/common :: headerFragment" />
<body>
<section id="header" class="clearfix" th:include="/fragment/common :: topFragment" />

<!-- header-btm starts
================================================== -->
<section id="header-btm" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h4 class="heading-icon clearfix"> <img th:src="@{/grepfrut/img/icons/heading-icon-user.png}" width="40" height="40" alt="icon" class="icon-small-bg"/> </h4>
            </div>
        </div>
    </div>
</section>
<!-- header-btm ends
================================================== -->

<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">

        <!--spacer here-->
        <div class="spacer-30px"></div>

        <!--features starts-->
        <div class="row">
            <div class="span12">
                <form id="wizard" th:action="@{/questions/SAPpr}" method="POST">
                    <fieldset>
                        <legend>Step 1</legend>
                        <p>
                            <label>Please think about an upcoming time that you will be XXX. If you cannot think of a time in the future in which you will be doing this, please make up a situation in which you would be XXX.
                            </label>
                        </p>
                    </fieldset>
                    <fieldset>
                        <legend>Step 2</legend>
                        <p>
                            <label>Please note (in just a few words) what type of situation this involves (e.g., speaking in public, driving, feeling caught in a crowd, worry about an upcoming trip):</label>
                            <textarea name="situation_desc" rows="1" required="true"></textarea>
                        </p>
                        <br/>
                        <br/>
                        <br/>
                        <p>
                            Please generate an image of the situation that is as vivid as possible (i.e., that feels very real). Try to imagine you are actually in the situation. Play out the specific parts of the situation in your head.
                        </p>

                    </fieldset>
                    <fieldset>
                        <legend>Step 3</legend>
                        <p>
                            Please think of at least three things you would see in the situation.
                        </p>
                    </fieldset>
                    <fieldset>
                        <legend>Step 4</legend>
                        <p>
                            Please think of at least three things you would hear in the situation.
                        </p>
                    </fieldset>
                    <fieldset id="step_five">
                        <legend>Step 5</legend>
                        <p>
                            <label>Please think of at least three things you would likely think or feel in the situation. Write down a few words to note 3 of the things you would think or feel (e.g., I feel embarrassed, I look stupid, think I want to leave)</label>
                            <textarea name="think_feel" rows="3" required="true"></textarea>
                        </p>
                        <br/>
                        <br/>
                        <br/>
                    </fieldset>
                    <fieldset id="step_six">
                        <legend>Step 6</legend>
                        <p>
                            Please play this upcoming situation in your head for the next 20 seconds, remembering all of the things you see, hear, think, and feel. We will tell you when the 20 seconds are up.
                        </p>
                    </fieldset>
                    <fieldset id="step_seven">
                        <legend>Step 7</legend>
                        <p>
                            <label>How anxious do you think you would be in this situation</label>
                            <select name="anxious" required="true">
                                <option value="">Please select one</option>
                                <option>Extremely Calm</option>
                                <option>Calm</option>
                                <option>Somewhat Calm</option>
                                <option>Neutral</option>
                                <option>Somewhat anxious </option>
                                <option>Anxious</option>
                                <option>Extremely anxious </option>
                            </select>
                        </p>
                        <p>
                            <!--FIXME could not go to 7-->
                            <label>How would you rate your desire to avoid or escape from this situation?</label>
                            <select name="avoid" required="true">
                                <option value="">Please select one</option>
                                <option>No Desire To Avoid</option>
                                <option>Neutral</option>
                                <option>Desire to Avoid</option>
                            </select>
                        </p>
                        <p>
                            <label>How likely is it that this situation will turn out badly?
                            </label>
                            <select name="badly" required="true">
                                <option value="">Please select one</option>
                                <option>Extremely Unlikely</option>
                                <option>Unlikely</option>
                                <option>Somewhat Unlikely</option>
                                <option>Neither Likely Nor Unlikely</option>
                                <option>Somewhat likely </option>
                                <option>Likely </option>
                                <option>Extremely Likely </option>
                            </select>
                        </p>
                        <!--FIXME could not go to 7-->
                        <!--TODO Not at all terrible, 4 = Somewhat terrible, 7 = Extremely Terrible-->
                        <p>
                            <label>How terrible would it be if this situation did turn out badly?
                            </label>
                            <select name="terrible" required="true">
                                <option value="">Please select one</option>
                                <option>Not At All Terrible</option>
                                <option>A little Terrible</option>
                                <option>Somewhat Terrible</option>
                                <option>Terrible</option>
                                <option>Extremely Terrible</option>
                            </select>
                        </p>
                    </fieldset>
                </form>
                <script>
                    var mNext = false;
                    var mVisit = false;
                    $("#wizard").on("stepshown", "#step_six", function () {
                        if (! mVisit)
                        {
                            mVisit = true;
                            setTimeout(function() { alert("20 Seconds Are Over!");
                                                    mNext = true;
                                                  }, 20000);
                        }

                    }).on("stephide", "#step_five", function () {
                        if (! mNext)
                        {
                            return false;
                        }
                    }).jWizard();
                </script>
            </div>
        </div>
        <!--features ends-->

        <!--divider here-->
        <div class="spacer-40px"></div>

    </div>
</section>


<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer" />

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright" />

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts" />

</body>
</html>




