<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<!--<![endif]-->
<head th:include="/fragment/common :: headerFragment" />
<body th:class="|user-theme-${participant.theme}|">
<section id="header" class="clearfix" th:include="/fragment/common :: topFragment" />

<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">

        <!--spacer here-->
        <div class="spacer-30px"></div>

        <!--features starts-->
        <div class="row">
            <div class="span12">
                <form  th:action="@{/questions/SUDS}" method="POST">
                    <div class="page-title">How anxious do you feel?</div>
                    <div class="longSection">
                        <div class="question">How anxious do you feel right now, that is, at the present moment?</div>
                        <input style="display:none" id="checkSUDS" name="checkSUDS" type="checkbox" value="1" required="true" />
                        <input style="display:none" id="anxiety" type="text" name="anxiety" required="true"/>

                        <div id="slider" >
                            <label class="slider" style="left: -50px">Absolutely No Anxiety <br/>0</label>
                            <label class="slider" style="left: 200px">Moderately Anxious<br/>50</label>
                            <label class="slider" style="left: 450px">Totally Anxious <br/>100</label>
                        </div>
                    </div>
                    <div class="submit">
                        <button type="submit" onclick="check()">Next</button>
                    </div>
                </form>
                <script th:inline="javascript">
                    /*<![CDATA[*/

                     $(function() {
                         $("#slider").slider({
                             range: "min",
                             min: 0,
                             max: 100,
                             value: 50,
                             slide: function (event, ui) {
                                 $("#anxiety").val(ui.value);
                             document.getElementById("checkSUDS").checked = true;
                             }
                         });
                         $("#anxiety").val($("#slider").slider("value"))
                     });
                         function check(){
                     if (document.getElementById("checkSUDS").checked != true) {
                     alert("Please move the bar to select a number for your anxiety level.");
                     }
                     };
                    /*]]>*/
                </script>
            </div>
        </div>
        <!--features ends-->

        <!--divider here-->
        <div class="spacer-40px"></div>

    </div>
</section>


<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer" />

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright" />

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts" />

</body>
</html>

