<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<!--<![endif]-->
<head th:include="/fragment/common :: headerFragment" />
<body>
<section id="header" class="clearfix" th:include="/fragment/common :: topFragment" />

<!-- content starts
================================================== -->
<section id="content" class="clearfix">
    <div class="container">

        <!--spacer here-->
        <div class="spacer-30px"></div>

        <!--features starts-->
                <form th:action="@{/questions/DD_FU}" method="POST">
                    <div class="longSection">
                        <p>
                            This section asks you to report on <b>your</b> drinking over the <b>past week.</b>
                        </p>
                        <div>
                            For all questions, <b>one drink equals</b>:
                            <ul>
                                <li> 5oz. wine</li>
                                <li> 12oz. wine cooler</li>
                                <li> 12oz. beer (10oz. of Microbrew; 8-9 oz. Malt Liquor, Canadian Beer or Ice Beer)</li>
                                <li> 6oz. Ice Malt Liquor</li>
                                <li> 1 Cocktail with 1 oz. of 100 proof liquor or 1.5 oz. (single jigger) of 80 proof liquor
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="section">
                        <div class="question">Consider the prior week.  How much alcohol (measured in number
                             of drinks), did you drink on each day of the past week?</div>
                        <table class="daysOfWeek">
                            <tr>
                                <th>Mon</th>
                                <th>Tues</th>
                                <th>Wed</th>
                                <th>Thur</th>
                                <th>Fri</th>
                                <th>Sat</th>
                                <th>Sun</th>
                            </tr>
                            <tr>
                                <td>
                                    <input type="number" min="0" id="mon_drinks" onchange="hours('mon')" max="100" required="required"  name="monday_count" class="form-control"/>
                                </td>
                                <td>
                                    <input type="number" min="0" id="tues_drinks" onchange="hours('tues')" max="100" required="required"  name="tuesday_count" class="form-control"/>
                                </td>
                                <td>
                                    <input type="number" min="0" id="wed_drinks" onchange="hours('wed')" max="100" required="required"  name="wednesday_count" class="form-control"/>
                                </td>
                                <td>
                                    <input type="number" min="0" id="thurs_drinks" onchange="hours('thurs')" max="100" required="required"  name="thursday_count" class="form-control"/>
                                </td>
                                <td>
                                    <input type="number" min="0" id="fri_drinks" onchange="hours('fri')" max="100" required="required"  name="friday_count" class="form-control"/>
                                </td>
                                <td>
                                    <input type="number" min="0" id="sat_drinks" onchange="hours('sat')" max="100" required="required"  name="saturday_count" class="form-control"/>
                                </td>
                                <td>
                                    <input type="number" min="0" id="sun_drinks" onchange="hours('sun')" max="100" required="required"  name="sunday_count" class="form-control"/>
                                </td>
                            </tr>
</table>
                    <div class="question">
                        <input type="checkbox" onchange="Q1_NoAns()" id="Q1_noAns" name="q1_noAns">Prefer not to answer</input>
                    </div>
                        </div>
                        <br />
                    <div class="section">
                        <div class="question">Consider the prior week.  Over how many hours did you drink the above number of drinks?</div>
                        <table class="daysOfWeek">
                            <tr>
                                <th>Mon</th>
                                <th>Tues</th>
                                <th>Wed</th>
                                <th>Thur</th>
                                <th>Fri</th>
                                <th>Sat</th>
                                <th>Sun</th>
                            </tr>
                            <tr>
                                <td>
                                    <input type="number" min="0" max="100" id="mon" disabled="disabled"  name="monday_hours" class="form-control"/>
                                </td>
                                <td>
                                    <input type="number" min="0" max="100" id="tues" disabled="disabled"  name="tuesday_hours" class="form-control"/>
                                </td>
                                <td>
                                    <input type="number" min="0" max="100" id="wed" disabled="disabled"  name="wednesday_hours" class="form-control"/>
                                </td>
                                <td>
                                    <input type="number" min="0" max="100" id="thurs" disabled="disabled"  name="thursday_hours" class="form-control"/>
                                </td>
                                <td>
                                    <input type="number" min="0" max="100" id="fri" disabled="disabled"  name="friday_hours" class="form-control"/>
                                </td>
                                <td>
                                    <input type="number" min="0" max="100" id="sat" disabled="disabled"  name="saturday_hours" class="form-control"/>
                                </td>
                                <td>
                                    <input type="number" min="0" max="100" id="sun" disabled="disabled"  name="sunday_hours" class="form-control"/>
                                </td>
                            </tr>
                        </table>
                    <div class="question">
                      <input type="checkbox" onchange="Q2_NoAns()" id="Q2_noAns" name="q2_noAns" disabled="disabled">Prefer not to answer</input>
                    </div>
                    </div>
                    <br />
                    <div class="submit">
                        <button type="submit">Next</button>
                    </div>
                </form>
        <!--features ends-->

        <!--divider here-->
        <div class="spacer-40px"></div>

    </div>
</section>

<!--Javascript
================================================== -->
<script type="text/javascript">

    function hours(id) {
        if ($("input#"+id+"_drinks").val() > 0) {
            $("input#"+id).prop('disabled', false);
            $("input#"+id).prop('required', true);
            document.getElementById("Q2_noAns").disabled = false;
        }
        else {
            $("input#"+id).prop('disabled', true);
            $("input#"+id).prop('required', false);
        }


    }

    function Q1_NoAns(){
      if (document.getElementById("Q1_noAns").checked) {
        document.getElementById("mon_drinks").required = false;
        document.getElementById("tues_drinks").required = false;
        document.getElementById("wed_drinks").required = false;
        document.getElementById("thurs_drinks").required = false;
        document.getElementById("fri_drinks").required = false;
        document.getElementById("sat_drinks").required = false;
        document.getElementById("sun_drinks").required = false;
        document.getElementById("Q1_noAns").val = true;
      }else{
        document.getElementById("mon_drinks").required = true;
        document.getElementById("tues_drinks").required = true;
        document.getElementById("wed_drinks").required = true;
        document.getElementById("thurs_drinks").required = true;
        document.getElementById("fri_drinks").required = true;
        document.getElementById("sat_drinks").required = true;
        document.getElementById("sun_drinks").required = true;
        document.getElementById("Q1_noAns").val = false;
      }
    }

    function Q2_NoAns(){
      if (document.getElementById("Q2_noAns").checked) {
        document.getElementById("mon").required = false;
        document.getElementById("tues").required = false;
        document.getElementById("wed").required = false;
        document.getElementById("thurs").required = false;
        document.getElementById("fri").required = false;
        document.getElementById("sat").required = false;
        document.getElementById("sun").required = false;
        document.getElementById("Q2_noAns").val = true;
      }else{
        document.getElementById("mon").required = true;
        document.getElementById("tues").required = true;
        document.getElementById("wed").required = true;
        document.getElementById("thurs").required = true;
        document.getElementById("fri").required = true;
        document.getElementById("sat").required = true;
        document.getElementById("sun").required = true;
        document.getElementById("Q2_noAns").val = false;
      }
    }

</script>

<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix" th:include="fragment/common :: footer" />

<!-- copyright starts
================================================== -->
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright" />

<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts" />

</body>
</html>
