.jspsych-btn.incorrect_letter, .jspsych-btn.incorrect_letter:hover  {
    background: palevioletred;
}

.jspsych-btn.correct_letter, .jspsych-btn.correct_letter:hover {
    background: palegreen;
}

.error {
    color: darkred;
}

.correct {
    font-weight:bold;
    font-size: 1.2em;
    color: darkgreen;

}


body, html {
    color: #212121;
    font: 400 16px/24px Roboto,sans-serif;
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    box-sizing: border-box;
    background-color: #f6f5ea;
}

div.piPlayerHeader {
    width: 100%;
    background: #121648;
}

.piIntro img {
    float: left;
    margin: 10px;
    padding-right: 20px;
}

.piIntro ul {
    text-align: justify;
}

@media only screen and (max-device-width : 480px) {
    #container {
        width: auto;
        height: auto;
        margin: 50px 5px 50px 5px;
    }
    #jspsych-progressbar-outer {
        background-color: #dedede;
        border-radius: 5px;
        padding: 1px;
        width: auto;
        margin: auto 5px;
    }

    .jspsych-btn {
        width: 90%;
        margin: 10px 0px;
    }

    .piIntro img {
        width: 100px;
    }
}

#container {

}

#container {
    display:block;
    position: relative;
    color: black;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    margin: 40px auto;
    border: 1px solid #bbb;
    min-height: 600px;
    max-width: 800px;
    padding: 20px 50px;
}


.piIntro p {
    padding-top: 20px;
    clear: none;
}

.status {
    font-size: .8em;
    color: #555555;
    text-align: right;
}

.status span {
    margin-left: 10px;
}

div.vividness_followup {
    text-align: center;
}
div.vividness_followup img {
    display: block;
    margin: auto;
    max-width: 100%;
}

/*
p {
    font-size: 120%;
    line-height: 1.2;
}

h1 {
    font-size: 250%;
}

ul{line-height:200%;}

html {font-size: 200%}
@media(min-width:60em){html{font-size: 100%}}
*/