<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment"/>
<body>
<section id="header" class="clearfix" th:include="fragment/common :: topFragment"/>

<section id="content" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h1 th:text="${coach.fullName}"></h1>
                <p>Is coaching the following participants.</p>

                <div class="row">

                    <div class="main-content span12">

                        <table class="table table-striped table-bordered participantList">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Session</th>
                                <th>Condition</th>
                                <th>Last Login (in EST)</th>
                                <th>Return Date (in EST)</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="p : ${coach.coachees}">
                                <td th:text="${p.id}">0</td>
                                <td th:text="${p.fullName}">Dan Funk</td>
                                <td th:text="${p.email}">daniel.h.funk@gmail.com</td>
                                <td th:text="${p.study.currentSession.displayName}">Session One</td>
                                <td th:text="${p.study.conditioning}">Control</td>
                                <td><span th:if="${p.lastLoginDate}" th:text="${#dates.format(p.lastLoginDate, 'EEE, dd MMM yyyy h:mm a')}">
                                    10-05-1972 11:55</span></td>
                                <td><span th:if="${p.returnDate}" th:text="${#dates.format(p.returnDate, 'EEE, dd MMM yyyy h:mm a')}">
                                    10-05-1972 11:55</span></td>
                                <td>
                                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{'/admin/participant/'+${p.id}}">Edit Participant</a>
                                    <a sec:authorize="hasRole('ROLE_COACH')" th:href="@{'/coach/participant/'+${p.id}}">View Participant</a>
                                </td>
                                <td>
                                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{'/admin/study/'+${p.id}}">Edit Study</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="spacer-30px"></div>
            </div>
        </div>
    </div>
</section>

<footer id="footer" class="clearfix" th:include="fragment/common :: footer"/>
<section id="copyright" class="clearfix" th:include="fragment/common :: copyright"/>
<div th:include="fragment/common :: scripts"/>

</body>
</html>
