<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:include="fragment/common :: headerFragment"/>
<body>
<section id="header" class="clearfix" th:include="fragment/common :: topFragment"/>


<section id="content" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Participant (coachee) View</h1>

                <table>
                    <tr>
                        <th>Nick Name:</th>
                        <td th:text="${coachee.fullName}"/>
                    </tr>
                    <tr>
                        <th>Email Address:</th>
                        <td th:text="${coachee.email}"/>
                    </tr>
                    <tr>
                        <th>Phone Number:</th>
                        <td th:text="${coachee.phone}"/>
                    </tr>
                    <tr>
                        <th>Email Reminders?:</th>
                        <td> <span th:if="${coachee.emailReminders}">yes</span>
                        <span th:unless="${coachee.emailReminders}">no</span></td>
                    </tr>
                    <tr>
                        <th>Phone Reminders?:</th>
                        <td> <span th:if="${coachee.phoneReminders}">yes</span>
                            <span th:unless="${coachee.phoneReminders}">no</span></td>
                    </tr>
                    <tr>
                        <th>Time Zone:</th>
                        <td th:text="${coachee.timezone}"/>
                    </tr>
                    <tr>
                        <th>Is Active:</th>
                        <td> <span th:if="${coachee.active}">yes</span>
                            <span th:unless="${coachee.active}">no</span></td>
                    </tr>
                    <tr>
                        <th>Is Admin:</th>
                        <td> <span th:if="${coachee.admin}">yes</span>
                            <span th:unless="${coachee.admin}">no</span></td>
                    </tr>
                    <tr>
                        <th>Is Coach:</th>
                        <td> <span th:if="${coachee.coaching}">yes</span>
                            <span th:unless="${coachee.coaching}">no</span></td>
                    </tr>
                    <tr>
                        <th>Assigned Coach:</th>
                        <td> <span th:if="${coachee.coachedBy}">yes</span></td>
                    </tr>
                    <tr>
                        <th>Is Test Account:</th>
                        <td> <span th:if="${coachee.testAccount}">yes</span>
                            <span th:unless="${coachee.testAccount}">no</span></td>
                    </tr>
                    <tr>
                        <th>Is in Blacklist:</th>
                        <td> <span th:if="${coachee.blacklist}">yes</span>
                            <span th:unless="${coachee.blacklist}">no</span></td>
                    </tr>
                    <tr>
                        <th>Last Login</th>
                        <td><span th:if="${coachee.lastLoginDate}" th:text="${#dates.format(coachee.lastLoginDate, 'EEE, dd MMM yyyy h:mm a')}">
                                    10-05-1972 11:55</span></td>
                    </tr>
                    <tr>
                        <th>Planning to return on:</th>
                        <td><span th:if="${coachee.returnDate}" th:text="${#dates.format(coachee.returnDate, 'EEE, dd MMM yyyy h:mm a')}">
                                    10-05-1972 11:55</span></td>
                    </tr>
                </table>

                <h2>Feedback during study</h2>
                <p>The first value in the table below is score from from 1 (not at all) to 5 (extremely)
                of how helpful the participant found the training.</p>
                <table class="table table-striped table-bordered participantList">
                    <thead>
                        <tr>
                            <th>Score</th>
                            <th>Responses</th>
                        </tr>
                    </thead>

                    <tr th:each="f : ${feedback}">
                         <td th:text="${f.helped}"></td>
                         <td>
                             <B>Technical Difficulties:</B>
                             <p th:text="${f.technicalDifficulties}"></p>
                             <B>Understanding Difficulties:</B>
                            <p th:text="${f.difficultToUnderstand}"></p>
                             <B>Other Comments:</B>
                            <p th:text="${f.otherFeedback}"></p>
                         </td>
                    </tr>
                </table>

                <h2>Coach Interactions</h2>
                <p>This is a log of all coaching interactions that have taken place with this
                participant.  You can add an additional log in the form below.</p>
                <table class="table table-striped table-bordered participantList">
                    <thead>
                    <tr>
                        <th>Date Attempted</th>
                        <th>Session</th>
                        <th>Successful?</th>
                    </tr>
                    </thead>

                    <tr th:each="log : ${coachee.coachLogs}">
                        <td><span th:if="${log.dateAttempted}" th:text="${#dates.format(log.dateAttempted,
                        'EEE, dd MMM yyyy h:mm a')}">10-05-1972 11:55</span></td>
                        <td th:text="${log.coachingSession}"></td>
                        <td th:if="${log.successful}">True</td>
                        <td th:unless="${log.successful}">False</td>
                    </tr>
                </table>
                <h3>Log a new Coaching Interaction</h3>
                <form id="logForm" action="#"  th:action="@{'/coach/log/'} + ${coachee.id}" method="POST">
                    <input type="hidden" name="particpantId" th:value="${coachee.id}"/>
                    <table class="table table-bordered ">
                        <tr>
                            <td>Date</td>
                            <td>
                                <div class="input-group date">
                                    <input type="hidden" id="dateAttempted" name="dateAttempted"/>
                                    <input id='datepicker' type="text" name="date" class="form-control" required="required" />
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                </div>
                                <div class="input-group bootstrap-timepicker timepicker" >
                                    <input id="timepicker" name="time" type="text" class="form-control input-small" required="required"/>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Coaching Session</td>
                            <td>
                                <select name="coachingSession">
                                    <option>Initial</option>
                                    <option>First Followup</option>
                                    <option>Second Followup</option>
                                    <option>Final</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Successful?</td>
                            <td>
                                <input type="checkbox" name="successful"/>
                            </td>
                        </tr>
                    </table>
                    <button type="submit">Submit</button>
                    <link rel="stylesheet" media="screen"
                          th:href="@{/bower/bootstrap-datepicker/dist/css/bootstrap-datepicker.standalone.css}"/>
                    <script type="text/javascript" th:src="@{/bower/bootstrap-timepicker/js/bootstrap-timepicker.js}"></script>
                    <script type="text/javascript" th:src="@{/bower/bootstrap-datepicker/dist/js/bootstrap-datepicker.js}"></script>
                    <script>
                        $(document).ready(function () {
                            $('.input-group.date').datepicker({
                                startDate: '-6w',
                                endDate: '0d'
                            });
                            $('#timepicker').timepicker();
                            $('#logForm').on('submit', function(e) {
                                if($('#datepicker').val()) {
                                    var date = new Date($("#datepicker").val() + ' ' + $("#timepicker").val());
                                    console.log(date.toISOString());
                                    $('#dateAttempted').val(date.toISOString());
                                }
                            })
                        });
                     </script>
                </form>



            </div>
             <section th:replace="admin/adminCommon :: participantDetails(${coachee})"/>
        </div>
    </div>
</section>
</body>
</html>